<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय १२</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  हे गणाधीशा गणपती । <br>
  मयुरेश्वरा विमलकीर्ति । <br>
  माझ्या हृदयीं करून वस्ती । <br>
  ग्रंथ कळसास नेई हा ॥१॥ <br><br>
  तूं ज्ञानबुध्दीचा दाता । <br>
  तूं भक्तमनोरथ पुरविता । <br>
  विघ्ननगातें संहारिता । <br>
  तूंच एक गणराया ॥२॥ <br><br>
  तूं साक्षात् चिंतामणी । <br>
  चिंतिलेलें देशी जाणी । <br>
  आपुल्या भक्तांलागूनी । <br>
  ऐसें पुराणें म्हणतात ॥३॥ <br><br>
  माझ्या मनींची अवघी चिंता । <br>
  लयास नेई एकदंता । <br>
  लंबोदरा पार्वतीसुता । <br>
  भालचंद्रा सिंदुरारे ॥४॥ <br><br>
  असो बच्चुलाल अग्रवाला । <br>
  होता एक आकोल्याला । <br>
  धन-कनक- संपन्न भला । <br>
  मनाचाही उदार जो ॥५॥ <br><br>
  त्यानें हकिकत कारंज्याची । <br>
  म्हणजे लक्ष्मण पंत धुड्याची । <br>
  कर्णोपकर्णी ऐकली साची । <br>
  तेणें साशंक जहाला ॥६॥ <br><br>
  तें खरें खोटें पहाण्यास । <br>
  विचार करी चित्तास । <br>
  तों एके समयास । <br>
  महाराज आले अकोल्याला ॥७॥ <br><br>
  येऊन बच्चुलाला घरीं । <br>
  बैसते झाले ओट्यावरी । <br>
  कीं गजानन साक्षात्कारी । <br>
  भक्त आपुला जाणून ॥८॥ <br><br>
  बच्चुलाला आनंद झाला । <br>
  तो समर्थांसी ऐसें वदला । <br>
  आज गुरुराया वाटतें मला । <br>
  आपली पूजा करावी ॥९॥ <br><br>
  ऐसें ऐकतां भाषण । <br>
  समर्थेम तुकविली मान । <br>
  जें साक्षात् असें चिन्ह । <br>
  श्रोते संमती दिल्याचें ॥१०॥ <br><br>
  बच्चुलालानें तयारी । <br>
  तात्काळ केली ओट्यावरी । <br>
  षोडशोपचारेम अत्यादरीं । <br>
  पूजन त्यानें आरंभिलें ॥११॥ <br><br>
  प्रथमतः घातलें मंगलस्नान । <br>
  नानाविध उटणीं लावून । <br>
  मग करविलें परिधान । <br>
  वस्त्र पीतांबर जरीचा ॥१२॥ <br><br>
  शालजोडी अंगावरी । <br>
  बहुमोल घातली काश्मीरी । <br>
  एक जरीचा रुमाल शिरीं । <br>
  अभ्रेस्मी आणून बांधिला ॥१३॥ <br><br>
  गोफ घातिला गळ्यांत । <br>
  सलकडीं तीं हातांत । <br>
  कराच्या दाही बोटांत । <br>
  मुद्रिका घातल्या नानापरी ॥१४॥ <br><br>
  बहुमोल हिर्‍याची । <br>
  वामकरीं घातिली पौची । <br>
  रत्नजडित कंठ्याची । <br>
  कंठीं शोभा विशेष ॥१५॥ <br><br>
  जिलबी राघवदास पेढे । <br>
  नैवेद्यास ठेविले पुढे । <br>
  त्रयोदश गुणी ठेविले विडे । <br>
  एक्या लहान तबकांत ॥१६॥ <br><br>
  अष्टगंध अर्गजा अत्तर । <br>
  सुवासिक लाविलें फार । <br>
  त्यानें अवघ्या अंगभर । <br>
  गुलाबपानी शिंपडीलें ॥१७॥ <br><br>
  एका सुवर्णाच्या ताटीं । <br>
  दक्षिणा ठेविली शेवटीं । <br>
  ती होती फार मोठी । <br>
  रुपये होन मोहोरांची ॥१८॥ <br><br>
  बेरीज करतां दहा हजार । <br>
  येईल ती साचार । <br>
  ऐशी दक्षिणा होती थोर । <br>
  किती करूं वर्णन तिचें ॥१९॥ <br><br>
  श्रीफल पुढें ठेवून । <br>
  विनयें केलें भाषण । <br>
  महाराज माझें इच्छी मन । <br>
  राममंदिर बांधावया ॥२०॥ <br><br>
  या माझ्या ओट्यावरी । <br>
  अडचण होतसे भारी । <br>
  मंडप तो घातला जरी । <br>
  उत्सवासी गुरुराया ॥२१॥ <br><br>
  त्या माझ्या मनोरथा । <br>
  पूर्ण करी ज्ञानवंता । <br>
  ऐसें म्हणून ठेविला माथा । <br>
  अनन्य भावें पायांवरी ॥२२॥ <br><br>
  त्यावरी साधु गजानन । <br>
  देते झाले आशीर्वचन । <br>
  श्रीजानकीजीवन । <br>
  तुझा करील पूर्ण हेतू ॥२३॥ <br><br>
  असो आज तूं हें काय केलें ? । <br>
  मला पोळ्याचा बैल बनविलें । <br>
  हे अलंकार घालून भले । <br>
  याचें काय कारण ? ॥२४॥ <br><br>
  मी न बैल पोळ्याचा । <br>
  अथवा घोडा दसर्‍याचा । <br>
  मला या दागदागिन्यांचा । <br>
  काय सांग उपयोग ? ॥२५॥ <br><br>
  अरे हें अवघें विष । <br>
  मला नको त्याचा स्पर्श । <br>
  या नसत्या उपाधीस । <br>
  माझ्या मागें लावूं नको ॥२६॥ <br><br>
  अथवा तूं मोठा श्रीमान् । <br>
  हें दाखवाया कारण । <br>
  केलेंस कां हें प्रदर्शन । <br>
  सांग मसी बच्चुलाला ? ॥२७॥ <br><br>
  जें आवडतें जयासी । <br>
  तेंच द्यावें तयासी । <br>
  मी वेडापिसा संन्याशी । <br>
  नागवा फिरतों गांवभर ॥२८॥ <br><br>
  हें अवघें तुझें तुला । <br>
  लखलाभ असो बच्चुलाला । <br>
  तुम्हां प्रापंचिकाला । <br>
  या द्रव्याची जरूर ॥२९॥ <br><br>
  माझा यजमान भीमातटीं । <br>
  उभा विटेसी जगजेठी । <br>
  तो काय माझ्यासाठीं । <br>
  हें वैभव द्याया तयार नसे ? ॥३०॥ <br><br>
  ऐसें म्हणून काढिले । <br>
  दागिने अंगावरचे भले । <br>
  चहूं बाजूंस फेकियले । <br>
  वस्त्रांचीही तीच गती ॥३१॥ <br><br>
  दोन पेढे खाऊन । <br>
  निघून गेले गजानन । <br>
  हा प्रकार अवलोकून । <br>
  केला शोक अकोल्यांत बहुतांनीं ॥३२॥ <br><br>
  त्यांत कांहीं कारंज्याचे । <br>
  लोक हजर होते साचे । <br>
  ते म्हणती आपुल्या वाचें । <br>
  अभागी आमुचा लक्ष्मण ॥३३॥ <br><br>
  त्यानें बच्चुलालापरी । <br>
  पुजन केलें आपुल्या घरीं । <br>
  परी कचरला अंतरीं । <br>
  मोह धनाचा धरून ॥३४॥ <br><br>
  वरघडीचें भाषण । <br>
  केलें विनय दाखवून । <br>
  ते कां समर्थाकारण । <br>
  समजणें अशक्य आहे हो ? ॥३५॥ <br><br>
  जेवीं पूजा दांभिकांची । <br>
  शब्दमयी असते साची । <br>
  पूर्तता महावस्त्राची । <br>
  होती त्यांची अक्षतेनें ॥३६॥ <br><br>
  ' शर्कराखंडखाद्यानि ' । <br>
  ऐसें म्हणोनिया वदनीं । <br>
  कुचका दाणा आणोनी । <br>
  ठेवी पुढें भुईमुगाचा ! ॥३७॥ <br><br>
  अशा दांभिक पूजनाचें । <br>
  फलही त्याच स्वरूपाचें । <br>
  वाटोळें लक्ष्मणाचें । <br>
  याच कृतीनें झालें हो ॥३८॥ <br><br>
  हा बच्चुलाल धन्य धन्य । <br>
  जैसें केलें भाषण । <br>
  तैसेंच ठेविलें वर्तन । <br>
  जवाहून न आगळें ॥३९॥ <br><br>
  आतां याच्या वैभवाला । <br>
  ओहोट हा ना शब्द उरला । <br>
  संतकृपा झाली ज्याला । <br>
  तो सुखीच राहातसे ॥४०॥ <br><br>
  बच्चुलालांनीं तपास । <br>
  केला अवघ्या अकोल्यास । <br>
  परी न लागला थांग त्यास । <br>
  समर्थांचा कोठेंही ॥४१॥ <br><br>
  असो एक पितांबर नांवाचा । <br>
  शिष्य शिंपी जातीचा । <br>
  होता गजानन महाराजांचा । <br>
  शेगांवीं मठामध्यें ॥४२॥ <br><br>
  त्यानें सेवा बहुत केली । <br>
  तपश्चर्या फळा आली । <br>
  एके दिनीं ऐसी झाली । <br>
  गोष्ट ऐका मठांत ॥४३॥ <br><br>
  फाटकें तुटकें धोतर । <br>
  नेसला होता पितांबर । <br>
  तें पाहून गुरूवर । <br>
  ऐशा रीतीं बोलले ॥४४॥ <br><br>
  अरे तुझें नांव पितांबर । <br>
  नेसण्या न धडकें धोतर । <br>
  ढुंगणास पाहाती नारीनर । <br>
  तें तरी झांक वेड्या ! ॥४५॥ <br><br>
  नांव म्हणे सोनुबाई । <br>
  हातीं कथलाचाही वाळा नाहीं । <br>
  नांव पाहतां गंगाबाई । <br>
  आणि तडफडे तहानेनें ॥४६॥ <br><br>
  तशांतलाच प्रकार । <br>
  आहे तुझा साचार । <br>
  हें फाटकें धोतर । <br>
  पोतेर्‍यांच्या उपयोगी ॥४७॥ <br><br>
  तेंच नेसून बैससी । <br>
  ढुंगण जगाला दाविसी । <br>
  हा घे दुपेटा देतों तुसी । <br>
  नेसावयाकारणें ॥४८॥ <br><br>
  तो न करितां अनमान । <br>
  राहे बाळा नेसून । <br>
  यासी नको सोडूं जाण । <br>
  कोणी काहीं केलें तरी ॥४९॥ <br><br>
  पितांबरा दुपेटा नेसला । <br>
  हें असह्य झालें इतरांना । <br>
  भाऊच घातकी भावाला । <br>
  होतो स्वार्थ दृष्टीनीं ॥५०॥ <br><br>
  तो वेडावांकडा प्रकार । <br>
  कशास बोलूं साचार । <br>
  गटाराचें उघडितां द्वार । <br>
  घाण मात्र सुटते हो ॥५१॥ <br><br>
  श्रीगजानन स्वामीप्रत । <br>
  शिष्य होते असंख्यांत । <br>
  परी अधिकारी तयांत । <br>
  दोही हातांच्य बोटांइतके ॥५२॥ <br><br>
  पाहा श्रोते कांतारीं । <br>
  वृक्ष असती नानापरी । <br>
  त्यांतून क्वचित् कोठें तरी । <br>
  नजरेस पडती चंदनतरु ॥५३॥ <br><br>
  त्यापरीच होते येथें । <br>
  त्यांच्या शिष्यमंडळीतें । <br>
  काहीं शिष्य पितांबरातें । <br>
  टोचूं लागले निरर्थक ॥५४॥ <br><br>
  हेंच कां तुझें शिष्यपण । <br>
  वस्त्र करिसी परिधान । <br>
  जें कां समर्थाकारण । <br>
  ल्यावयाच्या उपयोगी ॥५५॥ <br><br>
  तुझी भक्ति कळून आली । <br>
  तूं खुशालचंद अससी मुळीं । <br>
  तूं राहूं नको ये स्थळीं । <br>
  अपमान करण्या सद्गुरुचा ॥५६॥ <br><br>
  तैं पितांबर म्हणाला । <br>
  मी न गुरूचा अपमान केला । <br>
  उलट मान ठेविला । <br>
  आज्ञा ऐकून तयांची ॥५७॥ <br><br>
  वस्त्र हें मज त्यांनीं दिलें । <br>
  नेसावया सांगितलें । <br>
  तेंच मीं हो परिधान केलें । <br>
  ही कां झाली अवज्ञा ? ॥५८॥ <br><br>
  ऐसी भक्ती न भक्ती झाली । <br>
  शिष्यांत तेढ माजली । <br>
  ती मिटवाया माव केली । <br>
  ऐशा रीतीं गजाननें ॥५९॥ <br><br>
  पितांबरास म्हणती गुरुवर । <br>
  तूं येथून जावें दूर । <br>
  जाणतें मूल झाल्यावर । <br>
  आई त्याला दूर ठेवी ॥६०॥ <br><br>
  माझी कृपा आहे खरी । <br>
  हे पितांबरा तुजवरी । <br>
  जा हिंडून भूमीवरी । <br>
  पदनतासी तारावें ॥६१॥ <br><br>
  डोळ्यांत आसवें आणून । <br>
  करूनिया साष्टांग नमन । <br>
  मागें पाहे फिरफिरून । <br>
  सोडून जातां मठासी ॥६२॥ <br><br>
  पितांबर आला कोंडोलीसी । <br>
  बसला वनांत आंब्यापासी । <br>
  चिंतन चाललें मानसीं । <br>
  निजगुरुचें सर्वदा ॥६३॥ <br><br>
  तेथें होता रात्रभर । <br>
  उदया येतां दिनकर । <br>
  जाऊन बसला झाडावर । <br>
  मुंगळ्यांचिया त्रासानें ॥६४॥ <br><br>
  अवघ्या आम्रवृक्षावरी । <br>
  मुंग्या मुंगळे होते भारी । <br>
  लहान थोर फांद्यांवरी । <br>
  आला पितांबर जाऊन ॥६५॥ <br><br>
  परी निर्भय ऐसें सांपडेना । <br>
  स्थान तयासी बसण्या जाणा । <br>
  हेंच कृत्य गुराख्यांना । <br>
  कौतुकास्पद वाटलें ॥६६॥ <br><br>
  ते म्हणाले आपसांत । <br>
  हा माकडापरि कां रे फिरत? । <br>
  ह्या वृक्षावरी सत्य । <br>
  हें कांहीं कळेना ॥६७॥ <br><br>
  लहान सान फांदीला । <br>
  हा निर्भयपणें फिरून आला । <br>
  परी नाहीं खालीं पडला । <br>
  हेंच आहे आश्चर्य ! ॥६८॥ <br><br>
  दुसरा म्हणाला यांत कांहीं । <br>
  आश्चर्य वाटण्याजोगें नाहीं । <br>
  श्रीगजाननाच्या शिष्यांठायीं । <br>
  ऐसें सामर्थ्य असतें रे ॥६९॥
  <br><br>
  यावरून हा त्यांचा । <br>
  शिष्य असावा खचित साचा । <br>
  चला हा येथ आल्याचा । <br>
  वृतान्त सांगूं गांवांत ॥७०॥ <br><br>
  गोपमुखें वृत्त कळलें । <br>
  कोंडोलीचे लोक आले । <br>
  आम्रवृक्षापासीं भले । <br>
  कोण आले तें पहावया ॥७१॥ <br><br>
  म्हणाले पौरवासी नर । <br>
  हा ढोंगी असावा साचार । <br>
  बळेंच करितो वेडेचार । <br>
  गजाननाच्या शिष्यापरी ॥७२॥ <br><br>
  शिष्य गजानन महाराजांचा । <br>
  भास्कर पाटील होता साचा । <br>
  झाला नुकताच अंत त्याचा । <br>
  अडगांव नामें ग्रामांत ॥७३॥ <br><br>
  समर्थांचे शिष्य । <br>
  येथें येतील कशास ? । <br>
  वळें करण्या उपवास । <br>
  सोडून बर्फी पेढ्याला ॥७४॥ <br><br>
  पुसून एकदां यास पहावें । <br>
  तो काय म्हणतो तें ऐकावें । <br>
  मग खरें खोटें ठरवावें । <br>
  उगीच तर्क नाहीं बरा ॥७५॥ <br><br>
  एक मनुष्य पुढें झाला । <br>
  पितांबरासी पुसूं लागला । <br>
  तूं कोण कोठील कशास आला ? । <br>
  गुरू तुझा कोण असे ? ॥७६॥ <br><br>
  पिंतांबर बोले त्यावर । <br>
  मी शेगांवचा रहाणार । <br>
  मी शिंपी पितांबर । <br>
  शिष्य गजानन स्वामींचा ॥७७॥ <br><br>
  त्यांची आज्ञा मजलागून । <br>
  करण्या झाली पर्यटण । <br>
  म्हणून येथें येऊन । <br>
  वृक्षापासी बैसलों ॥७८॥ <br><br>
  तों आंब्याच्या मुळाशीं । <br>
  मुंगळे होते बहुवसी । <br>
  म्हणून बसलों फांदीसी । <br>
  वृक्षावरी जाऊन ॥७९॥ <br><br>
  ऐसें ऐकतां तद्भाषण । <br>
  लोक कोपले दारूण । <br>
  अरे मोठ्याचें नांव सांगून । <br>
  चेष्टा ऐशा करूं नको ॥८०॥ <br><br>
  काय म्हणे मी राजाची । <br>
  राणी आवडती आहे साची । <br>
  खळगी भरण्या पोटाची । <br>
  आले मजूरी करावया ॥८१॥ <br><br>
  देशमुख त्या गांवींचा । <br>
  शामराव नामें साचा । <br>
  तो बोलला ऐसी वाचा । <br>
  अरे सोंगाड्या ऐक हें ॥८२॥ <br><br>
  स्वामी समर्थ गजानन । <br>
  प्रत्यक्ष आहे भगवान । <br>
  त्यांचें नांव सांगून । <br>
  बट्टा त्यांना लावूं नको ॥८३॥ <br><br>
  अरे वेड्या एक्या काळीं । <br>
  त्यांनीं ऐसी कृति केली । <br>
  ऋतु नसतां आणवलीं । <br>
  फळें आम्र-वृक्षाला ॥८४॥ <br><br>
  त्यांनीं फळें आणवलीं । <br>
  तूं नुसतीं पाने आण भलीं । <br>
  नाहीं तरी या स्थलीं । <br>
  तुझी न धडगत लागेल ! ॥८५॥ <br><br>
  हा बळीराम पाटलाचा । <br>
  वृक्ष वठलेला आंब्याचा । <br>
  तो पर्णयुक्त करी साचा । <br>
  आमच्या देखत ये काळीं ॥८६॥ <br><br>
  ऐसें न जरी करशील । <br>
  तरी मार खाशील । <br>
  खरा असल्यास होशील । <br>
  वंद्य आम्हांकारणें ॥८७॥ <br><br>
  कां कीं शिष्य सद्गुरुचे । <br>
  कांहीं अंशीं निघती साचे । <br>
  बापा त्यांच्याच तोडीचे । <br>
  हा आहे न्याय जगीं ॥८८॥ <br><br>
  नको करूं उशीर । <br>
  हा आंबा करी हिरवागार । <br>
  तें ऐकतां पितांबर । <br>
  गेला असे घाबरून ॥८९॥ <br><br>
  बोलला ऐसें नाडूं नका । <br>
  माझी सारी कथा ऐका । <br>
  एका खाणींत निघती देखा । <br>
  हिरे आणि गारा हो ॥९०॥ <br><br>
  तैसाच मी गार परी । <br>
  गजानन शिष्यांभितरीं । <br>
  बोललों नाहीं वैखरी । <br>
  यत्किंचित खोटें हो ॥९१॥ <br><br>
  गारेवरून खाणीस । <br>
  नाहीं येत जगीं दोष । <br>
  मी निज गुरूच्या नांवास । <br>
  चोरून कैसें ठेवावें ? ॥९२॥ <br><br>
  शामराव म्हणे त्यावर । <br>
  नको करूं चरचर । <br>
  संकट शिष्यांस पडतां थोर । <br>
  ते धांवा करिती सद्गुरुंचा ॥९३॥ <br><br>
  मग तो शिष्य त्यांचा जरी । <br>
  नसला कृतीनें अधिकारी । <br>
  तरी सद्गुरूचा प्रभाव करी । <br>
  साह्य त्या आपुल्या शिष्यांस ॥९४॥ <br><br>
  ऐसी झाली आड-विहीर । <br>
  पितांबरासी साचार । <br>
  झाला बिचारा चिंतातुर । <br>
  कांहीं न सुचे तयासी ॥९५॥ <br><br>
  त्या वठलेल्या झाडापासी । <br>
  मिळाले अवघे पौरवासी । <br>
  काय होतें तें पहावयासी । <br>
  मुलें बायकांसमवेत ॥९६॥ <br><br>
  निरुपाय होऊनी अखेर । <br>
  पितांबरानें जोडिलें कर । <br>
  स्तवन मांडिलें अपार । <br>
  आपुल्या सद्गुरुरायाचें ॥९७॥ <br><br>
  हे स्वामी समर्थ गजानना ! । <br>
  ज्ञानांबरीच्या नारायणा । <br>
  पदनताच्या रक्षणा । <br>
  धांव आतां ये काळीं ॥९८॥ <br><br>
  माझ्यामुळें दोष तुला । <br>
  येऊं पहातो भक्तपाला । <br>
  आपुल्या ब्रीदासाठीं पाला । <br>
  आणीव आम्रवृक्षासी ॥९९॥ <br><br>
  माझी भिस्त तुझ्यावरी । <br>
  पाव मातें लवकरी । <br>
  नातरी आली पाळी खरी । <br>
  मजला येथें मरण्याची ॥१००॥ <br><br>
  प्रल्हाद खरा करण्याला । <br>
  स्तंभीं नरहरी प्रगटला । <br>
  जनी चढवितां सुळाला । <br>
  त्याचें पाणी जहालें ॥१॥ <br><br>
  जनीचा भार देवावर । <br>
  माझा आहे तुजवर । <br>
  संतदेवांत अंतर । <br>
  मुळींच नाहीं राहिलें ॥२॥ <br><br>
  देव तेची असती संत । <br>
  संत तेची देव साक्षात् । <br>
  मला लोक म्हणतात । <br>
  शिष्य गजाननाचा ॥३॥ <br><br>
  माझें कांहीं महत्त्व नाहीं । <br>
  तें अवघें तुझ्याठायीं । <br>
  पुष्पामुळें किंमत येई । <br>
  जगीं सूत्राकारणें ॥४॥ <br><br>
  तूं पुष्प मी आहे सूत । <br>
  तूं कस्तुरी मी माती सत्य । <br>
  तुझ्यामुळें आलें येथ । <br>
  संकट हें माझ्यावरी ॥५॥ <br><br>
  आतां न माझा अंत पाही । <br>
  गुरुराया ! धांव घेई । <br>
  या वठलेल्या वृक्षाठायीं । <br>
  आणि पर्णे कोमल ॥६॥ <br><br>
  लोकांस म्हणे पीतांबर । <br>
  करा सद्गुरूचा नामगजर । <br>
  जय जय गजानन साधुवर । <br>
  शेगांवच्या अवलिया ॥७॥ <br><br>
  लोक अवघे गजर करती । <br>
  तों पालवी फुटली वृक्षाप्रती । <br>
  जन नयनीं पाहती । <br>
  त्या अगाध कौतुकाला ॥८॥ <br><br>
  कोणी म्हणती असेल स्वप्न । <br>
  तें जें पडलें आपणांलागून । <br>
  पहा चिमटा घेऊन । <br>
  आपुल्याला करांनीं ॥९॥ <br><br>
  चिमटे घेऊन पाहाती । <br>
  तों निमाली स्वप्नभ्रांति । <br>
  यावरी कोणी ऐसें म्हणती । <br>
  ही नजरबंदी असेल ! ॥११०॥ <br><br>
  गारुड्याच्या खेळांत । <br>
  वाद्या होती सर्प सत्य । <br>
  खापर्‍या असून दृष्टीप्रत । <br>
  त्याचे रुपये दिसती कीं ॥११॥ <br><br>
  तोही भ्रम निमाला । <br>
  तोडून पहातां पर्णाला । <br>
  फांदीवाटें तात्काळ आला । <br>
  चीक शुभ्रसा बाहेर ॥१२॥ <br><br>
  मग मात्र खात्री झाली । <br>
  वाळल्या वृक्षा पालवी फुटली । <br>
  श्रीगजानन माऊली । <br>
  खरीच आहे महासंत ॥१३॥ <br><br>
  आतां पितांबराविशीं । <br>
  शंका न धरणें मानसीं । <br>
  चला घेऊन गांवासी । <br>
  हा त्यांचा शिष्य असे ॥१४॥ <br><br>
  याच्यायोगें करून । <br>
  कधीं तरी गजानन । <br>
  येतील कोंडोलीकारण । <br>
  वांसरासाठीं गाय जसी ॥१५॥ <br><br>
  तें अवघ्यांस मानवले । <br>
  पितांबरासी मिरवीत नेलें । <br>
  ऐसें जेव्हां दिव्य झालें । <br>
  तेव्हां भाव उदेला ॥१६॥ <br><br>
  जैसा समर्थांनीं आपुला । <br>
  शिष्य डोमगांवीं पाठविला । <br>
  कल्याण नामें करून भला । <br>
  कल्याण करण्या जगाचें ॥१७॥ <br><br>
  तैसेंच केलें गुरुवरें । <br>
  श्रीगजाननें साजिरें । <br>
  उदेंलें हें भाग्य खरें । <br>
  त्या कोंडोली गांवचें ॥१८॥ <br><br>
  श्रोते अजूनपर्यंत । <br>
  तो आंबा आहे कोंडोलीत । <br>
  इतरांपेक्षां असंख्यांत । <br>
  फळे येती तयाला ॥१९॥ <br><br>
  त्या पितांबराचे भजनीं । <br>
  कोंडोली गांव लागला जाणी । <br>
  जेथें जाईल हिरकणी । <br>
  तेथें ती मोल पावे ॥१२०॥ <br><br>
  मठ पितांबराचा । <br>
  कोंडोलींत झाला साचा । <br>
  आणि अंतही तयाचा । <br>
  ते ठायीं झाला हो ॥२१॥ <br><br>
  आतां इकडे शेगांवांत । <br>
  महाराज आपुल्या मठांत । <br>
  एके दिनीं उद्विग्न चित्त । <br>
  होऊनिया बैसले ॥२२॥ <br><br>
  शिष्य त्याचें कारण । <br>
  पुसूं लागले कर जोडून । <br>
  महाराज आपुलें मन । <br>
  कां हो अस्थिर जाहलें ? ॥२३॥ <br><br>
  तैं महाराज वदले लोकांला । <br>
  आमचा कृष्णा पाटील गेला । <br>
  जो चिकणसुपारी आम्हांला । <br>
  रोज आणून देत असे ॥२४॥ <br><br>
  त्याची झाली आठवण । <br>
  राम त्याचा मुलगा लहान । <br>
  आतां सुपारी चिकण । <br>
  कोण देतो या ठायां ? ॥२५॥ <br><br>
  राम थोर झाल्यावरी । <br>
  करील माझी चाकरी । <br>
  म्हणून मी या मठांतरीं । <br>
  आतां ना तयार राहावया ॥२६॥ <br><br>
  ऐसें महाराज बोलतां । <br>
  जनांलागीं लागली चिंता । <br>
  महाराजांचा विचार आतां । <br>
  दिसतो येथून जाण्याचा ॥२७॥ <br><br>
  म्हणून कसेंही करून । <br>
  जाऊं न द्यावें त्याकारण । <br>
  चला आपण धरूं चरण । <br>
  महाराजांचे येवेळां ॥२८॥ <br><br>
  ऐसा विचार मिळून केला । <br>
  मंडळी आली मठाला । <br>
  श्रीपतराव बंकटलाला । <br>
  ताराचंद मारुती ॥२९॥ <br><br>
  मंडळींनीं धरिलें चरण । <br>
  महाराज आम्हां सोडून । <br>
  तुम्ही आपुलें ठिकाण । <br>
  राहण्याचें अन्य करूं नये ॥१३०॥ <br><br>
  तुमची इच्छा असेल जेथ । <br>
  तेथेंच राहा शेगांवांत । <br>
  परी सोडण्याचें मनांत । <br>
  ग्राम हें आणूं नका ॥३१॥ <br><br>
  तैं महाराजवाणी निघाली । <br>
  तुमच्या गांवांत आहे दुफळी । <br>
  मला कोणाची जागा मुळीं । <br>
  नको येथें रहावया ॥३२॥ <br><br>
  जी कोणाची नसेल । <br>
  ऐसी जागा जरी द्याल । <br>
  तरीच राहणें होईल । <br>
  माझें या शेगांवीं ॥३३॥ <br><br>
  ऐसी गोष्ट ऐकिली । <br>
  तेव्हां मंडळीं चिंतावली । <br>
  समर्थांनीं आज्ञा केली । <br>
  मोठ्या पेंचाची आपणां ॥३४॥ <br><br>
  कोणाच्या जागेंत । <br>
  राहाण्या तयार नाहींत । <br>
  सरकार यांच्या प्रीत्यर्थ । <br>
  जागा ती देईल कशी ? ॥३५॥ <br><br>
  भूषण आपल्या साधूचें । <br>
  सरकारास नाहीं साचें । <br>
  बंकटलाल बोलला वाचें । <br>
  ऐसें संकट घालूं नका ॥३६॥ <br><br>
  सरकार धार्मिक कृत्याला । <br>
  जागा देईल हा न उरला । <br>
  भरवंसा तो आम्हांला । <br>
  हें राज्य परक्याचें ॥३७॥ <br><br>
  म्हणून आम्हांपैकीं कोणाची । <br>
  जागा घ्या मागून साची । <br>
  आहे तयारी आमुची । <br>
  ती तुम्हां द्यावयास ॥३८॥ <br><br>
  समर्थें केलें भाषण । <br>
  काय हें तुमचें अज्ञान । <br>
  जमिनीची मालकी पूर्ण । <br>
  आहे सच्चिदानंदाची ॥३९॥ <br><br>
  राजे कित्येक भूमीवरी । <br>
  आजवरी झाले तरी । <br>
  जागा कशाची सरकारी । <br>
  इचा मालक पांडुरंग ॥१४०॥ <br><br>
  व्यवहारदृष्ट्या मालकपण । <br>
  येतें राजालागून । <br>
  त्याचें नाहीं भूषण । <br>
  तुम्ही प्रयत्न करा जा ॥४१॥ <br><br>
  जागा मिळेल प्रयत्न करितां । <br>
  पुढें नका बोलूं आतां । <br>
  हरी पाटलाच्या हातां । <br>
  यश येईल निःसंशय ॥४२॥ <br><br>
  हरी पाटलाकडे आली । <br>
  मंडळी ती अवघी भली । <br>
  त्याच्या सल्ल्यानें मागितली । <br>
  जागा अर्ज करून ॥४३॥ <br><br>
  बुलढाण्याचा सर्वाधिकारी । <br>
  साहेब होता नामें ' करी ' । <br>
  त्यानें एक एकर जागा खरी । <br>
  अर्जावरून दिली असे ॥४४॥ <br><br>
  आणि ऐसें म्हणाला । <br>
  तुम्ही दोन एकरास्तव अर्ज केला । <br>
  परी मी तुर्त तुम्हांला । <br>
  एक एकर देतसे ॥४५॥ <br><br>
  तुम्ही एक वर्षांत । <br>
  जागा केल्या व्यवस्थित । <br>
  तुमचा मी पुरवीन हेत । <br>
  जागा आणिक देऊनिया ॥४६॥ <br><br>
  तो ठराव सरकारचा । <br>
  आहे दप्तरीं नमूद साचा । <br>
  समर्थांच्या वाणीचा । <br>
  प्रभाव खचित लोकोत्तर ॥४७॥ <br><br>
  मग हरी पाटील बंकटलाला । <br>
  निघते झाले वर्गणीला । <br>
  द्रव्यनिधी क्षणांत जमला । <br>
  आणि काम झाले सुरूं ॥४८॥ <br><br>
  यापुढील अवघें वृत्त । <br>
  येईल पुढल्या अध्यायांत । <br>
  सत्पुरुषाचा पुरविण्या हेत । <br>
  देव राहे तत्पर सदा ॥४९॥ <br><br>
  विठू पाटील डोंगरगांवचा । <br>
  लक्ष्मण पाटील वाडेगांवचा । <br>
  जगु आबा शेगांवचा । <br>
  हे पुढारी वर्गणीचे ॥१५०॥ <br><br>
  श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  ऐका श्रोते सावचित्त । <br>
  निजकल्याण व्हावया ॥१५१॥ <br><br>


  ॥ शुभं भवतु ॥ <br>
  ॥ श्रीहरिहरार्पणमस्तु ॥ <br>
  ॥ इति द्वादशोध्यायः समाप्तः ॥
</div>