<div class="adhyaatma-page">
  <h1>रेणुका देवीची प्रार्थना</h1>

  <br />अंबे एक करी, उदास न करी, भक्तास हाती धरी | <br />विघ्ने दुर करी,
  स्वधर्म-उद्धरी, दारिद्रय माझे हरी ॥ <br />चित्ती मुर्ती बरी, वर-अभय करी,
  ध्यातो तुला अंतरी | <br />वाचा शुध्द करी, विलंब न करी, पावे त्वरे सूंदरी
  <strong>॥१॥</strong>
  <br />
  <br />माते एक विरे, वर अभयकरे, दे तु दयासागरे | <br />माझा हेतु पुरे, मनात न
  उरे, संदेह माझा हरे ॥ <br />जेणे पाप सरे, कुबुध्दी विसरे, ब्रम्हैक्य-धी संचरे
  | <br />देई पुर्ण करे, भवाम्बुधी तरे, ऎसे करावे त्वरे <strong>॥२॥</strong>
  <br />
  <br />अनाथासी अंबे नको विसरु वो | <br />भवसागरी सांग कैसा तरु वो ॥
  <br />अन्यायी मी हे तुझे लेकरु वो | <br />नको रेणुके दैन्य माझे करु वो
  <strong>॥३॥</strong>
  <br />
  <br />मुक्ताफ़लै: कुंकुम-पाट्लांगी | <br />सदेह तारानिक रैविभाती ॥ <br />श्री
  मुळपिठाचल चंडिकायां | <br />तां एकवीरां शरणं प्रपद्ये <strong>॥४॥</strong>
  <br />
  <br />सखे दु:खीताला नको दुखवू वो | <br />दिना बालकाला नको दुखवू वो ॥
  <br />ब्रीदा रक्षी तु आपुल्या श्री भवानी | <br />ही प्रार्थना ऐकुनि
  कैवल्यदायनी <strong>॥५॥</strong>
  <br />
  <strong>
    <br />॥ सदानंदीचा उदयोस्तु ॥ <br />जगदंब... जगदंब... जगदंब...
  </strong>
</div>
