<div class="adhyaatma-page">
<h1>दत्ताची आरती</h1>
  
<br>त्रिगुणात्मक त्रैमूर्ती दत्त हा जाणा।
<br>त्रिगुणी अवतार त्रैलोक्यराणा। 
<br>नेती नेती शब्द न ये अनुमाना। 
<br>सुरवर मुनिजन योगी समाधि न ये ध्याना॥
<br>
<br>जय देव जय देव जय श्री गुरुदत्ता। 
<br>आरती ओवाळीतां हरली भवचिन्ता॥
<br>
<br>सबाह्य अभ्यंतरी तू एक दत्त। 
<br>अभाग्यासी कैसी न कळे ही मात। 
<br>पराही परतली तेथे कैचा हेत।
<br>जन्ममरणाचा पुरलासे अन्त॥
<br>
<br>जय देव जय देव जय श्री गुरुदत्ता। 
<br>आरती ओवाळीतां हरली भवचिन्ता॥
<br>
<br>दत्त येऊनियां ऊभा ठाकला। 
<br>सद्भावे साष्टांगे प्रणिपात केला। 
<br>प्रसन्न होऊनी आशीर्वाद दिधला।
<br>जन्ममरणाचा फेरा चुकविला॥
<br>
<br>जय देव जय देव जय श्री गुरुदत्ता। 
<br>आरती ओवाळीतां हरली भवचिन्ता॥
<br>
<br>दत्त दत्त ऐसे लागले ध्यान।
<br>हरपलें मन झालें उन्मन।
<br>मी तू पणाची झाली बोळवण।
<br>एका जनार्दनी श्रीदत्तध्यान॥
<br>
<br>जय देव जय देव जय श्री गुरुदत्ता।
<br>आरती ओवाळीतां हरली भवचिन्ता॥
</div>
