<div class="adhyaatma-page">
  <h1 alt="ganapati aarti arti sukhakarta dukhaharta varta vighnachi">गणपती आरती</h1>

  <br>सुखकर्ता दुःखहर्ता वार्ता विघ्नाची ।
  <br>नुरवी पुरवी प्रेम कृपा जयाची ।
  <br>सर्वांगी सुन्दर उटि शेंदुराची ।
  <br>कण्ठी झळके माळ मुक्ताफळांची <strong>॥१॥</strong>
  <br>
  <br><strong>जय देव जय देव जय मंगलमूर्ति ।</strong>
  <br><strong>दर्शनमात्रे मनकामना पुरती ॥धृ॥</strong>
  <br>
  <br>रत्नखचित फरा तुज गौरीकुमरा ।
  <br>चन्दनाची उटि कुंकुमकेशरा ।
  <br>हिरे जड़ित मुकुट शोभतो बरा ।
  <br>रुणझुणती नूपुरे चरणी घागरिया <strong>॥२॥</strong>
  <br>
  <br><strong>जय देव जय देव जय मंगलमूर्ति ।</strong>
  <br><strong>दर्शनमात्रे मनकामना पुरती ॥धृ॥</strong>
  <br>
  <br>चरणीच्या घागरिया रुणझुण वाजती ।
  <br>ते निनादे देवा वाद्ये गर्जती ।
  <br>ताथा दुमकीत दुमकीत नाचे गणपती ।
  <br>शंकर पार्वती कौतुक पाहती <strong>॥३॥</strong>
  <br>
  <br><strong>जय देव जय देव जय मंगलमूर्ति ।</strong>
  <br><strong>दर्शनमात्रे मनकामना पुरती ॥धृ॥</strong>
  <br>
  <br>लम्बोदर पीताम्बर फणिवर बन्धना ।
  <br>सरळ सोण्ड वक्रतुण्ड त्रिनयना ।
  <br>दास रामाचा वाट पाहे सदना ।
  <br>संकटी पावावे निर्वाणी रक्षावे सुरवरवन्दना <strong>॥४॥</strong>
  <br>
  <br><strong>जय देव जय देव जय मंगलमूर्ति ।</strong>
  <br><strong>दर्शनमात्रे मनकामना पुरती ॥धृ॥</strong>
</div>