<div class="adhyaatma-page">
  <h1>साई बाबा आरती</h1>

  <strong>
    <br>आरती साईबाबा ।
    <br>सौख्यदातारा जीवा ।
    <br>चरणरजतळीं निज दासां विसावां ।
    <br>भक्तां विसावा ॥धृ॥
  </strong>
  <br>
  <br>जाळुनियां अनंग ।
  <br>स्वस्वरुपी राहे दंग ।
  <br>मुमुक्षुजना दावी ।
  <br>निजडोळां श्रीरंग <strong>॥१॥</strong>
  <br>
  <br>जया मनीं जैसा भाव ।
  <br>तया तैसा अनुभव ।
  <br>दाविसी दयाघना ।
  <br>ऐसी ही तुझी माव <strong>॥२॥</strong>
  <br>
  <br>तुमचें नाम ध्यातां ।
  <br>हरे संसृतिव्यथा ।
  <br>अगाध तव करणी ।
  <br>मार्ग दाविसी अनाथा <strong>॥३॥</strong>
  <br>
  <br>कलियुगीं अवतार ।
  <br>सगुणब्रह्म साचार ।
  <br>अवतीर्ण झालासे ।
  <br>स्वामी दत्त दिगंबर <strong>॥४॥</strong>
  <br>
  <br>आठा दिवसां गुरुवारी ।
  <br>भक्त करिती वारी ।
  <br>प्रभुपद पहावया ।
  <br>भवभय निवारी <strong>॥५॥</strong>
  <br>
  <br>माझा निजद्रव्य ठेवा ।
  <br>तव चरणसेवा ।
  <br>मागणें हेंचि आता ।
  <br>तुम्हा देवाधिदेवा <strong>॥६॥</strong>
  <br>
  <br>इच्छित दीन चातक ।
  <br>निर्मळ तोय निजसुख ।
  <br>पाजावें माधवा या ।
  <br>सांभाळ आपुली भाक <strong>॥७॥</strong>
</div>