<div class="adhyaatma-page">
  <h1>रेणुका देवीचे पद</h1>

  <br /><strong>
    <br />आम्ही चुकलो, जरी तरी काही । <br />तूं चुकू नको अंबाबाई ॥ धृ ॥ <br
  /></strong>
  <br />
  <br />तुझे नांव आनंदी साजे,आनंदी साजे | <br />तुझा महिमा त्रिभुवनी गाजे |
  <br />तुझे सगुण रूप विराजे,रूप विराजे| <br />तुला वंदिती सन्मुनि राजे ।
  <br />गुण गाती, गुण गाती वेदशास्त्रेही ।। <br />तूं चुकू नको अंबाबाई ।। १ ।।
  <br />
  <br /><strong>
    <br />आम्ही चुकलो जरी तरी काही, जरी तरी काही । <br />तूं चुकू नको अंबाबाई
    <br
  /></strong>
  <br />
  <br />आम्ही अनाथ दीन भिकारी,दीन भिकारी । <br />तूं समर्थ प्रभु अधिकारी ।
  <br />आम्ही पतित पातकी भारी, पातकी भारी। <br />तूं पावन भव संसारी । <br />तू
  पर्वत, तू पर्वत आम्ही रजराई ।। <br />तूं चुकू नको अंबाबाई ॥ २ ॥
  <br />
  <br /><strong>
    <br />आम्ही चुकलो जरी तरी काही,जरी तरी काही । <br />तूं चुकू नको अंबाबाई
    <br
  /></strong>
  <br />
  <br />आम्ही कुपुत्र,म्हणवुन घेऊ, म्हणवुन घेऊ। <br />तू नको कुमाता होऊ |
  <br />आम्ही विषय ढेकळे खाऊ, ढेकळे खाऊ। <br />तूं प्रेमामृत दे खाऊ |
  <br />आम्ही रांगू,आम्ही रांगू तू उभी राही ।। <br />तूं चुकू नको अंबाबाई ॥ ३ ॥
  <br />
  <br /><strong>
    <br />आम्ही चुकलो जरी तरी काही, जरी तरी काही । <br />तूं चुकू नको अंबाबाई
    <br
  /></strong>
  <br />
  <br />आम्ही केवळ जडमूढप्राणी, जडमूढप्राणी | <br />चैतन्यस्वरूप तू शहाणी ।
  <br />फट बोबडी आमुची वाणी, आमच्या वाणी । <br />तूं वदू नको आमच्या वाणी ।
  <br />आम्ही रडू, आम्ही रडू तू गाणे गाई ।। <br />तूं चुकू नको अंबाबाई ।।४ ।।
  <br />
  <br /><strong>
    <br />आम्ही चुकलो जरी तरी काही । <br />तूं चुकू नको अंबाबाई ॥ <br
  /></strong>
  <br />
  <br />आम्ही चातक तुजविण कष्टी, तुजविण कष्टी । <br />तू करी कृपामृत वृष्टी ।
  <br />म्हणे विष्णुदास धरी पोटी, धरी पोटी । <br />अपराध आमुचे कोटी । <br />अशी
  आठवण, अशी आठवण असू दे हृदयी ॥ <br />तूं चुकू नको अंबाबाई ॥ ५ ॥
  <br />
  <br /><strong>
    <br />आम्ही चुकलो जरी तरी काही । <br />तूं चुकू नको अंबाबाई ॥ <br
  /></strong>
</div>
