<div class="adhyaatma-page">
  <h1 alt="gajanan vijay grantha">श्री गजानन विजय ग्रंथ</h1>
  <h2 alt="adhyay 5 adhyaay 5">अध्याय ५</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  हे अज अजित अद्वया । <br>
  सच्चिदानंदा करुणालया । <br>
  दासगणू लागला पायां । <br>
  आतां अभय असूं दे <strong>॥१॥</strong> <br><br>

  मी हीन दीन पातकी नर । <br>
  नाहीं कोणता अधिकार । <br>
  सर्व बाजूंनीं लाचार । <br>
  आहें मी देव देवा <strong>॥२॥</strong> <br><br>

  परी अत्यंत हीनावरी । <br>
  थोर सर्वदा कृपा करी । <br>
  पाहा अंगीं लाविली खरी । <br>
  विभूति श्रीशंकरानें <strong>॥३॥</strong> <br><br>

  तो हीनांचा हीनपणा । <br>
  थोरा न आणि कमीपणा । <br>
  हें जाणोन नारायणा । <br>
  गणू हा ठेवा संग्रहीं <strong>॥४॥</strong> <br><br>

  सर्व लाड लेंकराचे । <br>
  माता ती पुरवि साचे । <br>
  आहे दासगणूचें । <br>
  ओझें सर्व तुझ्या शिरीं <strong>॥५॥</strong> <br><br>

  जैसें करशील तैसें करी । <br>
  परी दया असूं दे अंतरीं । <br>
  देवा तुझ्या बळावरी । <br>
  दासगणूच्या सार्‍या उडया <strong>॥६॥</strong> <br><br>

  गजानन असतां शेगांवीं । <br>
  यात्रा येई नित्य नवी । <br>
  ती कोठवरी वर्णावी ? । <br>
  पार न लागे तियेचा <strong>॥७॥</strong> <br><br>

  महिमा तो वाढला फार । <br>
  म्हणून गजानन साधुवर । <br>
  ती उपाधी करण्या दूर । <br>
  भटकूं लागले काननीं <strong>॥८॥</strong> <br><br>

  महिना महिना तिकडेच राहावें । <br>
  वाटेल तेथेंच बैसावें । <br>
  कोणाशीं न उमगूं द्यावें । <br>
  चरित्र आपुलें येतुलेंही <strong>॥९॥</strong> <br><br>

  श्रोते एका समयासी । <br>
  महाराज पिंपळगांवासी । <br>
  गेले तेथें गोष्ट कैसी । <br>
  झाली ते अवधारा <strong>॥१०॥</strong> <br><br>

  त्या पिंपळगांवच्या शिवारांत । <br>
  होतें एक अरण्यांत । <br>
  शंकराचें मंदिर सत्य । <br>
  जुनें पुराणें हेमाडपंती <strong>॥११॥</strong> <br><br>

  ऐशा त्या मंदिरीं । <br>
  येते झाले साक्षात्कारी । <br>
  बैसले शिवाच्या गाभारीं । <br>
  लावोनिया पद्मासन <strong>॥१२॥</strong> <br><br>

  गुराखी त्या गांवचे । <br>
  आपापले कळप गुरांचे । <br>
  घेऊनिया निघाले साचे । <br>
  अस्तमानीं गांवाकडे <strong>॥१३॥</strong> <br><br>

  मंदिरापुढें तत्त्वतां । <br>
  एक लहान ओढा होता । <br>
  तेथें पाणी पाजण्याकरितां । <br>
  गुरें गुराखी पातले <strong>॥१४॥</strong> <br><br>

  कोणी सहज मंदिरांत । <br>
  गेले वंदण्या शिवाप्रत । <br>
  तों तेथें पाहोन समर्थ । <br>
  आश्चर्यचकित जाहले <strong>॥१५॥</strong> <br><br>

  मुलें म्हणती या मंदिरीं । <br>
  कोणी न पाहिला आजवरी । <br>
  पुरुष बसलेला निर्धारी । <br>
  अस्तमानाचे समयाला <strong>॥१६॥</strong> <br><br>

  कांहीं गुराखी बाहेर आले । <br>
  इतरां बोलावूं लागले । <br>
  कांहीं तेथेंच बैसले । <br>
  सत्पुरुषाचे समोर <strong>॥१७॥</strong> <br><br>

  परी साधु बोलेना । <br>
  डोळे मुळींच उघडीना । <br>
  याचें कारण कळेना । <br>
  त्या गुराखी अर्भकांसी <strong>॥१८॥</strong> <br><br>

  कोणी म्हणती थकलेला । <br>
  हा साधु दिसतो भला । <br>
  शक्ति मुळीं नुरली त्याला । <br>
  बोलावयाकारणें <strong>॥१९॥</strong> <br><br>

  कोणी म्हणती उपवासी । <br>
  असावा निश्चयेसी । <br>
  थोडी भाकर तयासी । <br>
  देऊं आपण खावया <strong>॥२०॥</strong> <br><br>

  ऐसें म्हणून भाकर । <br>
  धरली मुखासमोर । <br>
  भाविक मुळचीं गुराखी पोरें । <br>
  हलवूं लागलीं समर्थाला <strong>॥२१॥</strong> <br><br>

  परी साधु हालेना । <br>
  मुखीं शब्द बोलेना । <br>
  म्हणून सार्‍या गुराख्यांना । <br>
  नवल वाटलें विशेष <strong>॥२२॥</strong> <br><br>

  गुराखी आपसांत बोलती । <br>
  याची मुळीं ना कळे स्थिती । <br>
  जरी मेला म्हणावा निश्चिती । <br>
  तरी आहे बसलेला <strong>॥२३॥</strong> <br><br>

  अंग ना झालें थंडगार । <br>
  ऊन आहे साचार । <br>
  यावरुन हा जिवंत नर । <br>
  आहे आहे शंका नको <strong>॥२४॥</strong> <br><br>

  कोणी म्हणे असेल भूत । <br>
  मायावी रुप दावित । <br>
  कोणी म्हणे हें तर सत्य । <br>
  शिवापुढें ना भूत येई <strong>॥२५॥</strong> <br><br>

  कोणी म्हणती स्वर्गीचा । <br>
  देव हा असावा साचा । <br>
  लाभ त्याच्या दर्शनाचा । <br>
  झाला आपणां हेंच भाग्य <strong>॥२६॥</strong> <br><br>

  याचें आतां पूजन । <br>
  करुं अवघे आपण । <br>
  जा स्नानालागून । <br>
  पाणी आणा ओढयाचें <strong>॥२७॥</strong> <br><br>

  पोरें गेलीं ओढयावरी । <br>
  गेळ्यामध्यें आणिलें वारी । <br>
  परमभावें पायांवरी । <br>
  घालिते झाले समर्थांच्या <strong>॥२८॥</strong> <br><br>

  कोणी वन्यपुष्पें आणिलीं । <br>
  माळ त्यांची तयार केली । <br>
  कंठामध्यें घातिली । <br>
  गुराख्यांनीं साधूच्या <strong>॥२९॥</strong> <br><br>

  कोणी कांदाभाकर । <br>
  नैवेद्यार्थ साचार । <br>
  दिली ठेवून समोर । <br>
  एका वडाच्या पानावरी <strong>॥३०॥</strong> <br><br>

  गुराख्यांनीं केलें नमन । <br>
  आदरें भाव धरुन । <br>
  कांहीं वेळ केलें भजन । <br>
  पुढें बसून समर्थांच्या <strong>॥३१॥</strong> <br><br>

  ऐसा आनंद चालला । <br>
  तों गुराखी एक बोलला । <br>
  अरे वेळ बहु झाला। <br>
  चला आतां गांवाकडे <strong>॥३२॥</strong> <br><br>

  दिवस गेला मावळून । <br>
  कां न आलीं रानांतून । <br>
  मुलें गुरांना घेऊन । <br>
  ऐसें लोक म्हणतील कीं <strong>॥३३॥</strong> <br><br>

  कदाचित्‌ आपणांसी । <br>
  पाहण्या येतील काननासी । <br>
  तान्ही वांसरें घरांसी । <br>
  लागलीं असतील हुंबरावया <strong>॥३४॥</strong> <br><br>

  या साधूची हकीकत । <br>
  आपण सांगूं गांवांत । <br>
  शहाण्या वडील माणसांप्रत । <br>
  म्हणजे येईल कळून कीं <strong>॥३५॥</strong> <br><br>

  तें अवघ्यांसी मानवलें । <br>
  गुराखी सर्व निघून गेले । <br>
  गांवामाजीं कळविलें । <br>
  मंदिराचें अवघे वृत्त <strong>॥३६॥</strong> <br><br>

  पुढें श्रोते प्रातःकाळीं । <br>
  आली गांवची मंडळी । <br>
  समर्थांसी पाहाण्या भली । <br>
  गुराख्यांच्या बरोबर <strong>॥३७॥</strong> <br><br>

  जैसा काल होता बसला । <br>
  तैसाच आतां पाहिला । <br>
  भाकरीसी ना स्पर्श केला । <br>
  ती जशीच्या तशीच आहे कीं <strong>॥३८॥</strong> <br><br>

  म्हणूं लागले गांवकरी । <br>
  हा योगी पुरुष कोणी तरी । <br>
  आहे बैसला मंदिरीं । <br>
  सांप्रत या शंकराच्या <strong>॥३९॥</strong> <br><br>

  कोणी ऐसें बोलले । <br>
  शिव पिंडीच्या बाहेर आले । <br>
  आपणां दर्शन द्याया भले । <br>
  चला नेऊं या गांवांत <strong>॥४०॥</strong> <br><br>

  हा समाधी उतरील । <br>
  तेव्हां कांहीं बोलेल । <br>
  ती उतरण्या आहे वेळ । <br>
  त्याला त्रास देऊं नका <strong>॥४१॥</strong> <br><br>

  बंगाल देशीं जालंदर । <br>
  बारा वर्षें झाले स्थिर । <br>
  समाधीच्या जोरावर । <br>
  गर्तेमाजीं ख्यात हें <strong>॥४२॥</strong> <br><br>

  ऐसी भवति न भवति झाली । <br>
  एक पालखी आणविली । <br>
  त्यांत उचलून ठेविली । <br>
  समर्थांची मूर्ति पाहा <strong>॥४३॥</strong> <br><br>

  ग्रामांतील नारीनर । <br>
  अवघे होते बरोबर । <br>
  पुढें वाजंत्र्यांचा गजर । <br>
  होत होता विबुध हो ! <strong>॥४४॥</strong> <br><br>

  मधून मधून तुळशीफुलें । <br>
  पौर टाकीत होते भले । <br>
  समर्थाचें अंग झालें । <br>
  गुलालानें लाली लाल <strong>॥४५॥</strong> <br><br>

  घंटाघडयाळें वाजती । <br>
  लोक अवघे भजन करिती । <br>
  जय जय योगिराज मूर्ति । <br>
  ऐसें उंच स्वरानें <strong>॥४६॥</strong> <br><br>

  मिरवणूक आली गांवांत । <br>
  मारुतीच्या मंदिरांत । <br>
  बसविले आणून सद्‌गुरुनाथ । <br>
  एका भव्य पाटावरी <strong>॥४७॥</strong> <br><br>

  तोही दिवस तैसाच गेला । <br>
  मग लोकांनीं विचार केला । <br>
  आपण करुं स्तवनाला । <br>
  उपाशी बसून याच्यापुढें <strong>॥४८॥</strong> <br><br>

  ऐसा जो तो विचार करिती । <br>
  तों आले देहावरती । <br>
  गजानन श्रीसद्‌गुरुमूर्ति । <br>
  मुगुटमणी योग्यांचे <strong>॥४९॥</strong> <br><br>

  मग काय विचारतां । <br>
  आनंद झाला समस्तां । <br>
  प्रत्येक स्त्रीपुरुष ठेवी माथा । <br>
  स्वामीचिया चरणांवरी <strong>॥५०॥</strong> <br><br>

  नैवेद्याची धूम झाली । <br>
  ज्यानें त्यानें आणिलीं । <br>
  पात्रें तीं वाढून भलीं । <br>
  मारुतीच्या मंदिरांत <strong>॥५१॥</strong> <br><br>

  त्या अवघ्यांचा स्वीकार । <br>
  समर्थें केला थोडाफार । <br>
  हाळोपाळींत साचार । <br>
  ही वार्ता श्रुत झाली <strong>॥५२॥</strong> <br><br>

  पुढें दुसर्‍या मंगळवारीं । <br>
  पिंपळगांवचे गांवकरी । <br>
  आले बाजारा निर्धारीं । <br>
  शेगांवाकारणें <strong>॥५३॥</strong> <br><br>

  ते शेगांवच्या लोकांसी । <br>
  सहज बोलले प्रेमेसी । <br>
  आमच्याही गांवासी । <br>
  आला एक अवलिया <strong>॥५४॥</strong> <br><br>

  अवलिया थोर अधिकारी । <br>
  प्रत्यक्ष आहे श्रीहरी । <br>
  धन्य पिंपळगांव नगरी । <br>
  पाय लागले साधूचे <strong>॥५५॥</strong> <br><br>

  आम्ही तया योगीवरा । <br>
  कोठें न जाऊं देऊं खरा । <br>
  निधि चालत आला घरा । <br>
  त्यातें कोण दवडी हो ? <strong>॥५६॥</strong> <br><br>

  शेगांवचे बाजारांत । <br>
  जिकडे तिकडे हीच मात । <br>
  बंकटलाला झालें श्रुत । <br>
  वर्तमान तें अवलियाचें <strong>॥५७॥</strong> <br><br>

  बंकटलाल पत्‍नीसहित । <br>
  गेला पिंपळगांवांत । <br>
  समर्थासी जोडोन हात । <br>
  विनवूं लागला नानापरी <strong>॥५८॥</strong> <br><br>

  आतां येतो म्हणून । <br>
  निघून गेलात आपण । <br>
  त्यास झाले पंधरा दिन । <br>
  याचा विचार करा हो <strong>॥५९॥</strong> <br><br>

  गुरुराया तुम्हांवीण । <br>
  भणभणीत दिसे सदन । <br>
  शेगांवचे अवघे जन । <br>
  चिंतातुर झाले हो <strong>॥६०॥</strong> <br><br>

  गाडी आणिली आपणांसाठीं । <br>
  चला शेगांवीं ज्ञानजेठी । <br>
  मायलेका होणें तुटी । <br>
  हें कांहीं बरें नसे <strong>॥६१॥</strong> <br><br>

  कित्येक दयाळा आपुले भक्त । <br>
  राहिले असती उपोषित । <br>
  त्या शेगांव शहरांत । <br>
  नित्य दर्शन घेणारे <strong>॥६२॥</strong> <br><br>

  तुम्ही न आल्या शेगांवीं । <br>
  मी ही तनु त्यागीन वरवी । <br>
  आमुची सांगा पुरवावी । <br>
  आळ कोणी गुरुवर्या ? <strong>॥६३॥</strong> <br><br>

  बंकटलाल ऐसें वदले । <br>
  महाराज गाडीवरी बसले । <br>
  शेगांवासी निघाले । <br>
  पिंपळगांवा सोडून <strong>॥६४॥</strong> <br><br>

  जैसा मागें गोकुळाला । <br>
  न्याया कृष्णा अक्रूर आला । <br>
  तैसा बंकटलाल भासला । <br>
  अक्रूर पिंपळगांवातें <strong>॥६५॥</strong> <br><br>

  पिंपळगांवच्या लोकांप्रती । <br>
  बंकटलाल समजाविती । <br>
  नका होऊं दुःखित चित्तीं । <br>
  जाती न कोठें लांब साधु <strong>॥६६॥</strong> <br><br>

  वाटेल तेव्हां दर्शना यावें । <br>
  हेतु आपुले पुरवावे । <br>
  जेथल्या तेथें असूं द्यावें । <br>
  या अमोल मूर्तीला <strong>॥६७॥</strong> <br><br>

  बहुतेक पिंपळगांवाचा । <br>
  बंकटलाल साहुकार साचा । <br>
  मनोभंग साहूचा । <br>
  करण्या कुळांची छाती नसे <strong>॥६८॥</strong> <br><br>

  चुरमुर्‍याचे लाडू खात । <br>
  पिंपळगांव बसलें स्वस्थ । <br>
  महाराज बसून गाडींत । <br>
  जाऊं लागले शेगांवा <strong>॥६९॥</strong> <br><br>

  पथीं जातां गुरुमूर्ति । <br>
  बोलली बंकटलालाप्रती । <br>
  ही का साहूची होय रीति । <br>
  माल दुसर्‍याचा बळें न्यावा ! <strong>॥७०॥</strong> <br><br>

  मशी यावया तुझ्या घरीं । <br>
  भय वाटतें अंतरीं । <br>
  तुझ्या घरचि नाहीं बरी । <br>
  रीत हें मी पाहतों <strong>॥७१॥</strong> <br><br>

  लक्ष्मी जी लोकमाता । <br>
  महाविष्णूची होय कांता । <br>
  जिची असे अगाध सत्ता । <br>
  तिलाही त्वां कोंडिलें <strong>॥७२॥</strong> <br><br>

  तेथें माझा पाड कोण ? । <br>
  म्हणून गेलों पळोन । <br>
  जगदंबेचे पाहून । <br>
  हाल माझें चित्त भ्यालें <strong>॥७३॥</strong> <br><br>

  ऐसें ऐकतां हंसूं आलें । <br>
  बंकटलालाप्रती भलें । <br>
  विनयानें भाषण केलें । <br>
  तें ऐका सावचित्तें <strong>॥७४॥</strong> <br><br>

  बंकट बोले गुरुनाथा । <br>
  माझ्या कुलपा न भ्याली माता । <br>
  आपुला वास तेथें होता । <br>
  म्हणून झाली स्थीर ती <strong>॥७५॥</strong> <br><br>

  जेथें बाळ तेथें आई । <br>
  तेथें दुज्याचा पाड काई ? । <br>
  आपुल्या पायापुढें नाहीं । <br>
  मला धनाची किंमत <strong>॥७६॥</strong> <br><br>

  तेंच माझें धन थोर । <br>
  म्हणून आलों इथवर । <br>
  माझें न उरलें आतां घर । <br>
  तें सर्वस्वीं आपुलें <strong>॥७७॥</strong> <br><br>

  घरमालकाकारण । <br>
  शिपाई आडवी कोठून ? । <br>
  जैसें तुमचें इच्छील मन । <br>
  तैसेंच तुम्ही वागावें <strong>॥७८॥</strong> <br><br>

  इतकीच माझी विनंती । <br>
  शेगांवीं असो वस्ती । <br>
  धेनू काननातें जाती । <br>
  परी येती घरीं पुन्हां <strong>॥७९॥</strong> <br><br>

  तसेंच तुम्हीं करावें । <br>
  अवघ्या जगां उद्धरावें । <br>
  परी आम्हां न विसरावें । <br>
  शेगांवीं यावें वरचेवर <strong>॥८०॥</strong> <br><br>

  ऐसी समजूत घालून । <br>
  शेगांवीं आणले गजानन । <br>
  तेथें कांहीं दिवस राहून । <br>
  निघून गेले पुनरपि <strong>॥८१॥</strong> <br><br>

  ती ऐकावी तुम्ही कथा । <br>
  सांगतों मी इथें आतां। <br>
  अडगांव नामें ग्राम होता । <br>
  एक तया वर्‍हाड प्रांतीं <strong>॥८२॥</strong> <br><br>

  त्या ग्रामाकारण । <br>
  जाया निघाले दयाघन । <br>
  प्रातःकाळीं चुकवून । <br>
  नजर शेगांवकरांची <strong>॥८३॥</strong> <br><br>

  महाराजांची चालगती । <br>
  वायुचिया समान होती । <br>
  अंजनी-तनय मारुती । <br>
  आला काय वाटे पुन्हां <strong>॥८४॥</strong> <br><br>

  मास होता वैशाख । <br>
  सोळा कलांनीं तपे अर्क । <br>
  क्वचित्‌ कोठें न राहिलें उदक । <br>
  ऐसा प्रखर उन्हाळा <strong>॥८५॥</strong> <br><br>

  माध्यान्हीच्या समयाला । <br>
  अकोली गांवापासी आला । <br>
  हा योगयोगेश्वर साधु भला । <br>
  गजानन महाराज <strong>॥८६॥</strong> <br><br>

  तों काय घडलें वर्तमान । <br>
  समर्थांसी लागली तहान । <br>
  करिती चौफेर अवलोकन । <br>
  तों उदक कोठें दिसेना <strong>॥८७॥</strong> <br><br>

  अंगावाटे चालल्या धारा । <br>
  घामाच्या त्या एकसरा । <br>
  अधरोष्ठ तो सुकला खरा । <br>
  उदकाविण समर्थांचा <strong>॥८८॥</strong> <br><br>

  ऐशा दुपारच्या अवसरीं । <br>
  भास्कर नामें शेतकरी । <br>
  घालीत होता पाळी खरी । <br>
  आपुल्या त्या शेताला <strong>॥८९॥</strong> <br><br>

  शेतकर्‍याची पाहतां स्थिति । <br>
  हें अवघ्यांत मुख्य असती । <br>
  कृषीवल हा निश्चिती । <br>
  अन्नदाता जगाचा <strong>॥९०॥</strong> <br><br>

  अंगीं ऐसें मोठेंपण । <br>
  परी सोशी यातना दारुण । <br>
  बिचार्‍यांना ऊन ताहान । <br>
  सोसणें भाग असे कीं <strong>॥९१॥</strong> <br><br>

  त्या अकोलीच्या शिवारांत । <br>
  जलाचें दुर्भिक्ष्य अत्यंत । <br>
  एक वेळा मिळेल घृत । <br>
  परि अभाव पाण्याचा <strong>॥९२॥</strong> <br><br>

  आपणांतें प्यावयासी । <br>
  भास्करानें शेतासी । <br>
  आणिलें खापराच्या घागरीसी । <br>
  उदक होतें गांवांतून <strong>॥९३॥</strong> <br><br>

  पाठीसी ती भाकर । <br>
  डोईं जलाची घागर । <br>
  ऐसा होता प्रकार । <br>
  शेतामाजीं येण्याचा <strong>॥९४॥</strong> <br><br>

  ती घागर झुडुपाखालीं । <br>
  होती भास्करें ठेविली । <br>
  त्या ठिकाणीं स्वारी आली । <br>
  भास्करा जल मागावया <strong>॥९५॥</strong> <br><br>

  समर्थ म्हणती भास्कराला । <br>
  तहान लागली मला । <br>
  पाणी दे बा प्यावयाला । <br>
  नाहीं ऐसें म्हणूं नको <strong>॥९६॥</strong> <br><br>

  पुण्य पाणी पाजण्याचें । <br>
  आहे बापा थोर साचें । <br>
  पाण्यावांचून प्राणाचें । <br>
  रक्षण होणें अशक्य <strong>॥९७॥</strong> <br><br>

  धनिक पाणपोया घालिती । <br>
  हमरस्त्याच्या पथावरती । <br>
  याचें कारण शोध चित्तीं । <br>
  म्हणजे येईल कळोन <strong>॥९८॥</strong> <br><br>

  भास्कर बोले त्यावर । <br>
  तूं नंगा धूत दिगंबर । <br>
  तुला दांडग्या पाजितां नीर । <br>
  पुण्यलाभ कशाचा ? <strong>॥९९॥</strong> <br><br>

  अनाथ-पंगू-दुबळ्यांसाठीं । <br>
  त्या पुण्याच्या शोभती गोष्टी । <br>
  वा जो समाजहितासाठीं । <br>
  झटे त्यासी साह्य करा <strong>॥१००॥</strong> <br><br>

  ऐसें शास्त्राचें आहे वचन । <br>
  तुझ्यासारख्या मैंदाकारण । <br>
  आम्ही पाजितां जीवन । <br>
  तें उलटें पाप होय <strong>॥१॥</strong> <br><br>

  भूतदयेच्या तत्त्वें भला । <br>
  सर्प कोणी कां पोसला ? । <br>
  वा जागा चोरटयाला । <br>
  देती सदनीं काय कोणी ? <strong>॥२॥</strong> <br><br>

  तूं भीक मागून घरोघर । <br>
  केलेंस पुष्ट शरीर । <br>
  भारभूत साचार । <br>
  झालास आपुल्या कृतीनें <strong>॥३॥</strong> <br><br>

  मीं माझ्यासाठीं घागर । <br>
  आणिली सकाळीं डोक्यावर । <br>
  त्या आयत्या पिठावर । <br>
  रेघोटया तूं ओढूं नको <strong>॥४॥</strong> <br><br>

  तुला ना देणार पाणी । <br>
  नको करुं रे विनवणी । <br>
  जा जा करी येथोनी । <br>
  काळें आपलें चांडाळा <strong>॥५॥</strong> <br><br>

  तुझ्यासारिखे निरुद्योगी । <br>
  जन्मले आमच्यांत जागोजागीं । <br>
  म्हणून झालों अभागी । <br>
  आम्ही चहूं खंडांत <strong>॥६॥</strong> <br><br>

  हें भास्कराचें भाषण । <br>
  समर्थांनीं ऐकून । <br>
  थोडें करुनी हास्यवदन । <br>
  निघोन गेले तेथोनिया <strong>॥७॥</strong> <br><br>

  थोडया दूर अंतरावर । <br>
  एक होती साच विहीर । <br>
  तिकडे धांव अखेर । <br>
  घेतली स्वामीरायांनीं <strong>॥८॥</strong> <br><br>

  स्वामी तिकडे जाऊं लागतां । <br>
  भास्कर झाला बोलतां । <br>
  उच्च स्वरें वेडया वृथा । <br>
  तिकडे कशाला जातोस ? <strong>॥९॥</strong> <br><br>

  ती कोरडी ठणठणीत । <br>
  आहे विहीर जाण सत्य । <br>
  पाणी या एक कोसांत । <br>
  नाहीं कोठें जाण पिशा <strong>॥११०॥</strong> <br><br>

  समर्थ बोलले त्यावरी । <br>
  ही सत्य तुझी वैखरी । <br>
  विहिरींत पाणी नाहीं जरी । <br>
  परी करितों प्रयत्‍न <strong>॥११॥</strong> <br><br>

  तुझ्यासारखे बुद्धिमान । <br>
  जलनिं होती हैराण । <br>
  तें मी नयनीं पाहून । <br>
  स्वस्थ ऐसा बसलों जरी <strong>॥१२॥</strong> <br><br>

  तरी समाजहितासाठीं । <br>
  काय मी केली सांग गोष्टी । <br>
  साह्य होतो जगजेठी । <br>
  हेतु शुद्ध असल्यावर <strong>॥१३॥</strong> <br><br>

  समर्थ आले विहिरीपाशीं । <br>
  तों थेंब नाहीं तियेशीं । <br>
  हताश होऊन वृक्षापाशीं । <br>
  बसले एका दगडावर <strong>॥१४॥</strong> <br><br>

  डोळे मिटून केलें ध्यान । <br>
  चित्तीं सांठविला नारायण । <br>
  जो सच्चिदानंद दयाघन । <br>
  दीनोद्धार जगद्‌गुरु <strong>॥१५॥</strong> <br><br>

  समर्थ म्हणती देवदेवा । <br>
  हे वामना वासुदेवा । <br>
  प्रद्युम्ना राघवा । <br>
  हे विठ्ठला नरहरी ! <strong>॥१६॥</strong> <br><br>

  देवा ही आकोली । <br>
  पाण्यावांचून त्रस्त झाली । <br>
  वोलही ना राहिली । <br>
  कोठेंच देवा विहिरींतून <strong>॥१७॥</strong> <br><br>

  मानवी यत्‍न अवघे हरिले । <br>
  म्हणून तुजला प्रार्थिलें । <br>
  पाव आतां जगन्माउले । <br>
  पानी दे या विहिरीला <strong>॥१८॥</strong> <br><br>

  तुझी करणी अघटीत । <br>
  जें न घडें तें घडविसी सत्य । <br>
  मांजरें जळत्या आव्यांत । <br>
  पांडुरंगा ! तूं रक्षिलीं <strong>॥१९॥</strong> <br><br>

  प्रल्हाद भक्त करण्या खरा । <br>
  स्तंभीं प्रगटलास जगदोद्धारा । <br>
  बारा गांव वैश्वानरा । <br>
  भक्षिलें त्वां गोकुळांत <strong>॥१२०॥</strong> <br><br>

  कर नखाग्रीं धरिला गिरी । <br>
  तूंच कीं रे मुरारी । <br>
  तुझ्या कृपेची न ये सरी । <br>
  जगत्रयीं कवणास <strong>॥२१॥</strong> <br><br>

  दामाजीपंत ठाणेदार । <br>
  त्याच्यासाठीं झालास महार । <br>
  चोख्यासाठीं ओढीलीं ढोरं । <br>
  पांखरें रक्षिलीं माळ्याचीं <strong>॥२२॥</strong> <br><br>

  उपमन्यूसाठीं भला । <br>
  क्षीरसमुद्र तुवां दिला । <br>
  तहान नामदेवाला । <br>
  मारवाडांत लागली जैं <strong>॥२३॥</strong> <br><br>

  तैं तुम्ही कौतुक केलें । <br>
  निर्जलता प्रांतीं भलें । <br>
  नाम्यासाठीं भरविलें । <br>
  जल हें आण ध्यानांत <strong>॥२४॥</strong> <br><br>

  ऐसें विनवितां ईश्वरा । <br>
  विहिरीलागीं फुटला झरा । <br>
  उफाळ्याचा साजिरा । <br>
  विहीर भरली क्षणामध्यें <strong>॥२५॥</strong> <br><br>

  साह्य झाल्या जगन्नाथ । <br>
  काय एक ना तें होत । <br>
  ईश्वरी सत्ता अगाध सत्य । <br>
  जें ना घडे तेंच घडवी <strong>॥२६॥</strong> <br><br>

  तेथ पाणी समर्थ प्याले । <br>
  तें भास्करानें पाहिलें । <br>
  चित्त त्याचें घोटाळलें । <br>
  कांहीं नच चाले तर्क त्याचा <strong>॥२७॥</strong> <br><br>

  वर्षें झालीं द्वादश । <br>
  जल नाहीं या विहिरीस । <br>
  तिलाच एका घटकेस । <br>
  यानें जलमय केली कीं <strong>॥२८॥</strong> <br><br>

  यावरुन हा कोणीतरी । <br>
  खचित आहे साक्षात्कारी । <br>
  बळेंच फिरतो पिशापरी । <br>
  हें आतां समजलें <strong>॥२९॥</strong> <br><br>

  शेतीचें काम सोडून । <br>
  भास्कर आला धांवून । <br>
  धरितां झाला दृढ चरण । <br>
  मुखें स्तोत्र आरंभिलें <strong>॥१३०॥</strong> <br><br>

  हे नरदेहधारी परमेश्वरा । <br>
  हे दयेच्या सागरा । <br>
  लेंकरासी कृपा करा । <br>
  अर्भक मी तुमचें असें <strong>॥३१॥</strong> <br><br>

  तुम्हांतें ना जाणून । <br>
  मी बोललों टाकून । <br>
  आतां पस्तावा झाला पूर्ण । <br>
  क्षमा त्याची करा हो <strong>॥३२॥</strong> <br><br>

  टाकून बोलतां गौळणी । <br>
  रागावला ना चक्रपाणी । <br>
  दयाळा बाह्य वेषांनीं । <br>
  तुझ्या मजला ठकविलें <strong>॥३३॥</strong> <br><br>

  त्याचें तूंच निरसन । <br>
  केलें चमत्कार दाखवून । <br>
  भगवंताचें देवपण । <br>
  कृतीनेंच कळलें कीं <strong>॥३४॥</strong> <br><br>

  तैसा तुझा अधिकार । <br>
  केवढा तरी आहे थोर । <br>
  तें कळलें साचार । <br>
  या जलाच्या कृतीनें <strong>॥३५॥</strong> <br><br>

  कांहीं असो सद्‌गुरुनाथा । <br>
  मी न सोडी तुम्हां आतां । <br>
  लेंकरानें भेटतां । <br>
  माये कोठें न रहावें कीं <strong>॥३६॥</strong> <br><br>

  खोटी ही प्रपंच माया । <br>
  आले आज कळोनिया । <br>
  आतां परते न लोटा या । <br>
  दीना अर्भकाकारणें <strong>॥३७॥</strong> <br><br>

  भास्करासी समर्थ म्हणती । <br>
  ऐसा न होई दुःखित चित्तीं । <br>
  आतां घागर डोक्यावरती । <br>
  गांवांतून आणूं नको <strong>॥३८॥</strong> <br><br>

  तुझ्यासाठीं हें जीवन । <br>
  विहिरींत केलें निर्माण । <br>
  आतां कशाची नुरली वाण । <br>
  मग का प्रपंच टाकिशी ? <strong>॥३९॥</strong> <br><br>

  पाणी आलें तुझ्याकरितां । <br>
  बगीचा तो लाव आतां । <br>
  भास्कर म्हणे गुरुनाथा । <br>
  हें आमीष दावूं नका <strong>॥१४०॥</strong> <br><br>

  माझा निश्चय हीच विहीर । <br>
  कोरडी ठणठणीत साचार । <br>
  होती दयाळा आजवर । <br>
  थेंब नव्हता पाण्याचा <strong>॥४१॥</strong> <br><br>

  ती विहीर फोडण्याला । <br>
  तुम्हीच हा प्रयत्‍न केला । <br>
  साक्षात्काराचा लाविला । <br>
  सुरुंग खडक फोडावया <strong>॥४२॥</strong> <br><br>

  तेणें हा फुटला खडक । <br>
  भावाचें लागलें उदक । <br>
  आतां मला निःशंक । <br>
  भक्तिपंथाचा लावीन मी <strong>॥४३॥</strong> <br><br>

  वृत्तीच्या मेदिनी ठायीं । <br>
  फळझाडें तीं लावीन पाही । <br>
  सन्नीतीची माझे आई । <br>
  तुझ्या कृपेंकरुन <strong>॥४४॥</strong> <br><br>

  सत्कर्माचीं फुलझाडें । <br>
  लावीन मी जिकडे तिकडे । <br>
  हे क्षणैक बैलवाडे । <br>
  यांचा संबंध आतां नको <strong>॥४५॥</strong> <br><br>

  पहा श्रोते संतसंगति । <br>
  क्षणैक घडतां भास्कराप्रती । <br>
  केवढी झाली उपरति । <br>
  याचा विचार करा हो <strong>॥४६॥</strong> <br><br>

  खर्‍या संताचें दर्शन । <br>
  आगळें सर्व साधनांहून । <br>
  तुकारामें केलें वर्णन । <br>
  "संतचरणरजा" चे अभंगीं <strong>॥४७॥</strong> <br><br>

  तो अभंग पहावा । <br>
  चित्तीं विचार करावा । <br>
  आणि त्याचा अनुभव घ्यावा । <br>
  निजहिताकारणें <strong>॥४८॥</strong> <br><br>

  पाणी लागलें विहिरीस । <br>
  ही वार्ता आसपास । <br>
  पसरतां जन दर्शनास । <br>
  धांवूं लागले स्वामीच्या <strong>॥४९॥</strong> <br><br>

  मधूचा लागतां सुगावा । <br>
  जैशा मक्षिका घेती धांवा । <br>
  वा साखरेचा पाहून रवा । <br>
  मुंग्या येती धांवून <strong>॥१५०॥</strong> <br><br>

  तैसे श्रोते तेथ आले । <br>
  लोक अपार मिळाले । <br>
  विहिरीचें पाणी पाहिलें । <br>
  पिऊन त्यांनीं तेधवां <strong>॥५१॥</strong> <br><br>

  उदक निर्मळ शीत मधुर । <br>
  गोड अमृताहून फार । <br>
  करुं लागले जयजयकार । <br>
  गजाननाचा लोक सारे <strong>॥५२॥</strong> <br><br>

  असो पुढें भास्करासहित । <br>
  अडगांवासी न जातां परत । <br>
  महाराज आले शेगांवांत । <br>
  श्रीगजानन सिद्धयोगी <strong>॥५३॥</strong> <br><br>

  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  होवो जगासी आदर्शभूत । <br>
  संतमहिमा जाणावया <strong>॥१५४॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति पंचमोऽध्यायः समाप्तः ॥</strong>
</div>