<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या ७१ ते ८०</strong>
  <br>
  <br>जयाचेनि नामें महादोष जाती।
  <br>जयाचेनि नामें गती पाविजेती॥
  <br>जयाचेनि नामें घडे पुण्यठेवा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७१॥
  <br>
  <br>न वेचे कदा ग्रंथचि अर्थ काही।
  <br>मुखे नाम उच्चारितां कष्ट नाहीं॥
  <br>महाघोर संसारशत्रु जिणावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७२॥
  <br>
  <br>देहेदंडणेचे महादु:ख आहे।
  <br>महादु:ख तें नाम घेता न राहे॥
  <br>सदाशीव चिंतीतसे देवदेवा।
  <br>प्रभाते मनीं राम चिंतीत जावा॥७३॥
  <br>
  <br>बहुतांपरी संकटे साधनांची।
  <br>व्रते दान उद्यापने ती धनाची॥
  <br>दिनाचा दयाळू मनी आठवावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७४॥
  <br>
  <br>समस्तामधे सार साचार आहे।
  <br>कळेना तरी सर्व शोधुन पाहे॥
  <br>जिवा संशयो वाउगा तो त्यजावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७५॥
  <br>
  <br>नव्हे कर्म ना धर्म ना योग कांही।
  <br>नव्हे भोग ना त्याग ना सांग पाहीं॥
  <br>म्हणे दास विश्वास नामी धरावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७६।
  <br>
  <br>करी काम निष्काम या राघवाचे।
  <br>करी रुप स्वरुप सर्वां जिवांचे ॥
  <br>करि छंद निर्द्वद्व हे गुण गातां।
  <br>हरीकीर्तनी वृत्तिविश्वास होतां॥७७॥
  <br>
  <br>अहो ज्या नरा रामविश्वास नाहीं।
  <br>तया पामरा बाधिजे सर्व कांही॥
  <br>महाराज तो स्वामि कैवल्यदाता।
  <br>वृथा वाहणें देहसंसारचिंता॥७८॥
  <br>
  <br>मना पावना भावना राघवाची।
  <br>धरी अंतरीं सोडिं चिंता भवाची॥
  <br>भवाची जिवा मानवा भूलि ठेली।
  <br>नसे वस्तुचि धारणा व्यर्थ गेली॥७९॥
  <br>
  <br>धरा श्रीवरा त्या हरा अंतराते।
  <br>तरा दुस्तरा त्या परा सागराते॥
  <br>सरा वीसरा त्या भरा दुर्भराते।
  <br>करा नीकरा त्या खरा मत्सराते॥८०॥
</div>