<div class="adhyaatma-page">
  <h1 alt="renuka devi ashtak 3">रेणुका देवीचे अष्टक ३</h1>

  जय जय विश्वपते, हिमाचलसुते, सत्यव्रते भगवते ।
  वच्छा कल्पकते, कृपार्णव धृते, भक्तांकिते, सन्मते।।
  साधू वत्सलयते ,अधर्मरहिते, सद्धर्म श्रीपालके ।
  साष्टांगें करितो प्राणांम चरणा, जयजय महाकालिके <strong>।।१।।</strong>

  अष्टदंडभुजा, प्रचंड सरळा, विक्राळ दाढा शुळा ।
  रक्त श्रीबुबुळा, प्रताप अगळा, ब्रह्याडं माळा गळां ।।
  जिव्हा ऊरस्थळा, रुळे लळलळा, कल्पांत कलांतके ।
  साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके <strong>।।२।।</strong>

  कोटीच्या शतकोटी बाण सुटती, संग्राम प्राणापणे ।
  तेवी रूप प्रचंड देख भ्रमंती, मार्तंड तारांगणे ।।
  सोडिले तव सुप्रताप पाहता, गर्वास श्रीत्र्यंबके ।
  साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके <strong>।।३।।</strong>

  युध्दीं चाप करी फिरे गरगरा, चक्रारीर उद्धिटा ।
  आरोळी फुटता धरा थरथरा, कांपे उरी तटतटा ।।
  साक्षात काळ पळे बहू झरझरा, धाकें तुझ्या अंबिके ।
  साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके <strong>।।४।।</strong>

  अंगीं संचारता सकोप उठती, ज्वाला मुखीं भडभडा ।
  भूमी आदहतां द्विपाद उठती, शैले-मुळे तडतडा ।।
  चामुंडे उररक्त तूं घटघटा, महिषासुर प्राणके।
  साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके <strong>।।५।।</strong>

  आशापाश नको, जगीं भीक नको, परद्रव्य दारा नको ।
  कायाक्लेश नको, दया त्यज्यू नको, निर्वाण पाहू नको ॥
  कामक्रोध नको, महारीपू नको, निंदा नको या मुखें ।
  साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके <strong>।।६।।</strong>

  सद्भक्ती मज दे,भवानी वर दे, पायी तुझ्या राहूं दे ।
  सद्धर्मी मती दे, प्रपंचि सुख दे , विघ्ने दुरी जाउं दे ॥
  धैर्य श्री बल हे, सुकीर्ति यश दे , बाधो न दे पातके |
  साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके <strong>।।७।।</strong>

  स्वापत्य छळणें कृपा विसरणें, अश्लाध्या कि हे अहा ।।
  तुझा तूंचि पहा विचार करुनी, अन्याय कि न्याय हा॥
  विष्णुदास म्हणे कृपेची करणे, आतां जयन्नायके ।
  साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके <strong>।।८।।</strong>
</div>