<div class="adhyaatma-page">
  <h1>रेणुका देवीचे अष्टक ३</h1>
  
<br>जय जय विश्वपते, हिमाचलसुते, सत्यव्रते भगवते ।
<br>वच्छा कल्पकते, कृपार्णव धृते,भक्तांकिते, सन्मते।। 
<br>साधू वत्सलयते ,अधर्मरहिते, सद्धर्म श्रीपालके । 
<br>साष्टांगें करितो प्राणांम चरणा, जयजय महाकालिके ।।१।।
<br>
<br>अष्टदंडभुजा, प्रचंड सरळा, विक्राळ दाढा शुळा । 
<br>रक्त श्रीबुबुळा, प्रताप अगळा, ब्रह्याडं माळा गळां || 
<br>जिव्हा ऊरस्थळा, रुळे लळलळा,कल्पांत कलांतके। 
<br>साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके ||२।।
<br>
<br>कोटीच्या शतकोटी बाण सुटती, संग्राम प्राणापणे । 
<br>तेवी रूप प्रचंड देख भ्रमंती, मार्तंड तारांगणे ।। 
<br>सोडिले तव सुप्रताप पाहता, गर्वास श्रीत्र्यंबके । 
<br>साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके ।।३।।
<br>
<br>युध्दीं चाप करी फिरे गरगरा, चक्रारीर उद्धिटा ।
<br>आरोळी फुटता धरा थरथरा, कांपे उरी तटतटा ।
<br>साक्षात काळ पळे बहू झरझरा, धाकें तुझ्या अंबिके ।
<br>साष्टांगे करितो प्रणाम चरणा, जयजय महाकालिके ।।४।।
<br>
<br>अंगीं संचारता सकोप उठती, ज्वाला मुखीं भडभडा ।
<br>भूमी आदहतां द्विपाद उठती, शैले-मुळे तडतडा ।। 
<br>चामुंडे उररक्त तूं घटघटा, महिषासुर प्राणके। 
<br>साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके ।।५।।
<br>
<br>आशापाश नको, जगीं भीक नको, परद्रव्य दारा नको ।
<br>कायाक्लेश नको, दया त्यज्यू नको, निर्वाण पाहू नको ||
<br>कामक्रोध नको, महारीपू नको, निंदा नको या मुखें ।
<br>साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके ।।६।।
<br>
<br>सद्भक्ती मज दे,भवानी वर दे, पायी तुझ्या राहूं दे ।
<br>सद्धर्मी मती दे, प्रपंचि सुख दे , विघ्ने दुरी जाउं दे ||
<br>धैर्य श्री बल हे, सुकीर्ति यश दे , बाधो न दे पातके |
<br>साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके ।।७।।
<br>
<br>स्वापत्य छळणें कृपा विसरणें, अश्लाध्या कि हे अहा  ।। 
<br>तुझा तूंचि पहा विचार करुनी, अन्याय कि न्याय हा||
<br>विष्णुदास म्हणे कृपेची करणे, आतां जयन्नायके । 
<br>साष्ठांगे करितों प्रणाम चरणा, जयजय महाकालिके ।।८।।
</div>
