<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या ६१ ते ७०</strong>
  <br>
  <br>उभा कल्पवृक्षातळीं दु:ख वाहे।
  <br>तया अंतरीं सर्वदा तेचि आहे॥
  <br>जनी सज्जनी वाद हा वाढवावा।
  <br>पुढें मागता शोक जीवीं धरावा॥६१॥
  <br>
  <br>निजध्यास तो सर्व तुटोनि गेला।
  <br>बळें अंतरीं शोक संताप ठेला॥
  <br>सुखानंद आनंद भेदें बुडाला।
  <br>मना निश्चयो सर्व खेदे उडाला॥६२॥
  <br>
  <br>घरी कामधेनू पुढें ताक मागें।
  <br>हरीबोध सांडोनि वेवाद लागे॥
  <br>करी सार चिंतामणी काचखंडे।
  <br>तया मागतां देत आहे उदंडे॥६३॥
  <br>
  <br>अती मूढ त्या दृढ बुद्धि असेना।
  <br>अती काम त्या राम चित्ती वसेना॥
  <br>अती लोभ त्या क्षोभ होइल जाणा।
  <br>अती वीषयी सर्वदा दैन्यवाणा॥६४॥
  <br>
  <br>नको दैन्यवाणें जिणे भक्तिऊणे।
  <br>अती मुर्ख त्या सर्वदा दु:ख दूणे॥
  <br>धरीं रे मना आदरें प्रीति रामी।
  <br>नको वासना हेमधामीं विरामीं॥६५॥
  <br>
  <br>नव्हे सार संसार हा घोर आहे।
  <br>मना सज्जना सत्य शोधुनि पाहे॥
  <br>जनीं वीष खातां पुढे सूख कैचे।
  <br>करीं रे मना ध्यान या राघवाचें॥६६॥
  <br>
  <br>घनश्याम हा राम लावण्यरुपी।
  <br>महाधीर गंभीर पूर्णप्रतापी॥
  <br>करी संकटीं सेवकांचा कुडावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥६७॥
  <br>
  <br>बळें आगळा राम कोदंडधारी।
  <br>महाकाळ विक्राळ तोही थरारी॥
  <br>पुढे मानवा किंकरा कोण केवा।
  <br>प्रभाते मनी राम चिंतीत जावा॥६८॥
  <br>
  <br>सुखानंदकारी निवारी भयातें।
  <br>जनीं भक्तिभावे भजावे तयातें॥
  <br>विवेके त्यजावा अनाचार हेवा।
  <br>प्रभाते मनी राम चिंतीत जावा॥६९॥
  <br>
  <br>सदा रामनामे वदा पुर्णकामें।
  <br>कदा बाधिजेना ऽऽ पदा नित्य नेमें॥
  <br>मदालस्य हा सर्व सोडोनि द्यावा।
  <br>प्रभाते मनी राम चिंतीत जावा॥७०॥
</div>