<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय २१</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  जय जयाजी अनंतवेषा । <br>
  जय जयाजी अविनाशा । <br>
  जय जयाजी परेशा । <br>
  ब्रह्मांडाधीशा नमो तुशीं ॥१॥ <br><br>
  देवा तूं आपणांस । <br>
  पतितपावन नाम खास । <br>
  सर्वदा आहे धरिलेंस । <br>
  याचा विचार करीं गा ॥२॥ <br><br>
  पाप्यावरी प्रेम अमित । <br>
  तुझें देवा असतें सत्य । <br>
  पापीजनांनीं तुजप्रत । <br>
  महत्त्व आणिलें कृपाळा ॥३॥ <br><br>
  म्हणून माझ्या पातकासी । <br>
  पाहूं नका हो हृषीकेशी । <br>
  धुणें येतें जलापासीं । <br>
  स्वच्छ होतें म्हणून ॥४॥ <br><br>
  म्हणून पतितांचा कंटाळा । <br>
  करुं नको रे घननीळा । <br>
  काय भूमीनें सांवरिला । <br>
  दिलें आहे टाकून ॥५॥ <br><br>
  तूंच पतितपावन । <br>
  तूंच पुण्यपावन । <br>
  या दोन्ही दोषांपासून । <br>
  तुम्ही अलग सर्वदा ॥६॥ <br><br>
  सूर्य नाशी तमाप्रत । <br>
  म्हणून कां तो कष्टी होत । <br>
  कांहीं न करावें लागत । <br>
  तम नासण्या रवीशीं ॥७॥ <br><br>
  तम जों जों भेटण्या येई । <br>
  तों तों तेथें प्रकाश होई । <br>
  अंधारत्व अवघें जाई । <br>
  त्याचें तमाचें नारायणा ॥८॥ <br><br>
  पापपुण्याची वासना । <br>
  तूंच उपजविशी नारायणा । <br>
  आपला रक्षण्या मोठेपणा । <br>
  पापी तूंच निर्मिशी ॥९॥ <br><br>
  कांहीं असो आतां तरी । <br>
  चिंता रहित मजला करी । <br>
  दासगणू हा घ्यावा पदरीं । <br>
  हेंच आहे मागणें ॥१०॥ <br><br>
  तुझ्यावांचून मजप्रत । <br>
  नाहीं वशिला जगतांत । <br>
  अवघेंच तुझ्या हातांत । <br>
  आहे कीं रे पांडुरंगा ॥११॥ <br><br>
  श्रोते आतां सावधान । <br>
  हा कळसाध्याय परिसा पूर्ण । <br>
  तुमचें भाग्य धन्य धन्य । <br>
  संतकथा ऐकतसां ॥१२॥ <br><br>
  एकविधा निष्ठा ज्याची । <br>
  जडली गजाननपदीं साची । <br>
  त्याच्या दुःखसंकटांची । <br>
  होळीच होते निःसंशय ॥१३॥ <br><br>
  बांधीत असतां मंदिर । <br>
  काम करीत शिखरावर । <br>
  एक होता मजूर । <br>
  हाताखालीं गवंडयांच्या ॥१४॥ <br><br>
  तो धोंडा देतां मिस्तरीला । <br>
  एकाएकीं झोक गेला । <br>
  तीस फुटांवरुन पडला । <br>
  खालीं घडीव दगडावर ॥१५॥ <br><br>
  तो पडतां लोकांनीं पाहिला । <br>
  जन म्हणती मेला मेला । <br>
  उंचावरुन खालीं पडला । <br>
  आतां कशाचा वांचे तो ? ॥१६॥ <br><br>
  परी घडलें अघटित । <br>
  कोठें न लागलें त्याप्रत । <br>
  जैसा चेंडू झेलितात । <br>
  तैसें त्यांचें जाहलें ॥१७॥ <br><br>
  सोपानसाह्यें ज्यापरी । <br>
  जन उतरती भूमीवरी । <br>
  तेथें झालें त्याचपरी । <br>
  त्या मजुराकारणें ॥१८॥ <br><br>
  मजूर म्हणे लोकांला । <br>
  माझा जेव्हां झोक गेला । <br>
  तेव्हां एकानें धरलें मला । <br>
  पडतां पडतां करास ॥१९॥ <br><br>
  पाय भूमीसी लागतां क्षणीं । <br>
  तो न दिसला मजलागुनी । <br>
  हें वृत्त ऐकुनी । <br>
  लोक अवघे आनंदले ॥२०॥ <br><br>
  अभिश्राप कोणाचा । <br>
  समर्थ ना घेती साचा । <br>
  हा योग पडण्याचा । <br>
  दैवानेंच आला तुज ॥२१॥ <br><br>
  या तुझ्या पडण्यानें । <br>
  स्पर्श केला समर्थानें । <br>
  तुझ्या कराकारणें । <br>
  ऐसें भाग्य कोणाचें ? ॥२२॥ <br><br>
  असो एक बाई रजपुताची । <br>
  जयपुराहून आली साची । <br>
  बाधा होती भूताची । <br>
  तया अबलेकारणें ॥२३॥ <br><br>
  तिसी जयपूर ग्रामाला । <br>
  दत्तात्रयाचा दृष्टान्त झाला । <br>
  तूं या रामनवमीला । <br>
  जाई शेगांवाकारणें ॥२४॥ <br><br>
  तेथें संत जागती ज्योत । <br>
  श्रीगजानन सद्‌गुरुनाथ । <br>
  ते या तुझ्या पिशाच्याप्रत । <br>
  मुक्ति देतील निःसंशयें ॥२५॥ <br><br>
  या दृष्टान्तेंकरुन । <br>
  आपुल्या दोन मुलांसी घेऊन । <br>
  रामनवमीसाठीं जाण । <br>
  बाई आली शेगांवा ॥२६॥ <br><br>
  प्रतिपदेपासून भला । <br>
  उत्सवासी आरंभ झाला । <br>
  अफाट समुदाय मिळाला । <br>
  नवमीस श्रोते शेगांवीं ॥२७॥ <br><br>
  काम सभामंडपाचें । <br>
  चाललें होतें तेथ साचें । <br>
  खांब मोठमोठे दगडाचे । <br>
  उभे केले असती ॥२८॥ <br><br>
  दीड फूट जाडीचा । <br>
  पांच फूट लांबीचा । <br>
  प्रत्येक खांब दगडाचा । <br>
  ऐसे होते किती तरी ॥२९॥ <br><br>
  उत्सवाच्या निमित्त भलें । <br>
  काम भक्तांनीं बंद केलें । <br>
  खांब होते बसविलेले । <br>
  नुसते मात्र ते ठाईं ॥३०॥ <br><br>
  श्रीरामाचा जन्म झाला । <br>
  प्रसादासाठीं लोटला । <br>
  जनांचा तो समुदाय भला । <br>
  तो न मसी वर्णवे ॥३१॥ <br><br>
  त्या गर्दीत ही बाई । <br>
  उभी खांबास एक्या पायीं । <br>
  होती तिला सोसली नाहीं । <br>
  गर्दी ती यत्किंचित ॥३२॥ <br><br>
  म्हणून खांबाच्या आश्रया । <br>
  गेली निर्भय व्हावया । <br>
  गर्दी ती चुकवावया । <br>
  परी झालें विपरीत ॥३३॥ <br><br>
  तोच खांब कोसळला । <br>
  तिच्या शरीरा पडला । <br>
  तो पहातां लोकांला । <br>
  ऐसें वाटूं लागलें ॥३४॥ <br><br>
  तिचा बहुतेक गेला प्राण । <br>
  ही बाई कोठील कोण ? । <br>
  लहान मुलें दिसतीं दोन । <br>
  खांबाखालीं येधवां ॥३५॥ <br><br>
  दहावीस जणांनीं । <br>
  खांब काढिला अंगावरुनी । <br>
  पाणी मुखांत घालोनी । <br>
  लोबोकडे पाठविलें ॥३६॥ <br><br>
  ही लोबो डाँक्टरीण । <br>
  शस्त्रविद्येंत अतिप्रवीण । <br>
  ही जातीनें ख्रिश्चन । <br>
  भक्त येशू ख्रिस्ताची ॥३७॥ <br><br>
  तिनें ह्या रजपूतिणीला । <br>
  रीतीप्रमाणें उपचार केला । <br>
  लोबो म्हणे ना लागला । <br>
  मार इला कोठेंच ॥३८॥ <br><br>
  हें आश्चर्य खरोखर । <br>
  खांब दगडाचा होता थोर । <br>
  त्याच्या खालीं शरीर । <br>
  सुरक्षित रहावें कसें ॥३९॥ <br><br>
  आश्चर्य वाटलें लोकांला । <br>
  प्राण बाईचा वांचला । <br>
  हा जो कांहीं प्रकार झाला । <br>
  तो घडला इतुक्यास्तव ॥४०॥ <br><br>
  खांब पाडून अंगावरी । <br>
  भूत जें होतें शरीरीं । <br>
  त्या भूतास मुक्ति खरी । <br>
  दिधली त्या गजाननें ॥४१॥ <br><br>
  बाई होऊन पूर्ववत । <br>
  गेली जयपूर शहराप्रत । <br>
  नांदूं लागली आनंदांत । <br>
  ऐसा प्रभाव स्वामीचा ॥४२॥ <br><br>
  ऐसेंच एका उत्सवाची । <br>
  नाईक नवर्‍याच्या मस्तकांसी । <br>
  सोडीत असतां मंडपासी । <br>
  लाकडी गोल पडला हो ॥४३॥ <br><br>
  तोही गोल थोर होता । <br>
  परी स्वामीची ध सत्ता । <br>
  कोठेंही ना आघात होतां । <br>
  नाईक नवरा वांचला ॥४४॥ <br><br>
  पुत्र कृष्णाजी पाटलाचा । <br>
  रामचंद्र नांवाचा । <br>
  परमभक्त समर्थांचा । <br>
  एक असे शेगांवीं ॥४५॥ <br><br>
  एके दिवशीं त्याच्या घरीं । <br>
  येते झाले साक्षात्कारी । <br>
  ऐन दुपारच्या अवसरीं । <br>
  गोसाव्याच्या रुपानें ॥४६॥ <br><br>
  भूक लागलि मला देखा । <br>
  अन्न कांहीं देतां कां ? । <br>
  ऐसें म्हणून मारिली हांका । <br>
  रामचंद्र पाटलातें ॥४७॥ <br><br>
  पाटील मूळचा भाविक । <br>
  त्याची वाटलें कौतुक । <br>
  गोसाव्याची ऐकून हांक । <br>
  दारामाजीं पातला ॥४८॥ <br><br>
  निरखून पाहातां गोसाव्यासी । <br>
  तों ते असावे पुण्यराशी । <br>
  स्वामी गजानन निश्चयेंसी । <br>
  ऐसें त्याला वाटलें ॥४९॥ <br><br>
  गोसाव्याचा धरुन हात । <br>
  आला घेऊन घरांत । <br>
  दिला बसण्या पाट । <br>
  पूजा केली पायांची ॥५०॥ <br><br>
  गोसावी म्हणे पाटलाला । <br>
  आज मी मुद्दाम आलों मुला । <br>
  कांहीं तुज सांगण्याला । <br>
  तें तूं ऐके मनापून ॥५१॥ <br><br>
  कर्जाची न चिंता करी । <br>
  तें फिटून जाईल निर्धारीं । <br>
  अरे उन्हाळ्यांत गोदावरी । <br>
  थोडी कोरडी पडतसे ॥५२॥ <br><br>
  तैसाच हाही प्रकार । <br>
  संपन्नतेचा येईल पूर । <br>
  कृपाघन वर्षल्यावर । <br>
  श्रीहरीचा समज हें ॥५३॥ <br><br>
  उष्टें माझे जें ठायीं । <br>
  पडेल बापा तें ठाईं । <br>
  कशाचेंही कधीं पाही । <br>
  कमी नाहीं पडणार ॥५४॥ <br><br>
  आण ताट वाढून । <br>
  सुग्रास देईं भोजन । <br>
  मर्जी असल्या पांघरुण । <br>
  घाल एखादें अंगावरी ॥५५॥ <br><br>
  पूजा अन्न दक्षिणा । <br>
  याचकांसी दिल्या जाणा । <br>
  तें पावतें नारायणा । <br>
  येविषयीं शंका नसे ॥५६॥ <br><br>
  परी तो याचक । <br>
  आधीं पाहिजे शुद्ध देख । <br>
  त्यावांचून हें कौतुक । <br>
  होणार नाहीं कधींही ॥५७॥ <br><br>
  आणलें ताट वाढूनी । <br>
  गोसावी जेवला प्रेमानीं । <br>
  पांच रुपये पाटलांनीं । <br>
  दक्षिणा ठेविली त्याच्या करां ॥५८॥ <br><br>
  तैं गोसावी म्हणाला । <br>
  ही दक्षिणा नको मला । <br>
  तूं पाहिजे कारभार केला । <br>
  गजाननाच्या मठांत ॥५९॥ <br><br>
  तीच दक्षिणा मागण्यासी । <br>
  मी आलों तुझ्यापासीं । <br>
  ती आनंदें देईं मसी । <br>
  म्हणजे कल्याण होईल ॥६०॥ <br><br>
  समर्थसेवेची दक्षिणा । <br>
  देऊन तुष्टवी माझ्या मना । <br>
  योग्य मनुष्य तुझ्याविणा । <br>
  कोणी न येथें सांप्रत ॥६१॥ <br><br>
  तुझी कांता आजारी । <br>
  वरचेवरी पडते जरी । <br>
  तीही होईल बापा परी । <br>
  ही दक्षणा दिल्यानें ॥६२॥ <br><br>
  बोलाव तुझ्या पुत्राप्रत । <br>
  त्याच्या कंठीं एक ताईत । <br>
  बांधितों म्हणजे चेटूकभूत । <br>
  याचीन बाधा होय त्यासी ॥६३॥ <br><br>
  का कीं ही जमेदारी । <br>
  कठीण आहे भूमीवरी । <br>
  पाण्याशींच पाणी वैरी। <br>
  ये ठाईं होत असे ॥६४॥ <br><br>
  पाटीलकीचें तुझें वतन । <br>
  हें वाघाचें पांघरुण । <br>
  त्याचा उपयोग करणें जाण । <br>
  अति जपून रामचंद्रा ॥६५॥ <br><br>
  द्वेषी मन असूं नये । <br>
  सन्नीतीला सोडूं नये । <br>
  राजाविरुद्ध जाऊं नये । <br>
  उगीच भलत्या कामांत ॥६६॥ <br><br>
  साधु कोण संत कोण ? । <br>
  हें पाहावें शोधून । <br>
  दांभिकांच्या नादीं जाण । <br>
  कदापीही लागूं नये ॥६७॥ <br><br>
  हीं व्रतें पाळल्यास । <br>
  तुझा ऋणी श्रीनिवास । <br>
  होईल या वचनास । <br>
  असत्या माझ्या मानूं नको ॥६८॥ <br><br>
  आय पाहून खर्च करी । <br>
  दंभाचार कधीं न वरी । <br>
  साधुसंत येतां घरीं । <br>
  विन्मुख त्याला लावूं नये ॥६९॥ <br><br>
  अपमान खर्‍या संतांचा । <br>
  झाल्या कोप ईश्वराचा । <br>
  होतसे बापा साचा । <br>
  संतचरणीं प्रेमा धरीं ॥७०॥ <br><br>
  आपल्या वंशजाचें उणें । <br>
  पाहूं नये कदा मनें। <br>
  सोयर्‍याधायर्‍यांकारणें । <br>
  समयानुसार मान द्यावा ॥७१॥ <br><br>
  कोप असावा बाह्यात्कारी । <br>
  दया असावी अंतरीं । <br>
  जैसें का तें फणसावरी । <br>
  कांटे आंत गोड गरे ॥७२॥ <br><br>
  मी तुझ्या पाठीस । <br>
  आहे जाण रात्रंदिवस । <br>
  ताईत बांधून कंठास । <br>
  गोसावी जाऊं लागला ॥७३॥ <br><br>
  दाराबाहेर जातां भला । <br>
  अंतर्धान पावला । <br>
  पाहातां पाहातां झाला । <br>
  दिसेनासा रस्त्यांत ॥७४॥ <br><br>
  पाटील अवघ्या दिवसभर । <br>
  मानसीं करी विचार । <br>
  हा गोसावी कोणी इतर । <br>
  नसावा ऐसें वाटतें ॥७५॥ <br><br>
  श्रीगजाननस्वामी मला । <br>
  आले उपदेश करायाला । <br>
  घेऊन गोसावीवेषाला । <br>
  हें आतां समजलें ॥७६॥ <br><br>
  रात्रीं स्वप्नीं येऊन । <br>
  संशय केला निरसन । <br>
  ऐसें स्वामीगजानन । <br>
  भक्तवत्सल खरोखरी ॥७७॥ <br><br>
  श्रीगजानन चरित्र । <br>
  तारक असोनी परमपवित्र । <br>
  अनुभव येण्या मात्र । <br>
  सबळ निष्ठा पाहिजे ॥७८॥ <br><br>
  या ग्रंथाची अवतरणिका । <br>
  देतों आतां ही तुम्ही ऐका । <br>
  वेळ उगा दवडूं नका । <br>
  पूर्ण व्हावें सावधान ॥७९॥ <br><br>
  प्रथमाध्यायीं मंगलाचरण । <br>
  देवगुरुचें वंदन । <br>
  केलें पुढें निवेदन । <br>
  गजाननाच्या पूर्वचरिता ॥८०॥ <br><br>
  माघमासीं सप्तमीसी । <br>
  समर्थ आले शेगांवासी । <br>
  देवीदासाच्या सदनापासीं । <br>
  दिसते झाले प्रथमतः ॥८१॥ <br><br>
  बंकटलाल दामोदर । <br>
  दोन होते चतुर नर । <br>
  त्यांनीं परीक्षा अखेर । <br>
  केली गजाननाची ॥८२॥ <br><br>
  कथा द्वितीयाध्यायांत । <br>
  येणेंपरी आहे सत्य । <br>
  गोविंदबुवाच्या कीर्तनांत । <br>
  महाराज येऊन बैसले ॥८३॥ <br><br>
  पितांबर शिंप्याला । <br>
  रस्त्यांत चमत्कार दाविला । <br>
  बंकटलालाच्या घराला । <br>
  महाराज गेले शेवटीं ॥८४॥ <br><br>
  कथा तृतीयाध्यायाला । <br>
  गोसाव्यानें नवस केला । <br>
  गांजाचा श्रीसमर्थाला । <br>
  पाजण्याचा विबुध हो ॥८५॥ <br><br>
  त्याची इच्छा पुरविली । <br>
  प्रथा गांजाची पडली । <br>
  तेथपासोनी भली । <br>
  शेगांवचे मठांत ॥८६॥ <br><br>
  जानराव देशमुखाचें । <br>
  गंडांतर टाळिलें साचें । <br>
  देऊन तीर्थ पायांचें । <br>
  आपुलें तें स्वामींनीं ॥८७॥ <br><br>
  मृत्यूचे ते प्रकार । <br>
  तेथें कथिले सविस्तर । <br>
  तुकारामासी दिला मार । <br>
  ढोंग करितो म्हणोनी ॥८८॥ <br><br>
  कथा चतुर्थाध्यायाठायीं । <br>
  येणें रीतीं असे पाही । <br>
  जानकीरामें दिला नाहीं । <br>
  विस्तव चिलमीकारणें ॥८९॥ <br><br>
  किडे पडले चिंचवण्यांत । <br>
  अन्न गेलें वायां सत्य । <br>
  सोनारानें जोडून हात । <br>
  केली विनंती समर्थांला ॥९०॥ <br><br>
  त्याचा अपराध क्षमा केला । <br>
  पूर्ववत्‌ केले चिंचवण्याला । <br>
  जानकीराम भक्त झाला । <br>
  ते दिवसापासून ॥९१॥ <br><br>
  होते दोन कान्होले । <br>
  उतरंडीसी ठेविलेले । <br>
  तेच समर्थें मागितले । <br>
  खाया चंदू मुकिंदासी ॥९२॥ <br><br>
  चिंचोलीच्या माधवाला । <br>
  यमलोक दावून मुक्त केला । <br>
  शिष्याहातें करविला । <br>
  थाट वसंतपूजेचा ॥९३॥ <br><br>
  कथा पंचमाध्यायांत । <br>
  महाराज पिंपळगांवांत । <br>
  बसले शंकराच्या मंदिरांत । <br>
  पद्मासन घालोनियां ॥९४॥ <br><br>
  गुराख्यांनीं पूजा केली । <br>
  गांवची मंडळी तेथें आली । <br>
  महाराजांसी घेऊन गेली । <br>
  पिंपळगांवाकारणें ॥९५॥ <br><br>
  हें कळलें बंकटलाला । <br>
  तो पिंपळगांवास गेला । <br>
  महाराजासी आणण्याला । <br>
  परत शेगांवाकारणें ॥९६॥ <br><br>
  समर्थासी आणले परत । <br>
  कांहीं दिवस राहून तेथ । <br>
  पुन्हां गेले अकोलींत । <br>
  भास्करासी तारावया ॥९७॥ <br><br>
  कोरडया ठणठणीत विहिरीला । <br>
  जिवंत झरा फोडीला । <br>
  एका क्षणांत आणिलें जला । <br>
  त्या कोरडया विहिरी ठायीं ॥९८॥ <br><br>
  भास्कराची उडवलि भ्रांती। <br>
  घेऊन आले तयाप्रती । <br>
  शेगांवास गुरुमूर्ति । <br>
  ही कथा पंचमांत ॥९९॥ <br><br>
  ष्ठाध्यायीं ऐसी कथा । <br>
  बंकटलालें सद्‌गुरुनाथा । <br>
  मक्याचीं कणसें खाण्याकरितां । <br>
  नेलें आपुल्या मळ्यांत ॥१००॥ <br><br>
  गांधीलमाशा उठल्या तेथ । <br>
  लोक होऊन भयभीत । <br>
  पळूं लागले असती सत्य । <br>
  जीव आपुला घेऊनी ॥१॥ <br><br>
  बाधा गांधीलमाश्यांची । <br>
  महाराजा न झाली साची । <br>
  घेतली असे शिष्यत्वाची । <br>
  परीक्षा बंकटलालाची ॥२॥ <br><br>
  नरसिंगजीस भेटण्याला । <br>
  स्वामी गेले अकोटाला । <br>
  जो नरसिंगजी होता भला । <br>
  शिष्य कोतशा अल्लीचा ॥३॥ <br><br>
  कांहीं दिवस राहिले । <br>
  अकोटामाजीं भले । <br>
  नरसिंगजीसी हितगुज केलें । <br>
  बंधु आपुला म्हणून ॥४॥ <br><br>
  चंद्रभागेच्या तीरीं । <br>
  शिवरग्रामाभीतरीं । <br>
  कृपा व्रजभूषणावरी । <br>
  केली असें जाऊन ॥५॥ <br><br>
  रुतीच्या मंदिरांत । <br>
  श्रावणमासाच्या उत्सवांत । <br>
  समर्थ आले राहण्याप्रत । <br>
  येथें षष्ठमाची पूर्तता ॥६॥ <br><br>
  गांवींची पाटीलमंडळी । <br>
  अवघी आडदांड होती भली । <br>
  हमेश होई बोलाचाली । <br>
  त्यांची समर्थाबरोबर ॥७॥ <br><br>
  हरि पाटलासवें भले । <br>
  महाराज कुस्ती खेळले । <br>
  मल्लविद्येचें दाविलें । <br>
  प्रत्यंतर बहुताला ॥८॥ <br><br>
  उंसाचा चमत्कार । <br>
  दाऊनियां साचार । <br>
  अभिमानाचा परिहार । <br>
  केला पाटील मंडळींच्या ॥९॥ <br><br>
  भिक्यानामें दिला सुत । <br>
  खंडू कडताजी पाटलाप्रत । <br>
  आम्रभोजनाचें व्रत । <br>
  चालविण्यास कथिलें पाटलाला ॥११०॥ <br><br>
  ऐशा कथा सप्तमाध्यायीं । <br>
  कथन केल्या आहेत पाही । <br>
  निष्ठा समर्थांच्या ठायीं । <br>
  जडली पाटीलमंडळींची ॥११॥ <br><br>
  कथा आहे अष्टमांत । <br>
  दुफळी पाटील देशमुखांत । <br>
  अर्ज दिधला सरकारांत । <br>
  महारांनीं विरुद्ध पाटलाच्या ॥१२॥ <br><br>
  खंडूवरी बालंट आलें। <br>
  तें समर्थांनीं नासिलें । <br>
  निर्दोष सुटते झाले । <br>
  खंडू पाटील खटल्यांतून ॥१३॥ <br><br>
  तेलंगी ब्राह्मणाला । <br>
  वेद म्हणून दाखविला । <br>
  आपण कोण हा कळविला । <br>
  सहज लीलेनें समाचार ॥१४॥ <br><br>
  कृष्णाजीच्या मळ्याशीं । <br>
  महाराज राहिले छपरासी । <br>
  मंदिराच्या सान्निध्यासी । <br>
  चंद्रमौळी हराच्या ॥१५॥ <br><br>
  ब्रह्मगिरी गोसाव्याला । <br>
  अभिमानविरहित केला । <br>
  "नैनं छिन्दन्ति" श्र्लोकाला । <br>
  रहस्यासह सांगून ॥१६॥ <br><br>
  जळत्या पलंगाच्यावर । <br>
  महाराज बसते झाले स्थिर । <br>
  न जाळे वैश्वानर । <br>
  केव्हांही खर्‍या संताला ॥१७॥ <br><br>
  कथा नवमाध्यायाला। <br>
  द्वाड घोडा शांत केला । <br>
  खूण नवस करणाराला । <br>
  दिली असे गांजाची ॥१८॥ <br><br>
  दासनवमीचे उत्सवासी। <br>
  समर्थ बाळापुरासी । <br>
  घेऊन आपल्या शिष्यांसी । <br>
  बाळकृष्णाच्या घरां गेले ॥१९॥ <br><br>
  बाळकृष्णालागून । <br>
  करविलें समर्थाचें दर्शन । <br>
  संशयरहित केलें मन । <br>
  तया रामदास्याचें ॥१२०॥ <br><br>
  दशमाध्यायीं सुरेख । <br>
  उमरावतीचें कथानक । <br>
  उपरति झाली पुरी देख । <br>
  तेथें बाळाभाऊला ॥२१॥ <br><br>
  गणेश आप्पा चंद्राबाई । <br>
  यांनीं अर्पिला संसार पाईं । <br>
  भावभक्तीनें लवलाही । <br>
  जाननस्वामीच्या ॥२२॥ <br><br>
  गणेश दादा खापडर्याला । <br>
  शुभ आशीर्वाद दिधला । <br>
  छत्रीनें मारुन बाळाला । <br>
  परीक्षा त्याची घेतली ॥२३॥ <br><br>
  द्वाड गाय सुकलालाची । <br>
  अति गरीब केली साची । <br>
  दांभिक भक्ति घुडयाची । <br>
  कशी ती कथन केली ॥२४॥ <br><br>
  एकादशाध्यायीं कथन । <br>
  भास्करासी डसला श्वान । <br>
  आले त्र्यंबकेश्वरीं जाऊन । <br>
  गोपाळदासा भेटले ॥२५॥ <br><br>
  झ्यामसिंगाच्या विनंतीसी । <br>
  देऊन मान अडगांवासी । <br>
  येते झाले पुण्यराशी । <br>
  श्रीगजाननमहाराज ॥२६॥ <br><br>
  निजधामा भास्कर गेला । <br>
  त्याचा देह ठेविला । <br>
  द्वारकेश्वरासन्निध भला । <br>
  सतीबाईचे शेजारीं ॥२७॥ <br><br>
  आज्ञा केली कावळ्यांला । <br>
  तुम्ही न यावें या स्थला । <br>
  वांचविले गणु जवर्‍याला । <br>
  सुरुंग उडतां विहिरींत ॥२८॥ <br><br>
  शेट बचुलालाची । <br>
  कथा द्वादशाध्यायीं साची । <br>
  मूर्ति निरिच्छपणाची । <br>
  प्रत्यक्ष होते महाराज ॥२९॥ <br><br>
  स्वामीचें वस्त्र नेसला । <br>
  पितांबर शिंपी कोंडोलीला । <br>
  स्वइच्छेनें येता झाला । <br>
  परमभक्त होता जो ॥१३०॥ <br><br>
  पितांबरानें कोंडोलीसी । <br>
  बळिरामाच्या शेतासी । <br>
  वठलेलिया आंब्यासी । <br>
  पानें फळें आणविलीं ॥३१॥ <br><br>
  पितांबर राहिला कोंडोलींत । <br>
  तेथेंच झाला समाधिस्थ । <br>
  नव मठ झाला स्थापित । <br>
  शेगांवीं समर्थ इच्छेनें ॥३२॥ <br><br>
  विचार करुनी मानसीं । <br>
  बसून रेतीच्या गाडीसी । <br>
  महाराज नव्या मठासी। <br>
  आले जुन्या मठांतून ॥३३॥ <br><br>
  झ्यामसिंगानें मुंडगांवाला । <br>
  नेलें गजाननस्वामीला । <br>
  पर्जन्यानें घोटाळा । <br>
  भंडार्‍याचा केला असे ॥३४॥ <br><br>
  झ्यामसिंगानें आपुली । <br>
  इस्टेट समर्था अर्पिली । <br>
  पुंडलिकाची निमाली । <br>
  गांठ प्लेगची श्रीकृपें ॥३५॥ <br><br>
  कथाभाग तेराव्याचा । <br>
  महारोग गोसाव्याचा । <br>
  हरण गंगाभारतीचा । <br>
  केला असें गजाननें ॥३६॥ <br><br>
  बंडुतात्यासी भाग्य आलें । <br>
  भूमींत धन सांपडलें । <br>
  कर्जापासून मुक्त केलें । <br>
  समर्थानें निजकृपें ॥३७॥ <br><br>
  नर्मदेच्या स्नानास । <br>
  सोमवती अमावास्यास । <br>
  नौका फुटतां छिद्रास । <br>
  हात लाविला नर्मदेनीं ॥३८॥ <br><br>
  विडा माधवनाथाला । <br>
  शिष्याहातीं पाठविला । <br>
  या कथा चवदाव्याला । <br>
  वर्णिल्या असती साकल्यें ॥३९॥ <br><br>
  अध्याय तो पंधरावा । <br>
  शिवजयंतीचा आहे बरवा । <br>
  आले अकोले नामक गांवा । <br>
  टिळक बाळ गंगाधर ॥१४०॥ <br><br>
  भाकरी प्रसाद पाठविला । <br>
  कोल्हटकराचे हस्तें भला । <br>
  मुंबईंत लोकमान्याला । <br>
  ग्रहण करायाकारणें ॥४१॥ <br><br>
  श्रीधर गोविंद काळ्यास । <br>
  करिते झाले उपदेश । <br>
  नको जाऊं विलायतेस । <br>
  येथेंच आहे सर्व कांहीं ॥४२॥ <br><br>
  कथा ऐशा सोळाव्यासी । <br>
  पुंडलीक अंजनगांवासी। <br>
  जातां निवारिले त्यासी । <br>
  येऊनिया स्वप्नांत ॥४३॥ <br><br>
  पादुकाचा प्रसाद त्याला । <br>
  झ्यामसिंगहस्तें पाठविला । <br>
  कवराच्या भाजीभाकरीला । <br>
  ग्रहण केलें आनंदें ॥४४॥ <br><br>
  छरा तुकारामाचा । <br>
  कानामधून पडला साचा । <br>
  ह्या अशा कथांचा । <br>
  समावेश सोळाव्यांत ॥४५॥ <br><br>
  सतराव्यांत कथा सुरस । <br>
  विष्णूसाच्या घरास । <br>
  जाया मलकापुरास । <br>
  समर्थ निघाले गाडींतून ॥४६॥ <br><br>
  नग्न फिरती म्हणूनी । <br>
  खटला भरला पोलिसांनीं । <br>
  केवळ अहंपणानीं । <br>
  सत्पुरुषासी त्रास द्याया ॥४७॥ <br><br>
  महताबशा सांईला । <br>
  पाठवून दिलें पंजाबाला । <br>
  हिंदुयवनांविषयीं केला । <br>
  कळकळीचा बोध त्यासी ॥४८॥ <br><br>
  बापुरावाच्या कांतेसी । <br>
  भानामती न मानी साची । <br>
  भेट गंगाभागीरथीसी । <br>
  झाली अकोटीं विहिरींत ॥४९॥ <br><br>
  कथा बायजा माळणीची । <br>
  अठराव्यामाजीं साची । <br>
  कवर डाँक्‍टरच्या फोडाची । <br>
  कथा यांत ग्रथित असे ॥१५०॥ <br><br>
  महाराज गेले पंढरीला । <br>
  घेऊन अवघ्यां लोकांला । <br>
  तेथें बापुना काळ्याला । <br>
  दर्शन हरीचें करविलें ॥५१॥ <br><br>
  कवठे बहादुरचा वारकरी । <br>
  मरीनें झाला आजारी । <br>
  त्यास घटकेमाझारीं । <br>
  समर्थानें बरें केलें ॥५२॥ <br><br>
  एक्या कर्मठ ब्राह्मणाला । <br>
  श्वान उठून मेलेला । <br>
  दाऊन त्याचा गलित केला । <br>
  कर्माभिमान श्रोते हो ॥५३॥ <br><br>
  कथा एकोणविसाव्यासी । <br>
  दिला काशीनाथपंतासी । <br>
  आशीर्वाद तो अतिहर्षी । <br>
  तो येता दर्शना ॥५४॥ <br><br>
  गोपाळ मुकिंद बुटी भला । <br>
  नागपुरासी घेऊन गेला । <br>
  श्रीगजाननस्वामीला । <br>
  आपुल्या गेहाकारणें ॥५५॥ <br><br>
  त्याच्या मनीं ऐसा हेत । <br>
  महाराज ठेवावें नागपुरांत । <br>
  परी हरि पाटलांनीं परत । <br>
  आणिले समर्थ शेगांवीं ॥५६॥ <br><br>
  धार-कल्याणचे रंगनाथ । <br>
  साधु आले भेटण्याप्रत । <br>
  समर्थासी शेगांवांत । <br>
  ऐसे आणि कितीतरी ॥५७॥ <br><br>
  श्रीवासुदेवानंद सरस्वती । <br>
  जो कर्ममार्गाची प्रत्यक्ष मूर्ति । <br>
  दृष्टादृष्ट होतां नुसती । <br>
  आनंद झाला उभयतातें ॥५८॥ <br><br>
  तेव्हां बाळाभाऊला । <br>
  जो कां होता संशय आला । <br>
  तो समर्थांनीं निवटिला । <br>
  करुनियां उपदेश॥५९॥ <br><br>
  केलें खळ्याचें संरक्षण । <br>
  गाढवाचे पासून । <br>
  समर्था मारितां आलें मरण । <br>
  नारायणासी बाळापुरीं ॥१६०॥ <br><br>
  गजाननाचे कृपें भलें । <br>
  जाखडयाचें लग्न झालें । <br>
  कपीलधारेसी दिधलें । <br>
  दर्शन निमोणकराला ॥६१॥ <br><br>
  तुकारामें आपुला । <br>
  पुत्र समर्था वाहिला । <br>
  नारायण नामें भला । <br>
  सेवा करावयाकारणें ॥६२॥ <br><br>
  पंढरीतें जाऊन । <br>
  विठ्ठलातें विचारुन । <br>
  महाराज आले परतून । <br>
  शेगांवाकारणें ॥६३॥ <br><br>
  पुढें भाद्रपदमासासी । <br>
  ऋषि-पंचमीच्या पुण्य दिवशीं । <br>
  आधुनिक कालाचा हा ऋषि । <br>
  समाधिस्त जहाला ॥६४॥ <br><br>
  विसाव्यामाजीं इतर । <br>
  श्रींची समाधि झाल्यावर । <br>
  जे का घडले चमत्कार । <br>
  त्यांचें वर्णन केलें असे ॥६५॥ <br><br>
  जे जे भाविक भक्त कोणी । <br>
  त्यांना त्यांना अजुनी । <br>
  दर्शन देती कैवल्यदानी । <br>
  त्यांच्या इच्छा पुरवून ॥६६॥ <br><br>
  आतां हा एकविसावा । <br>
  अवघ्या कथेचा कळस बरवा । <br>
  अवघ्यांचा लेखावा । <br>
  तुम्ही सार श्रोते हो ॥६७॥ <br><br>
  प्रत्यक्षापरी प्रकार । <br>
  येथें होती वरच्यावर । <br>
  म्हणून म्हणणें आहे सार । <br>
  अवघ्यांचें या अध्याया ॥६८॥ <br><br>
  वर्गणीच्या जोरें भलें । <br>
  समाधीचें काम झालें । <br>
  मनापासून भक्त झटले । <br>
  वर्गणी गोळा कराया ॥६९॥ <br><br>
  ऐसें भव्य सुंदर । <br>
  काम कोठें न भूमीवर । <br>
  धर्मशाळा चौफेर । <br>
  चहूं बाजूंनीं बांधिल्या ॥१७०॥ <br><br>
  या भव्य कामाला । <br>
  बहुतांनीं हात लाविला । <br>
  त्यांचीं नांवें तुम्हांला । <br>
  सांगतां ग्रंथ वाढेल ॥७१॥ <br><br>
  मुख्य जे होते त्यांतून । <br>
  त्यांचीं नांवें करितों कथन । <br>
  कुकाजीचा नंदन । <br>
  हरी पाटील नाम ज्याचें ॥७२॥ <br><br>
  सांगवी गांवचा बनाजी । <br>
  उमरीचा तो गणाजी । <br>
  बटवाडीचा मेसाजी । <br>
  लाडेगावचा गंगाराम ॥७३॥ <br><br>
  भागू, नंदू, गुजाबाई । <br>
  अकोल्याची बनाबाई । <br>
  सुकदेव पाटलाची ती आई । <br>
  यांनीं हजारों रुपये दिले ॥७४॥ <br><br>
  पाटील रामचंद्र कृष्णाजी । <br>
  दुसरा दत्तु भिकाजी । <br>
  पळसखेडचा सुखदेवजी । <br>
  मार्तन्ड गणपती शेगांवचा ॥७५॥ <br><br>
  बालचंद्राचा रतनलाल । <br>
  पंचगव्हाणचा दत्तुलाल । <br>
  त्याच गांवींचा बिसनलाल । <br>
  अंबरसिंग टाळकीचा ॥७६॥ <br><br>
  किसन बेलमंडळेकर । <br>
  विठोबा पाटील चावरेकर । <br>
  हसनापुरचा राहणार । <br>
  गंगाराम नाम ज्याचें ॥७७॥ <br><br>
  या दानशूरांनीं । <br>
  मोठमोठया रकमा देऊनी । <br>
  केली मठाची उभारणी । <br>
  भक्तिस्तव समर्थांच्या ॥७८॥ <br><br>
  कोठया कचेरी स्वैंपाकघरें । <br>
  सोपे उत्तम प्रकारें । <br>
  बांधिले असती साजिरे । <br>
  समाधीच्या चौफेर ॥७९॥ <br><br>
  लोकांनीं ज्या देणग्या दिल्या । <br>
  त्या बांधकामीं जिरुन गेल्या । <br>
  परी पुष्कळ गोष्टी राहिल्या । <br>
  बांधण्याच्या अवशेष ॥१८०॥ <br><br>
  त्यासाठीं युक्ति केली । <br>
  वर्गणी जमवण्यासाठीं भली । <br>
  योजना ती ऐशी झाली । <br>
  ती ऐका विबुध हो ॥८१॥ <br><br>
  बसविला शेतसार्‍यावर । <br>
  समर्थांचा धार्मिक कर । <br>
  कोणासी न करितां जोर । <br>
  रुपयामागें एक आणा ॥८२॥ <br><br>
  तैशीच बाजारपेठेशीं । <br>
  धान्य अथवा कपाशी । <br>
  जी येईल विकायासी । <br>
  पट्टी बसविली त्यावर ॥८३॥ <br><br>
  गाडीमागें अर्धा आणा । <br>
  हर्ष वाटे देतांना । <br>
  कां कीं समर्थांच्या चरणां । <br>
  निष्ठा होती सर्वांची ॥८४॥ <br><br>
  समाधीपुढें स्वाहाकार । <br>
  होऊन गेले अपार । <br>
  परी त्यांतून मोठे चार । <br>
  सर्वश्रुत जाहले ॥८५॥ <br><br>
  शतचंडीचें अनुष्ठान । <br>
  ब्राह्मणांच्या करवीं जाण । <br>
  केलें आदरेंकरुन । <br>
  किसनलाल शेठजीनें ॥८६॥ <br><br>
  अनुष्ठान शतचंडीचें । <br>
  करणें अति अवघड साचें । <br>
  अधिकशून्य ना खपायाचें । <br>
  जगदंबे कालिकेस ॥८७॥ <br><br>
  कांहीं चुकतां विधानांत । <br>
  तात्काळ होतें विपरीत । <br>
  काम्य अनुष्ठानाप्रत । <br>
  भीति चहूं बाजूंनीं ॥८८॥ <br><br>
  वडील किसनलालाचा । <br>
  बंकटलाल नांवाचा । <br>
  भक्त होता समर्थांचा । <br>
  एकनिष्ठ पहिल्यापून ॥८९॥ <br><br>
  पूर्ण आहुतीच्या दिवशीं । <br>
  त्या बंकटलाल भक्तासी । <br>
  व्याधि उद्भवली शरीरासी । <br>
  प्राणांताचा समय आला ॥१९०॥ <br><br>
  लोक गेले घाबरुन । <br>
  म्हणती हें काय आलें विघ्न । <br>
  शतचंडीचें अनुष्ठान । <br>
  करतां विपरीत व्हावें कां ? ॥९१॥ <br><br>
  बंकटलाल म्हणे पुत्रासी । <br>
  भिऊं नकोस मानसीं । <br>
  माझा तारिता पुण्यरासी । <br>
  समाधीसी बसलासे ॥९२॥ <br><br>
  तो अवघें करील बरें । <br>
  नका होऊं बावरें । <br>
  पूर्ण आहुतीचें काम सारें । <br>
  घ्यावें सशास्त्र उरकून ॥९३॥ <br><br>
  माझा स्वामी गजानन । <br>
  येऊं न देई कदा विघ्न । <br>
  भक्ताचें करण्या संरक्षण । <br>
  मुळींच बसला येथें तो ॥९४॥ <br><br>
  तेंच पुढें सत्य झालें । <br>
  व्याधीचें स्वरुप मावळलें । <br>
  एका बाईचें निमालें । <br>
  भूत शतचंडींत या ॥९५॥ <br><br>
  बनाजी तिडके सांगवीकर । <br>
  यांनीं केला स्वाहाकार । <br>
  कसुर्‍याची रहाणार । <br>
  गुजाबाई नाम जिचें ॥९६॥ <br><br>
  चापडगांवींचा वामन । <br>
  शामरावाचा नंदन । <br>
  यांनींही एक यज्ञ । <br>
  केला समाधीच्या पुढें ॥९७॥ <br><br>
  ऐसीं धर्मकृत्यें किती तरी । <br>
  झालीं समर्थासमोरी । <br>
  खरे खरेच साक्षात्‌कारी । <br>
  श्रीगजाननमहाराज ॥९८॥ <br><br>
  यावत्‌ कालपर्यंत । <br>
  लोक होते निष्ठावंत । <br>
  तावत्‌ कालपर्यंत । <br>
  वर्‍हाड होता सुखी बहु ॥९९॥ <br><br>
  जसजसी निष्ठा कमी झाली । <br>
  तों तों विपन्न दशा आली । <br>
  अवदसेनें घातली । <br>
  माळ कंठीं वर्‍हाडाच्या ॥२००॥ <br><br>
  विपुल पिकणें टाकिलें । <br>
  काश्यपीनें पहा भले । <br>
  नवे वाहूं लागले । <br>
  वारे सर्व वर्‍हाडांत ॥१॥ <br><br>
  वर्‍हाडाची ऐसी दैना । <br>
  समर्थांसी पाहवेना । <br>
  म्हणून घेतलें आपणां । <br>
  कोंडोनीं त्यांनीं जलांत ॥२॥ <br><br>
  तीस फुटांपासून । <br>
  पाया आणिला भरुन । <br>
  तेथेंच कां हें जीवन । <br>
  निर्माण व्हावें श्रोते हो ॥३॥ <br><br>
  म्हणून ऐसें वाटतें । <br>
  राग आला समर्थांतें । <br>
  म्हणून त्यांनीं जलातें । <br>
  भोंवतीं केलें निर्माण ॥४॥ <br><br>
  सुखसंपन्न पहिल्यापरी । <br>
  वर्‍हाड व्हावा निर्धारी । <br>
  ऐसें चित्तांत असल्या जरी । <br>
  या वर्‍हाडी जनांच्या ॥५॥ <br><br>
  तरी त्या अवघ्या जनांनीं । <br>
  श्रीगजाननाच्या चरणीं । <br>
  पूर्ववत् निष्ठा ठेवूनी । <br>
  सुखालागीं अनुभवावें ॥६॥ <br><br>
  ऐसें न जरी करतील । <br>
  तरी याहीपेक्षां येईल । <br>
  वर्‍हाडासी बिकट काळ । <br>
  याचा विचार करा हो ॥७॥ <br><br>
  गजाननपदीं निष्ठा ठेवा । <br>
  सुख-अनुभव सर्वदा घ्यावा । <br>
  कुतर्कासी मुळीं न द्यावा । <br>
  ठाव आपुल्या मानसीं ॥८॥ <br><br>
  या गजाननरुप जमिनींत । <br>
  जें जें कांहीं पेराल सत्य । <br>
  तें तें मिळणार आहे परत । <br>
  बहुत होऊन तुम्हांला ॥९॥ <br><br>
  दाणे टाकिल्या खडकावरी । <br>
  त्यांचीं न रोपें होतीं खरीं । <br>
  याचा विचार अंतरीं । <br>
  सर्व काळ करा हो ॥२१०॥ <br><br>
  कंटाळा संतसेवेचा । <br>
  ज्या ज्या प्रांता येत साचा । <br>
  त्या त्या प्रांतीं दुष्काळाचा । <br>
  प्रादुर्भाव होतसे ॥११॥ <br><br>
  धर्मश्रद्धा ही वाघीण । <br>
  गेल्या मनरुपी दरींतून । <br>
  दुर्वासनेचे कोल्हे जाण । <br>
  येऊन बसतील ते ठायां ॥१२॥ <br><br>
  भक्ति शुचिर्भूत अंगना । <br>
  अभक्ति वारांगना । <br>
  तिच्या नादीं लागल्या जाणा । <br>
  विटंबनाच सर्वत्र ॥१३॥ <br><br>
  सन्नीतीला सोडूं नका । <br>
  धर्मवासना टाकूं नका । <br>
  शत्रु न माना एकमेकां । <br>
  तरीच शक्ति वाढेल ॥१४॥ <br><br>
  ऐसें तुम्ही वागल्यास । <br>
  येतील चांगले दिवस । <br>
  या वर्‍हाड प्रांतास । <br>
  हें कधींहि विसरुं नका ॥१५॥ <br><br>
  एकदां तरी वर्षांतून । <br>
  घ्यावें गजाननाचें दर्शन । <br>
  एकदां तरी पारायण । <br>
  करा गजाननचरित्राचें ॥१६॥ <br><br>
  हा एकवीस अध्यायांचा । <br>
  गजाननविजय नांवाचा । <br>
  नैवेद्य एकवीस मोदकांचा । <br>
  गजाननासी अर्पा हो ॥१७॥ <br><br>
  वा हे अध्याय साचार । <br>
  माना एकवीस दुर्वांकुर । <br>
  पारायणरुपें निरंतर । <br>
  वाहाव्या गजाननासी ॥१८॥ <br><br>
  सद्‌भाव जो मानवाचा । <br>
  तोच दिवस चतुर्थीचा । <br>
  प्रेमरुपी चंद्राचा । <br>
  उदय झाला पाहिजे ॥१९॥ <br><br>
  मग या ग्रंथाचें अक्षर । <br>
  एकेक हें दुर्वांकुर । <br>
  अर्थ शब्दाचा साचार । <br>
  मोदक समजा विबुध हो ॥२०॥ <br><br>
  तो अर्पून गजानना । <br>
  पारायणरुपी पारणा । <br>
  साधून घ्यावा करा ना । <br>
  वेळ आतां थोडकाही ॥२१॥ <br><br>
  हा ग्रंथ ना कादंबरी । <br>
  ती गजाननाची लीला खरी । <br>
  येथें जो अविश्वास धरी । <br>
  तो बुडेल निःसंशय ॥२२॥ <br><br>
  श्रीगजाननस्वामी चरित्र । <br>
  जो नियमें वाचील सत्य । <br>
  त्याचे पुरतील मनोरथ । <br>
  गजाननकृपेनें ॥२३॥ <br><br>
  हें गजाननचरित्र भागीरथी । <br>
  कथा या तोय निश्चिती । <br>
  महाराष्ट्र ओंव्या तयावरती । <br>
  लहरी समजा विबुध हो ॥२४॥ <br><br>
  वा कल्पवृक्ष हें स्वामीचरित्र । <br>
  शाखा अध्याय तयाप्रत । <br>
  पद्मरचना हीच सत्य । <br>
  पालवी या वृक्षाची ॥२५॥ <br><br>
  जो या ग्रंथीं ठेवील भाव । <br>
  त्यासी पावेल स्वामीराव । <br>
  संकटीं त्याच्या घेईल धांव । <br>
  रक्षण त्याचें करावया ॥२६॥ <br><br>
  हा ग्रंथ केवळ चिंतामणी । <br>
  चिंतिलें फळ देईल जाणी । <br>
  दृढतर विश्वास असल्या मनीं । <br>
  हें मात्र विसरुं नका ॥२७॥ <br><br>
  जेथें गजाननचरित्राचा । <br>
  पाठ होईल नित्य साचा । <br>
  तेथें वास लक्ष्मीचा । <br>
  चिरकाल होईल हो ॥२८॥ <br><br>
  दारिद्रयासी मिळेल धन । <br>
  रोगीयासी आरोग्य जाण । <br>
  साध्वी स्त्रीचें वांजपण । <br>
  फिटेल याच्या वाचनें ॥२९॥ <br><br>
  निपुत्रिकासी होईल पुत्र । <br>
  निष्कपटी मिळेल मित्र । <br>
  चिंता न राहील अणुमात्र । <br>
  या ग्रंथाच्या वाचका ॥२३०॥ <br><br>
  दशमी एकादशी द्वादशीला । <br>
  हा ग्रंथ जो वाची भला । <br>
  अनुपम येईल भाग्य त्याला । <br>
  श्रीगजाननकृपेनें ॥३१॥ <br><br>
  गुरुपुष्य योगावरी । <br>
  जो याचें पारायण करी । <br>
  बसून एक्या आसनावरी । <br>
  राहूनियां शुचिर्भूत ॥३२॥ <br><br>
  त्याच्या अवघ्या मनकामना । <br>
  खचित होतील पूर्ण जाणा । <br>
  कसल्याही असोत यातना । <br>
  त्या त्याच्या निरसतील ॥३३॥ <br><br>
  जेथें हा राहील ग्रंथ । <br>
  तेथें न कदा येई भूत । <br>
  लाग न साधे यत्किंचित । <br>
  तेथें ब्रह्म समंधाचा ॥३४॥ <br><br>
  ऐसें याचें महत्त्व । <br>
  ये भाविकाला प्रचीत । <br>
  कुटिलदुष्टदुर्जनांप्रत । <br>
  याचा अनुभव येणें नसे ॥३५॥ <br><br>
  मानसाची योजना । <br>
  राजहंसासाठीं जाणा । <br>
  तैसें हें संतसज्जनां । <br>
  मानस स्वामीचरित्र ॥३६॥ <br><br>
  पूर्वकालीं ज्ञानेश्वर । <br>
  मीरा मेहता कबीर । <br>
  नामा सांवता चोखा महार । <br>
  गोरा बोधला दामाजी ॥३७॥ <br><br>
  उंबरखेडी ऐनाथ । <br>
  सखाराम अंमळनेरांत । <br>
  वा देव मामलेदार यशवंत । <br>
  वा हुमणाबादी माणिकप्रभू ॥३८॥ <br><br>
  तेवींच हा वर्‍हाडांत । <br>
  गजाननस्वामी सद्‌गुरुनाथ । <br>
  फरक नाहीं यत्किंचित । <br>
  त्यांच्या यांच्या मधीं हो ॥३९॥ <br><br>
  आतां हीच विनंति । <br>
  तुम्हां अवघ्यां भाविकांप्रती । <br>
  अत्यंत असूं द्यावी प्रीति । <br>
  श्रीगजाननांचे चरणीं ॥२४०॥ <br><br>
  म्हणजे तुमची येरझार । <br>
  जन्ममृत्यूची साचार । <br>
  होऊनियां व्हाल पार । <br>
  दुस्तर भवामधूनी ॥४१॥ <br><br>
  आतां स्वामी दयाघना ! । <br>
  तुला येवो माझी करुणा । <br>
  दासगणूच्या यातना । <br>
  सकल निवारी कृपेनें ॥४२॥ <br><br>
  मी तुझा झालों भाट । <br>
  मार्ग दावी मला नीट । <br>
  दुर्वासनेचा येतो वीट । <br>
  चित्तामाजीं दयाळा ! ॥४३॥ <br><br>
  आमरण वारी घडो । <br>
  संतचरणीं प्रेमा जडो । <br>
  अक्षय्यीचा वास घडो । <br>
  श्रीगोदेच्या तीराला ॥४४॥ <br><br>
  प्रसंग याचना करण्याचा । <br>
  मशीं नको आणूंस साचा । <br>
  समर्था दासगणूचा । <br>
  अभिमान वाहावा मानसीं ॥४५॥ <br><br>
  मी सकल संतांचा चरणरज । <br>
  माझी राखा तुम्ही लाज । <br>
  हेंचि मागणें आहे आज । <br>
  पदर पसरुन तुम्हांतें ॥४६॥ <br><br>
  जैसी केलीस प्रेरणा । <br>
  तैसेंच मी वदलों जाणा । <br>
  हे स्वामी गजानना ! । <br>
  तुझें चरित्र लिहितां कीं ॥४७॥ <br><br>
  शेगांवचे मठांत । <br>
  कांहीं होतें कागदपत्र । <br>
  ते रतनसातें मजप्रत । <br>
  आणूनियां दाखविले ॥४८॥ <br><br>
  त्यांच्या आधारें ग्रंथ लिहिला । <br>
  कल्पनेच्या ना उपयोग केला । <br>
  म्हणून अधिक न्यूनाला । <br>
  मी नाहीं कारण ॥४९॥ <br><br>
  झालें असल्या अधिकऊन । <br>
  त्याची क्षमा गजानन । <br>
  करो सर्वदा मजलागून । <br>
  हीच आहे विनंती ॥२५०॥ <br><br>
  शके अठराशें एकसष्टांत । <br>
  प्रमाथिनाम संवत्सरांत । <br>
  चैत्रमासीं शुद्धांत । <br>
  वर्षप्रतिपदेला ॥५१॥ <br><br>
  हा ग्रंथ कळसा गेला । <br>
  शेगांव-ग्रामीं भला । <br>
  तो गजाननांनीं पूर्ण केला । <br>
  प्रथम प्रहरीं बुधवारीं ॥५२॥ <br><br>
  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  नौका होवो भाविकांप्रत । <br>
  भवसिंधु तरावया ॥२५३॥ <br><br>


  ॥ शुभं भवतु ॥ <br>
  ॥ श्रीहरिहरार्पणमस्तु ॥ <br>
  ॥ इति एकविंशोऽध्यायः समाप्तः ॥ <br><br>

  ॥ पुंडलीक वरदा हरिविठ्ठल ॥ <br>
  ॥ सीताकांतस्मरण जयजय राम ॥ <br>
  ॥ पार्वतीपते हरहर महादेव ॥ <br><br>

  ॥समाप्त॥
</div>