<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय १५</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  हे कश्यपात्मज वामना । <br>
  हे बटुरुपधारी नारायणा । <br>
  तूं बलीच्या घेऊन दाना । <br>
  कृतार्थ त्याला केलेंस ॥१॥ <br><br>
  राज्य मृत्युलोकीचें । <br>
  घेतलें त्वां जरी साचें । <br>
  तरी दिलें पाताळाचें । <br>
  राज्य बलीकारणें ॥२॥ <br><br>
  आंवळा घेऊन नारळ दिला । <br>
  तुम्ही त्या पुण्यवंत बलीला । <br>
  आणि त्याच्या भक्तीस्तव झाला । <br>
  द्वारपाळ द्वारीं तुम्ही ॥३॥ <br><br>
  या मन्वंतरानंतर । <br>
  बलीच आहे होणार । <br>
  देवांचा राजराजेश्वर । <br>
  देवा तुझ्या वरानें ॥४॥ <br><br>
  एक घटकेंत अनंता । <br>
  चहूं वेदांच्या संहिता । <br>
  पठण केल्या बुद्धिमत्ता । <br>
  केवढी तुझी अगाध तरी ! ॥५॥ <br><br>
  अवघ्यां तुझ्या अवतारीं । <br>
  हा सोंवळा अवतार श्रीहरी । <br>
  कोणाचाही भूमीवरी । <br>
  वध न तुम्ही केलांत ॥६॥ <br><br>
  शत्रुमित्राच्या घरीं दिवा । <br>
  ये अवतारीं लाविला बरवा । <br>
  देव आणि दानवा । <br>
  तूं वंद्य सारखाच ॥७॥ <br><br>
  देव तेही आनंदविले । <br>
  राक्षस तेही रक्षिलें । <br>
  आपलें ईशत्व सांभाळिलें । <br>
  याच अवतारीं देवा तूं ॥८॥ <br><br>
  तुला माझा नमस्कार । <br>
  असो वामना वारंवार । <br>
  मस्तकीं ठेवा वरद कर । <br>
  तुम्ही दासगणूच्या ॥९॥ <br><br>
  टिळक बाळ गंगाधर । <br>
  महाराष्ट्राचा कोहिनूर । <br>
  दूरदृष्टिचा सागर । <br>
  राजकारणीं प्रवीण जो ॥१०॥ <br><br>
  निज स्वातंत्र्याच्यासाठीं । <br>
  ज्यानें अनंत केल्या खटपटी । <br>
  ज्याची धडाडी असे मोठी । <br>
  काय वर्णन तिचें करुं ? ॥११॥ <br><br>
  करारी भीष्मासमान । <br>
  आर्य महीचें पाहून दैन्य । <br>
  सतीचे झाला घेतां वाण । <br>
  भीड न सत्यांत कोणाची ॥१२॥ <br><br>
  वाक्‌चातुर्य जयाचें । <br>
  बृहस्पतीच्या समान साचें । <br>
  धाबें दणाणें इंग्रजांचें । <br>
  पाहून ज्याच्या लेखाला ॥१३॥ <br><br>
  कृति करुन मेळविली । <br>
  ज्यानें लोकमान्य ही पदवी भली । <br>
  ती न कोणी त्यांना दिली । <br>
  ऐसा होता बहाद्दर ॥१४॥ <br><br>
  तो एके वेळीं अकोल्याला । <br>
  शिवजयंतीच्या उत्सवाला । <br>
  लोकाग्रहें येतां झाला । <br>
  व्याख्यान द्याया कारणें ॥१५॥ <br><br>
  झाली तयारी उत्सवाची । <br>
  त्या अकोल्यामध्यें साची । <br>
  मोठमोठाल्या विद्वानांची । <br>
  गेली गडबड उडून ॥१६॥ <br><br>
  दामले, कोल्हटकर, खापर्डे । <br>
  आणखी विद्वान्‌ बडेबडे । <br>
  जमते झाले रोकडे । <br>
  तया अकोल्या ग्रामासी ॥१७॥ <br><br>
  अध्यक्ष त्या उत्सवाचे । <br>
  नेमिले होते टिळक साचे । <br>
  नांव ऐकतां टिळकांचें । <br>
  वर्‍हाड सारें आनंदलें ॥१८॥ <br><br>
  शिवरायाची जयंती । <br>
  याच्या आधींच या प्रांतीं । <br>
  झाली पाहिजे होती । <br>
  त्याचें कारण ऐसें पहा ॥१९॥ <br><br>
  शिवाजीची जन्मदात्री । <br>
  जी वीरमाता जिजा सती । <br>
  ती वर्‍हाडीच आपुली होती । <br>
  सिंधखेडीं जन्म जिचा ॥२०॥ <br><br>
  त्या वीरगाजी शिवाजीला । <br>
  जिनें पोटीं जन्म दिला । <br>
  वर्‍हाडमहाराष्ट्र एक झाला । <br>
  या सतीच्या कर्तृत्वें ॥२१॥ <br><br>
  माता होती वर्‍हाडी । <br>
  पिता महाराष्ट्री शहाजी गडी । <br>
  अवघ्या दंपत्यांत ही जोडी । <br>
  खचित होती अनुपम ॥२२॥ <br><br>
  आधींच उत्सव शिवाजीचा । <br>
  जो कलिजा महाराष्ट्राचा । <br>
  आणखी वरी अध्यक्ष त्याचा । <br>
  टिळक बाळ गंगाधर ॥२३॥ <br><br>
  आधीं एक महिना तयारी । <br>
  उत्सवाची चालली खरी । <br>
  ज्याच्या त्याच्या अंतरीं । <br>
  आनंद होत चालला ॥२४॥ <br><br>
  अध्यक्ष उपाध्यक्श निवडले । <br>
  स्वयंसेवक तयार झाले । <br>
  तईं कईकांचें म्हणणें पडलें । <br>
  ऐशा रीतिं विबुध हो ॥२५॥ <br><br>
  या शिवजयंती उत्सवाला । <br>
  आणा शेगांवचे महाराजाला । <br>
  श्रीस्वामी समर्थ गजाननाला । <br>
  म्हणजे दुधांत साखर पडेल कीं ॥२६॥ <br><br>
  शिवाजीच्या राष्ट्रोद्धारा । <br>
  आशीर्वाद होता खरा । <br>
  समर्थांचा साजिरा । <br>
  म्हणून तडीस गेला तो ॥२७॥ <br><br>
  टिळकांचें राजकारण । <br>
  हेंच जिजाई-हृदय-रत्‍न । <br>
  त्याला पाहिजे आशीर्वचन । <br>
  समर्थंचि विबुध हो ॥२८॥ <br><br>
  ते कित्येकां पसंत पडलें । <br>
  कित्येकांस नाहीं रुचलें । <br>
  ज्यां न रुचले ते बोलले । <br>
  उघड उघड येणें रीतिं ॥२९॥ <br><br>
  तो शेगांवाचा अवलिया । <br>
  कशास आणितां ये ठायां । <br>
  तो कांहीं तरी करुनियां । <br>
  विक्षोभ करील सभेचा ॥३०॥ <br><br>
  फिरेल नागवा सभेंत । <br>
  "गिण गिण गणांत" ऐसा म्हणत । <br>
  मारील वाटे कदाचित्‌ । <br>
  तो लोकमान्याला ॥३१॥ <br><br>
  कांहीं लोक बोलले । <br>
  हें न म्हणणें चांगलें । <br>
  गजाननाचीं पाउलें । <br>
  लागलीं पाहिजेत सभेला ॥३२॥ <br><br>
  त्याचें जें कां वेडेपण । <br>
  तें आहे वेडयाकारण । <br>
  जे कोणी विद्वान् सज्जन । <br>
  त्यासी न वदती वेडयापरी ॥३३॥ <br><br>
  खरेखुरे राष्ट्रोद्धारक । <br>
  जरी टिळक असतील एक । <br>
  तरी महाराज निःशंक । <br>
  सभेसी येतील ये ठायां ॥३४॥ <br><br>
  खर्‍याखोटयाची परीक्षा । <br>
  साधूच हे करिती देखा । <br>
  म्हणून सांगतों भिऊं नका । <br>
  त्यांना आमंत्रण देण्यास ॥३५॥ <br><br>
  ऐसी भवति न भवति झाली । <br>
  मंडळी शेगांवास आली । <br>
  आमंत्रण तें द्याया भली । <br>
  सभेचें श्रीगजानन ॥३६॥ <br><br>
  येतांच दादा खापडर्यासी । <br>
  बोलते झाले पुण्यराशी । <br>
  आम्ही येऊं सभेसी । <br>
  तुमच्या शिवाजी उत्सवाच्या ॥३७॥ <br><br>
  वेडयापरी न तेथें करुं । <br>
  जागींच बसून मौन धरुं । <br>
  सुधारकांचा कधीं न करुं । <br>
  मनोभंग मनाचा ॥३८॥ <br><br>
  करावयासी राष्ट्रोद्धार । <br>
  योग्य बाळ गंगाधर । <br>
  याच्या परी न होणार । <br>
  राष्ट्रप्रेमी पुरुष पुढें ॥३९॥ <br><br>
  स्नेही त्या टिळकाचा । <br>
  अण्णा पटवर्धन नांवाचा । <br>
  शिष्य नरसिंहसरस्वतीचा । <br>
  आळंदीचा असे जो ॥४०॥ <br><br>
  त्या दोघां पुरुषां पाहाण्यास । <br>
  आम्ही येऊं अकोल्यास । <br>
  तें ऐकतां खापर्डयास । <br>
  अती आनंद जाहला ॥४१॥ <br><br>
  पाहा पाहा कोल्हटकरा । <br>
  वर्‍हाडप्रांताचा ज्ञानहिरा । <br>
  यानें वृत्तान्त जाणिला सारा । <br>
  जो का झाला अकोल्यांत ॥४२॥ <br><br>
  यावरुन संतांचें । <br>
  ज्ञान केवढें अगाध साचें । <br>
  खर्‍या राष्ट्रपुरुषाचें । <br>
  प्रेम यांना पाहा किती ! ॥४३॥ <br><br>
  बोलावयाची आपणांस । <br>
  जरुर पडली कांहीं न खास । <br>
  तेच होऊन आपणांस । <br>
  येतो म्हणून म्हणाले ॥४४॥ <br><br>
  मुहूर्त या उत्सवाला । <br>
  अती उत्तम लागला । <br>
  चला वंदून समर्थाला । <br>
  आपण जाऊं अकोल्यास ॥४५॥ <br><br>
  खापर्डे कोल्हटकर । <br>
  निघून गेले साचार । <br>
  आला आठ दिवसांवर । <br>
  सभेचा तो दिवस पाहा ॥४६॥ <br><br>
  वर्‍हाड सारें आनंदलें । <br>
  ज्यांना त्यांना वाटलें । <br>
  कधीं टिळकांचीं पाउलें । <br>
  पाहूं आम्ही अकोल्यांत ॥४७॥ <br><br>
  शके अठराशें तिसासी । <br>
  ती सभा होती वैशाखमासीं । <br>
  वर्‍हाडप्रांतीं अकोल्यासी । <br>
  उभारिलेल्या मंडपांत ॥४८॥ <br><br>
  सण अक्षय्यतृतीयेचा । <br>
  वर्‍हाडप्रांतीं महत्त्वाचा । <br>
  परी समुदाय जनांचा । <br>
  मिळता झाला प्रचंड ॥४९॥ <br><br>
  तोच अखेरीचा दिन । <br>
  त्या सभेचा होता जाण । <br>
  लोक आले लांबलांबून । <br>
  लोकमान्यांसी पहावया ॥५०॥ <br><br>
  शिवाय श्रोते त्या दिवशीं । <br>
  महाराज येणार सभेसी । <br>
  ऐसी खबर लोकांसी । <br>
  आधींच होती विबुध हो ॥५१॥ <br><br>
  मंडप चिकार भरुन गेला । <br>
  जो तो पाहूं लागला । <br>
  म्हणती कां हो सभेला । <br>
  अजूनी न आले महाराज ॥५२॥ <br><br>
  परी ते सभा भरण्याआधीं । <br>
  येऊन बसले मंडपामधीं । <br>
  साधु आपल्या वाणीस कधीं । <br>
  असत्यता न येऊं दे ॥५३॥ <br><br>
  सभेमाजीं उच्च स्थानीं । <br>
  बसले होते कैवल्यदानी । <br>
  गादीस लोडा टेकूनी । <br>
  जीवनमुक्त साधुवर ॥५४॥ <br><br>
  सिंहासनाच्या अग्रभागा । <br>
  टिळकास दिली होती जागा । <br>
  त्यांच्या सन्निध बसले बघा । <br>
  अण्णासाहेब पटवर्धन ॥५५॥ <br><br>
  श्रीकृष्णाचा नंदन । <br>
  गणेश ज्याचें नामाभिधान । <br>
  खापर्डे कुलाचा कुलभूषण । <br>
  एक्या बाजूस टिळकाच्या ॥५६॥ <br><br>
  दामले कोल्हटकर त्या ठायीं । <br>
  भावे व्यकंटराव देसाई । <br>
  सभेचे पुढारी पाही । <br>
  चमकत होते ते ठायां ॥५७॥ <br><br>
  आणिक व्याख्याते विद्वानेतर । <br>
  बसले होते सभोंवार । <br>
  त्यांचें वर्णन कोठवर । <br>
  करावें मी एक्या मुखें ॥५८॥ <br><br>
  सभेलागीं आरंभ झाला । <br>
  हेतु प्रथम निवेदिला । <br>
  मग व्याख्यानसिंह उठला । <br>
  टिळक बोलावयातें ॥५९॥ <br><br>
  "दिवस आजचा धन्य धन्य । <br>
  आहे पहा हो सज्जन । <br>
  स्वातंत्र्यासाठीं ज्यानें प्राण । <br>
  खर्चिले आपुले पूर्वकालीं ॥६०॥ <br><br>
  त्या धनुर्धर योध्याची । <br>
  वीर गाजी शिवाजीची । <br>
  जन्म-जयंति आहे साची । <br>
  म्हणून आपण मिळालों ॥६१॥ <br><br>
  त्या रणगाजी शिवाजीला । <br>
  रामदासें हातीं धरिला । <br>
  म्हणून त्याचा बोलबाला । <br>
  झाला भरतखंडामध्यें ॥६२॥ <br><br>
  तेवींच आज येथें झालें । <br>
  आशिर्वाद द्याया आले । <br>
  श्रीगजानन साधु भले । <br>
  आपुलीया सभेस ॥६३॥ <br><br>
  म्हणून शिवाजीचे परी । <br>
  सभा यशस्वी होवो खरी । <br>
  अशाच सभेची जरुरी । <br>
  आहे सांप्रत राष्ट्राला ॥६४॥ <br><br>
  स्वातंत्र्यसूर्य मावळला । <br>
  दास्यत्वाचा काळोख पडला । <br>
  स्वातंत्र्य नाहीं जगीं ज्याला । <br>
  तो समाज प्रेतवत् ॥६५॥ <br><br>
  यासाठीं म्हणून । <br>
  आहे करणें प्रयत्‍न । <br>
  ज्या शिक्षणेंकरुन । <br>
  राष्ट्रप्रेम वाढेल हो ॥६६॥ <br><br>
  ऐसें शिक्षण पुढिल्यांप्रती । <br>
  देणें भाग निश्चिती । <br>
  तें शिक्षण हा भूपती । <br>
  देईल कां हो अर्भकांला ?" ॥६७॥ <br><br>
  ऐसें टिळक म्हणाले । <br>
  महाराज आसनीं उठून बसले । <br>
  गर्जून त्रिवार बोलले । <br>
  नाहीं नाहीं ऐसें पहा ॥६८॥ <br><br>
  आवेशाच्या भरांत । <br>
  बोलले गंगाधरसुत । <br>
  जें बोलणें किंचित् । <br>
  टोचून होतें राजाला ॥६९॥ <br><br>
  त्या भाषणाचा रोख भला । <br>
  समर्थांनीं जाणिला । <br>
  आणि हांसत हांसत शब्द केला । <br>
  ऐशा रीतिं श्रोते हो ॥७०॥ <br><br>
  अरे अशानेंच पडतात । <br>
  काढण्या दोन्ही दंडांप्रत । <br>
  ऐसें बोलून गणगणांत । <br>
  भजन करुं लागले ॥७१॥ <br><br>
  सभा निर्विघ्न पार पडली । <br>
  टिळकांची वाहवा झाली । <br>
  खरें झालें त्याच सालीं । <br>
  समर्थांचें भाकित ॥७२॥ <br><br>
  भूपतीनें टिळकाला । <br>
  एकशें चोवीसाखालीं धरिला । <br>
  दोर्‍या पडल्या दंडाला । <br>
  आला प्रसंग शिक्षेचा ॥७३॥ <br><br>
  राजसत्तेचिया पुढें । <br>
  कोणाचेंही न चाले घोडें । <br>
  वकील होते बडे बडे । <br>
  ते झटूं लागले टिळकास्तव ॥७४॥ <br><br>
  प्रेमी मंडळी टिळकांची । <br>
  जी कां होती जिव्हाळ्याची । <br>
  त्यांनीं पारमार्थिक उपायाची । <br>
  केली योजना एक अशी ॥७५॥ <br><br>
  दादासाहेब खापर्डे । <br>
  हेही होते गृहस्थ बडे । <br>
  ते उमरावतीहून मुंबईकडे । <br>
  जाऊं लागले खटल्यास्तव ॥७६॥ <br><br>
  अकोल्याच्या स्टेशनावरी । <br>
  कोल्हटकरास मधुरोत्तरीं । <br>
  बोलते झाले ऐशापरी । <br>
  तें थोडकें सांगतों ॥७७॥ <br><br>
  तुम्ही जावें शेगांवासी । <br>
  समर्था विनंती करा ऐसी । <br>
  सोडवा बाळ टिळकासी । <br>
  प्रसंग मोठा दुर्धर ॥७८॥ <br><br>
  मीच गेलों असतों तेथें । <br>
  परी मी जातों मुंबईतें । <br>
  तुम्ही जाऊन शेगांवातें । <br>
  विनंती करा महाराजा ॥७९॥ <br><br>
  लगेंच बसला गाडींत । <br>
  कोल्हटकर टिळक-भक्त । <br>
  येतां झाला शेगांवांत । <br>
  स्वामी गजाननाकडे ॥८०॥ <br><br>
  तईं महाराज मठातें । <br>
  निज आसनीं निजून होते । <br>
  तीन दिवस जहाले पुरते । <br>
  परी न उठले यत्किंचित्‌ ॥८१॥ <br><br>
  कोल्हटकरहि तोंवरी । <br>
  बसला मठाभीतरीं । <br>
  जो का असेल बिगारी । <br>
  तो न ऐसें वागे कदा ॥८२॥ <br><br>
  कळकळ टिळकाविषयींची । <br>
  कोल्हटकरा पूर्ण साची । <br>
  कमाल त्यानें चिकाटीची । <br>
  केली असे आपुल्या ॥८३॥ <br><br>
  जाळावांचून नाहीं कड । <br>
  मायेवांचून नाहीं रड । <br>
  ऐसी आहे एक जाड । <br>
  म्हण मराठी भाषेमध्यें ॥८४॥ <br><br>
  चवथें दिवशीं समर्थ उठले । <br>
  कोल्हटकरास बोलते झाले । <br>
  तुम्ही अलोट प्रयत्‍न केले । <br>
  परी न फळ येईल त्या ॥८५॥ <br><br>
  अरे छत्रपती शिवाजीला । <br>
  रामदासाचा वशिला । <br>
  होता परी तो कैद झाला । <br>
  बादशाही अमंलांत ॥८६॥ <br><br>
  सज्जनास त्रास झाल्याविना । <br>
  राज्यक्रांति होईना । <br>
  कंसाचा तो मनीं आणा । <br>
  इतिहास म्हणजे कळेल ॥८७॥ <br><br>
  ही मी देतों भाकर । <br>
  ती खाऊं घाला लवकर । <br>
  टिळकांप्रती अंतर । <br>
  यांत कांहीं करुं नका ॥८८॥ <br><br>
  या भाकरीच्या बळावरी । <br>
  तो मोठी करील कामगिरी । <br>
  जातो जरी फार दूरी । <br>
  परी न त्याला इलाज ॥८९॥ <br><br>
  ऐसें ऐकतां उत्तर । <br>
  साशंक झाले कोल्हटकर । <br>
  समर्था करुन नमस्कार । <br>
  भाकर करीं घेतली ॥९०॥ <br><br>
  ती नेऊन मुंबईला । <br>
  घातली टिळकास खायाला । <br>
  वृत्तान्त तोही कथन केला । <br>
  अथपासून इतिवरी ॥९१॥ <br><br>
  तो ऐकून लोकांप्रत । <br>
  टिळक बोलले हंसत हंसत । <br>
  स्वामींचें तें अगाध सत्य । <br>
  ज्ञान आहे खचित पहा ॥९२॥ <br><br>
  यश तुमच्या प्रयत्‍नासी । <br>
  नाहीं निश्चयेंसी । <br>
  आपुली बाजू रक्षण्यासी । <br>
  सरकार न्याया पाळीन ना ॥९३॥ <br><br>
  जेव्हां स्वार्थाचा संबंध नसतो । <br>
  तेव्हां न्याय आठवतो । <br>
  हा जगाचा सिद्धान्त तो । <br>
  होईल खोटा कोठूनी ? ॥९४॥ <br><br>
  माझ्या हातें कामगिरी । <br>
  मोठी होणार आहे खरी । <br>
  ऐशी समर्थांची वैखरी । <br>
  बोलली हें गूढ एक ॥९५॥ <br><br>
  भूत भविष्य वर्तमान । <br>
  जाणताती साधुजन । <br>
  आपण मनुष्य सामान्य । <br>
  पाहूं पुढें काय होतें ॥९६॥ <br><br>
  प्रसाद म्हणून भाकरी । <br>
  ती कुसकरुन भक्षिली खरी । <br>
  दंत न मुखाभीतरीं । <br>
  परी प्रसाद टाकवेना ॥९७॥ <br><br>
  झाली शिक्षा टिळकास । <br>
  नेलें ब्रह्मदेशीं मंडाल्यास । <br>
  तेथें जन्मला गीतारहस्य । <br>
  गीतेवरील ग्रंथ त्यांचा ॥९८॥ <br><br>
  हीच मोठी कामगिरी । <br>
  झाली त्यांच्या हस्तें खरी । <br>
  मान जगत्‌-गुरुपरी । <br>
  मिळता झाला टिळकांतें ॥९९॥ <br><br>
  या गीताशास्त्रावर । <br>
  टीका झाल्या अपार । <br>
  त्या सांगूं तरी कोठवर ? । <br>
  मति नाहीं दासातें ॥१००॥ <br><br>
  बुध हो प्रत्येक आचार्यांनीं । <br>
  कालमानातें पाहूनी । <br>
  केली गीतेची मांडणी । <br>
  जगदोद्धार करावया ॥१॥ <br><br>
  कोणीं लाविली अद्वैतपर । <br>
  कोणीं लाविली द्वैतपर । <br>
  कोणीं लाविली कर्मपर । <br>
  त्याच एका गीतेला ॥२॥ <br><br>
  हीच मोठी कामगिरी । <br>
  त्यांच्या हस्तें झाली खरी । <br>
  या कामाची नये सरी । <br>
  कोणत्याही कृत्यातें ॥३॥ <br><br>
  येणेंच बाळ गंगाधर । <br>
  जगतीं होतील अजरामर । <br>
  कीर्ति त्यांची दूरवर । <br>
  पसरवील ग्रंथ हा ॥४॥ <br><br>
  स्वातंत्र्य जरी मिळविलें असतें । <br>
  तरी न ऐशी कीर्ति टिकते । <br>
  पहा करुन चित्तातें । <br>
  पूर्णपणें विचार ॥५॥ <br><br>
  त्यांत फारसें नाहीं सार । <br>
  तो व्यवहार लौकिकीं ॥६॥ <br><br>
  गीताशास्त्राचें तसें नाहीं । <br>
  तें मोक्षपदा प्रती देई । <br>
  आणि समाजाची बसवी पाही । <br>
  विस्कळीत घडी हें ॥७॥ <br><br>
  यावच्चंद्रदिवाकर । <br>
  पुरुष बाळ गंगाधर । <br>
  चिरंजीव निरंतर । <br>
  राहील कीर्तिरुपानें ॥८॥ <br><br>
  असो करवीर कोल्हापुरीचा । <br>
  द्विज चित्‌पावन जातीचा । <br>
  श्रीधर गोविंद नांवाचा । <br>
  काळे उपनांव जयाचें ॥९॥ <br><br>
  तो गरिबीच्या स्थितींत । <br>
  गेला इंग्रजी शाळेंत । <br>
  आंग्‍लविद्या शिकण्याप्रत । <br>
  मँट्रिक परीक्षा पास झाला ॥११०॥ <br><br>
  पुढें काँलेजांत गेला । <br>
  परी इन्टर नापास झाला । <br>
  म्हणून फिरत राहिला । <br>
  वर्तमानपत्रें वाचीत ॥११॥ <br><br>
  तों केसरी पत्रांत । <br>
  वाचलें ओयामा टोगो चरित्र । <br>
  तेणें त्याच्या मनांत । <br>
  वृत्ति एक उठली अशी ॥१२॥ <br><br>
  आपण जावें विलायतेला । <br>
  यंत्रविद्या ही शिकण्याला । <br>
  उगे भार भूमीला । <br>
  होण्यामाजीं अर्थ काय ? ॥१३॥ <br><br>
  टोगो यामा दोघेजण । <br>
  प्रथमतः ज्ञान संपादून । <br>
  अभ्युदयाकारण । <br>
  जपान आणीते जहाले ॥१४॥ <br><br>
  तैसें आपण करावें । <br>
  मायभूमीस उद्धरावें । <br>
  ऐसा विचार त्याच्या जीवें । <br>
  घेतला परी इलाज ना ॥१५॥ <br><br>
  द्रव्याची न लागे संगत । <br>
  कोणीही ना करी मदत । <br>
  घरची गरीबी अत्यंत । <br>
  काय करितो बिचारा ॥१६॥ <br><br>
  तो आपल्या मित्रासी । <br>
  आला भेटण्या भंडार्‍यासी । <br>
  जो मन्‍रो हायस्कुलासी । <br>
  होता एक शिक्षक ॥१७॥ <br><br>
  त्यासी विचार आपुला । <br>
  श्रीधरानें कळविला । <br>
  तोही त्याला पसंत पडला । <br>
  परी पैशाची वाट काय ? ॥१८॥ <br><br>
  मित्रा, एक पैशाविणें । <br>
  कांहीं नाहीं जगीं होणें । <br>
  दरिद्रयानें मनींच करणें । <br>
  मनोराज्य बापा रे ॥१९॥ <br><br>
  चाल जाऊं गांवाला । <br>
  आपुल्या जन्मभूमीला । <br>
  त्या करवीर कोल्हापुराला । <br>
  इकडे उन्हाळा विशेष ॥१२०॥ <br><br>
  दोघे बसले गाडींत । <br>
  समर्थांची ऐकून कीर्त । <br>
  उतरते झाले शेगांवांत । <br>
  साधु कैसा तो पहावया ॥२१॥ <br><br>
  पोस्टमास्तराच्या दारीं । <br>
  सामान ठेविलें सत्वरीं । <br>
  आतुरता मोठी अंतरीं । <br>
  समर्थाला पहाण्याची ॥२२॥ <br><br>
  दोघे आले मठांत । <br>
  समर्थां केलें दंडवत । <br>
  बसते झाले जोडून हात । <br>
  स्वामीचिया सन्मुख ॥२३॥ <br><br>
  मनोदय श्रीधराचा । <br>
  समर्थांनीं जाणिला साचा । <br>
  म्हणाले उगीच परदेशाचा । <br>
  विचार वेडया करुं नको ॥२४॥ <br><br>
  अवघेंच कांहीं आहे येथ । <br>
  अर्थ ना भौतिक शास्त्रांत । <br>
  सेवी अध्यात्मविद्येप्रत । <br>
  म्हणजे कृतार्थ होशील तूं ॥२५॥ <br><br>
  त्यायोगें विचारक्रांति । <br>
  श्रीधराच्या झाली चित्तीं । <br>
  कोल्हापूरची एक व्यक्ती । <br>
  आठवली या समयास त्या ॥२६॥ <br><br>
  ते स्वामी कुंभारगल्लीचे । <br>
  होते कोल्हापुरीचे । <br>
  बोलणें याच परीचें । <br>
  होतें हमेशा भक्तांसी ॥२७॥ <br><br>
  तैसेच हेही गुरुमूर्ती । <br>
  भक्तांसवें भाषण करिती । <br>
  याचा उलगडा चित्तीं । <br>
  कांहींच माझ्या होईना ॥२८॥ <br><br>
  ऐसें श्रीधर आणितां मनीं । <br>
  महाराज वदले गर्जोनी । <br>
  हिंदुस्थाना सोडूनी । <br>
  उगाच कोठें जाऊं नको ॥२९॥ <br><br>
  अगणित करावें पुण्य । <br>
  तेव्हांच होतें येथें जनन । <br>
  या भौतिक शास्त्राहून । <br>
  योगशास्त्र समर्थ असें ॥१३०॥ <br><br>
  तें योगशास्त्र येतें ज्याला । <br>
  तो न मानी या भौतिकाला । <br>
  योगशास्त्राहून भला । <br>
  अध्यात्मविचार श्रेष्ठ असे ॥३१॥ <br><br>
  तो जमल्यास करुन पाही । <br>
  कोठें न आतां जाई येई । <br>
  ऐसें समर्थ बोलतां पाही । <br>
  श्रीधर चित्तीं आनंदला ॥३२॥ <br><br>
  पश्चिमेचा मावळला । <br>
  तोंच पूर्वेकडे आला । <br>
  विचार-सूर्य त्याचा भला । <br>
  श्रीधरा सुखी करण्यास ॥३३॥ <br><br>
  एक संतावांचून । <br>
  विचाराचें परिवर्तन । <br>
  कोणी न करुं शके आन । <br>
  सत्य एक त्यांनाच कळे ॥३४॥ <br><br>
  महाराज म्हणाले या ठायीं । <br>
  तुझा अभ्युदय होईल पाही । <br>
  कांता वाट पहाते गेहीं । <br>
  तुझी कोल्हापुराला ॥३५॥ <br><br>
  जा आतां मित्रांसहित । <br>
  आपुल्या कोल्हापुराप्रत । <br>
  तेंच पुढें झालें सत्य । <br>
  श्रीधर लौकिका चढले हो ॥३६॥ <br><br>
  श्रीधर बी.ए.एम्‌.ए. झाले । <br>
  प्रिन्सिपाँल त्या नेमिलें । <br>
  शिवपुरीं काँलेजाशीं भले । <br>
  सिंद्याचिया राज्यांत ॥३७॥ <br><br>
  संत साक्षात्‌ ईश्वर । <br>
  चालते बोलते भूमीवर । <br>
  त्यांच्या कृपेचा आधार । <br>
  जया मिळे तोच मोठा ॥३८॥ <br><br>
  पहा काळे श्रीधराला । <br>
  दर्शनाचा योग आला । <br>
  म्हणून वृत्तींत फरक पडला । <br>
  खरें तेंच शोधावया ॥३९॥ <br><br>
  हें पीक संतांचें । <br>
  याच देशीं यावयाचें । <br>
  वृक्ष नंदनवनीचें । <br>
  अन्य ठायीं न येती हो ॥१४०॥ <br><br>
  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  दावो सर्वदा सत्पथ । <br>
  परम भाविकांकारणें ॥१४१॥ <br><br>


  ॥ शुभं भवतु ॥ <br>
  ॥ श्रीहरिहरार्पणमस्तु ॥ <br>
  ॥ इति पंचदशोऽध्यायः समाप्तः ॥
</div>