<div class="adhyaatma-page">
  <h1>रेणुका देवीची आरती १</h1>

  <br> दुर्गे दुर्घट भारी तुजविण संसारी
  <br> अनाथनाथे अंबे करुणा विस्तारी
  <br> वारी, वारी, जन्म-मरणाते वारी
  <br> हारी पडलो आता संकट निवारी
  <br>
  <strong>
    <br> जय देवी, जय देवी महिषासुरमर्दिनी
    <br> सुरवर, ईश्वर वरदे तारक संजीवनी
    <br> जय देवी, जय देवी महिषासुरमर्दिनी
    <br> सुरवर, ईश्वर वरदे तारक संजीवनी
    <br> जय देवी, जय देवी...
  </strong>
  <br>
  <br> त्रिभुवन भुवनी पहाता तुज ऐसे नाही
  <br> चारी श्रमले, परंतु न बोलवे काही
  <br> साही विवाद करीता पडलो प्रवाही
  <br> ते तू भक्तालागी पावसी लवलाही
  <br>
  <strong>
    <br> जय देवी, जय देवी महिषासुरमर्दिनी
    <br> सुरवर, ईश्वर वरदे तारक संजीवनी
    <br> जय देवी, जय देवी...
  </strong>
  <br>
  <br> प्रसन्नवदने प्रसन्न होसी निजदासा
  <br> क्लेशापासुन सोडी तोडी भवपाशा
  <br> अंबे तुजवाचून कोण पुरवीन आशा?
  <br> नरहरी तल्लीन झाला पदपंकजलेशा
  <br>
  <strong>
    <br> जय देवी, जय देवी महिषासुरमर्दिनी
    <br> सुरवर, ईश्वर वरदे तारक संजीवनी
    <br> जय देवी, जय देवी महिषासुरमर्दिनी
    <br> सुरवर, ईश्वर वरदे तारक संजीवनी
    <br> जय देवी, जय देवी...
  </strong>
</div>