<div class="adhyaatma-page">
  <h1 alt="renuka devi aarti arti jay jay bhavani bhawani">रेणुका देवीची आरती ३</h1>

  <br><strong>जय जय भवानी,</strong>
  <br><strong>मनरमणी,</strong>
  <br><strong>मातापुरवासीनी |</strong>
  <br><strong>चौदाभुवनांची स्वामिनी ।</strong>
  <br><strong>महिषासुरमार्दिनी ।।जय ।। धृ ।।</strong>
  <br>
  <br>नेसुनि पाटाव, पिवळा,
  <br>हार शोभे गळा ।।
  <br>हाती घेऊनिया त्रिशुळा,
  <br>भाळी कुंकुम टीळा <strong>॥ १ ॥</strong>
  <br>
  <br>अंगी लेवुनिया काचोळी,
  <br>वर मोत्यांची जाळी ।
  <br>हृदयी शोभतसे, पदकमळी,
  <br>कंठी हे गरसोळी <strong>॥ २ ॥</strong>
  <br>
  <br>पायी घागरिया, घुळघुळ,
  <br>नाकी मुक्ताफळ |
  <br>माथां केश हे, कुरळ
  <br>नयनींहो काजळ <strong>॥ ३ ॥</strong>
  <br>
  <br>सिंहावरी तू बैसून,
  <br>मारिसी दानवगण ॥
  <br>तुजला विनवितो, निशिदीन,
  <br>गोसावीनंदन <strong>॥ ४ ॥</strong>
</div>