<div class="adhyaatma-page">
  <h1>रेणुका देवीची आरती ३</h1>

  <strong>
    <br />जय जय भवानी , मनरमणी , <br />मातापुरवासीनी | चौदाभुवनांची स्वामिनी ।
    <br />महिषासुरमार्दिनी ।।जय ।। धृ ।।
  </strong>
  <br />
  <br />नेसुनि पाटाव , पिवळा , हार शोभे गळा ।। <br />हाती घेऊनिया त्रिशुळा ,
  भाळी कुंकुम टीळा <strong>॥ १ ॥</strong>
  <br />
  <br />अंगी लेवुनिया काचोळी , वर मोत्यांची जाळी । <br />हृदयी शोभतसे , पदकमळी ,
  कंठी हे गरसोळी <strong>॥ २ ॥</strong>
  <br />
  <br />पायी घागरिया , घुळघुळ , नाकी मुक्ताफळ | <br />माथां केश हे , कुरळ
  नयनींहो काजळ <strong>॥ ३ ॥</strong>
  <br />
  <br />सिंहावरी तू बैसून , मारिसी दानवगण ॥ <br />तुजला विनवितो , निशिदीन ,
  गोसावीनंदन <strong>॥ ४ ॥</strong>
</div>
