<div class="adhyaatma-page">
  <h1 alt="renuka devi aarti arti jay jay bhavani bhawani">रेणुका देवीची आरती ३</h1>

  <strong>जय जय भवानी,</strong>
  <strong>मनरमणी,</strong>
  <strong>मातापुरवासीनी |</strong>
  <strong>चौदाभुवनांची स्वामिनी ।</strong>
  <strong>महिषासुरमार्दिनी ।।जय ।। धृ ।।</strong>

  नेसुनि पाटाव, पिवळा,
  हार शोभे गळा ।।
  हाती घेऊनिया त्रिशुळा,
  भाळी कुंकुम टीळा <strong>॥ १ ॥</strong>

  अंगी लेवुनिया काचोळी,
  वर मोत्यांची जाळी ।
  हृदयी शोभतसे, पदकमळी,
  कंठी हे गरसोळी <strong>॥ २ ॥</strong>

  पायी घागरिया, घुळघुळ,
  नाकी मुक्ताफळ |
  माथां केश हे, कुरळ
  नयनींहो काजळ <strong>॥ ३ ॥</strong>

  सिंहावरी तू बैसून,
  मारिसी दानवगण ॥
  तुजला विनवितो, निशिदीन,
  गोसावीनंदन <strong>॥ ४ ॥</strong>
</div>