<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १११ ते १२०</strong>
  <br><br>हिताकारणे बोलणे सत्य आहे।
  <br>हिताकारणे सर्व शोधुनि पाहें॥
  <br>हितकारणे बंड पाखांड वारी।
  <br>तुटे वाद संवाद तो हीतकारी॥१११॥
  <br>
  <br>जनीं सांगतां ऐकता जन्म गेला।
  <br>परी वादवेवाद तैसाचि ठेला॥
  <br>उठे संशयो वाद हा दंभधारी।
  <br>तुटे वाद संवाद तो हीतकारी॥११२॥
  <br>
  <br>जनी हीत पंडीत सांडीत गेले।
  <br>अहंतागुणे ब्रह्मराक्षस जाले॥
  <br>तयाहून व्युत्पन्न तो कोण आहे।
  <br>मना सर्व जाणीव सांडुनि राहे॥११३॥
  <br>
  <br>फुकाचे मुखी बोलतां काय वेचे।
  <br>दिसंदीस अभ्यंतरी गर्व सांचे॥
  <br>क्रियेवीण वाचाळता व्यर्थ आहे।
  <br>विचारे तुझा तूंचि शोधुनि पाहे॥११४॥
  <br>
  <br>तुटे वाद संवाद तेथें करावा।
  <br>विविके अहंभाव हा पालटावा॥
  <br>जनीं बोलण्यासारिखे आचरावें।
  <br>क्रियापालटे भक्तिपंथेचि जावे॥११५॥
  <br>
  <br>बहू शापिता कष्टला अंबऋषी।
  <br>तयाचे स्वये श्रीहरी जन्म सोशी॥
  <br>दिला क्षीरसिंधु तया ऊपमानी।
  <br>नुपेक्षी कदा देव भक्ताभिमानी॥११६॥
  <br>
  <br>धुरू लेकरु बापुडे दैन्यवाणे।
  <br>कृपा भाकितां दीधली भेटी जेणे॥
  <br>चिरंजीव तारांगणी प्रेमखाणी।
  <br>नुपेक्षी कदा देव भक्ताभिमानी॥११७॥
  <br>
  <br>गजेंदु महासंकटी वास पाहे।
  <br>तयाकारणे श्रीहरी धांवताहे॥
  <br>उडी घातली जाहला जीवदानी।
  <br>नुपेक्षी कदा देव भक्ताभिमानी॥११८॥
  <br>
  <br>अजामेळ पापी तया अंत आला।
  <br>कृपाळूपणे तो जनीं मुक्त केला॥
  <br>अनाथासि आधार हा चक्रपाणी।
  <br>नुपेक्षी कदा देव भक्ताभिमानी॥११९॥
  <br>
  <br>विधीकारणे जाहला मत्स्य वेगीं।
  <br>धरी कूर्मरुपे धरा पृष्ठभागी।
  <br>जना रक्षणाकारणे नीच योनी।
  <br>नुपेक्षी कदा देव भक्ताभिमानी॥१२०॥
</div>