<div class="adhyaatma-page">
  <h1 alt="ramacha dhava ram dhawa dhav re ram raya">रामाचा धावा</h1>

  <br><strong>धांव रे रामराया |</strong>
  <br><strong>किती अंत पाहसी |</strong>
  <br><strong>धांव रे रामराया ।। ध्रु ।।</strong>
  <br>
  <br>प्राणांत मांडला कीं ।
  <br>नये करुणा कैसी पाहीन धणीवरी ।
  <br>चरण झाडीन केशीं नयन शिणले बा ।
  <br>आतां केधवां येसी <strong>।। १ ।।</strong>
  <br>
  <br>मीपण अहंकारें |
  <br>अंगी भरला ताठा विषयकर्दमांत ।
  <br>लाज नाही लोळता चिळस उपजेना ।
  <br>ऐसे जालें बा आतां <strong>।। २ ।।</strong>
  <br>
  <br>मारुतिस्कंधभागीं शीघ्र बैसोनी यावें ।
  <br>राघवें वैद्यराजे, कृपाऔषध द्यावें ।
  <br>दयेच्या पद्महस्ता ।
  <br>माझे शिरीं ठेवावें <strong>।। ३ ।।</strong>
  <br>
  <br>या भवीं रामदास ।
  <br>थोर पावतो व्यथा |
  <br>कौतुक पाहतोसी, काय जानकीकांता ।
  <br>दयाळा दीनबंधो, भक्तवत्सला ताता <strong>।। ४ ।।</strong>
</div>