<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय २</h1> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  जयजय अज अजिता सर्वेश्वरा । <br>
  हेचंद्रभागातटविहारा । <br>
  पूर्णब्रह्मा रुक्मिणीवरा । <br>
  दीनबंधो पाहि माम् <strong>॥१॥</strong><br><br>

  तुझ्या वशिल्यावांचून । <br>
  अवघेंच देवा आहे शीण । <br>
  कुडीमाजीं नसल्या प्राण । <br>
  कोण विचारी मढयातें <strong>॥२॥</strong><br><br>

  सरोवराची दिव्य शोभा । <br>
  तोयामुळें पद्मनाभा । <br>
  रसभरीत आंतला गाभा । <br>
  टरफलातें महत्त्व आणी <strong>॥३॥</strong><br><br>

  तुझी कृपा त्याच परी । <br>
  शरणांगतातें समर्थ करी । <br>
  पाप ताप दैन्य वारी । <br>
  हेंच आहे मागणें <strong>॥४॥</strong><br><br>

  मागले अध्यायीं झालें कथन । <br>
  समर्थ गेले निघून । <br>
  तेणें बंकटलाला लागून । <br>
  हुरहूर वाटूं लागली <strong>॥५॥</strong><br><br>

  गोड न लागे अन्नपाणी । <br>
  समर्थांचा ध्यास मनीं । <br>
  न हाले दृष्टीपासोनी । <br>
  गजाननाचें रुप तें <strong>॥६॥</strong><br><br>

  जिकडे पहावें तिकडे भास । <br>
  होवो लागला त्यांचा खास । <br>
  याचें नांव श्रोते ध्यास । <br>
  उग्या नसती पोरचेष्टा <strong>॥७॥</strong><br><br>

  चुकलेल्या धेनूची । <br>
  वत्स शुद्धि करी साची । <br>
  तैसी बंकटलालाची । <br>
  स्थिति झाली विबुध हो ! <strong>॥८॥</strong><br><br>

  हें हितगुज सांगावया । <br>
  जागा नव्हती कोठें तया । <br>
  वडिलांपासीं बोलावया । <br>
  छाती त्याची होईना <strong>॥९॥</strong><br><br>

  ऐशा रीति चित्तीं भलें । <br>
  विचाराचें काहूर झालें । <br>
  शेगांव अवघें धुंडाळिलें । <br>
  परी न पत्ता लागला <strong>॥१०॥</strong><br><br>

  घरीं येतां वडील पुसती । <br>
  भवानी राम सन्मती । <br>
  बाळा तुझी आज वृत्ती । <br>
  का रे झाली चंचळ <strong>॥११॥</strong><br><br>

  चित्तीं उत्साह दिसेना । <br>
  वदनीं दिसे म्लानपणा । <br>
  ऐशा असह्य यातना । <br>
  होती कशाच्या सांग मज ? <strong>॥१२॥</strong><br><br>

  तूं पोर्‍या तरणा ज्वान । <br>
  नाहीं कशाची तुला वाण । <br>
  ऐसें साच असोन । <br>
  चिंतातुर दिसतोसी <strong>॥१३॥</strong><br><br>

  किंवा शरीरीं कांहीं व्याधी । <br>
  होतसे ती सांग आधीं । <br>
  चोरुन पुत्र ठेवी न कधीं । <br>
  गोष्ट कोणती पित्याला <strong>॥१४॥</strong><br><br>

  कांहीं तरी सांगून । <br>
  केलें पित्याचें समाधान । <br>
  पुन्हा शोधाकारण । <br>
  फिरुं लागला शेगांवीं <strong>॥१५॥</strong><br><br>

  बंकटलालाचे शेजारीं । <br>
  एक होते सदाचारी । <br>
  घरीं होती जमेदारी । <br>
  परी अभिमान नसे त्याचा <strong>॥१६॥</strong><br><br>

  ते देशमुख रामाजीपंत । <br>
  वयानें वृद्ध अत्यंत । <br>
  बंकटलालानें इत्यंभूत । <br>
  हकीकत त्यांना निवेदिली <strong>॥१७॥</strong><br><br>

  ते बोलले बंकटलाला । <br>
  तुझा वृत्तान्त मी ऐकिला । <br>
  तूं जो पुरुष कथिसी मला । <br>
  तो योगी असावा कोणीतरी <strong>॥१८॥</strong><br><br>

  योग्यावांचुनी ऐशा क्रिया । <br>
  मिळती न कोठें पाहावया । <br>
  पूर्वसुकृता वांचोनिया । <br>
  होणें न दर्शन अशाचें <strong>॥१९॥</strong><br><br>

  तूं घेतलें दर्शन । <br>
  जन्म तुझा धन्य धन्य । <br>
  भेटतां ते तुजलागून । <br>
  ने मलाही दर्शना <strong>॥२०॥</strong><br><br>

  ऐशा स्थितींत दिवस चार । <br>
  गेले निघून साचार । <br>
  बंकटलालासी तीळभर । <br>
  विसर न पडे तयाचा <strong>॥२१॥</strong><br><br>

  गोविंदबुवा टाकळीकर । <br>
  होते एक कीर्तनकार । <br>
  ज्यांच्या कीर्तनीं शारंगधर । <br>
  प्रसन्नचित्त होतसे <strong>॥२२॥</strong><br><br>

  लौकिक यांचा वर्‍हाडांत । <br>
  होता मोठया प्रमाणांत । <br>
  ते आले फिरत फिरत । <br>
  कीर्तन कराया शेगांवीं <strong>॥२३॥</strong><br><br>

  शंकराच्या मंदिरीं । <br>
  झाली कीर्तनाची तयारी । <br>
  धांवो लागल्या नरनारी । <br>
  कीर्तन ऐकायाकारणें <strong>॥२४॥</strong><br><br>

  बंकटलालही तेथें आला । <br>
  कीर्तन श्रवणासाठीं भला । <br>
  मध्यें शिंपी भेटला । <br>
  पितांबर नाम ज्याचें <strong>॥२५॥</strong><br><br>

  हा शिंपी पितांबर । <br>
  भोळां भाविक होता फार । <br>
  त्यासी समर्थाचा समाचार । <br>
  बंकटलालें कथन केला <strong>॥२६॥</strong><br><br>

  दोघे कीर्तना चालले । <br>
  तों अवचित समर्थ पाहिले । <br>
  मागल्या बाजूस बसलेले । <br>
  फरसावरी तेधवां <strong>॥२७॥</strong><br><br>

  मग कशाचें कीर्तन । <br>
  गेले उभयतां धांवून । <br>
  जेवीं द्रव्य-घटातें पाहून । <br>
  कृपण जाय हपापोनी <strong>॥२८॥</strong><br><br>

  वा चातकातें स्वातिघन । <br>
  वा मोरासी मेघदर्शन । <br>
  किंवा तो रोहिणीरमण । <br>
  चकोर पाहातां आनंदें <strong>॥२९॥</strong><br><br>

  तैसें उभयतांसी झालें । <br>
  दूर उभे राहिले । <br>
  विनयानें बोलूं लागले । <br>
  कांहीं आणूं का खावया ? <strong>॥३०॥</strong><br><br>

  महाराज बोलले त्यावरी । <br>
  तुला गरज असेल जरी । <br>
  आण झुणकाभाकरी । <br>
  माळणीच्या सदनांतून <strong>॥३१॥</strong><br><br>

  बंकटलालें सत्वरीं । <br>
  चून अर्धी भाकरी । <br>
  आणोन ठेविली हातावरी । <br>
  तया योगेश्वराच्या <strong>॥३२॥</strong><br><br>

  चून भाकरी खात खात । <br>
  वदले पितांबरासी समर्थ । <br>
  जा जावोनी ओढयाप्रत । <br>
  तुंबा भरोनी आण पाणी <strong>॥३३॥</strong><br><br>

  पितांबर बोले गुरुराया । <br>
  ओढयास पाणी अल्प सदया । <br>
  पाण्यांत तुंबा बुडावया । <br>
  मुळीं नाहीं अवसर <strong>॥३४॥</strong><br><br>

  इतुकें असून तें पाणी । <br>
  खराब केलें गुरुंनीं । <br>
  तेवीं जाणार्‍या येणार्‍यांनीं । <br>
  नाहीं पिण्याच्या योग्य तें <strong>॥३५॥</strong><br><br>

  मर्जी असल्या दुसरीकडून । <br>
  पाणी आणितों तुंबा भरुन । <br>
  तैं बोलले गजानन । <br>
  दुसरें पाणी आम्हां नको <strong>॥३६॥</strong><br><br>

  नाल्याचेंच आण पाणी । <br>
  आंत तुंबा बुडवोनी । <br>
  उगीच ओंजळी-ओंजळींनीं । <br>
  तुंब्यांत पाणी भरुं नको <strong>॥३७॥</strong><br><br>

  तुंबा घेऊन पितांबर । <br>
  तात्काळ गेला नाल्यावर । <br>
  तुंबा भरेल ऐसें नीर । <br>
  कोठें न त्यानें पाहिलें <strong>॥३८॥</strong><br><br>

  तळवे पदाचे भिजतील । <br>
  इतुकेंच तेथें होतें जल । <br>
  करुन हातांची ओंजळ । <br>
  तुंब्यांत पाणी भरणें नसे <strong>॥३९॥</strong><br><br>

  ऐसी झाली आड विहीर । <br>
  चिंतावला पितांबर । <br>
  हिय्या करुन अखेर । <br>
  तुंवें स्पर्श केला जला <strong>॥४०॥</strong><br><br>

  तों ऐसें झालें अघटीत । <br>
  तुंबा ठेवावा जेथ जेथ । <br>
  तो बुडे तेथ तेथ । <br>
  खळगा पाहून ओढयाला <strong>॥४१॥</strong><br><br>

  नाल्याचें घाण जीवन । <br>
  तुंब्यांत स्फटिकासमान । <br>
  आल तैसें पाहोन । <br>
  शिंपी चित्तीं चकित झाला <strong>॥४२॥</strong><br><br>

  तो म्हणे ही ऐशी स्थिति । <br>
  कीं आज झाली निश्चिती । <br>
  ती योगेश्वराची साच शक्ति । <br>
  संशय येथें धरणें नको <strong>॥४३॥</strong><br><br>

  तुंबा आणून ठेविला । <br>
  योगेश्वराचे सान्निध्याला । <br>
  त्याचा समर्थें स्वीकार केला । <br>
  झुणकाभाकर सेविल्यावर <strong>॥४४॥</strong><br><br>

  बंकटलालासी सुपारी । <br>
  मागते झाले साक्षात्कारी । <br>
  अरे माळिणीच्या भाकरीवरी । <br>
  माझी सेवा करतोस कां ? <strong>॥४५॥</strong><br><br>

  काढ सुपारी खिशांतून । <br>
  फोडोन देई मजकारण । <br>
  तें ऐकतां समाधान । <br>
  बंकटलालास झालें बहु <strong>॥४६॥</strong><br><br>

  सुपारीच्या बरोबरी । <br>
  दोन पैसे हातावरी । <br>
  ठेवितां झाला व्याघ्रांबरी । <br>
  दुदंडी तांब्याचे <strong>॥४७॥</strong><br><br>

  खडकु दुदंडी व्याघ्रांबरी । <br>
  हीं मुसलमानी नाणीं सारीं । <br>
  चालत होतीं व्यवहारीं । <br>
  तया वर्‍हाड प्रांतांत <strong>॥४८॥</strong><br><br>

  पैशाप्रती पाहून । <br>
  महाराज बोलले हांसोन । <br>
  काय व्यापारी समजून । <br>
  मजला तूं हें अर्पिसी ? <strong>॥४९॥</strong><br><br>

  हें नाणें तुमचें व्यवहारीं । <br>
  मला न त्याची जरुरी । <br>
  भावभक्ति नाण्यावरी । <br>
  संतुष्ट मी रहातसे <strong>॥५०॥</strong><br><br>

  तें तुझ्याजवळ होतें । <br>
  म्हणून भेटलों पुन्हां तूंतें । <br>
  याचा विचार चित्तातें । <br>
  करी म्हणजे कळेल <strong>॥५१॥</strong><br><br>

  जा आतां कीर्तन । <br>
  दोघे जाऊन करा श्रवण । <br>
  मी लिंबापाशीं बैसोन । <br>
  कथा त्याची ऐकतों <strong>॥५२॥</strong><br><br>

  दोघे कीर्तनाप्रती आले । <br>
  महाराज लिंबापाशीं बैसले । <br>
  गोविंदबुवांचें सुरु झालें । <br>
  आरंभींचें निरुपण <strong>॥५३॥</strong><br><br>

  निरुपणासी भागवतीचा । <br>
  घेतला होता एक साचा । <br>
  श्लोक एकादश स्कंधाचा । <br>
  हंसगीतामधील <strong>॥५४॥</strong><br><br>

  बुवांनीं पूर्वार्धा विशद केलें । <br>
  त्याचा उत्तरार्ध समर्थ वदले । <br>
  तें ऐकोन घोटाळले । <br>
  गोविंदबुवा मनांत <strong>॥५५॥</strong><br><br>

  हा उत्तरार्ध वदणारा । <br>
  पुरुष अधिकारी दिसतो खरा । <br>
  जा त्या घेऊन मंदिरा । <br>
  या हो कीर्तनश्रवणास <strong>॥५६॥</strong><br><br>

  बंकटलाल पितांबर । <br>
  आणिक मंडळी निघाली इतर । <br>
  समर्थासी साचार । <br>
  कीर्तनासी आणावया <strong>॥५७॥</strong><br><br>

  केली विनंती अवघ्यांनीं । <br>
  श्रोते अती विनयांनीं । <br>
  परी बसल्या जागेपासोनी । <br>
  मुळीं न महाराज हलले हो <strong>॥५८॥</strong><br><br>

  गोविंदबुवा अखेर । <br>
  येवोन जोडीते झाले कर । <br>
  कृपा करावी एक वार । <br>
  चला शिवाच्या मंदिरीं <strong>॥५९॥</strong><br><br>

  तुम्ही साक्षात्‌ शंकर । <br>
  बरें न बसणें बाहेर । <br>
  धन्यावांचून मंदिर । <br>
  शून्य साच समर्था <strong>॥६०॥</strong><br><br>

  पूर्वजन्मींचें पुण्य भलें । <br>
  माझें आज उदेलें । <br>
  म्हणून हे दृष्टी पडले । <br>
  साक्षात् चरण शिवाचे <strong>॥६१॥</strong><br><br>

  कीर्तनाची फलप्राप्ती । <br>
  झाली आज मजप्रती । <br>
  वेळ न करा गुरुमूर्ती । <br>
  चला मंदिरीं माझ्यासवें <strong>॥६२॥</strong><br><br>

  ऐसें गोविंदबुवा बोलतां । <br>
  समर्थ वदलें तत्त्वतां । <br>
  ठेवी एकवाक्यता । <br>
  भाषणीं गोविंदा लवमात्र <strong>॥६३॥</strong><br><br>

  तूं इतक्यांत प्रतिपादिलें । <br>
  अवघें ईश्वरें व्यापिलें । <br>
  आंत बाहेर कांहीं न उरलें । <br>
  मग हा ऐसा हट्ट कां ? <strong>॥६४॥</strong><br><br>

  जें जें जयानें सांगावें । <br>
  तें तें त्यानें आचरावें । <br>
  शब्दच्छलासी न करावें । <br>
  साधकानें केव्हांही <strong>॥६५॥</strong><br><br>

  भागवताचा श्लोक सांगसी । <br>
  आणि त्याच्या विरुद्ध वागसी । <br>
  कथेकर्‍याची रीत ऐसी । <br>
  बरवी नव्हे गोविंदा <strong>॥६६॥</strong><br><br>

  पोटभर्‍या कथकेरी । <br>
  तूं न व्हावें भूमीवरी । <br>
  जा कीर्तन समाप्त करी । <br>
  मी येथून ऐकतों <strong>॥६७॥</strong><br><br>

  बुवा कीर्तनीं परत आले । <br>
  गर्जोन अवघ्यां बोलले । <br>
  तुमच्या शेगांवीं अमोल आलें । <br>
  रत्‍न हें त्या सांभाळा <strong>॥६८॥</strong><br><br>

  हें न शेगांव राहिलें । <br>
  पंढरपूर खचीत झालें । <br>
  चालते बोलते येथ आले । <br>
  साक्षात्‌ हे पांडुरंग <strong>॥६९॥</strong><br><br>

  यांची तरतूद ठेवावी । <br>
  सेवा यांची करावी । <br>
  यांची आज्ञा मानावी । <br>
  वेदवाक्यापरी हो <strong>॥७०॥</strong><br><br>

  तरीच तुमचें कल्याण । <br>
  होईल निःसंशय करुन । <br>
  अनायासें हें निधान । <br>
  जोडलें त्या दवडूं नका <strong>॥७१॥</strong><br><br>

  कीर्तन अवघें सांग झालें । <br>
  लोक आपुल्या घरां गेले । <br>
  बंकटलाल घरीं आले । <br>
  चित्तीं हर्ष मावेना <strong>॥७२॥</strong><br><br>

  आपल्या सन्माननीय पित्यासी । <br>
  हकीकत कथिली प्रेमेंसी । <br>
  बाबा आपुल्या घरासी । <br>
  गजानन आणा हो ! <strong>॥७३॥</strong><br><br>

  पुत्रानें जें कथन केलें । <br>
  तें भवानीरामें ऐकिलें । <br>
  आणि प्रेमें ऐसें वदलें । <br>
  तूंच ये त्या घेऊन <strong>॥७४॥</strong><br><br>

  पित्याची मिळाली संमती । <br>
  बंकटलाल हर्षें अती । <br>
  म्हणे कधीं भेटेल गुरुमूर्ती । <br>
  मजला सदनीं आणावया <strong>॥७५॥</strong><br><br>

  पुढें माणिक चौकांत । <br>
  चौथे दिवशीं सद्‌गुरुनाथ । <br>
  भेटले बंकटलाला प्रत । <br>
  अस्तमानाचे समयाला <strong>॥७६॥</strong><br><br>

  दिनपति अस्ता गेला । <br>
  इकडे बोधसूर्य उदेला । <br>
  माणिक चौक प्राचीला । <br>
  बंकटलालाच्या भाग्यानें <strong>॥७७॥</strong><br><br>

  गुराखी घेऊन धेनूस । <br>
  येऊं लागले ग्रामास । <br>
  समर्थांच्या आसपास । <br>
  गाई जमूं लागल्या <strong>॥७८॥</strong><br><br>

  त्या वाटले नंदसुत । <br>
  आला येथें साक्षात । <br>
  वृक्षावरी करितात । <br>
  पक्षी किलकिलाट आनंदें <strong>॥७९॥</strong><br><br>

  दिवाबत्तीची तयारी । <br>
  दुकानदार करिती खरी । <br>
  अशा वेळीं आला घरीं । <br>
  घेऊन बंकट महाराजा <strong>॥८०॥</strong><br><br>

  पित्यानें मूर्ति पाहातां क्षणीं । <br>
  अती आनंद झाला मनीं । <br>
  नमन साष्टांग केलें चरणीं । <br>
  पाटावरी बैसविलें <strong>॥८१॥</strong><br><br>

  आणि विनविलें जोडोन होत । <br>
  कांहीं भोजन करा येथ । <br>
  तुम्ही साक्षात् पार्वतीकांत । <br>
  प्रदोष वेळीं आला या <strong>॥८२॥</strong><br><br>

  शिव आराधन प्रदोषकालीं । <br>
  घडेल तो भाग्यशाली । <br>
  ऐसी आहे ऐकिली । <br>
  स्कंदपुराणीं गोष्ट म्यां <strong>॥८३॥</strong><br><br>

  ऐसें म्हणोन आणिलें । <br>
  बिल्वपत्र तात्काळ भलें । <br>
  समर्थांच्या ठेविलें । <br>
  परमभक्तीनें मस्तकीं <strong>॥८४॥</strong><br><br>

  करा येथें भोजन । <br>
  ऐसें गेलों बोलून । <br>
  परी स्वयंपाकाकारण । <br>
  अवधी आहे कांहींसा <strong>॥८५॥</strong><br><br>

  स्वयंपाक होईपर्यंत । <br>
  हे न थांबले जरी येथ । <br>
  तरी प्रदोषकालीं पार्वतीकांत । <br>
  गेला उपासी घरांतूनी <strong>॥८६॥</strong><br><br>

  त्यास करुं कैसी तोड । <br>
  ऐसें संकट पडलें जड । <br>
  जनसमुदाय प्रचंड । <br>
  जमला मौज पाहावया <strong>॥८७॥</strong><br><br>

  विचार केला अखेरीं । <br>
  दुपारच्या पुर्‍या आहेत घरीं । <br>
  त्याच ठेवोन तबकांतरीं । <br>
  पुढें ठेवूं समर्थांच्या <strong>॥८८॥</strong><br><br>

  ते अवघेच जाणती । <br>
  कपट नाहीं माझ्या चित्तीं । <br>
  भावें भेटतो उमापती । <br>
  ऐसा आहे सिद्धान्त <strong>॥८९॥</strong><br><br>

  मी शिळें अवर्जुन । <br>
  यास घालीत नाहीं अन्न । <br>
  शिवाय पक्क्या रसोईकारण । <br>
  शिळें म्हणणें उचित नसे <strong>॥९०॥</strong><br><br>

  चिंतिल्याप्रमाणें तयारी । <br>
  तात्काळ त्यानें केली खरी । <br>
  आणून ठेविलें समोरी । <br>
  तबक एक समर्थांच्या <strong>॥९१॥</strong><br><br>

  पुर्‍या बदाम खारका । <br>
  केळीं मोसंबीं मुळे देखा । <br>
  भालाप्रती लाविला बुका । <br>
  कंठीं घातिला पुष्पहार <strong>॥९२॥</strong><br><br>

  गुरुमूर्ति प्रसन्न चित्तें । <br>
  अवघे झाले सेविते । <br>
  जें जें पडेल पात्रातें । <br>
  तें तें खाती भराभर <strong>॥९३॥</strong><br><br>

  उदरीं सुमारें तीन शेर । <br>
  अन्न सांठविलें साचार । <br>
  तेथेंच राहिले रात्रभर । <br>
  श्रीगजानन महाराज <strong>॥९४॥</strong><br><br>

  बंकटलालें दुसरे दिवशीं । <br>
  मंगल स्नान समर्थांसी । <br>
  घातलें असे अतिहर्षी । <br>
  तो न थाट वर्णवे <strong>॥९५॥</strong><br><br>

  घागरीं सुमारें शंभर । <br>
  उष्णोदकाच्या साचार । <br>
  पाणी घालती नारीनर । <br>
  मन मानेल ऐशा रीतीं <strong>॥९६॥</strong><br><br>

  कुणी शिकेकाई लाविती । <br>
  कुणी साबण घेऊन हातीं । <br>
  समर्थांतें घासीती । <br>
  पदकमळ आवडीनें <strong>॥९७॥</strong><br><br>

  कोणी दवना कोणी हीना । <br>
  कोणी चमेली तेल जाणा । <br>
  कोणी बेलियाच्या मर्दना । <br>
  करुं लागले निजहस्तें <strong>॥९८॥</strong><br><br>

  अंगराग नानापरी । <br>
  त्यांचें वर्णन कोण करी । <br>
  बंकटलालाचिया घरीं । <br>
  उणें नव्हतें कशाचे तें <strong>॥९९॥</strong><br><br>

  स्नानविधि संपला । <br>
  पितांबर तो नेसविला । <br>
  अति सन्मानें बैसविला । <br>
  योगिराज गादीवरी <strong>॥१००॥</strong><br><br>

  भालीं गंध केशरी । <br>
  गळ्यांत हार नानापरी । <br>
  कोणी तुळशीमंजरी । <br>
  वाहूं लागले शिरावर <strong>॥१॥</strong><br><br>

  नैवेद्य नानापरीचे । <br>
  झाले समर्थार्पण साचे । <br>
  भाग्य त्या बंकटलालाचें । <br>
  खचित आलें उदयाला <strong>॥२॥</strong><br><br>

  तें बंकटलालाचें घर । <br>
  झालें द्वारका साचार । <br>
  तया दिनीं सोमवार । <br>
  वार शिवाचा होता हो <strong>॥३॥</strong><br><br>

  अवघ्या मंडळींनीं आपुले । <br>
  मनोरथ ते पूर्ण केले । <br>
  एक मात्र त्यांतून उरले । <br>
  इच्छाराम शेटजी <strong>॥४॥</strong><br><br>

  हा चुलत बंधु बंकटाचा । <br>
  होता भाविक मनाचा । <br>
  भक्त असे शंकराचा । <br>
  त्यासी ऐसें वाटलें <strong>॥५॥</strong><br><br>

  आज आहे सोमवार । <br>
  मसी उपास साचार । <br>
  घरां प्रत्यक्ष शंकर । <br>
  चालते बोलते आलेच कीं <strong>॥६॥</strong><br><br>

  त्यांची पूजा अस्तमानीं । <br>
  यथासांग करोनी । <br>
  करुं पारणा ऐसी मनीं । <br>
  इच्छा त्यानें धरली असे <strong>॥७॥</strong><br><br>

  तों झाला अस्तमान । <br>
  मावळलासे नारायण । <br>
  इच्छारामें केलें स्नान । <br>
  प्रदोष वेळा लक्षुनी <strong>॥८॥</strong><br><br>

  पूजासाहित्य घेऊन । <br>
  साधु जे कां गजानन । <br>
  त्यांचें केलें पूजन । <br>
  परम प्रेमें करोनी <strong>॥९॥</strong><br><br>

  आणि विनंती केली वरी । <br>
  झालें आहे दुपारीं । <br>
  आपुलें तें भोजन जरी । <br>
  परी आतां कांहीं खावें <strong>॥११०॥</strong><br><br>

  आपण जेवल्यावांचून । <br>
  मी नाहीं घेणार अन्न । <br>
  आहे मजला उपोषण । <br>
  सोमवारचें गुरुराया ! <strong>॥११॥</strong><br><br>

  अवघ्या भक्तांचा हेत पुरला । <br>
  माझा मात्र राहिला । <br>
  तो पाहिजे पुरविला । <br>
  तुम्ही कृपा करुन <strong>॥१२॥</strong><br><br>

  जन कुतूहल दृष्टींनीं । <br>
  पाहूं लागले तया स्थानीं । <br>
  इच्छाराम तो घेवोनी । <br>
  नैवेद्य आला परातींत <strong>॥१३॥</strong><br><br>

  आंबेमोहर तांदळाचा । <br>
  दोन मुदी भात साचा । <br>
  नानाविध पक्वान्नांचा । <br>
  थाट केला तयानें <strong>॥१४॥</strong><br><br>

  जिलबी राघवदास मोतीचूर । <br>
  करंज्या अनारसे घीवर । <br>
  शाखांचे नाना प्रकार । <br>
  वर्णन करावे कोठवरी ? <strong>॥१५॥</strong><br><br>

  अगणित चटण्या कोशिंबिरी । <br>
  वाडगा दह्याचा शेजारीं । <br>
  तुपाची ती वाटी खरी । <br>
  आदनाच्या सव्य भागा <strong>॥१६॥</strong><br><br>

  चार मनुष्यांचें अन्न । <br>
  ऐसा नैवेद्य परिपूर्ण । <br>
  समर्थांपुढें आणून । <br>
  ठेवला इच्छारामानें <strong>॥१७॥</strong><br><br>

  पाहोन त्या नैवेद्यासी । <br>
  महाराज बोलले आपणासी । <br>
  खातो खातो अहर्निशीं । <br>
  ऐसें बोलसी गणप्पा <strong>॥१८॥</strong><br><br>

  खा हें आतां अवघें अन्न । <br>
  अघोर्‍या न करी अनमान । <br>
  पाहों आले अवघे जन । <br>
  तुझ्या अघोर वृत्तीला <strong>॥१९॥</strong><br><br>

  महाराज भोजना बैसले । <br>
  अन्न अवघें पार केलें । <br>
  पात्रीं न कांहीं ठेविलें । <br>
  मीठ लिंबू तेंही पाहा <strong>॥१२०॥</strong><br><br>

  आग्रहाचा प्रकार । <br>
  काय होतो अखेर । <br>
  हें दावण्या साचार । <br>
  कौतुक केलें गुरुवरें <strong>॥२१॥</strong><br><br>

  खणाणून उलटी झालि । <br>
  खाल्ल्या अन्नाची ती भली । <br>
  ऐसीच गोष्ट होती केली । <br>
  श्रीरामदासें एकदां <strong>॥२२॥</strong><br><br>

  खिरीची झाली वासना । <br>
  रामदासाचीया मना । <br>
  तिची खोड मोडण्या जाणा । <br>
  आकंठ खीर प्याले कीं <strong>॥२३॥</strong><br><br>

  उलटीं होतां परत । <br>
  ती भक्षूं लागले सद्‌गुरुनाथ । <br>
  श्रीरामदासस्वामी समर्थ । <br>
  वासनेसी जिंकावया <strong>॥२४॥</strong><br><br>

  तैसें लोकाग्रहाला । <br>
  घालावयासी शीघ्र आळा । <br>
  हा उलटीचा प्रकार केला । <br>
  अंगीं बळ असूनिया <strong>॥२५॥</strong><br><br>

  सत्‌पुरुषाचें आचरण । <br>
  पुढील पिढीला साधन । <br>
  होतें कराया संरक्षण । <br>
  निसर्गाच्या धर्माचें <strong>॥२६॥</strong><br><br>

  तेंच समर्थें येथें केलें । <br>
  लोकांलागीं सुचविलें । <br>
  आग्रह करणें न चांगलें । <br>
  तो विपरीत फळ देई <strong>॥२७॥</strong><br><br>

  असो उलटी झाल्यावरी । <br>
  जागा केली साफ सारी । <br>
  नेवोन बैसविले पहिल्या परी । <br>
  स्नान घालोन महाराजा <strong>॥२८॥</strong><br><br>

  नरनारी दर्शनें घेती । <br>
  महाराजांची आनंदवृत्ती । <br>
  तों भजन करण्याप्रती । <br>
  दिंडया आल्या दोन तेथें <strong>॥२९॥</strong><br><br>

  आवाज ज्यांचे सुस्वर । <br>
  खडे पहाडी मनोहर । <br>
  विठ्ठलाचा नामगजर । <br>
  करुं लागले आवडीनें <strong>॥१३०॥</strong><br><br>

  इकडे महाराज आसनीं । <br>
  होते ते वदले वदनीं । <br>
  भजनाचिया मिषांनीं । <br>
  "गणगण गणांत बोते" <strong>॥३१॥</strong><br><br>

  हेंच सर्वदा त्यांचें भजन । <br>
  करिती टिचक्या वाजवून । <br>
  ऐसा झाला आनंद जाण । <br>
  रात्रभरीं ते ठायां <strong>॥३२॥</strong><br><br>

  ’गण गण’ हें त्यांचें भजन । <br>
  हमेशा चाले म्हणून । <br>
  लोकांनीं दिलें अभिधान । <br>
  गजानन हें तयाला <strong>॥३३॥</strong><br><br>

  जो स्वयमेव ब्रह्म झाला । <br>
  नांवरुप कोठून त्याला ? । <br>
  नामरुपाचा गलबला । <br>
  प्रकृतीच्या आश्रयास <strong>॥३४॥</strong><br><br>

  अस्ति-भाति-प्रिया ठायीं । <br>
  योगेश्वर निमग्न राही । <br>
  त्या आनंदा न वर्णवे कांहीं । <br>
  त्याची उपमा त्यालाच असे <strong>॥३५॥</strong><br><br>

  आषाढीसी पंढरपूर । <br>
  वा सिंहस्थीं गोदातीर । <br>
  वा कुंभमेळ्यासी साचार । <br>
  गर्दी होते हरिद्वारीं <strong>॥३६॥</strong><br><br>

  त्यापरि शेगांवांत । <br>
  बंकटलालाच्या घरांत। <br>
  लांबलांबून असंख्यात । <br>
  जन येती दर्शना <strong>॥३७॥</strong><br><br>

  स्वामी समर्थ गजानन । <br>
  हेच विठ्ठल नारायण । <br>
  निश्चय विटेस ठेवून । <br>
  पाय उभे राहिले <strong>॥३८॥</strong><br><br>

  त्यांचें वचन गोदातीर । <br>
  आनंद हा हरिद्वार । <br>
  गजबजलें शेगांव नगर । <br>
  सदन राऊळ बंकटाचें <strong>॥३९॥</strong><br><br>

  जो ब्रह्मपदा पोंचला । <br>
  जात कोठून उरली त्याला ? । <br>
  सूर्याचिया प्रकाशाला । <br>
  अवघेंच आहे सारखें <strong>॥१४०॥</strong><br><br>

  नित्य यात्रा नवी येई । <br>
  समाराधना होती पाही । <br>
  त्यांतें वाणितां शेषही । <br>
  थकून जाईल निःसंशय <strong>॥४१॥</strong><br><br>

  तेथें माझा पाड कोण । <br>
  मी कीटकासमान । <br>
  अवघें वदे गजानन । <br>
  निमित्त करुन माझ्या मुखा <strong>॥४२॥</strong><br><br>

  समर्थांची दिनचर्या । <br>
  सांगतों थोडी या ठायां । <br>
  अगाध त्यांचें चरित्र गाया । <br>
  मज पामरा मती नसे <strong>॥४३॥</strong><br><br>

  कधीं करावें मंगलस्नान । <br>
  कधीं हाळांत जाऊन । <br>
  कधीं कधीं प्राशन । <br>
  करावें गढूळ जलाचें <strong>॥४४॥</strong><br><br>

  त्यांच्या दिनचर्येचा । <br>
  नियम नव्हता एक साचा । <br>
  प्रकार वायूच्या गतीचा । <br>
  न ये ठरवितां कोणासी <strong>॥४५॥</strong><br><br>

  चिलमीवरी प्रेम भारी । <br>
  ती लागे वरच्यावरी । <br>
  नव्हती आसक्ति तिच्यावरी । <br>
  तें केवळ कौतुक <strong>॥४६॥</strong><br><br>

  असो आतां पुढीलाध्याया । <br>
  भाव ठेवा ऐकावया । <br>
  आली पर्वणी साधावया । <br>
  वेळ करुं नका हो ! <strong>॥४७॥</strong><br><br>

  हें श्रीगजाननचरित्र । <br>
  आदर्श होवो भाविकांप्रत । <br>
  हेंच विनवी जोडोन हात । <br>
  दासगणू ईशातें <strong>॥१४८॥</strong><br><br>

  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ इति द्वितीयोऽध्यायः समाप्तः ॥</strong>

</div>