<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ</h1>
  <h2>अध्याय ६</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  हे परममंगला श्रीहरी । <br>
  तुझी कृपा झालियावरी । <br>
  अशुभ अवघें जातें दुरी । <br>
  हा अनुभव संतांचा <strong>॥१॥</strong> <br><br>

  त्या संतवाक्यीं भरंवसा । <br>
  मी ठेवून श्रीनिवासा । <br>
  मंगलाची धरुन आशा । <br>
  तुझ्या दारीं पातलों <strong>॥२॥</strong> <br><br>

  आतां विन्मुख लावल्यास । <br>
  त्याचा तुला लागेल दोष । <br>
  आणि बट्टा वाक्यास । <br>
  लागेल कीं संतांच्या <strong>॥३॥</strong> <br><br>

  म्हणोन हे माधवा ! । <br>
  अभिमान माझा धरावा । <br>
  रोष कधीं ना करावा । <br>
  या अजाण लेंकरावर <strong>॥४॥</strong> <br><br>

  बालकांचें हीनपण । <br>
  मातेलागीं दूषण । <br>
  हें मनांत आणून करणें असेल तें करी <strong>॥५॥</strong> <br><br>

  असो बंकटलाला घरीं । <br>
  राहिली समर्थांची स्वारी । <br>
  तयीं अपूर्व एक घडली खरी । <br>
  गोष्ट श्रोते ती ऐका <strong>॥६॥</strong> <br><br>

  गांवाचिया दक्षिणेस । <br>
  बंकटलालाच्या मळ्यास । <br>
  महाराज गेले एक दिवस । <br>
  कणसें मक्याचीं खावया <strong>॥७॥</strong> <br><br>

  बहुत मंडळी बरोबरी । <br>
  कणसें खाया आली खरी । <br>
  विहिरीपासीं तयारी । <br>
  केली कणसें भाजण्याची <strong>॥८॥</strong> <br><br>

  विहीर होती धनत्तर । <br>
  पाणी जिला अपरंपार । <br>
  गर्द छायेचे वृक्ष थोर । <br>
  जवळ होते चिंचेचे <strong>॥९॥</strong> <br><br>

  आगटया पेटल्या एकसरां । <br>
  आजमासें हो दहा बारा । <br>
  तेणें डोंब झाला खरा । <br>
  गगनोदरीं धूमाचा <strong>॥१०॥</strong> <br><br>

  त्यायोगें ऐसे झाले । <br>
  आग्या मोहोळ लागलेलें । <br>
  चिंचवृक्षावरी भलें । <br>
  त्याच्या माशा उठल्या कीं <strong>॥११॥</strong> <br><br>

  त्या माशा उठतां क्षणीं । <br>
  मंडळी गेली पळोनी । <br>
  कणसें ठिकाणच्या ठिकाणीं । <br>
  मक्याचीं तीं राहिलीं हो <strong>॥१२॥</strong> <br><br>

  त्या आग्या मोहोळांच्या मक्षिका । <br>
  पसरल्या अवघ्या मळ्यांत देखा । <br>
  घोंगडयाचा करुन बुरखा । <br>
  कोणी गेले पळून <strong>॥१३॥</strong> <br><br>

  प्राणापरी आवडती । <br>
  वस्तु नसे हो कोणती । <br>
  अशा वेळीं समर्थमूर्ति । <br>
  आसनीं होती निर्धास्त <strong>॥१४॥</strong> <br><br>

  ते नाहीं पळून गेले । <br>
  आसनीं आपल्या स्वस्थ बसले । <br>
  विचार करुं लागले । <br>
  निजचित्तीं माश्यांचा <strong>॥१५॥</strong> <br><br>

  माशी तरी मीच झालों । <br>
  मोहोळ तेंही मीच बनलों । <br>
  कणसें खाया मीच आलों । <br>
  कणसें तेंही रुपें माझीं <strong>॥१६॥</strong> <br><br>

  ऐशा विचारें आनंदांत । <br>
  महाराज राहिले डोलत । <br>
  अंगावरी असंख्यात । <br>
  माशा येऊन बैसल्या <strong>॥१७॥</strong> <br><br>

  वाटे पासोडी माश्यांची । <br>
  समर्थ पांघरले साची । <br>
  योग्यता ब्रह्मनिष्ठाची । <br>
  काय वर्णन करावी ? <strong>॥१८॥</strong> <br><br>

  माशा चावती वरच्यावरी । <br>
  परी न तो पर्वा करी । <br>
  त्यांचे कांटे शरीरीं । <br>
  बोचले असती असंख्यात <strong>॥१९॥</strong> <br><br>

  यासी झाला एक प्रहर । <br>
  भक्त झाले चिंतातुर । <br>
  बंकटलालाचें अंतर । <br>
  दुःखें व्याकुळ झालें हो <strong>॥२०॥</strong> <br><br>

  कोठून बुद्धि झाली मला । <br>
  येथ आणिलें समर्थाला । <br>
  कणसें मक्याचीं खावयाला । <br>
  मंडळीच्या समवेत <strong>॥२१॥</strong> <br><br>

  अशा समर्थालागून । <br>
  दुःख द्याया मीच कारण । <br>
  झालों हें कां शिष्यपण । <br>
  माझे हाय रे दुर्दैवा ! <strong>॥२२॥</strong> <br><br>

  बंकटलालानें तयारी । <br>
  पुढें येण्याची केली खरी । <br>
  हें जाणोन अंतरीं । <br>
  कौतुक केलें समर्थानें <strong>॥२३॥</strong> <br><br>

  जीवांनो ! जा निघोन । <br>
  बसा मोहोळीं जाऊन । <br>
  माझ्या बंकटाकारण । <br>
  तुम्हीं न कोणीं चावावें <strong>॥२४॥</strong> <br><br>

  जमलेल्या मंडळींत । <br>
  बंकट हाच निःसीम भक्त । <br>
  जो माझ्याप्रीत्यर्थ । <br>
  येत आहे धांवोनिया <strong>॥२५॥</strong> <br><br>

  ऐसें म्हणतां माशा गेल्या । <br>
  मोहोळावरी जाऊन बैसल्या । <br>
  बंकटलालानें पाहिल्या । <br>
  त्या आपल्या निजदृष्टीं <strong>॥२६॥</strong> <br><br>

  महाराज त्या पाहोनी । <br>
  बोलते झाले हांसोनी । <br>
  वा खूप केलीस मेजवानी । <br>
  आम्हांसी तूं माश्यांची <strong>॥२७॥</strong> <br><br>

  अरे ते जीव विषारी । <br>
  बैसले माझ्या अंगावरी । <br>
  माझ्यापासून झाले दुरी । <br>
  लड्डूभक्त येधवां <strong>॥२८॥</strong> <br><br>

  याचा करी विचार । <br>
  संकट आल्या कोणावर । <br>
  कोणी न साह्य करणार । <br>
  एका ईश्वरावांचुनी <strong>॥२९॥</strong> <br><br>

  जिलबी पेढे बरफी खाती । <br>
  माशा आल्या पळून जाती । <br>
  ऐशी जयांची आहे कृति । <br>
  ते स्वार्थी भक्त निःसंशय <strong>॥३०॥</strong> <br><br>

  बंकटलाल मधुरोत्तर । <br>
  करितां झाला त्यावर । <br>
  महाराज आणवूं कां सोनार । <br>
  कांटे माश्यांचे काढवया ! <strong>॥३१॥</strong> <br><br>

  महापापी मी गुरुराया । <br>
  तुम्हांलागीं त्रास द्याया । <br>
  आणवितां झालों या ठायां । <br>
  माशा किती डसल्या तरी ! <strong>॥३२॥</strong> <br><br>

  गांधी अगणित अंगावर । <br>
  उठल्या तुमच्या साचार । <br>
  याचा व्हावया परिहार । <br>
  उपाय सांगा कोणता ? <strong>॥३३॥</strong> <br><br>

  बंकटलालाचें ऐकिलें । <br>
  वचन महाराज बोलते झाले । <br>
  अरे यांत ना कांहीं अधिक घडलें । <br>
  डसणें स्वभाव माश्यांचा <strong>॥३४॥</strong> <br><br>

  मला त्याची मुळींच बाधा । <br>
  होणार नाहीं जाण कदा । <br>
  त्या माशीरुप सच्चिदानंदा । <br>
  म्यां जाणलें म्हणोन <strong>॥३५॥</strong> <br><br>

  माशी तरी तोच झाला । <br>
  तोच आहे माझा पुतळा । <br>
  पाण्यानेंच पाण्याला । <br>
  काय दुखवितां येईल ? <strong>॥३६॥</strong> <br><br>

  हें ऐकतां ब्रह्मज्ञान । <br>
  बंकटलाल धरी मौन । <br>
  कांटे काढण्यालागून । <br>
  बाहिलें त्यानें सोनारा <strong>॥३७॥</strong> <br><br>

  सोनार चिमटे घेऊन आले । <br>
  देहास शोधूं लागले । <br>
  कोठें आहेत कांटे रुतले । <br>
  मक्षिकेचे पहावया <strong>॥३८॥</strong> <br><br>

  महारज वदले तयांना । <br>
  काय ह्या वंध्यामैथुना । <br>
  करितसा तुमच्या नयनां । <br>
  कांटे ते ना दिसतील <strong>॥३९॥</strong> <br><br>

  त काढण्या चिमटयाची । <br>
  गती नाहीं मुळींच साची । <br>
  साक्ष ती ह्या गोष्टीची । <br>
  मीच दावितों तुम्हांला <strong>॥४०॥</strong> <br><br>

  ऐसें म्हणून कौतुक केलें । <br>
  वायूलागीं रोधून धरिलें । <br>
  तों कांटे अवघे वरी आले । <br>
  रुतलेल्या स्थलांतून <strong>॥४१॥</strong> <br><br>

  तो पाहतां प्रकार । <br>
  लोक आनंदले फार । <br>
  कळून आला अधिकार । <br>
  श्रीगजाननस्वामीचा <strong>॥४२॥</strong> <br><br>

  पुढें कणसें भाजलीं । <br>
  अवघ्यांनीं तीं ग्रहण केलीं । <br>
  अस्तमानीं निघून आली । <br>
  मंडळी निजगृहातें <strong>॥४३॥</strong> <br><br>

  असो पुढें एक वेळा । <br>
  महाराज गेले अकोटाला । <br>
  आपुल्या बंधूस भेटण्याला । <br>
  श्रीनरसिंगजीकारणें <strong>॥४४॥</strong> <br><br>

  हा कोतश्या अल्लीचा । <br>
  शिष्य मराठा जातीचा । <br>
  कंठमणी विठ्ठलाचा । <br>
  भक्‍तिबलानें झाला असे <strong>॥४५॥</strong> <br><br>

  त्या नरसिंगजीचें चरित्र । <br>
  मीं भक्‍तलीलामृतांत । <br>
  वर्णिलें आहे इत्यंभूत । <br>
  आतां तें सांगणें नको <strong>॥४६॥</strong> <br><br>

  हें आकोट नामें नगर । <br>
  शेगांवाहून साचार । <br>
  आहे अठरा कोसांवर । <br>
  ईशान्येला परियेसी <strong>॥४७॥</strong> <br><br>

  मनोवेगाचा सजवून वारु । <br>
  निघते झाले सद्‌गुरु । <br>
  जे पदनताचे कल्पतरु । <br>
  श्रीगजानन महाराज <strong>॥४८॥</strong> <br><br>

  अकोटाच्या सान्निध्यासी । <br>
  एका निबिडतरशा अरण्यासी । <br>
  नससिंग राहे अहर्निशीं । <br>
  एकान्तवास सेवावया <strong>॥४९॥</strong> <br><br>

  हें निर्जन अवघें अरण्य । <br>
  महा भयकंर दारुण । <br>
  निंब अश्‍वत्थ रातांजन । <br>
  वृक्ष जेथें उदेले <strong>॥५०॥</strong> <br><br>

  लता त्या नाना जाती । <br>
  वृक्षा वेढून बैसल्या असती । <br>
  तृण वाढलें भूमीवरती । <br>
  सर्प वारुळीं असंख्यात <strong>॥५१॥</strong> <br><br>

  ऐशा त्या अरण्यांत । <br>
  नरसिंगजी जाऊन बसत । <br>
  म्हणून आले अवचित । <br>
  समर्थ त्यासी भेटावया <strong>॥५२॥</strong> <br><br>

  सारखा भेटे सारख्यासी । <br>
  पाणीच मिळें पाण्याशीं । <br>
  विजातीय द्रव्यासी । <br>
  समरसता होणें नसे <strong>॥५३॥</strong> <br><br>

  गजाननासी पाहिलें । <br>
  तेणें चित्त आनंदलें । <br>
  नरसिंगजीचें भलें । <br>
  तो प्रेमा न वर्णवे कीं <strong>॥५४॥</strong> <br><br>

  एक हरी एक हर । <br>
  चालते बोलते परमेश्‍वर । <br>
  एक राम एक कुमार । <br>
  वसुदेवदेवकीचा <strong>॥५५॥</strong> <br><br>

  एक मुनि वसिष्ठ । <br>
  एक पाराशर ऋषि श्रेष्ठ । <br>
  एक जान्हवीचा कांठ । <br>
  एक तट गोदेचा <strong>॥५६॥</strong> <br><br>

  एक हिरा कोहिनूर । <br>
  एक कौस्तुभ साचार । <br>
  एक वैनतेय एक कुमर । <br>
  सती वानरी अंजनीचा <strong>॥५७॥</strong> <br><br>

  दोघे भेटले एकमेकां । <br>
  दोघा आनंद सारखा । <br>
  बैसते झाले आसनीं एका । <br>
  हितगुज तें करावया <strong>॥५८॥</strong> <br><br>

  अनुभव ते आपापले । <br>
  एकमेकां कथिते झाले । <br>
  नरसिंगा, तूं उत्तम केलें । <br>
  प्रपंचांत राहिलास <strong>॥५९॥</strong> <br><br>

  मीं त्याग केला तयाचा । <br>
  स्वीकार करुन योगाचा । <br>
  सच्चिदानंद तत्त्वाचा । <br>
  करिता झालों विचार <strong>॥६०॥</strong> <br><br>

  या योगाच्या क्रियेंत । <br>
  गोष्टी होती अघटीत । <br>
  ज्यांचा मुळीं न लागे अंत । <br>
  या सामान्य लोकांला <strong>॥६१॥</strong> <br><br>

  त्या गोष्टी लपवावया । <br>
  पिसा बनलों जगा ठायां । <br>
  उपाधी ते नासावया । <br>
  वेड बळेंच पांघरलों <strong>॥६२॥</strong> <br><br>

  तत्त्व जाणण्याकारण । <br>
  मार्ग कथिले आहेत तीन । <br>
  कर्म, भक्ति, योग म्हणून । <br>
  शास्त्रकारांनीं शास्त्रांत <strong>॥६३॥</strong> <br><br>

  फल या तिन्ही मार्गांचें । <br>
  एकचि आहे अखेरीचें । <br>
  परी बाह्य स्वरुप त्यांचें । <br>
  भिन्न भिन्न असें कीं <strong>॥६४॥</strong> <br><br>

  योगी योगक्रियेचा । <br>
  जरी अभिमान वाही साचा । <br>
  तरी तयासी तत्त्वाचा । <br>
  खर बोध ना होईल <strong>॥६५॥</strong> <br><br>

  योगक्रियावरुन । <br>
  अलिप्त रहावें तयापासून । <br>
  कमलपत्रासमान । <br>
  तरीच तत्त्व कळून ये <strong>॥६६॥</strong> <br><br>

  याचपरी प्रपंचाची । <br>
  स्थिति नरसिंगा आहे साची । <br>
  आसक्ति कन्यापुत्रांची । <br>
  मुळींच राहतां कामा नये <strong>॥६७॥</strong> <br><br>

  गार पाण्यांत राहते । <br>
  परी न पाणी शिरुं देते । <br>
  ऐसेंच वागती साचें । <br>
  या प्रपंचामाझारीं <strong>॥६८॥</strong> <br><br>

  यापरी त्वां रहावें । <br>
  अपेक्षारहित असावें । <br>
  चित्तांतून ना ढळूं द्यावें । <br>
  सच्चिदानंद ईशाला <strong>॥६९॥</strong> <br><br>

  म्हणजे कांहींच अशक्य नाहीं । <br>
  तूं, मी आणि शेषशायी । <br>
  एकरुप आहों पाही । <br>
  जन जनार्दन भिन्न नसे <strong>॥७०॥</strong> <br><br>

  नरसिंग म्हणती बंधुराया ! । <br>
  आलास मसी भेटावया । <br>
  ही तुझी केवढी दया । <br>
  उपमा याला देण्या नसे <strong>॥७१॥</strong> <br><br>

  प्रपंच मुळीं अशाश्वत । <br>
  त्याची काय किंमत । <br>
  दुपारच्या सावलीप्रत । <br>
  कोण सांग खरे मानी ? <strong>॥७२॥</strong> <br><br>

  तूं कथिलें जयापरी । <br>
  तैसा वागेन भूवरीं । <br>
  मी जाण वरच्यावरी । <br>
  अशीच भेटी द्यावी तुवां <strong>॥७३॥</strong> <br><br>

  देह-प्रारब्ध जयाचें । <br>
  असेल ज्या जातीचें । <br>
  तेंच आहे व्हावयाचें । <br>
  लोकाचारी निःसंशय <strong>॥७४॥</strong> <br><br>

  तुम्हां आम्हांकारणें । <br>
  जें का धाडिलें ईशानें । <br>
  तेंच आहे आपणां करणें । <br>
  निरालसपणें भूमीवरी <strong>॥७५॥</strong> <br><br>

  आतां विनंति इतुकीच खरी । <br>
  व्यावहारिक भेट वरच्यावरी । <br>
  देत जावी साजिरी । <br>
  मी धाकटा बंधु तुझा <strong>॥७६॥</strong> <br><br>

  नंदीग्रामा राहिला भरत । <br>
  रघुपतीची वाट पहात । <br>
  तैसाच मी या आकोटांत । <br>
  राहून पाहतों वाट तुझी <strong>॥७७॥</strong> <br><br>

  तुला येथें यावया । <br>
  अशक्य कांहीं नाहीं सदया । <br>
  अवघ्या आहेत योगक्रिया । <br>
  अवगत तुला पहिल्यापून <strong>॥७८॥</strong> <br><br>

  पद न लावितां पाण्याप्रत । <br>
  योगी भरधांव वरुनी पळत । <br>
  क्षणामाजीं फिरुन येत । <br>
  शोधून अवघ्या त्रिभुवना <strong>॥७९॥</strong> <br><br>

  ऐसें हितगुज उभयतांचें । <br>
  रात्रभरी झालें साचें । <br>
  भरतें आलें प्रेमाचें । <br>
  दोघांचिया संगमीं <strong>॥८०॥</strong> <br><br>

  खरे खरे जे का संत । <br>
  तेथें हेंच घडून येत । <br>
  दांभिकांचीं होतात । <br>
  भांडणें पाहून एकमेकां <strong>॥८१॥</strong> <br><br>

  दांभिक म्हणूं नये गुरु । <br>
  ते अवघे पोटभरु । <br>
  पुरामाजीं फुटकें तारुं । <br>
  तारण्यासी समर्थ नसे ! <strong>॥८२॥</strong> <br><br>

  दांभिकांचा बोलबाला । <br>
  जरी होतो जगीं भला । <br>
  तरी त्यागणें आहे त्याला । <br>
  निवडूनिया श्रोते हो ! <strong>॥८३॥</strong> <br><br>

  संतत्व नाहीं मठांत । <br>
  संतत्व नाहीं विद्वत्तेंत। <br>
  संतत्व नाहीं कवित्वांत । <br>
  तेथें स्वानुभव पाहिजे <strong>॥८४॥</strong> <br><br>

  दांभिक मुलाम्याचें सोनें । <br>
  त्याला सांगा काय घेणें । <br>
  गृहिणी म्हणून ठेवणें । <br>
  काय कसबीण सदनांत ? <strong>॥८५॥</strong> <br><br>

  ही संतजोडी साक्षात्कारी । <br>
  दांभिकतेची साच वैरी । <br>
  नांदे ज्याच्या सदैव घरीं । <br>
  सन्नीति सदाचार <strong>॥८६॥</strong> <br><br>

  नरसिंगजीस भेटण्या जाण । <br>
  काननीं आले गजानन । <br>
  ऐसें कळलें वर्तमान । <br>
  गुराखीद्वारें आकोटाला <strong>॥८७॥</strong> <br><br>

  तें कळतां आनंदले । <br>
  लोक धावूं लागले । <br>
  नारळ घेऊन निघाले । <br>
  पाहाया द्वय संतांसी <strong>॥८८॥</strong> <br><br>

  एकमेकां ऐसें म्हणती । <br>
  चला चला रे सत्वर गती । <br>
  गोदा आणि भागीरथी । <br>
  संगम पावली काननांत <strong>॥८९॥</strong> <br><br>

  त्या भेटरुप प्रयागासी । <br>
  जाऊं आपण स्नानासी । <br>
  महोदयपर्वणीसी । <br>
  साधून घेऊं चला हो <strong>॥९०॥</strong> <br><br>

  तों इकडे काय झालें । <br>
  गजानन आधींच निघून गेले । <br>
  नरसिंगासी पुसून भले । <br>
  भेट ना झाली पौरांसी <strong>॥९१॥</strong> <br><br>

  पुढें एकदां गजानन । <br>
  करीत असतां भ्रमण । <br>
  दर्यापुराच्या सन्निध जाण । <br>
  येते जाहाले शिष्यांसह <strong>॥९२॥</strong> <br><br>

  दर्यापुराच्या शेजारीं । <br>
  शिवर गांव निर्धारी । <br>
  असे चंद्रभागेच्या तीरीं । <br>
  व्रजभूषणा वास जेथें <strong>॥९३॥</strong> <br><br>

  श्रोते ही चंद्रभागा । <br>
  पंढरीची नाहीं बघा । <br>
  ही लहानशी एक गंगा । <br>
  पयोष्णीला मिळणारी <strong>॥९४॥</strong> <br><br>

  या शिवर गांवांत । <br>
  व्रजभूषण नामें पंडित । <br>
  चार भाषा अवगत । <br>
  होत्या श्रोते जयाला <strong>॥९५॥</strong> <br><br>

  कीर्ति ज्याच्या विद्वत्तेची । <br>
  वर्‍हाडीं पसरली साची । <br>
  याला भक्ति भास्कराची । <br>
  आत्यंतिक असे हो <strong>॥९६॥</strong> <br><br>

  प्रत्यहीं चंद्रभागेवर । <br>
  स्नान करी साचार । <br>
  उदयास येतां दिनकर । <br>
  अर्घ्य त्यासी देतसे <strong>॥९७॥</strong> <br><br>

  पंच पंच उषःकाला । <br>
  व्रजभूषण उठे भला । <br>
  सारुन प्रातर्विधीला । <br>
  अरुणोदयीं स्नान करी <strong>॥९८॥</strong> <br><br>

  तेंही शीतोदकांनीं । <br>
  ऐसा कर्मठ परी ज्ञानी । <br>
  मानमान्यता विद्वज्जनीं । <br>
  ज्याची होती विशेष <strong>॥९९॥</strong> <br><br>

  त्या शिवरगांवाला । <br>
  योगीराज फिरत आला । <br>
  वाटे तपाचें द्यावयाला । <br>
  फल त्या व्रजभूषणासी <strong>॥१००॥</strong> <br><br>

  चंद्रभागेच्या वाळवंटीं । <br>
  हा बैसला ज्ञानजेठी । <br>
  समोर नदीचिया कांठीं । <br>
  आले व्रजभूषण स्नानाला <strong>॥१॥</strong> <br><br>

  ती प्रभातीची वेळा पाही । <br>
  प्रकाशिल्या दिशा दाही । <br>
  कुक्कुटाचा आवाज येई । <br>
  वरचेवरी ऐकावया <strong>॥२॥</strong> <br><br>

  चातक भारद्वाज पांखरें । <br>
  जाऊं लागलीं अत्यादरें । <br>
  भास्करासी सामोरे । <br>
  पूर्व दिशा लक्षून <strong>॥३॥</strong> <br><br>

  भास्कराचा उदय होतां । <br>
  तम निमाला हां हां म्हणतां । <br>
  जैसा सभेस पंडित येतां । <br>
  मूर्ख जाती उठोनी <strong>॥४॥</strong> <br><br>

  ऐशा त्या सुप्रभातीं । <br>
  वाळवंटीं गुरुमूर्ति । <br>
  बैसली होती निश्चिती । <br>
  ब्रह्मानंदीं डोलत <strong>॥५॥</strong> <br><br>

  सवें शिष्य अपार । <br>
  बसले होते मंडलाकार । <br>
  ते शिष्य नव्हते किरणें थोर । <br>
  त्या गजाननभास्कराचीं <strong>॥६॥</strong> <br><br>

  तईं व्रजभूषण तत्त्वतां । <br>
  झाला सूर्यासी अर्घ्य देतां । <br>
  तो हा पुढें ज्ञानसविता । <br>
  त्यानें पाहिला प्रत्यक्ष <strong>॥७॥</strong> <br><br>

  सूर्याप्रमाणें सतेज कांति । <br>
  अजानुबाहू निश्चिती । <br>
  दृष्टि नासाग्राच्या वरती । <br>
  स्थिर जयाची झाली असे <strong>॥८॥</strong> <br><br>

  ऐसा पुरुष पाहतां क्षणीं । <br>
  व्रजभूषण हर्षला मनीं । <br>
  संध्यासामान घेऊनी । <br>
  आला धांवून जवळ त्यांच्या <strong>॥९॥</strong> <br><br>

  अर्घ्य दिलें पायांवरी । <br>
  गजाननाच्या सत्वरीं । <br>
  प्रदक्षणाही अखेरी । <br>
  त्यानें घातली तयाला <strong>॥११०॥</strong> <br><br>

  मित्राय नमः सूर्याय नमः । <br>
  भानवे नमः खगाय नमः । <br>
  ऐसीं नांवें घेऊन पाहा । <br>
  घातले द्वादश नमस्कार <strong>॥११॥</strong> <br><br>

  शेवटीं आरती ओवाळिली । <br>
  गजाननासी आदरें भली । <br>
  न्यूनता ती नाहीं पडली । <br>
  कशाचीही त्या ठायां <strong>॥१२॥</strong> <br><br>

  प्रार्थनापूर्वक नमस्कार । <br>
  साष्टांग केला अखेर । <br>
  मुखानें तें स्तवन थोर । <br>
  महाराजाचें चाललें <strong>॥१३॥</strong> <br><br>

  माझ्या तपाचरणाचें । <br>
  फळ आजि मिळालें साचें । <br>
  दर्शन दिव्य पायाचें । <br>
  आज झालों धन्य मी <strong>॥१४॥</strong> <br><br>

  नभोदरींच्या भास्कराला । <br>
  देत होतों अर्घ्य भला । <br>
  तों आज प्रत्यक्ष पाहिला । <br>
  ज्ञाननिधि योगेश्वर <strong>॥१५॥</strong> <br><br>

  (श्लोक) हे पूर्णब्रह्म जगचालक ज्ञानराशी । <br>
  ऐसें युगायुगीं किती अवतार घेसी ? । <br>
  झाल्यास दर्शने तुझें भवरोगचिंता । <br>
  नासे गजाननगुरो, मज पाव आतां <strong>॥१॥</strong> <br><br>

  ऐसी प्रार्थना करुन । <br>
  संपविलें त्यानें स्तवन । <br>
  योगेश्वरें या आलिंगन । <br>
  दृढ दिधलें त्या दोन्ही करें <strong>॥१६॥</strong> <br><br>

  माय जैसी लेंकराला । <br>
  प्रेमें धरी पोटाला । <br>
  तेवीं व्रजभूषणाला । <br>
  धरिते झाले महाराज <strong>॥१७॥</strong> <br><br>

  मस्तकावरी ठेविला कर । <br>
  आशीर्वाद दिधला थोर । <br>
  सर्वदा तुझा जयजयकार । <br>
  होईल बाळा व्रजभूषणा ! <strong>॥१८॥</strong> <br><br>

  कर्ममार्ग सोडूं नको । <br>
  विधी निरर्थक मानूं नको । <br>
  मात्र त्यांत होऊं नको । <br>
  लिप्त बाळा केव्हांही <strong>॥१९॥</strong> <br><br>

  आचरुन कर्मफल । <br>
  टाकितां भेटतो घननीळ । <br>
  त्याच्या अंगीं न लागे मळ । <br>
  या कर्माचा केव्हांही <strong>॥१२०॥</strong> <br><br>

  तूं आतां आपुल्या सदनीं । <br>
  माझे बोल ठेवी मनीं । <br>
  प्रत्यहीं माझें तुला ध्यानीं । <br>
  होत जाईल दर्शन <strong>॥२१॥</strong> <br><br>

  ऐसें म्हणून प्रसाद दिला । <br>
  श्रीफलाचा श्रोते भला । <br>
  त्या व्रजभूषण पंडिताला । <br>
  महाराज आले शेगांवीं <strong>॥२२॥</strong> <br><br>

  ह्या शेगांवाचें होतें नांव । <br>
  पूर्वकालीं शिवगांव । <br>
  अपभ्रंश लाधला ठाया । <br>
  शेगांव या शब्दाला <strong>॥२३॥</strong> <br><br>

  तेंच हल्लीं प्रचलीत । <br>
  आहे बुधहो वर्‍हाडांत । <br>
  सतरा पाटील होते सत्य । <br>
  ह्या एकाच ग्रामाला <strong>॥२४॥</strong> <br><br>

  महाराज शेगांवासी आले । <br>
  परी न स्थिर राहिले । <br>
  हमेशा ते भटकत फिरले । <br>
  मनास येईल त्या स्थला <strong>॥२५॥</strong> <br><br>

  आकोट अकोलें मलकापूर । <br>
  नांवें सांगावीं कुठवर ? । <br>
  चांदण्यांची न होणार । <br>
  मोजदाद कोणाही <strong>॥२६॥</strong> <br><br>

  ज्येष्ठ आषाढ महिना गेला । <br>
  पुढें श्रावण मास आला । <br>
  उत्सव होता सुरुं झाला । <br>
  मारुतीच्या राऊळांत <strong>॥२७॥</strong> <br><br>

  हें मारुतीचें मंदिर । <br>
  शेगांवीं भव्य साचार । <br>
  पाटील मंडळी थोर थोर । <br>
  होती या भक्त देवाची <strong>॥२८॥</strong> <br><br>

  पेंडीलागीं जैसा आळा । <br>
  तेवीं पाटील गांवाला । <br>
  जें जें कांहीं आवडे त्याला । <br>
  तिकडे लोकांचा कल होई <strong>॥२९॥</strong> <br><br>

  चाले उत्सव महिनाभर । <br>
  अभिषेक पोथी कीर्तन गजर । <br>
  अन्नदानाशीं येई पूर । <br>
  अवघे लोक तृप्त होती <strong>॥१३०॥</strong> <br><br>

  उत्सवाचा पुढारी । <br>
  खंडू पाटील निर्धारी । <br>
  जो गांवचा कारभारी । <br>
  होता उदार मनाचा <strong>॥३१॥</strong> <br><br>

  श्रोते हें पाटीलपण । <br>
  आहे वाघाचें पांघरुण । <br>
  तें जो घेई त्याला जन । <br>
  भिऊं लागती सहजची <strong>॥३२॥</strong> <br><br>

  गांव करी तें राव न करी । <br>
  ऐशी मराठी भितरीं । <br>
  म्हण एक आहे साजरी । <br>
  ती यथातथ्य असे <strong>॥३३॥</strong> <br><br>

  त्या मारुती मंदिरासी । <br>
  आले गजानन पुण्यराशी । <br>
  श्रावणाच्या आरंभासी । <br>
  उत्सव श्रीचा पाहावया <strong>॥३४॥</strong> <br><br>

  बोलले बंकटलालासी । <br>
  मी आतां या मंदिरासी । <br>
  राहीन जाणा अहर्निशीं । <br>
  त्याचा शोक करुं नको <strong>॥३५॥</strong> <br><br>

  गोसावी संन्यासी फकीर । <br>
  यांना कायमचें राहण्या घर । <br>
  योग्य नाहीं साचार । <br>
  तुम्हां प्रापंचिकाचें <strong>॥३६॥</strong> <br><br>

  मी परमहंस संन्यासी । <br>
  आतां राहातों मंदिरासी । <br>
  तूं बोलाविशी ज्या दिवशीं । <br>
  तेवढयापुरता येईन तेथ <strong>॥३७॥</strong> <br><br>

  हें अंतरींचें गुह्य तुला । <br>
  कथन केलें बंकटलाला । <br>
  स्वामी शंकराचार्याला । <br>
  भ्रमण करणें भाग आलें <strong>॥३८॥</strong> <br><br>

  गोसावी मच्छिंद्र जालंदर । <br>
  हेही राहिले निरंतर । <br>
  प्रापंचिकाचें वगळून घर । <br>
  काननामाजीं वृक्षातळीं <strong>॥३९॥</strong> <br><br>

  छत्रपती राजा शिवाजी । <br>
  जो रणबहादूर वीरगाजी । <br>
  ज्यानें हिंदूची रक्षिली बाजी । <br>
  दंडून दुष्ट यवनांना <strong>॥१४०॥</strong> <br><br>

  त्या शिवाजीचें प्रेम फार । <br>
  होतें रामदासावर । <br>
  परी सज्जनगडावर । <br>
  स्वामी होते वस्तीला <strong>॥४१॥</strong> <br><br>

  याचा विचार करावा । <br>
  हट्ट मुळीं ना धरावा । <br>
  माझ्या म्हणण्यास मान द्यावा । <br>
  यांत कल्याण तुझें असे <strong>॥४२॥</strong> <br><br>

  निरुपाय होऊन अखेर । <br>
  देता झाला रुकार । <br>
  तो बंकटलाल सावकार । <br>
  गजाननाचें म्हणण्याला <strong>॥४३॥</strong> <br><br>

  मंदिरीं स्वामी समर्थ येतां । <br>
  हर्ष झाला समस्तां । <br>
  भास्कर पाटील शुश्रूषेकरितां । <br>
  जवळ राही निरंतर <strong>॥४४॥</strong> <br><br>

  हा दासगणूविरचित । <br>
  गजाननविजय नामें ग्रंथ । <br>
  मुमुक्षूला दावो पथ । <br>
  संतचरणसेवेचा <strong>॥१४५॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति षष्ठोऽध्यायः समाप्तः ॥</strong>
</div>