<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय ९</h1> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  हे सगुण स्वरूपा रुक्मिणीवरा । <br>
  हे चंद्रभागातटविहारा । <br>
  श्रीसंतवरदा शारंगधरा । <br>
  पतितपावना दयानिधे <strong>॥१॥</strong> <br><br>

  लहानावांचून मोठ्याचा । <br>
  मोठेपणा न टिके साचा । <br>
  पतिताविण परमेश्वराचा । <br>
  बोलबाला होणें नसे <strong>॥२॥</strong> <br><br>

  आम्ही आहों पतित । <br>
  म्हणून तुला म्हणतात । <br>
  पावनकर्ता रुक्मिणीकांत । <br>
  हें आतां विसरूं नको <strong>॥३॥</strong> <br><br>

  परिस लोहाला सोनें करी । <br>
  म्हणुनी त्याचें महत्त्व भूमीवरी । <br>
  ओहोळ पोटीं घे गोदावरी । <br>
  म्हणून म्हणती तीर्थ तिला <strong>॥४॥</strong> <br><br>

  याचा विचार करावा । <br>
  चित्तीं आपुल्या माधवा । <br>
  दासगणूला हात द्यावा । <br>
  बुडूं न द्यावें कोठेंही <strong>॥५॥</strong> <br><br>

  असो गोविंदबुवा टाकळीकर । <br>
  एक हरिदास होता थोर । <br>
  तो कराया कीर्तनगजर । <br>
  शेगांवासी पातला <strong>॥६॥</strong> <br><br>

  तेथें शिवाचें मंदिर । <br>
  पुरातन होतें साचार । <br>
  ज्याचा केला जीर्णोध्दार । <br>
  मोटे नामक सावकारें <strong>॥७॥</strong> <br><br>

  अलिकडच्या श्रीमंताला । <br>
  मदिराचा कंटाळा । <br>
  मोटारी क्लब बायसिकला । <br>
  यांचें प्रेम बहु असे ! <strong>॥८॥</strong> <br><br>

  तैसा न मोटे सावकार । <br>
  श्रीमंत असून भाविक फार । <br>
  त्यानेंच हा जीर्णोध्दार । <br>
  केला असे मंदिराचा <strong>॥९॥</strong> <br><br>

  म्हणोन मोट्याचें मंदिर । <br>
  वदूं लागले नारीनर । <br>
  आतां पुढचा प्रकार । <br>
  काय झाला तो ऎका <strong>॥१०॥</strong> <br><br>

  त्या मोट्याच्या मंदिरीं । <br>
  उतरले टाकळीकर कथेकरी । <br>
  त्यांचा घोडा समोरी । <br>
  बांधिला होता मंदिराच्या <strong>॥११॥</strong> <br><br>

  घोडा अतिद्वाड होता । <br>
  कोणासही मारी लाथा । <br>
  समोरून कोणी येतां । <br>
  त्यास चावे कुत्र्यासम <strong>॥१२॥</strong> <br><br>

  तोडी चर्‍हाटें वरच्यावरी । <br>
  स्थिर न राहे क्षणभरी । <br>
  कधीं कधीं कांतारीं । <br>
  त्यानें जावें पळोन <strong>॥१३॥</strong> <br><br>

  खिंकाळे रात्रंदिवस । <br>
  वाईट खोड्या बहुवस । <br>
  आल्या होत्या मुक्कामास । <br>
  श्रोते तया घोड्याच्या <strong>॥१४॥</strong> <br><br>

  लोखंडाच्या सांखळ्या । <br>
  होत्या त्यासी बांधण्या केल्या । <br>
  त्या या समयीं राहिल्या । <br>
  टाकळीमाजी विसरून <strong>॥१५॥</strong> <br><br>

  चर्‍हाटानें कसा तरी । <br>
  घोडा मंदिरासामोरी । <br>
  बांधूनिया कथेकरी । <br>
  निजले जाऊन शय्येला <strong>॥१६॥</strong> <br><br>

  रात्र झाली दोन प्रहर । <br>
  तमें आक्रमिलें अंबर । <br>
  दिवाभीतांचे घुत्कार । <br>
  होऊं लागले वृक्षावरी <strong>॥१७॥</strong> <br><br>

  टिटव्या ' टी टी ' शब्द करिती । <br>
  वाघुळें भक्ष्या धुंडिती । <br>
  पिंगळे बसुनि वृक्षांवरती । <br>
  किलबील करूं लागले <strong>॥१८॥</strong> <br><br>

  सामसुम जिकडे तिकडे । <br>
  बंद झालीं कवाडें । <br>
  कोठेंही ना दृष्टि पडे । <br>
  एकही माणूस रस्त्यांनीं <strong>॥१९॥</strong> <br><br>

  ऎशा रात्रसमयास । <br>
  श्रीगजानन पुण्यपुरुष । <br>
  घोडा बांधल्या ठायास । <br>
  येते झाले सहजगतीं <strong>॥२०॥</strong> <br><br>

  जे जे कोणी द्वाड असती । <br>
  त्यांना सुधारण्याप्रती । <br>
  साधुपुरुष अवतार घेती । <br>
  ईशाज्ञेनें भूमीवर <strong>॥२१॥</strong> <br><br>

  औषधाचें प्रयोजन । <br>
  रोगा निवारण्याकारण । <br>
  तेवीं द्वाडाचें द्वाडपण । <br>
  साधुसंत निवारिती <strong>॥२२॥</strong> <br><br>

  असो गजानन घोड्यापासी । <br>
  आले रात्रसमयासी । <br>
  जाऊनी निजले अति हर्षीं । <br>
  चहूं पायांत घोड्याच्या <strong>॥२३॥</strong> <br><br>

  मुखें भजन चाललें होतें । <br>
  ' गणी गण गणांत बोते ' । <br>
  या सांकेतिक भजनातें । <br>
  जाणण्या कोण समर्थ हो ? <strong>॥२४॥</strong> <br><br>

  त्या सूत्ररूप भजनाचा । <br>
  अर्थ ऎसा वाटतो साचा । <br>
  गणी या शब्दाचा । <br>
  अर्थ मोजी हाच असे <strong>॥२५॥</strong> <br><br>

  जीवात्मा म्हणजे गण । <br>
  तो ब्रह्माहून नाहीं भिन्न । <br>
  हें सुचवावया कारण । <br>
  गणांत हा शब्द असे <strong>॥२६॥</strong> <br><br>

  बोते हा शब्द देखा । <br>
  अपभ्रंश वाटे निका । <br>
  बोते हा शब्द ऎका । <br>
  तेथें असावा निःसंशय <strong>॥२७॥</strong> <br><br>

  बाया शब्दें करून । <br>
  घेतलें पाहिजे मन । <br>
  तें हें आहे सर्वनाम । <br>
  शब्दाऎवजीं आलेलें <strong>॥२८॥</strong> <br><br>

  म्हणजे मना समजे नित्य । <br>
  जीव हा ब्रह्मास सत्य । <br>
  मानूं नको तयाप्रत । <br>
  निराळा त्या तोचि असे <strong>॥२९॥</strong> <br><br>

  ' गिणगिण गिणांत बोते ' । <br>
  कोणी ' गणी गण गणांत बोते , । <br>
  ऎशीं आहेत दोन मतें । <br>
  या भजनाविषयीं शेगांवीं <strong>॥३०॥</strong> <br><br>

  त्यासी न आपुलें प्रयोजन । <br>
  आपणा कथेसी कारण । <br>
  महाराज निजले येऊन । <br>
  चौपायांत घोड्याच्या <strong>॥३१॥</strong> <br><br>

  वरील भजन मुखानें । <br>
  चाललें होतें आनंदानें । <br>
  वाटे या भजनरूप सांखळीनें । <br>
  घोडा बांधूनीं टाकिला <strong>॥३२॥</strong> <br><br>

  गोविंदबुवांच्या अंतरीं । <br>
  धास्ती होती जबर खरी । <br>
  म्हणून तो वरच्यावरी । <br>
  उठून पाहे वारूला <strong>॥३३॥</strong> <br><br>

  तो ठाण्यावरी घोडा शांत । <br>
  ऎसें पडता दृष्टीप्रत । <br>
  गोविंदबुवांच्या चित्तांत । <br>
  अति नवल वाटलें <strong>॥३४॥</strong> <br><br>

  तों आपुल्या मनीं म्हणे । <br>
  हें ऎसें झालें कशानें । <br>
  का कांहीं आजारानें । <br>
  व्याप्त झाला घोडा हा <strong>॥३५॥</strong> <br><br>

  म्हणूनी राहिला शांत । <br>
  हें न काहीं कळों येत । <br>
  हा ऎसा आजपर्यंत । <br>
  नाहीं कधीच स्थिरावला <strong>॥३६॥</strong> <br><br>

  हें काय आहे तें पहाया गेलें । <br>
  तों एक माणूस दिसलें । <br>
  चोहोंपायांत निजलेले । <br>
  त्या द्वाड घोड्याच्या <strong>॥३७॥</strong> <br><br>

  अति निकट येऊनी । <br>
  पाहूं लागले निरखुनी । <br>
  तों दिसले कैवल्यदानी । <br>
  तेथें गोविंदबुवाला <strong>॥३८॥</strong> <br><br>

  ते म्हणाले मनांत । <br>
  घोडा कां झाला शांत । <br>
  हें कळलें कारणासहीत । <br>
  मजलागीं येधवां <strong>॥३९॥</strong> <br><br>

  समर्थांच्या सहवासें । <br>
  घोडा शांत झालासे । <br>
  जेथें कस्तुरी तेथें नसे । <br>
  दुर्गंधाला थारा कदा <strong>॥४०॥</strong> <br><br>

  समर्थांच्या पायांवरी । <br>
  गोविंदबुवानें अत्यादरीं । <br>
  शिर ठेविलें निर्धारीं । <br>
  अष्टभाव दाटले <strong>॥४१॥</strong> <br><br>

  मुखें करूं लागलें स्तवन । <br>
  आपण खरेच गजानन । <br>
  विघ्नांचे करितसा कंदन । <br>
  याचा प्रत्यय आज आला <strong>॥४२॥</strong> <br><br>

  माझा घोडा द्वाड अती । <br>
  सर्वही ज्याला भीती । <br>
  तेथेंच आलात गुरुमूर्ती । <br>
  हरण्या त्याचा द्वाडपणा <strong>॥४३॥</strong> <br><br>

  ह्या घोड्याच्या अचाट खोडी । <br>
  चालतां मध्येंच मारी उडी । <br>
  क्षणक्षणा मागल्या झाडी । <br>
  हा दुगण्या महाराजा ! <strong>॥४४॥</strong> <br><br>

  मी गेलों होतों कंटाळून । <br>
  म्हणूण बाजारालागून । <br>
  गेलों विकाया कारण । <br>
  परी न कोणी घेई या <strong>॥४५॥</strong> <br><br>

  फुकटही लागलो द्याया । <br>
  परी न कोणी तयार घ्याया । <br>
  त्यावरी आपण केली दया । <br>
  हें झालें फार बरें <strong>॥४६॥</strong> <br><br>

  आम्हां कथेकर्‍याचें । <br>
  घोडें पाहिजे गरीब साचें । <br>
  घरामाजीं धनगराचें । <br>
  नाहीं वाघ कामाचा <strong>॥४७॥</strong> <br><br>

  ऎसा झाला प्रकार । <br>
  घोडें झाले गरीब फार । <br>
  जडजीवांचा उध्दार । <br>
  करण्यास स्वामी अवतरले <strong>॥४८॥</strong> <br><br>

  घोड्यास म्हणाले, "आतां गड्या । <br>
  करूं नकोस खोड्या । <br>
  त्या तेथेंच रोकड्या । <br>
  द्याव्या अवघ्या सोडून <strong>॥४९॥</strong> <br><br>

  तूं शिवाच्या समोरीं । <br>
  याचा विचार कांहीं करी । <br>
  वागत जावें बैलापरी । <br>
  त्रास न देई कवणातें" <strong>॥५०॥</strong> <br><br>

  ऎसें त्यासी बोलून । <br>
  निघून गेले दयाघन । <br>
  कृपाकटाक्षें करून । <br>
  पशूही ज्यानें आकळिला <strong>॥५१॥</strong> <br><br>

  असो श्रोते दुसरे दिवशीं । <br>
  मळ्यांत असतां पुण्यराशी । <br>
  आले गोविंदबुवा दर्शनासी । <br>
  घोड्यावरी बैसून <strong>॥५२॥</strong> <br><br>

  घोडा गोविंदबुवांचा । <br>
  शेगांवासी ठाऊक साचा । <br>
  कोश अवघ्या खोड्यांचा । <br>
  भीत होते त्यासी जन <strong>॥५३॥</strong> <br><br>

  तो मळ्यांत आलेला पाहून । <br>
  लोक बोलले त्याकारण । <br>
  गोविंदबुवा ही घेऊन । <br>
  पीडा कशास येथें आला <strong>॥५४॥</strong> <br><br>

  मुलें बायका मळ्यांत । <br>
  आहेत पहा वावरत । <br>
  तुमचा घोडा करील घात । <br>
  सहज लीलेनें कवणाचा <strong>॥५५॥</strong> <br><br>

  गोविंदबुवा त्यास वदले । <br>
  तुमचें म्हणणें मीं ऎकिलें । <br>
  माझ्या घोड्यास शहाणें केले । <br>
  काल रात्रीं समर्थांनी <strong>॥५६॥</strong> <br><br>

  त्यानें खोड्या दिल्या टाकून । <br>
  झाला गोगलगाईसमान । <br>
  आतं भ्यावयाचें कारण । <br>
  कांहीं न उरलें कोणाशीं <strong>॥५७॥</strong> <br><br>

  चिंचेखालीं उभा केला । <br>
  टाकळीकरांनी घोडा भला । <br>
  चर्‍हाटावांचूनी राहिला । <br>
  उभा तो एक प्रहर <strong>॥५८॥</strong> <br><br>

  भाजीपाला कोवळा घांस । <br>
  मळ्यांत होता विशेष । <br>
  परी ना लाविलें त्यास । <br>
  तोंड घोड्यानें एकाही <strong>॥५९॥</strong> <br><br>

  पाहा संताची केवढी शक्ति । <br>
  पशूही आज्ञेंत वागती । <br>
  पत्र्यांत आरंभिली स्तुती । <br>
  गोविंदबुवांनीं समर्थांची <strong>॥६०॥</strong> <br><br>

  <strong>----- श्लोक ( पृथ्वी वृत्त ) -----</strong> <br>
  अचिंत्य जगताप्रती कृति तुझी न कोणा कळे । <br>
  असो खलहि केवढा तव-कृपें सुमार्गी वळे । <br>
  उणें पुढति ये तुझ्या खचित रत्नचिंतामणी । <br>
  शिरीं सतत माझिया वरदहस्त ठेवा झणीं <br>
  <strong>-----------------------------------</strong> <br><br>

  ऎसी स्तुती करून । <br>
  गेले गोविंदबुवा निघून । <br>
  घोड्यास आपल्या घेऊन । <br>
  टाकळी ग्रामाकारणें <strong>॥६१॥</strong> <br><br>

  प्रत्येक दिनीं शेगावीं । <br>
  यात्रा येई नवी नवी । <br>
  कांहीं तरी धरून जीवीं । <br>
  हेतु आपल्या श्रोते हो <strong>॥६२॥</strong> <br><br>

  त्या यात्रेकरू मंडळींत । <br>
  बाळापूरचे दोन गृहस्थ । <br>
  आले कांहीं धरून हेत । <br>
  समर्थांच्या दर्शना <strong>॥६३॥</strong> <br><br>

  पथीं जातां एकमेकां । <br>
  बोलूं लागले ऎसें देखा । <br>
  पुढल्या वारीस गांजा सुका । <br>
  येऊं आपण घेऊन <strong>॥६४॥</strong> <br><br>

  कां कीं या गांजावर । <br>
  समर्थांचे प्रेम फार । <br>
  तो आपण आणिला जर । <br>
  तरी कृपा होईल त्यांची <strong>॥६५॥</strong> <br><br>

  लोक आणती बर्फी खवा । <br>
  आपण गांजा नेऊं बरवा । <br>
  गांठ धोत्रां बांधून ठेवा । <br>
  ना तरी विस्मृति होईल <strong>॥६६॥</strong> <br><br>

  पुढल्या वारीस दोघेजण । <br>
  आले दर्शनाकारण । <br>
  परि गेले विसरोन । <br>
  गांजा तो आणावया <strong>॥६७॥</strong> <br><br>

  शिर ठेवितां पायांवरी । <br>
  आठवण त्यांना झाली खरी । <br>
  कीं नाहीं आणिला बरोबरी । <br>
  गांजा तो आपण <strong>॥६८॥</strong> <br><br>

  आतां पुढल्या वारीसी । <br>
  दुप्पट आणूं गांज्यासी । <br>
  ऎसें बोलून मानसीं । <br>
  दर्शन घेऊन गेले हो <strong>॥६९॥</strong> <br><br>

  पुढल्या वारीस तेंच झालें । <br>
  गांजा आणण्याचे विसरले । <br>
  कर जोडून मात्र बसले । <br>
  स्मृति नसे गांजाची <strong>॥७०॥</strong> <br><br>

  तै स्वामीं म्हणाले भास्करासी । <br>
  पाहा जगाची रीत कैसी । <br>
  गांठ मारून धोतरासी । <br>
  विसरती जिन्नस आणावया <strong>॥७१॥</strong> <br><br>

  जातीनें आहेत ब्राह्मण । <br>
  तेच आपुलें भाषण । <br>
  करिती आपण होऊन । <br>
  खोटें पहा सर्वांशीं <strong>॥७२॥</strong> <br><br>

  ब्राह्मणांचे भाषण । <br>
  कदा नसावें अप्रमाण । <br>
  या तत्त्वालागून । <br>
  न जाणती चांडाळ ते <strong>॥७३॥</strong> <br><br>

  द्विजें निजधर्म सोडिला । <br>
  आचार विचार सांडिला । <br>
  ह्यामुळें श्रेष्ठत्वाला । <br>
  ते मुकले सांप्रत <strong>॥७४॥</strong> <br><br>

  बेटे मनीं नवस करिती । <br>
  आणि हात हालवित येथें येती । <br>
  अशानें कां पूर्ण होती । <br>
  त्यांच्या मनींचे मनोरथ ? <strong>॥७५॥</strong> <br><br>

  बोलण्यांत पाहिजे मेळ । <br>
  चित्त असावें निर्मळ । <br>
  तरीच तो घननीळ । <br>
  कृपा करितो भास्करा <strong>॥७६॥</strong> <br><br>

  हे शब्द त्या दोघांसी । <br>
  अती लागले मानसीं । <br>
  पाहूं लागले एकमेकांसी । <br>
  कुतूहल दृष्टीनें <strong>॥७७॥</strong> <br><br>

  पाहा केवढें अगाध ज्ञान । <br>
  आहे यांचें परिपूर्ण । <br>
  हा जगत्चक्षु गजानन । <br>
  सूर्यापरीच असे हो <strong>॥७८॥</strong> <br><br>

  आपण नवस केला मनीं । <br>
  तो जाणिला समर्थांनी । <br>
  आतां येऊं घेऊनी । <br>
  चला गांजा गांवांतून <strong>॥७९॥</strong> <br><br>

  ऎसा विचार करून उठले । <br>
  गांवांत जाऊं लागले । <br>
  गांजा आणावयाला भले । <br>
  तैं महाराज वदले त्या <strong>॥८०॥</strong> <br><br>

  आतां शिळ्या कढीप्रत । <br>
  कां हा उगा आणितां ऊत । <br>
  सार नाहीं किमपि यांत । <br>
  मी न हपापलो गांज्याला <strong>॥८१॥</strong> <br><br>

  आतां आपण गांजाप्रत । <br>
  नका जाऊं पेठेंत । <br>
  मेळ हमेशा बोलण्यांत । <br>
  ठेवा तुम्ही आपुल्या <strong>॥८२॥</strong> <br><br>

  लबाडाचे न हेतु पुरती । <br>
  ही खूणगांठ बांधा चित्तीं । <br>
  तुमचें काम झाल्यावरती । <br>
  मर्जी असल्या गांजा आणा <strong>॥८३॥</strong> <br><br>

  पुढील आठवड्यांत तुमचें काम । <br>
  होईल जा अत्युत्तम । <br>
  परी कदा न चुकावा नेम । <br>
  पांच वार्‍या येथील करा <strong>॥८४॥</strong> <br><br>

  कां कीं हा येथें स्थिर । <br>
  आहे मृडानीपती कर्पूरगौर । <br>
  ज्याच्या कृपेनें कुबेर । <br>
  जगीं झाला धनपती <strong>॥८५॥</strong> <br><br>

  जा नमस्कार त्यासी करा । <br>
  गांजा आणावया न विसरा । <br>
  परमार्थात खोटें जरा । <br>
  बोलूं नये मानवांनी <strong>॥८६॥</strong> <br><br>

  ऎसा उपदेश ऎकून । <br>
  महाराजांशीं वंदून । <br>
  घेतलें शिवाचें दर्शन । <br>
  आणी गेले बाळापुरा <strong>॥८७॥</strong> <br><br>

  पुढील आठवड्यामाजी भले । <br>
  काम त्यांचें फत्ते झालें । <br>
  तेही गांजा घेऊन आले । <br>
  शेगावांत वारीला <strong>॥८८॥</strong> <br><br>

  त्या बाळापुरची दुसरी कथा । <br>
  तुम्ही ऎका श्रोते आतां । <br>
  बाळकृष्ण नामें होता । <br>
  बाळापुरांत रामदासी <strong>॥८९॥</strong> <br><br>

  कांता त्याची पुतळाबाई । <br>
  परम भाविक होती पाही । <br>
  दरवर्षी वारीस जाई । <br>
  पायीं सज्जनगडातें <strong>॥९०॥</strong> <br><br>

  पति-पत्नीचा विचार एक । <br>
  पौष मासीम निघती देख । <br>
  ओझ्यासाठीं घोडें एक । <br>
  घेऊनिया बरोबरी <strong>॥९१॥</strong> <br><br>

  कुबडी कंथा दासबोध । <br>
  सवें हें सामान अति शुध्द । <br>
  साधुत्वाचा नव्हता मद । <br>
  तयासी कीं चढलेला <strong>॥९२॥</strong> <br><br>

  मार्गी चालतां ग्रामांतरीं । <br>
  प्रत्यहीं झोळी फिरवी खरी । <br>
  त्या झोळीच्या भिक्षेवरी । <br>
  नैवेद्य करी रामाला <strong>॥९३॥</strong> <br><br>

  पौष वद्यांत बाळापूर । <br>
  सोडी नवमीला साचार । <br>
  असे कांता बरोबर । <br>
  पुतळाबाई नाम जिचें <strong>॥९४॥</strong> <br><br>

  बाळकृष्णबुवा हातीं । <br>
  चंदनाच्या चिपळ्या असती । <br>
  पुतळाबाई करी साथी । <br>
  झांज हातीं घेऊन <strong>॥९५॥</strong> <br><br>

  रघुपतीचा नामगजर । <br>
  करी पंथानें निरंतर । <br>
  शेगांव खामगांव मेहेकर । <br>
  देऊळगांवराजा पुढें <strong>॥९६॥</strong> <br><br>

  आनंदीस्वामीस जालनापुरीं । <br>
  वंदुनिया जांब नगरीं । <br>
  जाय तेथें मात्र करी । <br>
  तीन दिवस मुक्काम <strong>॥९७॥</strong> <br><br>

  कां कीं तें ठिकाण । <br>
  समर्थांचे जन्मस्थान । <br>
  पुढें दिवर्‍यास येऊन । <br>
  वंदन करी गोदेला <strong>॥९८॥</strong> <br><br>

  पुढें बीड आंबेजोगाईचे । <br>
  मोहोरी बेलेश्वर स्वामीचे । <br>
  पट्टशिष्य समर्थांचे । <br>
  डोमगांवीं कल्याण <strong>॥९९॥</strong> <br><br>

  नरसिंगपूर पंढरपूर । <br>
  नातेपोतें शिंगणापूर । <br>
  वाई आणि सातारा । <br>
  असे जे गडाच्या पायथ्याशीं <strong>॥१००॥</strong> <br><br>

  माघ वद्य प्रतिपदेला । <br>
  तो येऊन पहुचे भला । <br>
  श्रीसज्जनगडाला । <br>
  नवमीच्या त्या उत्सवासी <strong>॥१॥</strong> <br><br>

  यथाशक्तिप्रमाणें । <br>
  ब्राह्मणभोजन करावें त्यानें । <br>
  श्रीस्वामीसमर्थांकारणें । <br>
  खरा खराच रामदासी <strong>॥२॥</strong> <br><br>

  ऎसे रामदासी आतां । <br>
  होणें कठीण सर्वथा । <br>
  दासनवमीचा उत्सव होता । <br>
  परत जाई त्याच मार्गें <strong>॥३॥</strong> <br><br>

  ऐसा क्रम चालला । <br>
  बहुत दिवस त्याचा भला । <br>
  साठ वर्षें देहाला । <br>
  गेलीं त्याच्या उलटुन <strong>॥४॥</strong> <br><br>

  माघ वद्य द्वादशीस । <br>
  सोडून सज्जनगडास । <br>
  निघावें परत जावयास । <br>
  त्यानें आपुल्या बाळापुरा <strong>॥५॥</strong> <br><br>

  असो वद्य एकादशीसी । <br>
  बसला समर्थ समाधींपासीं । <br>
  आले दुःखाश्रु लोचनासी । <br>
  शब्द न त्यासी बोलवे <strong>॥६॥</strong> <br><br>

  हे रामदास स्वामी समर्था ! । <br>
  हे गुरुराया पुण्यवंता ! । <br>
  माझें शरीर थकलें आतां । <br>
  वारी न पायीं होईल <strong>॥७॥</strong> <br><br>

  जरी बसून वाहानातें । <br>
  येऊं सज्जनगडातें । <br>
  तरी तेंही कठीण देसतें । <br>
  मजलागीं दयाळा <strong>॥८॥</strong> <br><br>

  नेम चालला आजवर । <br>
  आतां पडूं पाहे अंतर । <br>
  परमार्थासी शरीर । <br>
  निकोप आधीं पाहिजे <strong>॥९॥</strong> <br><br>

  तरीच सर्व घडे कांहीं । <br>
  हे रामदासा माझे आई । <br>
  हें म्हणण्याची जरूर नाहीं । <br>
  आपण सर्व जाणतसा <strong>॥११०॥</strong> <br><br>

  ऐशी प्रार्थना करून । <br>
  निजला शय्येस जाऊन । <br>
  तों प्रभातकाळीं पडलें स्वप्न । <br>
  बाळकृष्णबुवाला <strong>॥११॥</strong> <br><br>

  स्व्प्नीं म्हणाले रामदास । <br>
  ऐसा न होई हताश । <br>
  नको येऊं येथून खास । <br>
  या सज्जनगडातें <strong>॥१२॥</strong> <br><br>

  माझी कृपा तुझ्यावरी । <br>
  माझा उत्सव बाळापुरीं । <br>
  करावा तूं आपल्या घरीं । <br>
  मी येईन नवमीला <strong>॥१३॥</strong> <br><br>

  तुला द्याया दर्शन । <br>
  हें मानीं प्रमाण वचन । <br>
  आपल्या शक्तीस पाहून । <br>
  परमार्थ तो आचरावी <strong>॥१४॥</strong> <br><br>

  ऐसें स्वप्न पाहिलें । <br>
  बाळकृष्ण आनंदले । <br>
  कांतेसह परत आले । <br>
  बाळापुरास आपुल्या घरीं <strong>॥१५॥</strong> <br><br>

  पुढें श्रोते दुसरे वर्षी । <br>
  काय झालें माघमासीं । <br>
  त्या बाळापुरासी । <br>
  तें आतां अवधारा <strong>॥१६॥</strong> <br><br>

  माघ वद्य प्रतिपदेस । <br>
  समर्थांच्या उत्सवास । <br>
  आरंभ बाळापुरास । <br>
  बाळकृष्णांनीं घरीं केला <strong>॥१७॥</strong> <br><br>

  दासबोधाचें वाचन । <br>
  रात्रीस हरिकीर्तन । <br>
  दोन प्रहरीं ब्राह्मणभोजन । <br>
  धूपार्ती अस्तमानाला <strong>॥१८॥</strong> <br><br>

  बाळकृष्णाच्या मनांत । <br>
  विचार हाची घोळत । <br>
  पाहूं कसे येतात । <br>
  स्वामी समर्थ नवमीसी <strong>॥१९॥</strong> <br><br>

  बाळकृष्णाच्या वचनांनी । <br>
  केली गांवकर्‍यांनीं । <br>
  आपापसांत वर्गणी । <br>
  उत्सवा साह्य करावया <strong>॥१२०॥</strong> <br><br>

  ऐसा थात बाळापुरा । <br>
  नव दिवस झाला खरा । <br>
  नववे दिवशीं दोन प्रहरा । <br>
  अघटित आलें घडून <strong>॥२१॥</strong> <br><br>

  श्रीगजानन साक्षात्कारी । <br>
  श्रोते तया बाळापुरीं । <br>
  उभे राहिले दोन प्रहरीं । <br>
  नवमी तिथी लक्षून <strong>॥२२॥</strong> <br><br>

  बाळकृष्णाच्या द्वारांत । <br>
  रामाभिषेक चालला आंत । <br>
  लोक झाले विस्मित । <br>
  गजाननासी पाहूनिया <strong>॥२३॥</strong> <br><br>

  म्हणूं लागले बुवासी । <br>
  उठा उठा हो वेगेसी । <br>
  तुमच्या दासनवमीसी । <br>
  द्वारीं पातलें गजानन <strong>॥२४॥</strong> <br><br>

  त्यावरी बुवा म्हणाले । <br>
  गजानन आले बरें झालें । <br>
  त्याही संतांचे लागले । <br>
  पाय माझ्या घरासी <strong>॥२५॥</strong> <br><br>

  परी आजच्या दिनीं साची । <br>
  मी वाट पाहतों समर्थांची । <br>
  त्या सज्जनगड निवासियाची । <br>
  आतूर होऊन ये ठायां <strong>॥२६॥</strong> <br><br>

  त्यांचा मसी करार आहे । <br>
  मी नवमीला येईन पाहे । <br>
  ती वाणी असत्य नोहे । <br>
  ऐसा माझा भरवंसा <strong>॥२७॥</strong> <br><br>

  इकडे स्वामी गजानन । <br>
  द्वारीं उभे राहून । <br>
  जय जय रघुवीर म्हणोन । <br>
  श्लोक बोलुं लागले <strong>॥२८॥</strong> <br><br>

  श्लोक - अहिल्या शिळा राघवें मुक्त केली । <br>
  पदीं लागतां दिव्य होऊनि गेली । <br>
  अशी वाणी ऐकतां उठली । <br>
  स्वारी बाळकृष्णाची <strong>॥२९॥</strong> <br><br>

  पाहाती जों येऊन द्वारीं । <br>
  तों गजाननाची नग्न स्वारी । <br>
  आजानुबाहु साजिरी । <br>
  उभी निजानंदामध्यें <strong>॥१३०॥</strong> <br><br>

  करण्या गेला नमस्कार । <br>
  तों रामदास दिसले साचार । <br>
  हातीं कुबडी जटाभार । <br>
  रुळत होता पाठीवरी <strong>॥३१॥</strong> <br><br>

  भालीं त्रिपुंड उभा साचा । <br>
  होता गोपीचंदनाचा । <br>
  नेसलेल्या लंगोटीचा । <br>
  रंग होता हिरमुजी <strong>॥३२॥</strong> <br><br>

  ऎसें रूप पाहिलें । <br>
  बाळकृष्णा भरतें आलें । <br>
  प्रेमाचें तें श्रोते भले । <br>
  नयनी संचले आनंदाश्रु <strong>॥३३॥</strong> <br><br>

  तों सवेंच दिसती गजानन । <br>
  त्याच्या नेत्रांकारण । <br>
  कुबडी लंगोटी कांहींच न । <br>
  त्रिपुंड शिरींचा जटाभार <strong>॥३४॥</strong> <br><br>

  पुनः त्यानें हताश व्हावें । <br>
  तों रामदास स्वामी दिसावे । <br>
  पुनः जों निरखून पाहावें । <br>
  तों मागुती गजानन <strong>॥३५॥</strong> <br><br>

  ऐसी स्थिती झाली खरी । <br>
  सिनेमाच्या खेळापरी । <br>
  घोटाळलासे अंतरी । <br>
  कोडें कांहींच उमगेना <strong>॥३६॥</strong> <br><br>

  मग म्हणाले गजानन । <br>
  रामदासासी प्रेमें करून । <br>
  नको गांगरूं देऊं मन । <br>
  तुझा समर्थ मीच असे <strong>॥३७॥</strong> <br><br>

  मागें बापा गडावरी । <br>
  माझीच वस्ती होती खरी । <br>
  आतां शेगांवाभीतरीं । <br>
  राहिलों येऊन मळ्यांत <strong>॥३८॥</strong> <br><br>

  तुला सज्जनगडीं दिलें वचन । <br>
  कीं दासनवमीस येईन । <br>
  मी बाळापुरालागून । <br>
  ह्यांचे स्मरण आहे का ? <strong>॥३९॥</strong> <br><br>

  त्या वचनाची पूर्तता । <br>
  करण्यास येथें आलों आतां । <br>
  दे सोडोन अवघी चिंता । <br>
  मीच आहे रामदास <strong>॥१४०॥</strong> <br><br>

  शरीररूपी वस्त्रास । <br>
  तूं किंमत देतोस । <br>
  आणि आत्म्याला विसरतोस । <br>
  याला काय म्हणावें ? <strong>॥४१॥</strong> <br><br>

  श्लोक आहे गीतेठायीं । <br>
  " वासांसि जीर्णानि " तो पाही । <br>
  ऎसी मुळीं ना भ्रमिष्ट होई । <br>
  चाल पाटीं बसवी मला <strong>॥४२॥</strong> <br><br>

  बाळकृष्णाचा धरून हात । <br>
  गजानन आले घरांत । <br>
  एका मोठ्या पाटीं स्थित । <br>
  स्वामी गजानन जाहले <strong>॥४३॥</strong> <br><br>

  बाळापुरीं पुकार झाली । <br>
  गजानन आल्याची ती भली । <br>
  मंडळीं धांवू लागलीं । <br>
  दर्शन घ्याया पायांचे <strong>॥४४॥</strong> <br><br>

  रामदासी अवघ्या दिवसभर । <br>
  करीत राहिला विचार । <br>
  शेवटीं रात्र होतां तीन प्रहर । <br>
  स्वप्न पडलें बाळकृष्णा <strong>॥४५॥</strong> <br><br>

  अरे गजानन माझीच मूर्ति । <br>
  हल्लीं तुमच्या वर्‍हाडप्रांतीं । <br>
  संशय मुळीं ना धरी चित्तीं । <br>
  तो धरितां बुडशील <strong>॥४६॥</strong> <br><br>

  मी तोच समजून । <br>
  करी गजाननाचें पूजन । <br>
  गीतेचें हें आहे वचन । <br>
  " संशयात्मा विनश्यति "<strong>॥४७॥</strong> <br><br>

  ऐसें स्वप्न पडल्यावरी । <br>
  बाळकृष्ण तोषला भारी । <br>
  मस्तक ठेविलें अत्यादरीं । <br>
  गजाननाचें पायांवर <strong>॥४८॥</strong> <br><br>

  महाराज आपुली लीला । <br>
  मी ना समर्थ जाणण्याला । <br>
  तो घोटाळा उकलिला । <br>
  तुम्ही स्वप्न देऊन <strong>॥४९॥</strong> <br><br>

  नवमी माझी सांग झाली । <br>
  न्यूनता न कांहीं उरली । <br>
  अर्भकावरी कृपा केली । <br>
  तेणें धन्य झालों मी <strong>॥१५०॥</strong> <br><br>

  आतां कांहीं दिवस । <br>
  राहा या बाळपुरास । <br>
  हीच आहे मनीं आस । <br>
  ती पूर्ण करा हो <strong>॥५१॥</strong> <br><br>

  महाराज म्हणाले त्यावर । <br>
  ऐक माझा विचार । <br>
  कांहीं दिवस गेल्यावर । <br>
  येईन मी बाळापुरा <strong>॥५२॥</strong> <br><br>

  भोजनोत्तर निघून गेले । <br>
  स्वामी शेगांवासी भले । <br>
  रस्त्यानें न कोणा दिसले । <br>
  क्षणांत पोंचलें शेगांवीं <strong>॥५३॥</strong> <br><br>

  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  सुखद होवो भाविकांप्रत । <br>
  हेंचि इच्छी दासगणू <strong>॥१५४॥</strong> <br><br>


  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति नवमो॓ऽध्यायः समाप्तः ॥</strong>
</div>