<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ</h1>
  <h2>अध्याय ४</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  हे सर्वसाक्षी सर्वेश्वरा । <br>
  नीलकंठा गंगाधरा । <br>
  महाकाल त्र्यबंकेश्वरा । <br>
  श्रीओंकारा पाव मशी <strong>॥१॥</strong> <br><br>

  आणि रुक्मिणीशा । <br>
  एक तत्त्व आहां खास । <br>
  तोय वारी म्हटल्यास । <br>
  काय जलीं भेद होतो ? <strong>॥२॥</strong> <br><br>

  तैसी तुमची आहे स्थिती । <br>
  तंतोतंत जगत्पति । <br>
  जैसी ज्याची मानेल मति । <br>
  तैसा तो तुज बाहत <strong>॥३॥</strong> <br><br>

  नन्यभावें बाहतां । <br>
  तूं पावसी आपुल्या भक्तां । <br>
  माता न धरी निष्ठुरता । <br>
  आपल्या वत्साविषयीं कधीं <strong>॥४॥</strong> <br><br>

  मी तुझें अजाण लेंकरुं । <br>
  नको माया पाताळ करुं । <br>
  तूं साक्षात् कल्पतरु । <br>
  इच्छा पूर्ण करी हरा <strong>॥५॥</strong> <br><br>

  कटलालाचे घरांत । <br>
  असतां स्वामी समर्थ । <br>
  प्रकार एक अघटीत । <br>
  आला ऐसा घडोनी <strong>॥६॥</strong> <br><br>

  शाख शुद्ध पक्षासी । <br>
  अक्षयतृतीयेचिया दिवशीं । <br>
  पितरार्थ उदककुंभासी । <br>
  देती श्राद्ध करोनिया <strong>॥७॥</strong> <br><br>

  अक्षयतृतीयेचा दिवस । <br>
  वर्‍हाडांतील लोकांस । <br>
  विशेष वाटे प्रत्येकास । <br>
  मोठा सण मानिती हा <strong>॥८॥</strong> <br><br>

  दिवशीं काय झालें । <br>
  तें पाहिजे श्रवण केलें । <br>
  महाराज पोरांत बैसले । <br>
  कौतुकें लीला करावया <strong>॥९॥</strong> <br><br>

  लकां म्हणती गजानन । <br>
  चिलीम द्यावी भरुन । <br>
  तंबाखूची मजकारण । <br>
  विस्तव वरी ठेवोनिया <strong>॥१०॥</strong> <br><br>

  सकाळपून ऐसाच बसलों । <br>
  चिलीम मुळीं नाहीं प्यालों । <br>
  त्यामुळें हैराण झालों । <br>
  भरा चिलीम मुलांनो ! <strong>॥११॥</strong> <br><br>

  ऐसी आज्ञा ऐकतां भली । <br>
  पोरें अवघीं आनंदलीं । <br>
  चिलीम भरुं लागलीं । <br>
  तंबाखू आंत घालुनिया <strong>॥१२॥</strong> <br><br>

  विस्तवाचा तपास केला । <br>
  तो न सदनीं मिळाला । <br>
  कां कीं चूल पेटण्याला । <br>
  अवकाश होता विबुध हो <strong>॥१३॥</strong> <br><br>

  पोरें चित्तीं विचार करिती । <br>
  आपापसांत निश्चिती । <br>
  कशी करावी यासी युक्ति । <br>
  विस्तव पाहिजे चिलिमीला <strong>॥१४॥</strong> <br><br>

  मुलें पाहून चिंतातुर । <br>
  बंकट करी मधुरोत्तर । <br>
  अरे जानकीराम सोनार । <br>
  आहे वेटाळीं आपुल्या <strong>॥१५॥</strong> <br><br>

  त्याच्याकडे तुम्ही जावें । <br>
  विस्तवासी मागून घ्यावें । <br>
  दुकान तें चालण्या बरवें । <br>
  विस्तव लागतो आधीं त्या <strong>॥१६॥</strong> <br><br>

  आधीं पेटते बागेसरी । <br>
  त्याच्यापुढें दुकानदारी । <br>
  ही सोनाराची रीत खरी । <br>
  आहे ठावें कीं तुम्हांला <strong>॥१७॥</strong> <br><br>

  पोरांनीं तें ऐकिलें । <br>
  जानकीरामाकडे आले । <br>
  विस्तव मागूं लागले । <br>
  समर्थांच्या चिलमीस <strong>॥१८॥</strong> <br><br>

  जानकीराम रागावला । <br>
  लेंकरासी बोलता झाला । <br>
  अक्षयतृतियेच्या सणाला । <br>
  दे न कोणा विस्तव मी <strong>॥१९॥</strong> <br><br>

  पोरें म्हणालीं त्यावर । <br>
  जोडोनी आपले दोन्ही कर । <br>
  नको करुं हा अविचार । <br>
  विस्तव पाहिजे समर्थाला <strong>॥२०॥</strong> <br><br>

  महाराज श्रीगजानन । <br>
  देवाचेही देव जाण । <br>
  त्यांच्या चिलमीकारण । <br>
  विस्तव हा जातसे <strong>॥२१॥</strong> <br><br>

  साधुप्रती कांहीं देतां । <br>
  तेथें अशुभाचि नसे वार्ता । <br>
  उगीच व्यावहारिक कथा । <br>
  सांगत आम्हां बसूं नको <strong>॥२२॥</strong> <br><br>

  आम्ही आहों मुलें लहान । <br>
  तूं मोठा आमच्याहून । <br>
  ऐसें साच असून । <br>
  हें न कैसें कळे तुला ? <strong>॥२३॥</strong> <br><br>

  विस्तव तूं देशील जरी । <br>
  भाग्य येईल तुझ्या घरीं । <br>
  चिलीम पिऊन तृप्त जरी । <br>
  झाला गजानन महाराज <strong>॥२४॥</strong> <br><br>

  तें सोनारें न ऐकिलें । <br>
  अद्वातद्वा भाषण केलें । <br>
  ज्याचें जवळ मरण आलें । <br>
  त्याचे पाय खोलाकडे <strong>॥२५॥</strong> <br><br>

  सोनार म्हणे बालकांसी । <br>
  गजानन कशाचा पुण्यराशी ? । <br>
  त्या चिलमीबहाद्दरासी । <br>
  साधु म्हणून सांगूं नका ! <strong>॥२६॥</strong> <br><br>

  गांजा तमाखू पीत बसतो । <br>
  नग्न गांवांत हिंडतो । <br>
  वेडयापरी चाळे करितो । <br>
  पितो पाणी गटाराचें <strong>॥२७॥</strong> <br><br>

  जात गोत नाहीं त्याला । <br>
  ऐशा वेडयापिशाला । <br>
  मी साधु मानण्याला । <br>
  नाहीं मुळीं तयार <strong>॥२८॥</strong> <br><br>

  बंकटलाल खुळावला । <br>
  नादीं त्याच्या लागला । <br>
  नाहीं देत विस्तवाला । <br>
  मी तयाचे चिलमीसी <strong>॥२९॥</strong> <br><br>

  तो आहे ना साक्षात्कारी । <br>
  मग विस्तव कशाला पाहिजे तरी ? । <br>
  आपुल्या कर्तृत्वें कां न करी । <br>
  विस्तवातें निर्माण ? <strong>॥३०॥</strong> <br><br>

  साधु नाथ जालंदर । <br>
  पीत होते चिलीम फार । <br>
  परी विस्तवासाठीं घरघर । <br>
  ना हिंडले कदा ते <strong>॥३१॥</strong> <br><br>

  जा जा उभे न राहा येथ । <br>
  विस्तव ना मिळे तुम्हांप्रत । <br>
  नाहीं मला किंमत । <br>
  त्या तुमच्या पिशाची <strong>॥३२॥</strong> <br><br>

  पोरें विन्मुख परत आलीं । <br>
  महाराजांसी निवेदिली । <br>
  हकीकत जी कां झाली । <br>
  सोनाराचे दुकानांत <strong>॥३३॥</strong> <br><br>

  ती ऐकतां हास्यवदन । <br>
  करिते झाले दयाघन । <br>
  नाहीं आपणां प्रयोजन । <br>
  मुळींच त्याच्या विस्तवाचें <strong>॥३४॥</strong> <br><br>

  ऐसें म्हणोन घेते झाले । <br>
  चिलीम आपुल्या हातीं भले । <br>
  बंकटलालासी बोलले । <br>
  काडी एक वरती धरी <strong>॥३५॥</strong> <br><br>

  बंकट म्हणे गुरुराया । <br>
  थोडें थांबा परम सदया । <br>
  विस्तव देतों करुनिया । <br>
  काडी घासून आतां मी <strong>॥३६॥</strong> <br><br>

  काडी घासल्यावांचूनी । <br>
  कदां न प्रगटे अग्नि । <br>
  म्हणून केली विनवणी । <br>
  ती मनास आणा समर्था <strong>॥३७॥</strong> <br><br>

  महाराज बोलले त्यावर । <br>
  उगी न करी चरचर । <br>
  नुसती काडी धरणें वर । <br>
  तिला मुळींच घासूं नको <strong>॥३८॥</strong> <br><br>

  बंकटलालें तैसें केलें । <br>
  नुसत्या एका काडीस धरिलें । <br>
  चिलमीचिया वरती भले । <br>
  समर्थ-आज्ञा म्हणून <strong>॥३९॥</strong> <br><br>

  तों काय झाला प्रकार । <br>
  ऐका तुम्ही श्रोते चतुर । <br>
  प्रगट झाला वैश्वानर । <br>
  काडी नुसती धरतां वरी <strong>॥४०॥</strong> <br><br>

  काडीप्रती विस्तवाचा । <br>
  अंशही नव्हता साचा । <br>
  हा प्रभाव शक्तीचा । <br>
  महाराजांच्या लोकोत्तर <strong>॥४१॥</strong> <br><br>

  काडी तैसीच राहिली । <br>
  चिलीम तीही पेटली । <br>
  कशाचीही नाहीं उरली । <br>
  जरुर खर्‍या साधूला <strong>॥४२॥</strong> <br><br>

  याचें नांव साधुत्व । <br>
  उगीच नव्हतें थोतांड मत । <br>
  आतां सोनाराचे घरांत । <br>
  काय झालें तें ऐका <strong>॥४३॥</strong> <br><br>

  या अक्षयतृतियेला । <br>
  मान विशेष चिंचवण्याला । <br>
  जेवीं वर्षप्रतिपदेला । <br>
  महत्त्व निंब फुलांचें <strong>॥४४॥</strong> <br><br>

  असो भोजना बैसली पंगत । <br>
  चिंचवणें वाढलें द्रोणांत । <br>
  तों प्रकार ऐसा अघटीत । <br>
  घडून आला तो ऐका <strong>॥४५॥</strong> <br><br>

  त्या चिंचवण्यामाझारीं । <br>
  अळ्या दिसल्या नानापरी । <br>
  बुजबुजाट झाला भारी । <br>
  किळस वाटली सर्वांला <strong>॥४६॥</strong> <br><br>

  लोक उठले पात्रांवरुन । <br>
  अवघ्या अन्नातें टाकून । <br>
  सोनार बसला अधोवदन । <br>
  कारण कांहीं उमजेना <strong>॥४७॥</strong> <br><br>

  चिंचवण्याच्या संगें भलें । <br>
  अवघें अन्न वायां गेलें । <br>
  मग त्या कोडें उमगलें । <br>
  ऐसें व्हाया मीच कारण <strong>॥४८॥</strong> <br><br>

  मी न साधूंसी विस्तव दिला । <br>
  त्याचा प्रत्यय तात्काळ आला । <br>
  गजाननाची अगाध लीला । <br>
  मीं न खचित जाणिली <strong>॥४९॥</strong> <br><br>

  गजानन जान्हवी नीर । <br>
  मीं त्या मानिलें थिल्लर । <br>
  गजानन राजराजेश्वर । <br>
  मीं त्या भिकारी मानिलें <strong>॥५०॥</strong> <br><br>

  त्रिकालज्ञ गजानन । <br>
  मीं त्या मानिलें वेडा पूर्ण । <br>
  कल्पतरुकारण । <br>
  मीं बाभळ मानिली <strong>॥५१॥</strong> <br><br>

  गजानन हा चिंतामणी । <br>
  मीं लेखिली गार जाणी । <br>
  गजानन हा कैवल्यदानी । <br>
  मी ढोंगी मानिला हो <strong>॥५२॥</strong> <br><br>

  हाय हाय रे दुर्दैवा । <br>
  त्वां कैसा साधिला दावा । <br>
  माझ्या हातून संतसेवा । <br>
  होवो ना तूं दिलीस <strong>॥५३॥</strong> <br><br>

  मसी असो हा धिक्कार । <br>
  मी भारभूत साचार । <br>
  जन्म पावलों भूमीवर । <br>
  द्वय पायांचा पशु मी <strong>॥५४॥</strong> <br><br>

  आज माझ्या भाग्यकाळीं । <br>
  बुद्धि कशी चळती झालि । <br>
  सुयोगाचि दवडिली । <br>
  वेळ आलेली म्यां करें <strong>॥५५॥</strong> <br><br>

  कांहीं असो आतां जाऊं । <br>
  समर्थांचे पाय पाहूं । <br>
  पदीं त्यांच्या अनन्य होऊं । <br>
  क्षमा मंतूची मागावया <strong>॥५६॥</strong> <br><br>

  ऐसा विचार करुनी । <br>
  सवें घेऊन चिंचवणी । <br>
  बंकटलालाच्या सदनीं । <br>
  आला हकीकत सांगावया <strong>॥५७॥</strong> <br><br>

  अहो शेटजी बंकटलाला । <br>
  आज माझा घात झाला । <br>
  पाहा या चिंचवण्याला । <br>
  आंत किडे पडले बहु <strong>॥५८॥</strong> <br><br>

  माणसें उठलीं उपोषित । <br>
  तेणें झाला श्राद्धघात । <br>
  हें ऐसें व्हावया कृत्य । <br>
  माझा मीच कारण असे <strong>॥५९॥</strong> <br><br>

  आज सकाळीं चिलिमीला । <br>
  मीं नाहीं विस्तव दिला । <br>
  पोरें मागत असतां मला । <br>
  समर्थांच्या चिलिमीस्तव <strong>॥६०॥</strong> <br><br>

  त्याचेंच हें आहे फळ । <br>
  चिंचवणी नासलें सकळ । <br>
  तें ऐकून बंकटलाल । <br>
  बोलूं लागला येणें रितीं <strong>॥६१॥</strong> <br><br>

  तुम्हीं न चिंचोके पाहिले । <br>
  ते असतील किडलेले । <br>
  म्हणून हे नासते झाले । <br>
  तुमचें चिंचवणी वाटे मला <strong>॥६२॥</strong> <br><br>

  सोनार म्हणे ऐसी शंका । <br>
  शेटजी तुम्ही घेऊं नका । <br>
  नवी चिंच होती देखा । <br>
  मग चिंचोके किडके कसे ? <strong>॥६३॥</strong> <br><br>

  जी मीं चिंच फोडिली । <br>
  तिचीं टरफलें अजून पडलीं । <br>
  चिंचोक्यांची रास झाली । <br>
  मर्जी असल्या पाहा चला <strong>॥६४॥</strong> <br><br>

  आतां इतुकीच विनंती । <br>
  आहे शेटजी तुम्हांप्रती । <br>
  मला नेऊन पायांवरतीं । <br>
  घाला शीघ्र समर्थांच्या <strong>॥६५॥</strong> <br><br>

  क्षमा मंतूची मागेन । <br>
  अनन्यभावें करुन । <br>
  साधु दयेचे परिपूर्ण । <br>
  सागर मूळचेच आहेत कीं <strong>॥६६॥</strong> <br><br>

  समर्थांपुढें भीत भीत । <br>
  जानकीराम गेला त्वरित । <br>
  घातलें त्यानें दंडवत । <br>
  अष्टांगेंसी समर्था <strong>॥६७॥</strong> <br><br>

  आणि म्हणाला दयाघना ! । <br>
  तुला येवो माझी करुणा । <br>
  मीं अपराध केले नाना । <br>
  त्यांची क्षमा करावी <strong>॥६८॥</strong> <br><br>

  तूं साक्षात् उमानाथ । <br>
  नांदसी या शेगांवांत । <br>
  ज्यांची होती मजला भ्रांत । <br>
  ती त्वां आज निवटीली <strong>॥६९॥</strong> <br><br>

  माझे अपराधरुपीं अवघें तृण । <br>
  जाळी कृपाकृशानें करुन । <br>
  समर्था आजपासोन । <br>
  मी न टवाळी तुझी करी <strong>॥७०॥</strong> <br><br>

  जी शिक्षा आज केली । <br>
  तेवढीच मजसी पुरे झाली । <br>
  तूं अनाथांचा आहेस वाली । <br>
  आतां अंत पाहूं नको <strong>॥७१॥</strong> <br><br>

  महाराज बोलले त्यावर । <br>
  खोटें न सांगे तिळभर । <br>
  तुझें चिंचवणी आहे मधुर । <br>
  किडे न पडले त्यामध्यें <strong>॥७२॥</strong> <br><br>

  तें ऐकतां अवघ्यांनीं । <br>
  पाहिलें तें चिंचवणी । <br>
  पहिला प्रकार मावळोनी । <br>
  गेला होता तेधवां <strong>॥७३॥</strong> <br><br>

  अवघ्यांप्रती आश्चर्य झालें । <br>
  समर्थांचें महत्त्व कळलें । <br>
  हां हां म्हणतां पसरलें । <br>
  वृत्त हें त्या गांवामध्यें <strong>॥७४॥</strong> <br><br>

  ज्यांच्या त्यांच्या तोंडीं मात । <br>
  हीच निघूं लागली सत्य । <br>
  कस्तुरीचा नाहीं येत । <br>
  वास झांकाया कवणातें <strong>॥७५॥</strong> <br><br>

  चंदुमुकीन नांवाचा । <br>
  गृहस्थ एक शेगांवाचा । <br>
  निःसीम भक्त समर्थांचा । <br>
  त्याची कथा ऐका ही <strong>॥७६॥</strong> <br><br>

  श्रोते ज्येष्ठ मासांत । <br>
  सभोंवार बसले भक्त । <br>
  अति आदरें जोडोन हात । <br>
  दृष्टि ठेवून पायावरी <strong>॥७७॥</strong> <br><br>

  कोणी आंबे कापिती । <br>
  कोणी फोडी हातांत देती । <br>
  कोणी पंख्यानें घालिती । <br>
  वारा समर्थांकारणें <strong>॥७८॥</strong> <br><br>

  कोणी वांटिती खडीसाखर । <br>
  कोणी गळ्यांत घालिती हार । <br>
  कोणी चंदन थंडगार । <br>
  लाविती अंगीं साधूच्या <strong>॥७९॥</strong> <br><br>

  तयीं महाराज म्हणाले चंदूला । <br>
  हे आंबे नकोत मला । <br>
  दोन कान्होले उतरंडीला । <br>
  आहेत तुझ्या ते आण जा <strong>॥८०॥</strong> <br><br>

  चंदू बोले कर जोडून । <br>
  आतां कान्होले कोठून ? । <br>
  इच्छा असल्या तळून । <br>
  ताजे आणितों गुरुराया <strong>॥८१॥</strong> <br><br>

  तईं महाराज वदले वाचें । <br>
  नाहीं कारण ताज्याचें । <br>
  पाहिजेत तुझ्या उतरंडीचे । <br>
  कान्हवले मज खावया <strong>॥८२॥</strong> <br><br>

  जा वेळ करुं नको । <br>
  उगीच सबबी सांगूं नको । <br>
  गुरुपाशीं बोलूं नको । <br>
  खोटें वेडया यत्किंचित् <strong>॥८३॥</strong> <br><br>

  त्या मुकिनचंदूप्रती । <br>
  लोक आघे बोलती । <br>
  जा ये पाहून शीघ्रगती । <br>
  खोटी न होय संतवाणी <strong>॥८४॥</strong> <br><br>

  चंदू घराप्रती गेला । <br>
  कांतेस पुसूं लागला । <br>
  दोन कान्हवले उतरंडीला । <br>
  आहेत काय रंभोरु ? <strong>॥८५॥</strong> <br><br>

  तैं बोले अंगना । <br>
  होऊन गेला एक महिना । <br>
  आतां कान्हवले आपुल्या सदना । <br>
  मिळतील कशाचे ? <strong>॥८६॥</strong> <br><br>

  अक्षयतृतीया दिवशीं भले । <br>
  कान्हवले मीं पतिराया केले । <br>
  ते न आतां राहिले । <br>
  संपून गेले त्याच दिनीं <strong>॥८७॥</strong> <br><br>

  मर्जी असल्या नवे करितें । <br>
  समर्थास्तव तळून देतें । <br>
  ही पहा मी ठेवितें । <br>
  कढई नाथा चुलीवर <strong>॥८८॥</strong> <br><br>

  तुम्ही थांबा क्षणभर । <br>
  सामान अवघें तयार । <br>
  नको पाहाण्या बाजार । <br>
  कान्हवल्याच्या साहित्यासी <strong>॥८९॥</strong> <br><br>

  चंदू बोले त्यावरी । <br>
  ताजे नकोत सुंदरी । <br>
  जे तूं उतरंडी माझारीं । <br>
  दोन ठेविले तेच दे <strong>॥९०॥</strong> <br><br>

  समर्थांनीं ऐसेंच कथिलें । <br>
  तेंच मी तुज निवेदिलें । <br>
  आठवण करुन चांगलें । <br>
  पाहा कांहीं येधवां <strong>॥९१॥</strong> <br><br>

  ऐसे ऐकतां पतिवचन । <br>
  कांता गेली घोटाळून । <br>
  करुं लागली शोधन । <br>
  कान्हवल्याचे चित्तांतरीं <strong>॥९२॥</strong> <br><br>

  कान्हवल्यांचा शोध करितां । <br>
  आठवण झाली तत्त्वतां । <br>
  उघड म्हणे थांबा नाथा । <br>
  सत्य गिरा समर्थांची <strong>॥९३॥</strong> <br><br>

  दोन कान्हवले होते उरले । <br>
  ते मी उतरंडीस ठेविले । <br>
  त्यांचें स्मरण नाहीं उरलें । <br>
  सगळ्या महिन्यांत मजलागीं <strong>॥९४॥</strong> <br><br>

  त्यास महिना होऊन गेला । <br>
  असेल बुरसा वरी आला । <br>
  ते खाण्याच्या उपयोगाला । <br>
  राहिले नसतील अणुमात्र <strong>॥९५॥</strong> <br><br>

  ऐसें बोलून तात्काळ उठली । <br>
  उतरंड सर्व धांडोळली । <br>
  कान्हवले ते ठेवलेली । <br>
  कळशी होती खापराची <strong>॥९६॥</strong> <br><br>

  आंत जों पाहिलें न्याहाळून । <br>
  तों दृष्टी पडले तिच्या दोन । <br>
  कान्हवले जे सुकोन । <br>
  गेले होते थोडके <strong>॥९७॥</strong> <br><br>

  बुरसा मुळींच नाहीं आला । <br>
  श्रोते त्या कान्हवल्याला । <br>
  बट्टा संतवाणीला । <br>
  नाहीं लागला कधीं जगीं <strong>॥९८॥</strong> <br><br>

  कान्हवल्यातें पाहोन । <br>
  उभयतांचें हर्षलें मन । <br>
  धन्य साधु गजानन । <br>
  महा समर्थ सिद्धयोगी <strong>॥९९॥</strong> <br><br>

  चंदू कान्हवले घेऊन आला । <br>
  समर्थांसी अर्पिता झाला । <br>
  लोक करती आश्चर्याला । <br>
  त्याच्या कृतीतें पाहून <strong>॥१००॥</strong> <br><br>

  लोक म्हणती गजानन । <br>
  खचित असती त्रिकालज्ञ । <br>
  भूत भविष्य वर्तमान । <br>
  यांसी अवघे कळतसे <strong>॥१॥</strong> <br><br>

  चंदूच्या त्या कान्हवल्यांसी । <br>
  सेविते झाले पुण्यराशी । <br>
  राम शबरीच्या बोरांसी । <br>
  जेवीं झाला भक्षिता <strong>॥२॥</strong> <br><br>

  शेगांवच्या दक्षिणेसी । <br>
  चिंचोली गांव परियेसी । <br>
  तेथील एक रहिवासी । <br>
  माधव नामें विप्र होता <strong>॥३॥</strong> <br><br>

  वय ज्याचें साठावर । <br>
  अवयव झाले क्षीण फार । <br>
  तरुणपणीं संसार । <br>
  हेंच होतें ब्रह्म ज्याचें <strong>॥४॥</strong> <br><br>

  प्रारब्धाच्या पुढारी । <br>
  कोण जातो भूमिवरी ? । <br>
  ब्रह्मदेवें जीं कां खरीं । <br>
  लिहिलीं अक्षरें तेंच होय <strong>॥५॥</strong> <br><br>

  माधवासी न कोणी उरले । <br>
  कांतापुत्र मरुन गेले । <br>
  म्हणून विरक्त जाहलें । <br>
  मन तयाचें संसारीं <strong>॥६॥</strong> <br><br>

  जी का होती चीजवस्त । <br>
  ती अवघी केली फस्त । <br>
  म्हणे आतां माझी गत । <br>
  होईल कैशी देवदेवा ? <strong>॥७॥</strong> <br><br>

  म्यां हमाधुमीचा संसार केला । <br>
  तो आतां अवघा निमाला । <br>
  आठविलें कधीं नाहीं तुला । <br>
  एक क्षणही दीनबंधो ! <strong>॥८॥</strong> <br><br>

  आतां माझा वाली कोण ? । <br>
  दीनदयाळा तुजवांचून । <br>
  माझें हें अरण्यरोदन । <br>
  तुजविण देवा कोण ऐके ? <strong>॥९॥</strong> <br><br>

  ऐसा अनुताप धरुन पोटीं । <br>
  शेगांवीं आला शेवटीं । <br>
  गजाननाच्या द्वारवंटीं । <br>
  हट्ट धरुन बैसला <strong>॥११०॥</strong> <br><br>

  आरंभिलें उपोषण । <br>
  अन्नपाण्यातें त्यागून । <br>
  वदनीं वदे नारायण । <br>
  खंड न पडे तयाला <strong>॥११॥</strong> <br><br>

  ऐशापरी एक गेला । <br>
  दिवस परी नाहीं उठला । <br>
  तईं महाराज वदले तयाला । <br>
  हें करणें उचित नसे <strong>॥१२॥</strong> <br><br>

  हेंच हरीचें नामस्मरण । <br>
  कां न केलें मागें जाण । <br>
  प्राण देहातें सोडून । <br>
  जातां वैद्य बोलाविसी ! <strong></strong> <br><br>

  तरुणपणीं ब्रह्मवारी । <br>
  म्हातारपणीं करिसी नारी । <br>
  अरे वेळ गेल्यावरी । <br>
  नाहीं उपयोग साधनाचा <strong>॥१४॥</strong> <br><br>

  जें करणें तें वेळेवर । <br>
  करावें कीं साचार । <br>
  घर एकदां पेटल्यावर । <br>
  कूप खणणें निरर्थक ! <strong>॥१५॥</strong> <br><br>

  ज्या कन्यापुत्रांसाठीं । <br>
  तूं केलीस आटाआटी । <br>
  ते अवघे गेले शेवटीं । <br>
  टाकोनिया तुजलागीं <strong>॥१६॥</strong> <br><br>

  अशाश्वताचें पोषण । <br>
  केलें शाश्वता विसरुन । <br>
  त्या कर्माचीं तुजलागून । <br>
  फळें भोगणें भाग असे <strong>॥१७॥</strong> <br><br>

  तीं फळें भोगिल्याविना । <br>
  सुटका तुझी होईना । <br>
  दे हा टाकून हट्टीपणा । <br>
  विवेक कांहीं करी मनीं <strong>॥१८॥</strong> <br><br>

  तें न माधवें ऐकिलें । <br>
  हट्टासि ना सोडिलें । <br>
  यत्‍न लोकांचे वायां गेले । <br>
  त्यासी भोजन घालण्याचे <strong>॥१९॥</strong> <br><br>

  शेगांवचा कुलकर्णी । <br>
  करुं लागला विनवणी । <br>
  भोजनास चला सदनीं । <br>
  अन्नाविण राहूं नका <strong>॥१२०॥</strong> <br><br>

  तेंही म्हणणें माधवाला । <br>
  नाहीं पटलें तसाच बसला । <br>
  समर्थांच्या सान्निध्याला । <br>
  नाम घेत हरीचें <strong>॥२१॥</strong> <br><br>

  रात्र झाली दोन प्रहर । <br>
  तमें आक्रमिलें अंबर । <br>
  निशीचा तो शब्द किर्र । <br>
  होऊं लागला वरच्यावरी <strong>॥२२॥</strong> <br><br>

  आसपास कोणी नाहीं । <br>
  ऐसें पाहून केलें कांहीं । <br>
  कौतुक तें लवलाही । <br>
  स्वामी गजाननांनीं <strong>॥२३॥</strong> <br><br>

  रुप धरिलें भयंकर । <br>
  दुसरा यमाजी भास्कर । <br>
  आ पसरुन माधवावर । <br>
  धांवून आले भक्षावया <strong>॥२४॥</strong> <br><br>

  तेणें माधव पळाला । <br>
  घेऊन आपला जीव भला । <br>
  धडकी भरली चित्ताला । <br>
  छाती उडे धडधड <strong>॥२५॥</strong> <br><br>

  बुडबुडा आला तोंडासी । <br>
  शब्द फुटेना वाचेसी । <br>
  ऐशा पाहोन स्थितीसी । <br>
  समर्थें धरिलें सौम्य रुप <strong>॥२६॥</strong> <br><br>

  आणि बोलले गर्जोन । <br>
  हेंच कां तुझें धीटपण । <br>
  तूं काळाचें भक्ष्य जाण । <br>
  असाच खाईल काळ तुला <strong>॥२७॥</strong> <br><br>

  त्याची चुणूक दाखविली । <br>
  पुढची स्थिति जाणविली । <br>
  तेथें पळाया नाहीं उरली । <br>
  यमलोकांत जागा तुला <strong>॥२८॥</strong> <br><br>

  माधव ऐसें ऐकतां । <br>
  झाला विनयें बोलतां । <br>
  यमलोकाची नको वार्ता । <br>
  तेवढी माझी टाळा हो <strong>॥२९॥</strong> <br><br>

  नको नको हें जीवित । <br>
  द्या धाडून वैकुंठांत । <br>
  हीच विनंति आपणांप्रत । <br>
  महाराज माझी शेवटची <strong>॥१३०॥</strong> <br><br>

  यमलोकीं जें दिसणार होतें । <br>
  तें तुम्हीं दाविलें येथें । <br>
  आतां या लेंकरातें । <br>
  यमलोकीं धाडूं नका <strong>॥३१॥</strong> <br><br>

  माझ्या पातकाच्या राशी । <br>
  आहेत जरी बहुवशी । <br>
  परी त्या जाळणें तुम्हांसी । <br>
  नाहीं मुळीं अशक्य <strong>॥३२॥</strong> <br><br>

  कांहीं सुकृत पदरीं होतें । <br>
  म्हणून पाहिलें तुम्हांतें । <br>
  संतभेटी ज्याला होते । <br>
  यमलोक ना तयासी <strong>॥३३॥</strong> <br><br>

  ऐसें ऐकतां भाषण । <br>
  समर्थें केलें हास्यवदन । <br>
  महापतीता पावन । <br>
  साधूच एक करिती कीं <strong>॥३४॥</strong> <br><br>

  श्रीमन्नारायण नारायण । <br>
  ऐसेंच माधवा करी भजन । <br>
  जवळ आलें तुझें मरण । <br>
  आतां गाफील राहूं नको <strong>॥३५॥</strong> <br><br>

  किंवा अजून वांचण्याची । <br>
  आस आहे तुला साची । <br>
  ती असल्यास आयुष्याची । <br>
  वाढ तुझ्या करितों मी <strong>॥३६॥</strong> <br><br>

  माधव म्हणे गुरुराया । <br>
  नको मला आयुष्य सदया । <br>
  ओखटी ही प्रपंचमाया । <br>
  त्यांत पुन्हां गोवूं नको <strong>॥३७॥</strong> <br><br>

  तथास्तु ऐसें महाराज वदले । <br>
  तूं जें मागसी तें मीं दिलें । <br>
  आतां तुला नाहीं उरलें । <br>
  जन्मास येणें भूमीवर <strong>॥३८॥</strong> <br><br>

  ऐशा रीतीं दोघांचा । <br>
  संवाद गुप्त स्वरुपाचा । <br>
  झाला त्या वर्णण्या वाचा । <br>
  नाहीं माझी समर्थ <strong>॥३९॥</strong> <br><br>

  इहलोकीचें देहभान । <br>
  माधवाचें निमालें जाण । <br>
  कित्येक बोलूं लागले जन । <br>
  उपवासें फिरलें मस्तक <strong>॥१४०॥</strong> <br><br>

  म्हणून वेडेचार करी । <br>
  जनकल्पना नानापरी । <br>
  उठत्या झाल्या त्या अवसरीं । <br>
  त्या किती म्हणून वर्णाव्या ? <strong>॥४१॥</strong> <br><br>

  असो माधवाचें देहावसान । <br>
  समर्थासन्निध झालें जाण । <br>
  चुकलें त्याचें जन्ममरण । <br>
  गजाननाच्या कृपेनें <strong>॥४२॥</strong> <br><br>

  असो एक्या समयीं भली । <br>
  समर्थांसी इच्छा झाली । <br>
  ती त्यांनीं निवेदिली । <br>
  आपुल्या शिष्यवर्गातें <strong>॥४३॥</strong> <br><br>

  वैदिक ब्राह्मण बोलवा । <br>
  मंत्रजागर येथें करवा । <br>
  वेदश्रवणें देवदेवा । <br>
  आनंद होतो अतिशय <strong>॥४४॥</strong> <br><br>

  पन्हें पेढे बरफी खवा । <br>
  भिजल्या डाळीस मीठ लावा । <br>
  एकेक रुपया तो द्यावा । <br>
  घनपाठी ब्राह्मणातें <strong>॥४५॥</strong> <br><br>

  ऐसें भाषण ऐकिलें । <br>
  शिष्य विनवूं लागले । <br>
  ऐसे वैदिक नाहीं उरले । <br>
  या आपुल्या शेगांवीं <strong>॥४६॥</strong> <br><br>

  सांगाल तो करुं खर्च । <br>
  परी अडचण आहे हीच । <br>
  ब्राह्मण मिळविण्याचि साच । <br>
  आमचा उपाय यातें नसे <strong>॥४७॥</strong> <br><br>

  महाराज म्हणाले त्यावरी । <br>
  करा उद्यां तयारी । <br>
  ब्राह्मण धाडील श्रीहरी । <br>
  तुमच्या वसंतपूजेला <strong>॥४८॥</strong> <br><br>

  मग काय विचारितां । <br>
  अवघे हर्षले तत्त्वतां । <br>
  झाली तयारी हां हां म्हणतां । <br>
  रुपये शंभर झाले जमा <strong>॥४९॥</strong> <br><br>

  सामान सर्व आणिलें । <br>
  चंदनाचें उटणें केलें । <br>
  आंत केशर कालविलें । <br>
  तैसाच आणखी कापुर <strong>॥१५०॥</strong> <br><br>

  दोन प्रहरचे समयाला । <br>
  ब्राह्मण आले शेगांवाला । <br>
  जे पदक्रम जटेला । <br>
  जाणत होते विबुध हो ! <strong>॥५१॥</strong> <br><br>

  थाटांत वसंतपूजा झाली । <br>
  ब्राह्मण मंडली आनंदली । <br>
  दक्षिणा घेऊनी गेली । <br>
  अन्य ग्रामाकारणें <strong>॥५२॥</strong> <br><br>

  संतांच्या जें मनीं येत । <br>
  तें तें पुरवी रमानाथ । <br>
  कमी न पडे यत्किंचित । <br>
  ऐसा प्रभाव संतांचा <strong>॥५३॥</strong> <br><br>

  बंकटलाल प्रतिवर्षी । <br>
  व्रत हें चालवी अतीहर्षी । <br>
  अजून परी शेगांवासी । <br>
  वंशज त्याचे करिती हें <strong>॥५४॥</strong> <br><br>

  हा दासगणूविरचित । <br>
  गजाननविजय नामें ग्रंथ । <br>
  साधकासी दावो पथ । <br>
  विमलशा हरिभक्तीचा <strong>॥१५५॥</strong> <br><br>


  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ इति चतुर्थोऽध्यायः समाप्तः ॥</strong>
</div>