<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय १०</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  हे अरुपा अव्यया । <br>
  पूर्णब्रह्मा पंढरीराया । <br>
  सज्जनाच्या विसाविया । <br>
  मजला परते लोटूं नको ॥१॥ <br><br>
  देवा हा दासगणू । <br>
  नको परक्याचा आतां म्हणूं । <br>
  माझ्या पातकाचा नको आणूं । <br>
  विचार चित्तीं नारायणा ॥२॥ <br><br>
  माझ्या करें न झालें पुण्य । <br>
  हें ठाउकें मजलागून । <br>
  फाय काय तुला वदन । <br>
  दावण्या मी योग्य नसे ॥३॥ <br><br>
  ऐसी स्थिति आहे जरी । <br>
  परि देवा कृपा करी । <br>
  ओहळास गोदावरी । <br>
  पोटीं आपल्या घेतसे ॥४॥ <br><br>
  तैसें तुवां करावें । <br>
  दुःख अवघें निवारावें । <br>
  पातकाला न उरुं द्यावें । <br>
  माझ्या ठायीं यत्किंचित्‌ ॥५॥ <br><br>
  तूं आणिल्या मनांत । <br>
  अवघेंच कांहीं घडून येत । <br>
  रंकाचाही राव होत । <br>
  तुझा लाधतां वशीला ॥६॥ <br><br>
  असो एकदां पुण्यराशी । <br>
  गेले उमरावतीसी । <br>
  जाऊन उतरले सदनासी । <br>
  आत्माराम भिकाजीच्या ॥७॥ <br><br>
  हा आत्माराम भिकाजी-सुत । <br>
  उमरावतीचा असे प्रांत । <br>
  मोठा अधिकार हातांत । <br>
  होता त्याच्या विबुध हो ॥८॥ <br><br>
  कायस्थ प्रभू याची जात । <br>
  हा संतांचा प्रेमी अमित । <br>
  सदाचारसंपन्न गृहस्थ । <br>
  गृहस्थाश्रमीं वर्ततसे ॥९॥ <br><br>
  त्याच्या घरीं समर्थ गेले । <br>
  ते त्यानें सांग पूजिले । <br>
  मंगलस्नान घातिलें । <br>
  उष्णोदकानें गजानना ॥१०॥ <br><br>
  उटणीं नाना प्रकारचीं । <br>
  अंगा लाविलीं साचीं । <br>
  वृत्ति आनंदली त्याची । <br>
  संतसहवासें तेधवां ॥११॥ <br><br>
  कर्वतीकांठी उमरेडचा । <br>
  धोतरजोडा नेसविला साचा । <br>
  भालीं केशरी गंधाचा । <br>
  भव्य तिलक लाविलासे ॥१२॥ <br><br>
  कंठामाजीं पुष्पहार । <br>
  नैवेद्याचे नाना प्रकार । <br>
  दक्षिणेसी शंभर । <br>
  रुपये त्यानें ठेविले ॥१३॥ <br><br>
  धूप, दीप आरती झाली । <br>
  पुष्पांजली समर्पिली । <br>
  दर्शनालागीं दाटी झाली । <br>
  उमरावतीच्या लोकांची ॥१४॥ <br><br>
  प्रत्येका ऐसें वाटावें । <br>
  समर्थ आपल्या घरीं न्यावें । <br>
  यथासांग करावें । <br>
  पूजन त्यांचें येणें रितीं ॥१५॥ <br><br>
  इच्छा ऐसी बहुतां झाली । <br>
  परी थोडक्याची मनीषा पुरली । <br>
  सदनीं पाऊलें लागण्या भलीं । <br>
  पुण्य पाहिजे बलवत्तर ॥१६॥ <br><br>
  तें ज्यांच्यापासीं होतें । <br>
  समर्थ गेले तेथें तेथें । <br>
  कां कीं साधूस अवघें कळतें । <br>
  अंतर्ज्ञानें करुन ॥१७॥ <br><br>
  गणेश श्रीकृष्ण खापर्डे । <br>
  उमरावतीचे गृहस्थ बडे । <br>
  वकीलींत ज्यांच्यापुढें । <br>
  ढीग रुपयांचे पडती कीं ॥१८॥ <br><br>
  दादासाहेब यांप्रत । <br>
  म्हणत होते वर्‍हाडांत । <br>
  हा सज्जन भाविक अत्यंत । <br>
  ब्राह्मण शुक्लयजुर्वेदी ॥१९॥ <br><br>
  त्यानें विनंति करितां खरी । <br>
  महाराज गेले त्याच्या घरीं । <br>
  तेथें ही झाली याचपरी । <br>
  समर्थांची पूजा हो ! ॥२०॥ <br><br>
  गणेश आप्पा म्हणूनी । <br>
  होता लिंगायतवाणी । <br>
  चंद्राबाई कामिनी । <br>
  त्याची परम भाविक असे ॥२१॥ <br><br>
  ती बोलली पतीला । <br>
  हा साधु पाहिजे नेला । <br>
  कसेंही करुन घराला । <br>
  पाहा विनंति करुन ॥२२॥ <br><br>
  आपुलें निष्पाप असल्या मन । <br>
  याच्या आगमनें करुन । <br>
  होईल आपलें पवित्र सदन । <br>
  भाविकाचा देव असे ॥२३॥ <br><br>
  गणेश आप्पा म्हणे तिला । <br>
  वेड लागलें आहे तुला । <br>
  हा सदनीं साधु न्यावयाला । <br>
  वशिला पाहिजे बलवत्तर ॥२४॥ <br><br>
  पाहा खापडर्यालागुनी । <br>
  हा साधु न्यावया सदनीं । <br>
  श्रम पडले ते आण ध्यानीं । <br>
  उगा हट्ट धरुं नको ॥२५॥ <br><br>
  चंद्राबाई म्हणे नाथा । <br>
  हें न पटे माझ्या चित्तां । <br>
  सांगे माझी मनदेवता । <br>
  सदनीं साधु येतील हो ॥२६॥ <br><br>
  तुम्ही करा हो त्यांना नुसती । <br>
  सदनीं येण्यास विनंति । <br>
  गरीबावरी असते प्रीति । <br>
  संतांची ती विशेष ॥२७॥ <br><br>
  परि आप्पा बोलेना । <br>
  छाती त्याची होईना । <br>
  बोलावयासी निजसदना । <br>
  श्रीगजानन साधुतें ॥२८॥ <br><br>
  महाराज वदले अखेर । <br>
  गणेश आप्पाचा धरुन कर। <br>
  तुझें किती आहे सदन दूर । <br>
  तेवढें सांग मला ? ॥२९॥ <br><br>
  तुझ्या सदनीं वाटतें यावें । <br>
  कांहीं वेळ बसावें । <br>
  अरे चित्तीं असेल तें बोलावें । <br>
  भीड न धरितां कवणाची ॥३०॥ <br><br>
  ऐसें महाराज बोलतां । <br>
  गणेश आप्पाचिया चित्ता । <br>
  हर्ष झाला तत्त्वतां । <br>
  तो न शब्दें बोलवे ॥३१॥ <br><br>
  समर्थांस नेऊन सदनीं । <br>
  पूजा केली उभयतांनीं । <br>
  आपुला संसार त्यांचे चरणीं । <br>
  अर्पण केला तात्काळ॥३२॥ <br><br>
  असो ऐशा पूजा अमित । <br>
  झाल्या उमरावतींत । <br>
  त्या प्रत्येक पूजेप्रत । <br>
  एक गृहस्थ हजर असे ॥३३॥ <br><br>
  तो आत्माराम भिकाजीचा । <br>
  नात्यानें हा होता भाचा । <br>
  राहणार मुंबई शहरींचा । <br>
  तारमास्तर असे कीं ॥३४॥ <br><br>
  तो रजा घेऊन भला । <br>
  उमरावतीस होता आला । <br>
  भेटण्या आपुल्या मामाला । <br>
  बाळाभाऊ नाम ज्याचें ॥३५॥ <br><br>
  त्या बाळाभाऊकारण । <br>
  समर्थांचें लागलें ध्यान । <br>
  म्हणे ऐशा साधूचे चरण । <br>
  सोडून कुठें जाऊं नये ॥३६॥ <br><br>
  प्रपंच अवघा अशाश्वत । <br>
  त्यांत कशाला गोवूं चित्त । <br>
  केला आजपर्यंत । <br>
  तोच आतां पुरे झाला ॥३७॥ <br><br>
  कांहीं असो आजपून । <br>
  मी न सोडी त्याचे चरण । <br>
  अमृताला टाकून । <br>
  विष प्याया कोणी जावें ? ॥३८॥ <br><br>
  म्हणून प्रत्येक पूजेला । <br>
  बाळाभाऊ हजर भला । <br>
  होता बुध हो राहिला । <br>
  दुसरें न कांहीं कारण ॥३९॥ <br><br>
  असो कांहीं दिवसांनीं । <br>
  शेगांवीं आले परतोनी । <br>
  मळ्यासी न जातां जाणी । <br>
  आले मंदिरीं मोठयाच्या ॥४०॥ <br><br>
  त्या मंदिराच्या पूर्वेस । <br>
  एक जागा होती ओस । <br>
  गजानन पुण्य पुरुष । <br>
  येऊन बसला ते ठायां ॥४१॥ <br><br>
  बातमी महाराज आल्याची । <br>
  कृष्णा पाटला कळली साची । <br>
  त्यांनीं जागा मळ्याची । <br>
  सोडिली हें समजलें ॥४२॥ <br><br>
  म्हणून आला धांवत । <br>
  त्या ओस जागेवरी सत्य । <br>
  महाराजा करुन दंडवत । <br>
  अधोवदन बैसला ॥४३॥ <br><br>
  डोळ्यांतून वाहे पाणी । <br>
  खंड त्याला नसे जाणी । <br>
  वस्त्र टाकलें भिजवोनी । <br>
  त्या अश्रूंनीं छातीचें ॥४४॥ <br><br>
  तैं महाराज वदले पाटलाला । <br>
  ऐसा कां रे रडसी भला ? । <br>
  शोक कोणता तुला झाला ? । <br>
  तें वेगें सांग मज ॥४५॥ <br><br>
  पाटील बोले त्यावर । <br>
  जोडोन आपले दोन्ही कर । <br>
  महाराज मळ्याचा अव्हेर । <br>
  कां हो आज केलांत हा ? ॥४६॥ <br><br>
  ऐसा अक्षम्य कोणता । <br>
  अपराध झाला सांगा आतां । <br>
  माझ्याकडून ज्ञानवंता । <br>
  मी लेकरुं आपुलें असे ॥४७॥ <br><br>
  ही देशमुखाच्या बाजूची । <br>
  जागा आहे बघा साची । <br>
  एका माळ्याच्या मालकीची । <br>
  येथें तुम्ही राहूं नका ॥४८॥ <br><br>
  मळ्यांत मर्जी नसेल जरी । <br>
  तरी चला राहात्या घरीं । <br>
  तें खालीं करितों सत्वरीं । <br>
  तुम्हांसाठीं दयाळा ॥४९॥ <br><br>
  कां कीं तुम्हांवांचून । <br>
  मला न कांहीं प्रिय आन । <br>
  हें कळलें वर्तमान । <br>
  अवघ्या पाटील मंडळीतें ॥५०॥ <br><br>
  तेही तेथें धांवून आले । <br>
  महाराजा विनवूं लागले । <br>
  निजसदना या या भले । <br>
  हरी आणि नारायणा ॥५१॥ <br><br>
  महाराज बोलले तयासी । <br>
  मी जो या जागेसी । <br>
  येऊन बसलों आज दिवशीं । <br>
  तें तुमच्या हितास्तव ॥५२॥ <br><br>
  तें पुढें येईल कळोन । <br>
  आतां न करा भाषण । <br>
  वाद दोघांचें निर्मूलन । <br>
  करील हें विसरुं नका ॥५३॥ <br><br>
  जितके जगीं जमेदार । <br>
  तितके न करिती विचार । <br>
  मागचा पुढचा साचार । <br>
  हेंच उणें त्यांच्या ठायीं ॥५४॥ <br><br>
  जा बंकटलालासी पाहून आणा वेगेसीं । <br>
  मी सोडितां तत् गृहासी । <br>
  तो नाहीं रागावला ॥५५॥ <br><br>
  तें कां हें त्यासी विचार । <br>
  माझी कृपा तुमच्यावर । <br>
  आहे ती न ढळणार । <br>
  कोणत्याही कारणांनीं ॥५६॥ <br><br>
  बंकटलालही आला तेथ । <br>
  घालूं लागला समजूत । <br>
  यांच्या मर्जीविरुद्ध मळ्यांत । <br>
  तुम्ही यांना नेऊं नका ॥५७॥ <br><br>
  माझ्या घरुन जेव्हां आले । <br>
  तेव्हां सांगा मीं काय केलें । <br>
  आपण आहोंत त्यांचीं बाळें । <br>
  ते सारखे अवघ्यांना ॥५८॥ <br><br>
  सखाराम आसोलकार । <br>
  आहे मनाचा उदार । <br>
  तो जागा देण्यास इन्‌कार । <br>
  करणार नाहीं वाटतें ॥५९॥ <br><br>
  सखाराम देईल जागा । <br>
  पुढचें करुं आपण बघा । <br>
  म्हणजे अवघ्यांस यांत भागा । <br>
  घेतां येईल सहजची ॥६०॥ <br><br>
  समेट अवघ्यांचा होऊनी । <br>
  मठ बांधिला त्या ठिकाणीं । <br>
  परशराम सावजींनीं । <br>
  मेहेनत घेतली विशेष ॥६१॥ <br><br>
  समर्थांच्या बरोबर । <br>
  निस्सीम भक्त होते चार । <br>
  भास्कर, बाळाभाऊ, पितांबर । <br>
  उमरावतीचा गणेश आप्पा ॥६२॥ <br><br>
  रामचंद्र गुरव त्याचपरी । <br>
  राहात होता बरोबरी । <br>
  हे पांच पांडव श्रीहरी । <br>
  गजानन शोभूं लागले ॥६३॥ <br><br>
  वृत्ति बाळाभाऊची । <br>
  अतिविरक्त झाली साची । <br>
  पर्वा न त्यानें नौकरीची । <br>
  केली यत्किंचित्‌ आपुल्या ॥६४॥ <br><br>
  पत्रें येती वरच्यावरी । <br>
  बाळाभाऊस येण्या घरीं । <br>
  परी परिणाम अंतरीं । <br>
  कांहींच त्याच्या होईना ॥६५॥ <br><br>
  भास्कर म्हणे गुरुराया । <br>
  हा सोकला पेढे खाया । <br>
  म्हणून ना इच्छी जाया । <br>
  आपल्यापासून कोणीकडे ॥६६॥ <br><br>
  तुम्ही द्यावा यातें मार । <br>
  म्हणजेच हा जवळ करील घर । <br>
  रत्‍न चौदावें पाहिल्याबिगर । <br>
  हा येथून हलणें नसे ॥६७॥ <br><br>
  लकडीवांचून माकड । <br>
  पाहा न होई कधीं धड । <br>
  मोठमोठाले ते पहाड । <br>
  भिऊं लागती वज्राला ॥६८॥ <br><br>
  एकदां बळेंच घालवून । <br>
  दिलें बाळाभाऊकारण । <br>
  परी तो आला परतून । <br>
  राजीनामा देवानिया ॥६९॥ <br><br>
  बाळाभाऊ शेगांवासी । <br>
  येतां भास्कर बोलला त्यासी । <br>
  कां रे आम्हां त्रास देसी ? । <br>
  येथें येऊन वरच्यावर ॥७०॥ <br><br>
  ओढाळ बैल हिरव्यावर । <br>
  पाहे पडाया निरंतर । <br>
  त्यास जरी दिला मार । <br>
  तरी तो येई तेथ पुनः ॥७१॥ <br><br>
  तैसी लोचटा तुझी कृति । <br>
  तंतोतंत निश्चिति । <br>
  झाली जयाला विरक्ति । <br>
  त्यानेंच येथें यावें रे ॥७२॥ <br><br>
  हें अहंकाराचें भाषण । <br>
  समर्था न खपलें जाण । <br>
  त्यांनीं भास्कराचें अज्ञान । <br>
  निवटाया कृत्य केलें ऐसें ॥७३॥ <br><br>
  एका गृहस्थाच्या हातीं । <br>
  भली थोरली छत्री होती । <br>
  ती गजाननें घेऊनी हातीं । <br>
  बाळास झोडूं लागले ॥७४॥ <br><br>
  मारतां मारतां मोडली । <br>
  बुध हो छत्री भली । <br>
  मग एक मोठी घेतली । <br>
  भरीव काठी वेळूची ॥७५॥ <br><br>
  तिनें मारणें सुरुं केलें । <br>
  तें पाहतां लोक भ्याले । <br>
  कांहीं कांहीं पळून गेले । <br>
  सोडून त्या मठाला ॥७६॥ <br><br>
  परी बाळाभाऊ तसाच पडला । <br>
  समर्थांच्या पुढें भला । <br>
  कैक म्हणती असेल मेला । <br>
  तो या अशा मारानें ॥७७॥ <br><br>
  भास्करही झाला चिंतातुर । <br>
  बाळाभाऊचा पाहून मार । <br>
  परी समर्थांच्या समोर । <br>
  बोलण्या छाती होईना ॥७८॥ <br><br>
  तीही काठी मोडली खरी । <br>
  बाळाभाऊच्या पाठीवरी । <br>
  मग तो कंटाळून अखेरीं । <br>
  तुडवूं लागले तयाला ॥७९॥ <br><br>
  जैसा का तो कुंभार । <br>
  माती तुडवितो साचार । <br>
  तैसाच केला प्रकार । <br>
  महाराजांनीं तुडविण्याचा ॥८०॥ <br><br>
  मठीं हा प्रकार चालला । <br>
  शिष्यसमुदाय पळत सुटला । <br>
  कोणी गेले बोलावण्याला । <br>
  त्यांच्या आवडीच्या मंडळीस ॥८१॥ <br><br>
  बंकटलाल कृष्णाजी । <br>
  धांवूनी आले मठामाजीं । <br>
  समर्थ हात धरण्या राजी । <br>
  कोणी तयार होईना ॥८२॥ <br><br>
  बंकटलाल म्हणे भीत भीत । <br>
  समर्था हा आपुला भक्त । <br>
  पुरें झालें याप्रत । <br>
  आतां ऐसें तुडवणें ॥८३॥ <br><br>
  ऐसें ऐकतां भाषण । <br>
  समर्थ वदले हांसून । <br>
  हें असंबद्ध भाषण । <br>
  कां करितां कळेना ॥८४॥ <br><br>
  मी न बाळासी मारिलें । <br>
  नाहीं तयासी तुडविलें । <br>
  निरखून पहा चांगलें । <br>
  म्हणजे येईल कळोनी ॥८५॥ <br><br>
  महाराज म्हणाले बाळासी । <br>
  ऊठ वत्सा वेगेसी । <br>
  या आलेल्या मंडळीसी । <br>
  आंग तुझें दाखिव ॥८६॥ <br><br>
  ऐसी आज्ञा होता भला । <br>
  बाळाभाऊ उठून बसला । <br>
  लोक त्याच्या अंगाला । <br>
  पाहूं लागले निरखून ॥८७॥ <br><br>
  तों वळाचें नांव नाहीं । <br>
  कोठेंही न लागलें कांहीं । <br>
  तो पहिल्यापरीच होता पाही । <br>
  निमग्न आपुल्या आनंदांत ॥८८॥ <br><br>
  त्यायोगें भास्कराला । <br>
  बाळाभाऊचा अधिकार कळला । <br>
  मग तोही ना पुन्हां बोलला । <br>
  वेडेंवांकुडें बाळासी ॥८९॥ <br><br>
  सोनें कसासी उतरतें । <br>
  तेव्हांच त्याची किंमत कळते । <br>
  आश्चर्य झालें समस्तांतें । <br>
  तो प्रकार पाहून ॥९०॥ <br><br>
  सुकलाल नामें आगरवाला । <br>
  होता बाळापुराला । <br>
  श्रोते त्याच्या आगराला । <br>
  गाय एक द्वाड होती ॥९१॥ <br><br>
  तिनें गांवांत फिरावें । <br>
  मुलांमाणसां तुडवावें । <br>
  सशक्तांसी हुंदाडावें । <br>
  शिंगानें कीं आपुल्या ॥९२॥ <br><br>
  वाटेल त्याच्या दुकानांत । <br>
  गाईनें शिरावें अवचित । <br>
  धान्याचिया टोपल्यांत । <br>
  तोंड आपुलें खुपसावें ॥९३॥ <br><br>
  वाटेल तितुकें यथेच्छ खावें । <br>
  राहिलेलें नासावें । <br>
  तेल तुपाचें लवंडावें । <br>
  पिंप अंगाच्या धक्क्यानें ॥९४॥ <br><br>
  घरीं बांधून ठेवितां । <br>
  चर्‍हाटें तोडी हां हां म्हणतां । <br>
  सांखळीसी आणिली लघुता । <br>
  बांधतां त्या गाईनें ॥९५॥ <br><br>
  ती गाय नोव्हे वाघीण । <br>
  बाळापुराकारण । <br>
  लोक गेले कंटाळून । <br>
  त्रास सोसितां तियेचा ॥९६॥ <br><br>
  गाभण मुळींच होईना । <br>
  कास कधींच करीना । <br>
  कोंडून ठेवितां राहीना । <br>
  घरामाजीं कोठेंही ॥९७॥ <br><br>
  लोक म्हणती सुकलालाला । <br>
  दे या खाटकास गाईला । <br>
  किंवा मारुन टाका तिला । <br>
  तूंच गोळी घालून ॥९८॥ <br><br>
  सुकलाल म्हणे लोकांसी । <br>
  तुम्हीच मारुन टाका तिसी । <br>
  वाटेल त्या प्रयत्‍नासी । <br>
  करुन या विबुध हो ॥९९॥ <br><br>
  एका पठाणानें तिला । <br>
  मारण्याचा यत्‍न केला । <br>
  गोळी भरुन बंदुकीला । <br>
  टपून बैसला होता हो ॥१००॥ <br><br>
  तें कसें काय कोण जाणे । <br>
  कळलें गाईकारणें । <br>
  तिनें येऊन शिंगानें । <br>
  पठाण पाडिला उताणा ॥१॥ <br><br>
  मी परगांवा नेऊन । <br>
  दिली होती सोडून । <br>
  परी ती आली परतून । <br>
  त्याला सांगा काय करुं ॥२॥ <br><br>
  ऐसें ऐकतां लोक म्हणती । <br>
  आतां याला एक युक्ति । <br>
  गोविंदबुवाचा घोडा म्हणती । <br>
  समर्थानें गरीब केला ॥३॥ <br><br>
  तूंही या गाईला । <br>
  घेऊन जा शेगांवाला । <br>
  अर्पण करी समर्थाला । <br>
  म्हणजे अवघें संपलें ॥४॥ <br><br>
  साधूस गाय दिल्याचें । <br>
  पुण्य तुला लाभेल साचें । <br>
  आणि संकट आमुचें । <br>
  टळेल बापा त्यायोगें ॥५॥ <br><br>
  तें अवघ्यांस मानवलें । <br>
  गाय नेण्याचें ठरविलें । <br>
  तिला धरण्यासाठीं केले । <br>
  प्रयत्‍न नानापरीचे ॥६॥ <br><br>
  एकही यत्‍न नाहीं फळला । <br>
  शेवटीं एक्या पटांगणाला । <br>
  हरळकुंद्याचा ढीग केला । <br>
  सरकी ठेवली शेजारीं ॥७॥ <br><br>
  ती खायालागून । <br>
  गाय आली धांवून । <br>
  ती येतां फांस टाकून । <br>
  धरिली दहावीस जणांनीं ॥८॥ <br><br>
  साखळदंडानें बांधून पुरी । <br>
  गाय घातली गाडीवरी । <br>
  आणिली शेगांवा भीतरीं । <br>
  गजाननासी द्यावया ॥९॥ <br><br>
  जवळ शेगांव जसें जसें । <br>
  येऊं लागलें तसें तसें । <br>
  स्वभावांत पडलासे । <br>
  त्या गाईच्या पालट ॥११०॥ <br><br>
  समर्थांपुढें येतांक्षणीं । <br>
  गाय झाली दीनवाणी । <br>
  तिनें लोचनीं आणून पाणी । <br>
  पाहिलें त्या पुण्यपुरुषा ॥११॥ <br><br>
  महाराज म्हणाले अवघ्यांना । <br>
  हा काय तुमचा मूर्खपणा । <br>
  गाईस ऐशा यातना । <br>
  देणें कांहीं बरें नव्हे ॥१२॥ <br><br>
  चारही पाय बांधलेत । <br>
  गळां साखळदंड लाविलेत । <br>
  शिंगांचीही तीच गत । <br>
  केली चर्‍हाटें काथ्याच्या ॥१३॥ <br><br>
  ऐसा मोठा बंदोबस्त । <br>
  शोभतसे वाघिणीप्रत । <br>
  ही गाय बिचारी साक्षात् । <br>
  तिला न ऐसें करणें बरें ॥१४॥ <br><br>
  अरे खुळ्यांनो, ही गाय । <br>
  अवघ्या जगाची आहे माय । <br>
  तिला बांधिलें हाय हाय । <br>
  केवढा कठीण प्रसंग आला ॥१५॥ <br><br>
  तिला आतांच करा मुक्त । <br>
  ती न हुंदाडी कोणाप्रत । <br>
  परी लावण्या तिला हात । <br>
  छाती कोणाची होईना ॥१६॥ <br><br>
  जो तो पाहून मागें सरे । <br>
  तेथ समर्थ आले त्वरें । <br>
  आपुल्या त्या पुनीत करें । <br>
  बंधनें तोडिलीं धेनूचीं ॥१७॥ <br><br>
  बंधनें अवघीं तुटतां भलीं । <br>
  गाय गाडीच्या खालीं आली । <br>
  पुढले पाय टेकिती झाली । <br>
  समर्थां वंदन करावया ॥१८॥ <br><br>
  खालीं घालूनिया मान । <br>
  प्रदक्षिणा त्या केल्या तीन । <br>
  समर्थांचे दिव्य चरण । <br>
  चाटूं लागली जिभेनें ॥१९॥ <br><br>
  ऐसा प्रकार तेथें झाला । <br>
  तो अवघ्यांनीं पाहिला । <br>
  समर्थांच्या प्रभावाला । <br>
  शेषही वर्णूं शकेना ॥१२०॥ <br><br>
  समर्थ म्हणाले धेनूस । <br>
  बाई कोणा न द्यावा त्रास । <br>
  तूं या सोडून मठास । <br>
  कोठेंही जाऊं नको ॥२१॥ <br><br>
  ऐसा घडतां प्रकार । <br>
  अवघ्यांनीं केला जयजयकार । <br>
  उच्च स्वरानें त्रिवार । <br>
  समर्थांच्या नांवाचा ॥२२॥ <br><br>
  बाळापूरची मंडळी । <br>
  बाळापुरा निघून गेली । <br>
  गाय तेथेंच राहिली । <br>
  शेगांवासी मठामध्यें ॥२३॥ <br><br>
  त्या दिवसापासून । <br>
  ठावे न तिला चर्‍हाट जाण । <br>
  सुज्ञ धेनूचे अवघे गुण । <br>
  तिच्या ठायीं पातले ॥२४॥ <br><br>
  अजून त्या शेगांवातें । <br>
  तिची संतती नांदते । <br>
  जे कांहीं वदती ब्रह्मवेत्ते । <br>
  तेंच येतें घडोन ॥२५॥ <br><br>
  असो एक कारंज्याचा । <br>
  लक्ष्मण घुडे नांवाचा । <br>
  विप्र वाजसनीय शाखेचा । <br>
  धनकनक संपन्न असे ॥२६॥ <br><br>
  त्यासी रोग झाला पोटांत । <br>
  उपाय केले अत्यंत । <br>
  परि न आला गुण किंचित्‌ । <br>
  खर्च सारा व्यर्थ गेला ॥२७॥ <br><br>
  त्यानें समर्थांची कीर्ति । <br>
  कर्णोपकर्णी ऐकिली होती । <br>
  म्हणून सहपरिवारें सत्वर गती । <br>
  आला शेगांवाकारणें ॥२८॥ <br><br>
  रोगव्यथेनें चालवेना । <br>
  श्रोते तया लक्ष्मणा । <br>
  दोघांतिघांनीं उचलून जाणा । <br>
  आणिले त्या मठांत ॥२९॥ <br><br>
  करण्या नुसता नमस्कार । <br>
  असमर्थ होतें शरीर । <br>
  त्याच्या कुटुंबानें पदर । <br>
  समर्थांपुढें पसरिला ॥१३०॥ <br><br>
  आणि म्हणाली दयाघना ! । <br>
  मी आपली धर्मकन्या । <br>
  माझ्या पतीच्या यातना । <br>
  हरण कराव्या आपण ॥३१॥ <br><br>
  अमृताचें दर्शन । <br>
  होतां कां यावें मरण । <br>
  माझ्या कुंकवालागून । <br>
  टिकवा हीच विनंती ॥३२॥ <br><br>
  त्या वेळीं समर्थस्वारी । <br>
  आंबा खात होती खरी । <br>
  तोच फेकिला अंगावरी । <br>
  त्या लक्ष्मणकांतेच्या ॥३३॥ <br><br>
  जा दे हा पतीस खाया । <br>
  व्याधि त्याची बरी व्हाया । <br>
  तूं शोभसी त्यास जाया । <br>
  पति-भक्ति-परायण ॥३४॥ <br><br>
  यापुढें न कांहीं वदले । <br>
  चिलीम ओढूं लागले । <br>
  श्रीगजाननस्वामी भले । <br>
  आपुल्या मठांत शेगांवीं ॥३५॥ <br><br>
  भास्कर म्हणे ’अहो बाई । <br>
  आतां न बसा ये ठाईं । <br>
  आपल्या पतीस लवलाही । <br>
  घेऊन जा कारंज्यातें ॥३६॥ <br><br>
  प्रसाद आंब्याचा जो कां तुला । <br>
  समर्थ-करीं प्राप्त झाला । <br>
  तोच घाली खावयाला । <br>
  आपुल्या पतीकारणें ॥३७॥ <br><br>
  यानें तुझें होईल काम । <br>
  गुण येईल अत्युत्तम । <br>
  लक्ष्मणासी आराम । <br>
  होईल आंबा खातांच’ ॥३८॥ <br><br>
  बाई घेऊन आंब्याला । <br>
  येती झाली कारंज्याला । <br>
  प्रसाद खाऊं घातला । <br>
  आंब्याचा आपल्या पतीस ॥३९॥ <br><br>
  निजगृहीं जोडपें आलें । <br>
  आप्त पुसूं लागले । <br>
  शेगांवांत काय घडलें । <br>
  तें सांगावें साकल्यें ॥१४०॥ <br><br>
  बाईनें अवघें वर्तमान । <br>
  कळविलें लोकांलागून । <br>
  आंब्याचा तो प्रसाद म्हणून । <br>
  दिला समर्थें मजलागीं ॥४१॥ <br><br>
  आणि आज्ञा केली वरी । <br>
  खाऊं घाला अत्यादरीं । <br>
  आंबा प्रसाद निजकरीं । <br>
  आपुल्या त्या पतीला ॥४२॥ <br><br>
  त्याप्रमाणें मींही केलें । <br>
  आज सकाळीं खाऊं घातलें। <br>
  हें वैद्यांनीं जईं ऐकिलें । <br>
  तईं त्या वाटलें वाईट ॥४३॥ <br><br>
  अहो बाई तुम्ही काय । <br>
  केलेंत हें हाय हाय । <br>
  आंबा हेंच कुपथ्य होय । <br>
  या पोटांतील रोगाला ॥४४॥ <br><br>
  माधवनिदानीं हेंच कथिलें । <br>
  सुश्रुतांनींही वर्णिलें । <br>
  निघंटानें कथन केलें । <br>
  शारंगधर म्हणे ऐसेंच ॥४५॥ <br><br>
  तुम्ही तो प्रसाद दिलेला । <br>
  पाहिजे होता भक्षण केला । <br>
  पत्‍नीचें पुण्य पतीला । <br>
  उपयोगीं पडतसे ॥४६॥ <br><br>
  ऐसें वैद्य बोलले । <br>
  आप्त अवघे घाबरले । <br>
  जे ते टोचूं लागले । <br>
  लक्ष्मणाच्या पत्‍नीस ॥४७॥ <br><br>
  परी झालें अघटित । <br>
  लक्ष्मणाचें पोट सत्य । <br>
  रेच होऊन अकस्मात । <br>
  मऊ होऊन गेलें हो ॥४८॥ <br><br>
  शौच्यावाटें व्याधि गेली । <br>
  हळुंहळूं शक्ति आली । <br>
  पहिल्या परीच होती झाली । <br>
  प्रकृति लक्ष्मणाची ॥४९॥ <br><br>
  निसर्गाच्या बाहेरी । <br>
  वैद्यशास्त्र कांहीं न करी । <br>
  तेथें उपयोगी पडे खरी । <br>
  कृपा देवसंतांची ॥१५०॥ <br><br>
  लक्ष्मण बरा झाल्यावर । <br>
  आला शेगांवीं सत्वर । <br>
  म्हणे महाराजा माझें घर । <br>
  पाय लावून पवित्र करा ॥५१॥ <br><br>
  मी आलों त्याचसाठीं । <br>
  चला कारंज्यास ज्ञानजेठी । <br>
  मला न करा हिंपुटी । <br>
  नाहीं ऐसें म्हणूं नका ॥५२॥ <br><br>
  आग्रह त्याचा विशेष पडला । <br>
  महाराज गेले कारंज्याला । <br>
  तेधवां होते संगतीला । <br>
  शंकर-भाऊ पितांबर ॥५३॥ <br><br>
  घरीं नेऊन पूजा केली । <br>
  दक्षिणा ती निवेदिली । <br>
  अवघी संपत्ति आपुली । <br>
  आहे मी कोण देणार ? ॥५४॥ <br><br>
  परी एका ताटांत । <br>
  कांहीं रुपये ठेविले सत्य । <br>
  महाराज बघून त्याप्रत । <br>
  ऐशा रितीं बोलले ॥५५॥ <br><br>
  म्हणशी माझें कांहीं न उरलें । <br>
  मग हे रुपये कोठून आणिले ? । <br>
  लक्ष्मणा ऐसे चाळे । <br>
  दांभिकपणाचे करुं नको ॥५६॥ <br><br>
  मला दिले तूं आपलें घर । <br>
  आतां उघडीं अवघीं दारें । <br>
  फेकून देई रस्त्यावर । <br>
  अवघीं कुलपें येधवां ॥५७॥ <br><br>
  लक्ष्मण कांहीं न बोलला । <br>
  मौन धरुन बैसला । <br>
  परी समर्थें आग्रह धरिला । <br>
  खजिन्याचें दार उघडी ॥५८॥ <br><br>
  भीत भीत मोकळें द्वार । <br>
  केलें त्यानें अखेर । <br>
  खजिन्याच्या उमर्‍यावर । <br>
  स्वतः जाऊन बैसला ॥५९॥ <br><br>
  आणि म्हणाला महाराज यावें । <br>
  वाटेल तें घेऊन जावें । <br>
  ऐसें बोलला जरी बरवें । <br>
  परी अन्यभाव अंतरींचा ॥१६०॥ <br><br>
  हें त्याचें दांभिकपण । <br>
  समर्था आलें कळोन । <br>
  बहुरुप्याचें राजेपण । <br>
  कोठून टिके बाजारीं ? ॥६१॥ <br><br>
  जैसें कडू वृंदावन । <br>
  वरुन पाहतां दिसे छान । <br>
  परी अंतरीं कडवटपण । <br>
  पूर्ण त्याच्या भरलें असे ॥६२॥ <br><br>
  सोडून त्याच्या घरासी । <br>
  उपासी निघाले पुण्यरासी । <br>
  दांभिकाच्या सदनासी । <br>
  संत न होती तृप्त कदा ॥६३॥ <br><br>
  तेथें त्याच्या घराची । <br>
  वा धनदौलतीची । <br>
  गरज समर्था नव्हती साची । <br>
  ते वैराग्याचे सागर ॥६४॥ <br><br>
  परी तो जें कांहीं बोलला । <br>
  त्याचा सत्यपणा पाहिला । <br>
  खोटेंपणाचा राग आला । <br>
  म्हणून गेले उठोन ॥६५॥ <br><br>
  जातां जातां बोलले । <br>
  माझें माझें म्हणसी भलें । <br>
  भोग आतां त्याचीं फळें । <br>
  माझा उपाय त्यास नसे ॥६६॥ <br><br>
  मी कृपा करावया । <br>
  आलों होतों या ठायां । <br>
  याहीपेक्षां दुप्पट द्याया । <br>
  परी तें न तुझ्या प्रारब्धीं ॥६७॥ <br><br>
  तेंच पुढें झालें सत्य । <br>
  एका सहा महिन्यांत । <br>
  अवघी लक्ष्मी झाली फस्त । <br>
  त्या भिक्षेची वेळ आली ॥६८॥ <br><br>
  म्हणून श्रोते परमार्थांत । <br>
  खोटेपणा न खपे किंचित् । <br>
  याचसाठीं हें चरित्र । <br>
  समर्थें घडून आणिलें ॥६९॥ <br><br>
  श्रीगजानन चिंतामणी । <br>
  त्या गार काय शोभा आणी ? । <br>
  वा सुवर्णालागुनी । <br>
  भूषवावें का कथिलानें ? ॥१७०॥ <br><br>
  स्वस्ति श्रीदासगणूविरचित । <br>
  श्रीगजाननविजय नामें ग्रंथ । <br>
  सदा भाविक परिसोत । <br>
  निज कल्याण व्हावया ॥१७०॥ <br><br>

  ॥ शुभं भवतु ॥ <br>
  ॥ श्रीहरिहरार्पणमस्तु ॥ <br>
  ॥ इति दशमोऽध्यायः समाप्तः ॥
</div>