<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय १८</h1> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  जयजयाजी चिद्रिलासा । <br>
  हे गोविंदा श्रीनिवासा । <br>
  हे आनंदकंदा परेशा । <br>
  पाहि माम् दीनबंधो <strong>॥१॥</strong> <br><br>

  हे केशवा केशीमर्दना । <br>
  हे माधवा मधूसुदना । <br>
  हे पूतनाप्राणशोषणा । <br>
  पांडुरंगा रुक्मिणीपते <strong>॥२॥</strong> <br><br>

  काय माझ्या आहे मनीं । <br>
  तें तूं जाणसी चक्रपाणी । <br>
  तेंच का रे तुजलागुनी । <br>
  बोलून दावूं पद्मनाभा <strong>॥३॥</strong> <br><br>

  भक्त जी जी इच्छा करी । <br>
  ती तूं पुरविसी श्रीहरी । <br>
  ऐसें पुराणाभीतरीं । <br>
  आहे वर्ण्न बहुसाळ <strong>॥४॥</strong> <br><br>

  म्हणून माझ्या मनोरथा । <br>
  पूर्ण करा पंढरीनाथा । <br>
  सोडा मनींची कठोरता । <br>
  दासगणू हा तुझा असे <strong>॥५॥</strong> <br><br>

  अकोटाचे शेजारीं । <br>
  मुंडगांव नामें एक नगरीं । <br>
  तेथें बायजा नामें खरी । <br>
  समर्थाची भक्तीण असे <strong>॥६॥</strong> <br><br>

  हळदी माळ्याच्या वंशांत । <br>
  इचा जन्म झाला सत्य । <br>
  शिवराम नामें इचा तात । <br>
  भुलाबाई जननी असे <strong>॥७॥</strong> <br><br>

  बायजाचे बाळपणीं । <br>
  लग्न झालें होतें जाणी । <br>
  ललाटीं जें विधात्यांनीं । <br>
  लिहिलें असेल तेंच घडे <strong>॥८॥</strong> <br><br>

  बायजा आली तारूण्यांत । <br>
  गर्भाधान करण्याप्रत । <br>
  घेऊन गेला तिचा तात । <br>
  जामाताच्या गृहासी <strong>॥९॥</strong> <br><br>

  परी उपयोग नाहीं झाला । <br>
  जामात षंढ होता भला । <br>
  तेणें जनकजननीला । <br>
  शिक झाला अनावर <strong>॥१०॥</strong> <br><br>

  बायजेकडे पाहून । <br>
  जननी करी रोदन । <br>
  माझ्या बाईचें तारूण्य । <br>
  वांझ पाहूं राहातें <strong>॥११॥</strong> <br><br>

  भुली म्हणे शिवरामासी । <br>
  बायजा न ठेवा ऐशी । <br>
  दुसरा नवरा करून इसी । <br>
  देणें आहे भाग पाहा <strong>॥१२॥</strong> <br><br>

  शिवराम म्हणे त्यावर । <br>
  ऐसा नको सोडूं धीर । <br>
  हा पुरुषत्वाचा प्रकार । <br>
  खरा एकदम कळेना <strong>॥१३॥</strong> <br><br>

  कांहीं दिवस वाट पाहूं । <br>
  नको ऐसी अधीर होऊं । <br>
  बायजासी येथेंच ठेवूं । <br>
  तिच्या सासुरवाडीला <strong>॥१४॥</strong> <br><br>

  नपुसकत्व अधोपरी । <br>
  आलें असेल त्याला जरी । <br>
  तें औषधानें होईल दुरी । <br>
  वाट पाही यास्तव <strong>॥१५॥</strong> <br><br>

  ऐसें उभयतां बोलून । <br>
  बायजासी तेथें ठेवून । <br>
  आले मुंडगांवाकारण । <br>
  आपुल्या घरातें <strong>॥१६॥</strong> <br><br>

  बायजीचें वय पंधरासोळा । <br>
  वर्ण काळासावळा । <br>
  तारुण्यानें मुसमुसला । <br>
  होता जिचा शरीरभाग <strong>॥१७॥</strong> <br><br>

  डोळे नाक पाणीदार । <br>
  बांधा उंच मनोहर । <br>
  जिला पाहातां अंतर । <br>
  कामुकाचें मोहित होई <strong>॥१८॥</strong> <br><br>

  तिच्या थोरल्या दिरासी । <br>
  पाहूनियां बायजासी । <br>
  इच्छा जाहली मानसीं । <br>
  संभोग तिचा करावया <strong>॥१९॥</strong> <br><br>

  त्यानें प्रयत्न केले नाना । <br>
  वळवावया तिच्या मना । <br>
  म्हणूं लागला क्षणक्षणा । <br>
  ऐसें बायजाकारणें <strong>॥२०॥</strong> <br><br>

  हताश ऐशी मुळीं न होई । <br>
  मीच तुला पतीचे ठायीं । <br>
  आमरण करीन पाही । <br>
  तुझें वेडे संगोपन <strong>॥२१॥</strong> <br><br>

  झुरणें दे हें सोडून । <br>
  आनंदित ठेवी मन । <br>
  वेडे आजपासून । <br>
  मीच नवरा समज तुला <strong>॥२२॥</strong> <br><br>

  ऐसें त्यानें सांगावें । <br>
  चाळे नाना करावें । <br>
  कांहीं आमिष दावावें । <br>
  चित्त तिचें भुलवाया <strong>॥२३॥</strong> <br><br>

  परी उपयोग होईना । <br>
  बायजीच्या न हें येई मना । <br>
  ती म्हणे हे नारायणा ! । <br>
  कां रे दैन्य मांडलेंस ? <strong>॥२४॥</strong> <br><br>

  बाळपणापासून । <br>
  ध्याइले मीं तुझे चरण । <br>
  त्याचेंच कां हें मजलागून । <br>
  फल दृष्टीं पडावें ? <strong>॥२५॥</strong> <br><br>

  जयाचा मीं हात धरिला । <br>
  तो ना पुरुष कळून आला । <br>
  दैवयोग समजून चुकला । <br>
  संसार नशिबीं नाहीं मम <strong>॥२६॥</strong> <br><br>

  बरें झालें तुझ्याठायीं । <br>
  चित्त आतां रमेल पाही । <br>
  कृपा करीरे शेषशायी । <br>
  स्पर्श पुरुषाचा न होवो मला <strong>॥२७॥</strong> <br><br>

  ज्येष्ठ दीर एके दिवसीं । <br>
  येता झाला बायजापासीं । <br>
  आपला हेतु कळविण्यासी । <br>
  रात्रीचिया समयाला <strong>॥२८॥</strong> <br><br>

  तों बायजानें इनकार । <br>
  करून केलें उत्तर । <br>
  कैसी लाज तिळभर । <br>
  नाहीं उरलीं चित्तीं तुझ्या <strong>॥२९॥</strong> <br><br>

  तूं माझा ज्येष्ठ दीर । <br>
  पित्यापरीस साचार । <br>
  सोडा हा अविचार । <br>
  स्वैर ऐसा होऊं नको <strong>॥३०॥</strong> <br><br>

  ह्या तियेच्या भाषणा । <br>
  तो ना आणी मुळीं मना । <br>
  होतां कामाची वासना । <br>
  नीति विलया जातसे <strong>॥३१॥</strong> <br><br>

  अंगावरी टाकण्या हात । <br>
  जों तो पाही इतक्यांत । <br>
  तयाचा तो थोरला सुत । <br>
  माडीवरून पडला हो <strong>॥३२॥</strong> <br><br>

  खोक पडली डोक्यासी । <br>
  बायजेनें धरिलें त्यासी । <br>
  बसवून आपुल्या मांडीसी । <br>
  औषध लावूं लागली हो <strong>॥३३॥</strong> <br><br>

  बायजा म्हणे ज्येष्ठ दीरा । <br>
  या गोष्टीचा विचार करा । <br>
  अभिलाष तो नाहीं बरा । <br>
  परस्त्रियेचा केव्हांही <strong>॥३४॥</strong> <br><br>

  मुलगा पडलेला पाहून । <br>
  भय पावलें त्याचें मन । <br>
  अनुताप त्यासी झाला पूर्ण । <br>
  केलेलिया कर्माचा <strong>॥३५॥</strong> <br><br>

  त्यानें नाद सोडिला । <br>
  सदनीं निवांत राहिला । <br>
  पुढें शिवराम घेऊन गेला । <br>
  कन्येस आपुल्या मुंडगांवीं <strong>॥३६॥</strong> <br><br>

  भुलाई म्हणे पतीसी । <br>
  चला जाऊं शेगावांसी । <br>
  महाराजातें पुसायासी । <br>
  पुढील भाकीत बायजेचें <strong>॥३७॥</strong> <br><br>

  तें मानेलें शिवरामासी । <br>
  आला घेऊन कन्येसी । <br>
  महाराजांतें पुसायासी । <br>
  आपुल्या त्या कांतेसह <strong>॥३८॥</strong> <br><br>

  बायजा घातली पायांवर । <br>
  केली विनंति जोडून कर । <br>
  कृपा करा या मुलीवर । <br>
  पुत्र पौत्र द्यावे हिला <strong>॥३९॥</strong> <br><br>

  तें समर्थांनीं ऐकिलें । <br>
  शिवरामासी हांसत वदले । <br>
  अरे नशिबीं नाहीं लिहिलें । <br>
  विधात्यानें पुत्र हिच्या <strong>॥४०॥</strong> <br><br>

  जेवढे पुरुष जगतांत । <br>
  तेवढे असती हिचे तात । <br>
  उगे न पडा फंदांत । <br>
  लग्न हिचें करण्याच्या <strong>॥४१॥</strong> <br><br>

  तें ऐकतां शिवरामाला । <br>
  अनावर शोक झाला । <br>
  घेऊन त्या बायजाला । <br>
  परत आला मुंडगांवीं <strong>॥४२॥</strong> <br><br>

  परी त्या समर्थवचनांनी । <br>
  बायजा आनंदली मनीं । <br>
  निष्ठा गजाननाच्या चरणीं । <br>
  जडली तेव्हांपासून <strong>॥४३॥</strong> <br><br>

  समर्थांचा एक भक्त । <br>
  पुंडलिक नामें मुंडगांवांत । <br>
  त्याच्या संगें शेगांवांत । <br>
  बायजा येऊं लागली <strong>॥४४॥</strong> <br><br>

  पहिल्या प्रथम अडथळा । <br>
  जननीजनकें नाहीं केला । <br>
  शेगांवांस जाण्याला । <br>
  पुंडलिकाचे बरोबर <strong>॥४५॥</strong> <br><br>

  त्यांना ऐसें वाटलें । <br>
  साधुचरण इनें धरिले । <br>
  तेच तिच्या करतील भले । <br>
  निजकृपेनें कल्याणा <strong>॥४६॥</strong> <br><br>

  पुरुषत्व देतील जामातासी । <br>
  अशक्य ना कांहीं संतांसी । <br>
  ऐसा विचार मानसीं । <br>
  करून राहिले स्वस्थ ते <strong>॥४७॥</strong> <br><br>

  पुंडलिकाचे बरोबरी । <br>
  बायजा जाऊं लागली खरी । <br>
  तेणें पुकार जगभरी । <br>
  ऐशा रीतिं जाहली <strong>॥४८॥</strong> <br><br>

  हें शेगांवच्या वारीचें । <br>
  ढोंग आहे दोघांचें । <br>
  तरुणपणीं मानवाचें । <br>
  मन परमार्थी लागेना <strong>॥४९॥</strong> <br><br>

  बायजा आहे तरणीज्वान । <br>
  पुंडलिकासीही तारुण्य । <br>
  यांची वारी विषयभान । <br>
  हीच आहे निःसंशय <strong>॥५०॥</strong> <br><br>

  परस्परें प्रीति जडली । <br>
  विषयसुखाची नवाळी । <br>
  गण्या ही युक्ति केली । <br>
  वाटते या उभयतांनीं <strong>॥५१॥</strong> <br><br>

  पुंडलिक जरी माळी असता । <br>
  तरी हा संबंध योग्य होता । <br>
  बायजाच्या धरण्या हाता । <br>
  कां कीं तरुण दोघेही <strong>॥५२॥</strong> <br><br>

  पुंडलिक आहे मराठी । <br>
  ही माळ्याच्या आली पोटीं । <br>
  म्हणून यांची ताटातुटी । <br>
  केलीच पाहिजे जातीस्तव <strong>॥५३॥</strong> <br><br>

  या दोघांचें अंतर । <br>
  शुध्द होतें साचार । <br>
  नव्हता कामाचा विकार । <br>
  मनीं उत्पन्न जाहला <strong>॥५४॥</strong> <br><br>

  भुलाई म्हणे बायजासी । <br>
  तूं कां कारटे अहर्निशीं । <br>
  पुंडालिकाच्या घरा जासी । <br>
  हें कांहीं कळेना <strong>॥५५॥</strong> <br><br>

  ऐशा तरुण वयांत । <br>
  तुम्हां कशाचा परमार्थ ? । <br>
  कोल्हा न राही उपोषित । <br>
  उंसाचिया फडामधीं <strong>॥५६॥</strong> <br><br>

  वा पाहून बाटुकाला । <br>
  बैल नाहीं पुढें गेला । <br>
  कारटे आमुच्या नांवाला । <br>
  काळें उगें लावूं नको <strong>॥५७॥</strong> <br><br>

  भुलाई म्हणे नवर्‍यासी । <br>
  हिला नका ठेवूं ऐसी । <br>
  लावून द्यावे मोहतरासी । <br>
  पाहा पोरगा माळ्याचा <strong>॥५८॥</strong> <br><br>

  ही पुंडलिकाच्या घरीं जाते । <br>
  सदा त्यासी हितगुज करिते । <br>
  एकमेकां पाहून भरतें । <br>
  येत दोघां प्रेमाचें <strong>॥५९॥</strong> <br><br>

  जाऊं चला शेगांवास । <br>
  घेऊन या कारटीस । <br>
  सांगूं अवघे महाराजास । <br>
  चाळे या बायजीचे <strong>॥६०॥</strong> <br><br>

  संतासी अवघें कळतें । <br>
  ते सन्न्तीचे चाहाते । <br>
  पोटामाजीं कधीं न निघते । <br>
  चंदनाच्या दुर्गंधी <strong>॥६१॥</strong> <br><br>

  भुला-शिवराम-बायजाबाई । <br>
  पुंडलीक भोकर्‍या आला तोही । <br>
  चौघे येऊन लागले पाई । <br>
  शेगांवीं श्रीसमर्थांच्या <strong>॥६२॥</strong> <br><br>

  पुंडलिकासी पाहून । <br>
  बोलूं लागले दयाघन । <br>
  कीं बायजा तुझी बहीण । <br>
  पूर्व जन्मींची पुंडलिका <strong>॥६३॥</strong> <br><br>

  लोक निंदा जरी करिती । <br>
  तरी अंतर न द्यावें इजप्रती । <br>
  दोघें मिळून करा भक्ति । <br>
  सच्चिदानंद हरीची <strong>॥६४॥</strong> <br><br>

  भुले आपुल्या पोरीस । <br>
  लावूं नको भलता दोष । <br>
  हीं बहीण-भाऊ आहेत । <br>
  मुळींच पूर्वजन्मींचें <strong>॥६५॥</strong> <br><br>

  शिवाय या बायजीला । <br>
  कोठेंहि न नवरा भला । <br>
  ही न आली करायाला । <br>
  संसार मुळीं जगामध्यें <strong>॥६६॥</strong> <br><br>

  ही राहील ब्रह्मचारी । <br>
  अशीच गे जन्मवरी । <br>
  जनाबाई पंढरपुरीं । <br>
  अशाच रीतीं राहिली गे <strong>॥६७॥</strong> <br><br>

  तिनें नामदेव गुरु केला । <br>
  ही शरण आली आम्हांला । <br>
  माझ्या जनाबाईला । <br>
  कोणी ना आतां छळावें <strong>॥६८॥</strong> <br><br>

  ऐसें समर्थांचें भाषण । <br>
  शिवरामानें ऐकून । <br>
  गेला असे गहिंवरून । <br>
  शब्द न कांही बोलवे <strong>॥६९॥</strong> <br><br>

  घेऊन आपुल्या मुलीला । <br>
  शिवराम मुंडगांवासी आला । <br>
  पुढें बायजाच्या वारीला । <br>
  अडथळा कोणी केला नसे <strong>॥७०॥</strong> <br><br>

  महाराज आपुल्या भक्ताप्रत । <br>
  सदैव रक्षण करितात । <br>
  ते कसे, ही थोडक्यांत । <br>
  गोष्ट सांगतों ये ठाई <strong>॥७१॥</strong> <br><br>

  भाऊ राजाराम कवर । <br>
  एक डाँक्टर । <br>
  पहा खामगांवावर । <br>
  दवाखान्याचा अधिकारी <strong>॥७२॥</strong> <br><br>

  त्यास दुर्धर फोड झाला । <br>
  आणविला मोठ्या डाँक्टराला । <br>
  औषधपाणी करायाला । <br>
  खामगांवामाझारीं <strong>॥७३॥</strong> <br><br>

  बुलढाणा अकोला उमरावती । <br>
  येथून डाँक्टर आणिले असती । <br>
  शस्त्रक्रिया करण्याप्रती । <br>
  त्या भाऊच्या फोडाला <strong>॥७४॥</strong> <br><br>

  नाना औषधें पोटांत दिलीं । <br>
  विविध पोटीसें बांधिलीं । <br>
  शस्त्रक्रिया ही असे केली । <br>
  त्या झालेल्या फोडाला <strong>॥७५॥</strong> <br><br>

  कशाचा ना उपयोग झाला । <br>
  फोड वाढुं लागला । <br>
  वडील बंधूस धाक पडला । <br>
  त्या भाऊच्या दुखण्याचा <strong>॥७६॥</strong> <br><br>

  भाऊ तळमळे शय्येवरी । <br>
  व्याधि असह्य झाली खरी । <br>
  शेवटीं त्यानें अंतरीं । <br>
  विचार ऐसा केला हो <strong>॥७७॥</strong> <br><br>

  आतां हाच उपाय । <br>
  आठवावे सद्गुरुपाय । <br>
  याविणें दुसरी सोय । <br>
  कांहीं नसे राहिली <strong>॥७८॥</strong> <br><br>

  पडल्या पडल्या जोडी हात । <br>
  म्हणे धांव धांव हे सद्गुरुनाथ । <br>
  या लेंकराचा वृथा अंत । <br>
  किमपि आतां पाहूं नका <strong>॥७९॥</strong> <br><br>

  ऐशी श्रोते विनवणी । <br>
  करूं लागला क्षणोक्षणीं । <br>
  रात्र गेली उलटोनी । <br>
  सुमारें समय एकाचा <strong>॥८०॥</strong> <br><br>

  तमानें भरलें अंबर । <br>
  रात्रीचा तो शब्द किर्र । <br>
  कोल्हे-हुकेनें कांतार । <br>
  दणाणून गेलें हो <strong>॥८१॥</strong> <br><br>

  तो एक दमणी आली । <br>
  तट्ट्यावरी लागलेली । <br>
  गाडीस होती जुंपिली । <br>
  जोडी खिलार्‍या बैलांची <strong>॥८२॥</strong> <br><br>

  कंठामाजीं घागरमाळा । <br>
  वाजूं लागल्या खळखळा । <br>
  मागें पुढें सोडिला । <br>
  होतां पडदा दमणीस <strong>॥८३॥</strong> <br><br>

  दवाखान्याच्या दारापाशीं । <br>
  दमणी आली निश्चयेंसी । <br>
  डाँक्टर पाहात होता तिसी । <br>
  पडून आपल्या शय्येवर <strong>॥८४॥</strong> <br><br>

  तों एक उतरला । <br>
  ब्राह्मण दमणीला खालीं भला । <br>
  दार ठोठावूं लागला । <br>
  डाँक्टराच्या बंगल्याचें <strong>॥८५॥</strong> <br><br>

  डाँक्टराच्या बंधूंनीं । <br>
  दार उघडलें ते क्षणीं । <br>
  प्रश्न केला कोठूनी । <br>
  आपण आलांत ये ठायां ? <strong>॥८६॥</strong> <br><br>

  ब्राह्मण बोले त्याकारण । <br>
  माझें गजा नामाभिधान । <br>
  तीर्थअंगारा घेऊन । <br>
  शेगांवाहून आलों मी <strong>॥८७॥</strong> <br><br>

  डाँक्टर भाऊ कवराला । <br>
  जो का आहे फोड झाला । <br>
  हा अंगारा पाठविला । <br>
  लावण्या त्या फोडासी <strong>॥८८॥</strong> <br><br>

  प्यावयासी दिलें तीर्थ । <br>
  हें घ्या आपुल्या हातांत । <br>
  मी जातों आतां परत । <br>
  वेळ न मशी राहावया <strong>॥८९॥</strong> <br><br>

  तीर्थअंगारा देऊन । <br>
  निघून गेला ब्राह्मण । <br>
  त्या शोधाया कारण । <br>
  भाऊनें शिपाई पाठविला <strong>॥९०॥</strong> <br><br>

  परी न पत्ता लागला । <br>
  गाडी न दिसली कवणाला । <br>
  भाऊ मनीं घोटाळला । <br>
  कशाचा ना तर्क चाले <strong>॥९१॥</strong> <br><br>

  फोडास लावितां अंगारा । <br>
  तो तात्काळ फुटला खरा । <br>
  येऊं लागला भराभरा । <br>
  पूं त्या श्रोते फोडांतून <strong>॥९२॥</strong> <br><br>

  एक घटका गेल्यावर । <br>
  पूं गेला निघून पार । <br>
  पाहा किती आहे जोर । <br>
  समर्थाच्या अंगार्‍याचा ? <strong>॥९३॥</strong> <br><br>

  भाऊस निद्रा लागली । <br>
  व्याधीं पुढें बरी झाली । <br>
  हळूहळू शक्ति आली । <br>
  भाऊ झाला पूर्ववत् <strong>॥९४॥</strong> <br><br>

  दर्शना गेला शेगांवास । <br>
  तों समर्थ वदले ऐसें त्यास । <br>
  माझ्या गाडीबैलास । <br>
  नुसता न चारा दिलास तूं <strong>॥९५॥</strong> <br><br>

  हें सांकेतिक भाषण । <br>
  कळलें भाऊलागून । <br>
  हृदय आलें उचंबळून । <br>
  त्या भाऊ कवराचें <strong>॥९६॥</strong> <br><br>

  त्या रात्रीचा ब्राह्मण । <br>
  खचित माझा गजानन । <br>
  लेंकरासाठीं धांवून । <br>
  खामगांवास आला हो <strong>॥९७॥</strong> <br><br>

  कवरें केलें अन्नदान । <br>
  त्या व्याधीच्या निमित्त जाण । <br>
  अंतर्ज्ञानी असती पूर्ण । <br>
  श्रीगजानन अवलिया <strong>॥९८॥</strong> <br><br>

  असो एकदां समर्थस्वारी । <br>
  निघती झाली पंढरपुरीं । <br>
  त्या श्रीचंद्रभागेतीरीं । <br>
  विठ्ठलासी भेटावया <strong>॥९९॥</strong> <br><br>

  होती मंडळी बरोबर । <br>
  दिवस वारीचा साचार । <br>
  स्पेशल गाड्या वरचेवर । <br>
  जाऊं लागल्या पंढरीला <strong>॥१००॥</strong> <br><br>

  जगू आबा पाटील हरी । <br>
  बापुना व मंडाळी दुसरी । <br>
  सोडूनिया शेगांव नगरी । <br>
  नागझरीला आले हो <strong>॥१॥</strong> <br><br>

  त्या गांवीं माळावर । <br>
  आहे एक भुयार । <br>
  येथें गोमाजी नामें साधुवर । <br>
  समाधिस्त झालासे <strong>॥२॥</strong> <br><br>

  झरे जिवंत पाण्याचे । <br>
  आसपास त्या माळाचे । <br>
  आहेत म्हणून गांवाचें । <br>
  नांव पडलें नागझरी <strong>॥३॥</strong> <br><br>

  हा गोमाजी बोवा साचा । <br>
  गुरु महादाजी पाटलाचा । <br>
  प्रथम आशीर्वाद झाला साचा । <br>
  शेगांवींच्या पाटीलवंशा <strong>॥४॥</strong> <br><br>

  म्हणून पाटील शेगांवचे । <br>
  गोमाजीला वंदून साचे । <br>
  रस्त्यास लागती पंढरीचे । <br>
  ऐसा त्यांचा परिपाठ <strong>॥५॥</strong> <br><br>

  या परिपाठे म्हणून । <br>
  नागझरीसी येऊन । <br>
  अग्निरथांत बैसून । <br>
  निघते झाले पंढरीला <strong>॥६॥</strong> <br><br>

  हरीपाटला बरोबरी । <br>
  समर्थाची होती स्वारी । <br>
  बापुना आणि दुसरीं । <br>
  माणसें पांचपन्नास <strong>॥७॥</strong> <br><br>

  आषाढ शुध्द नवमीचा । <br>
  तो दिवस होता साचा । <br>
  समुदाय वारकर्‍यांचा । <br>
  येऊं लागला पंढरीसी <strong>॥८॥</strong> <br><br>

  मेघ दाटले अंबरीं । <br>
  क्वचित् कोठें भूमीवरी । <br>
  पर्जन्याची वृष्टी खरी । <br>
  होऊं लागली श्रोते हो ! <strong>॥९॥</strong> <br><br>

  तें भुवैकुंठ पंढरपुर । <br>
  गजबजून गेलें फार । <br>
  भरतीं येतां सागर । <br>
  जेवीं जाय उचंबळोनी <strong>॥११०॥</strong> <br><br>

  प्रदक्षणेच्या रस्त्यावरी । <br>
  टाळांची ती गर्दी खरी । <br>
  ' जय जय रामकृष्ण हरी ' । <br>
  भक्त म्हणती उच्च स्वरें <strong>॥११॥</strong> <br><br>

  शब्द कवणाचा कवणाला । <br>
  न ये ऐकावयाला । <br>
  ऐसा आनंदी आनंद चालला । <br>
  तो वानूं कोठवर <strong>॥१२॥</strong> <br><br>

  नाथ निवृत्ति ज्ञानेश्वर । <br>
  सांवता गोरा कुंभार । <br>
  श्रीतुकोबा देहूकर । <br>
  सोपान मुक्ता जनार्दन <strong>॥१३॥</strong> <br><br>

  या संतांच्या पालख्या । <br>
  पंढरीस आल्या देखा । <br>
  भक्तांनीं उधळिला बुक्का । <br>
  आदर करायाकारणें <strong>॥१४॥</strong> <br><br>

  त्यायोगें आकाशांत । <br>
  बुक्क्याचें जणूं झालें छत । <br>
  सुवास उठला घमघमीत । <br>
  गर्दी तुळशीफुलांची <strong>॥१५॥</strong> <br><br>

  श्रोते त्या समयाला । <br>
  सम आले पंढरीला । <br>
  उतरले जाऊन वाड्याला । <br>
  त्या कुकाजी पाटलाच्या <strong>॥१६॥</strong> <br><br>

  हा प्रदक्षणेच्या वाटेवरी । <br>
  वाडा चौफाळ्याशेजारीं । <br>
  दर्शनाला भीड खरी । <br>
  झाली असे राउळांत <strong>॥१७॥</strong> <br><br>

  लिस हाताहातावरी । <br>
  उभे राहिले रस्त्यांतरीं । <br>
  पथें चालले वारकरी । <br>
  भजन करीत हरीचें <strong>॥१८॥</strong> <br><br>

  एकादशीस साचार । <br>
  हरी पाटलाबरोबर । <br>
  बापुनाविना इतर । <br>
  गेले दर्शना हरीच्या <strong>॥१९॥</strong> <br><br>

  बापुना मागें राहिला । <br>
  तो होता स्नानासी गेला । <br>
  म्हणून त्यासी वेळ झाला । <br>
  मंडळी गेली निघून <strong>॥१२०॥</strong> <br><br>

  स्नान करून आला घरीं । <br>
  तों समजलें ऐशापरी । <br>
  दर्शनासी गेली सारी । <br>
  आतांच मंडळीं विठ्ठलाच्या <strong>॥२१॥</strong> <br><br>

  मग तोही निघाला पळत पळत । <br>
  दर्शनाचा धरून हेत । <br>
  राउळाच्या भोंवतीं अमित । <br>
  गर्दी झाली लोकांची <strong>॥२२॥</strong> <br><br>

  मुंगीस वाट मिळेना । <br>
  तेथें हा बापुना । <br>
  केवीं जाईल दर्शना । <br>
  शिवाय गरिबी पदरांत <strong>॥२३॥</strong> <br><br>

  बापुना म्हणे मानसीं । <br>
  हे विठ्ठला हृषीकेशी । <br>
  कां रे निष्ठुर झालासी ? । <br>
  मजला देई दर्शन <strong>॥२४॥</strong> <br><br>

  तूं सांवत्या माळ्याकारण । <br>
  अरणीं गेलास धांवून । <br>
  तेवीं येई राउळांतून । <br>
  मज भेटाया पांडुरंगा <strong>॥२५॥</strong> <br><br>

  ' अरण ' होते आठ कोस । <br>
  तैसें नव्हें येथें खास । <br>
  मी मंदिराच्या सान्निध्यास । <br>
  उभा आहे वाटेवरी <strong>॥२६॥</strong> <br><br>

  तुला लोक म्हणतात । <br>
  तूं अनाथांचा असशी नाथ । <br>
  मग कां रे देवा मजप्रत । <br>
  उपेक्षिलें या वेळीं ? <strong>॥२७॥</strong> <br><br>

  ऐसा बहुत धांवा केला । <br>
  शेवटीं बापुना हताश झाला । <br>
  परत बिर्‍हाडासी आला । <br>
  अस्तमानाचे समयास <strong>॥२८॥</strong> <br><br>

  मुख झालें होतें म्लान । <br>
  अवघ्या दिवसांचें उपोषण । <br>
  बापुनाचें अवघें मन । <br>
  विठ्ठलाकडे लागलें <strong>॥२९॥</strong> <br><br>

  शरीर मात्र होतें घरीं । <br>
  मन मंदिराच्या सभोंवरी । <br>
  फिरत होतें भिरीभिरी । <br>
  याचें नांव ध्यास हो <strong>॥१३०॥</strong> <br><br>

  बापुनासी पाहून । <br>
  हंसूं लागले अवघेजण । <br>
  हा बेटा अभागी पूर्ण । <br>
  कळून आला आपणां <strong>॥३१॥</strong> <br><br>

  शेगांवाहून दर्शना । <br>
  पंढरीसी आला जाणा । <br>
  येथें येऊन खेळ नाना । <br>
  फिरला पाहात गांवामध्यें <strong>॥३२॥</strong> <br><br>

  याची दांभिक अवघी भक्ति । <br>
  यास कशाचा श्रीपती ? । <br>
  ऐन वेळेला राहती । <br>
  गैरहजर दुर्दैवी ! <strong>॥३३॥</strong> <br><br>

  कोणी म्हणाले बापुनाला । <br>
  वेदान्त आहे अवघा आला । <br>
  तो कशाशीं दर्शनाला । <br>
  जाईल सांगा राउळांत <strong>॥३४॥</strong> <br><br>

  त्याचा भगवंत हृदयांत । <br>
  आहे सर्वदा खेळत । <br>
  वेदान्त्याचें ऐसें मत । <br>
  दगडामाजीं काय आहे ? <strong>॥३५॥</strong> <br><br>

  आपण वेडे म्हणून । <br>
  घ्याया गेलों दर्शन । <br>
  बापुनाचा नारायण । <br>
  वाटेल तेथें उभा असे <strong>॥३६॥</strong> <br><br>

  मग दुसरा म्हणाला । <br>
  मग हा येथें कशास आला ? । <br>
  कां शेगांवीं तयाला । <br>
  भेटला नसता ईश्वर ? <strong>॥३७॥</strong> <br><br>

  अहो हे वेदान्ती । <br>
  लोकां ज्ञान सांगती । <br>
  शब्द चावटी हमेश करिती । <br>
  अनुभवाचा लेश नसे <strong>॥३८॥</strong> <br><br>

  सगुणोपासना झाल्या पूर्ण । <br>
  मग होणार आहे ज्ञान । <br>
  न आल्यासी लहानपण । <br>
  तरुणपणा येतो कसा ? <strong>॥३९॥</strong> <br><br>

  ऐसा उपहास तयाचा । <br>
  प्रत्येकानीं केला साचा । <br>
  अवघ्यांपुढें एकट्याचा । <br>
  टिकाव लागावा कुठूनी ? <strong>॥१४०॥</strong> <br><br>

  तो बापुना बसला उपोषित । <br>
  दातांसी लावूनी दांत । <br>
  ते होते अवघे पहात । <br>
  स्वामी निजल्या जागाहून <strong>॥४१॥</strong> <br><br>

  गरीबाचें सांकडें । <br>
  साधूलाच एक पडे । <br>
  सत्संगती ज्याला घडे । <br>
  तेच खरे भाग्यवान <strong>॥४२॥</strong> <br><br>

  समर्थ म्हणती बापुना । <br>
  दुःख नको करूंस मना । <br>
  ये तुला रुक्मिणीरमणा । <br>
  भेटवितों ये काळीं <strong>॥४३॥</strong> <br><br>

  तों महाराज उभे राहिलें । <br>
  कटीं हात ठेविलें । <br>
  पाय खालीं जुळविलें । <br>
  समचरण दावावया <strong>॥४४॥</strong> <br><br>

  तुळशीफुलांच्या माळा कंठीं । <br>
  मूर्ति सांवळी गोमटी । <br>
  बापुनाच्या पडली दृष्टी । <br>
  शीर ठेविलें पायांवर <strong>॥४५॥</strong> <br><br>

  पुन्हां जो पाहे वरीं । <br>
  समर्थ दिसले पहिल्यापरी । <br>
  तेणें बापुनाच्या अंतरीं । <br>
  अति आनंद जाहला <strong>॥४६॥</strong> <br><br>

  धोतर, पागोटें आणि शेला । <br>
  जो घरीं दृष्टि पडिला । <br>
  तोच त्यानें पाहिला । <br>
  दर्शना जातां राउळांत <strong>॥४७॥</strong> <br><br>

  इतर म्हणाले महाराजांस । <br>
  तसेंच दर्शन आम्हांस । <br>
  होऊं द्या आम्हां आहे आस । <br>
  पुनरपि श्रीच्या दर्शनाची <strong>॥४८॥</strong> <br><br>

  ऐसें ऐकतां भाषण । <br>
  बोलते झाले गजानन । <br>
  बापुनासारिखें आधीं मन । <br>
  तुम्ही करा रे आपुलें <strong>॥४९॥</strong> <br><br>

  तें तसें झाल्यावरी । <br>
  दर्शन घडवीन निर्धारीं । <br>
  ही दर्शन वस्तु खरी । <br>
  काय मिळे बाजारांत ? <strong>॥१५०॥</strong> <br><br>

  म्हणून ती आणून । <br>
  देऊं तुम्हांकारण । <br>
  निष्पाप करा आधीं मन । <br>
  तरीच पुढचें घडेल हें <strong>॥५१॥</strong> <br><br>

  पहा समर्थांनीं बापुनाला । <br>
  विठ्ठल साक्षात् दाखविला । <br>
  कुकाजीच्या वाड्याला । <br>
  संतत्व हा खेळ नसे <strong>॥५२॥</strong> <br><br>

  संत आणि भगवन्त । <br>
  एकरूप साक्षात । <br>
  गुळाच्या त्या गोडीप्रत । <br>
  कैसें करावें निराळें ? <strong>॥५३॥</strong> <br><br>

  काला घेऊन अखेरी । <br>
  मंडळी फिरली माघारी । <br>
  बापुनाच्या अंतरीं । <br>
  दर्शन तें ठसावलें <strong>॥५४॥</strong> <br><br>

  याच पुण्यें करून । <br>
  पुत्र झाला त्याकारण । <br>
  रसिक चतुर विद्वान । <br>
  संतसेवा न जाई वृथा <strong>॥५५॥</strong> <br><br>

  पंढरीच्या प्रसादानें । <br>
  पुत्र झाला त्याकारणें । <br>
  म्हणूनच नांव त्यानें । <br>
  ठेविलें नामदेव बालकासी <strong>॥५६॥</strong> <br><br>

  कवठे बहादूर गांवाचा । <br>
  एक माळकरी होता साचा । <br>
  तो वर्‍हाडप्रांतीचा । <br>
  म्हणून उतरला वाड्यांत <strong>॥५७॥</strong> <br><br>

  तेथें आषाढी द्वादशीसी । <br>
  मरी आली मुक्कामासी । <br>
  त्या पंढरपुरक्षेत्रासी । <br>
  मग काय विचारितां ? <strong>॥५८॥</strong> <br><br>

  प्रेतामागें चाले प्रेत । <br>
  पोलिस शिरती घरांत । <br>
  यात्रा काढून देण्याप्रत । <br>
  डाँक्टराच्या हुकुमानें <strong>॥५९॥</strong> <br><br>

  वारकर्‍याला ओढिती । <br>
  गाडीमाजीं बसविती । <br>
  चंद्रभागेच्या पार करिती । <br>
  कुर्डुवाडी रस्त्याला <strong>॥१६०॥</strong> <br><br>

  हा कवठे बहादूरचा वारकरी । <br>
  झाला मरीनें आजारी । <br>
  ढाळ होती वरच्यावरी । <br>
  उलटी मुळींच थांबेना <strong>॥६१॥</strong> <br><br>

  गोळे हातांपायांसी । <br>
  येऊं लागले बहुवशी । <br>
  कोण न जाई त्याजपाशीं । <br>
  शुश्रुषा त्या करावया <strong>॥६२॥</strong> <br><br>

  पोलिसभयानें हें वृत्त । <br>
  कळविलें ना कोणाप्रत । <br>
  शेगांवीचे समस्त । <br>
  लोक जाया निघाले <strong>॥६३॥</strong> <br><br>

  वाडा घटकेंत मोकळा झाला । <br>
  हा वारकरी मात्र होता पडला । <br>
  कठीण काळच्या समयाला । <br>
  कोणी न येती उपयोगी ! <strong>॥६४॥</strong> <br><br>

  लोक सुखाचे सोबती । <br>
  संकटकालीं अव्हेरिती । <br>
  तेथें एक रक्षण करती । <br>
  संत अथवा देव हो <strong>॥६५॥</strong> <br><br>

  तो पाहून प्रकार । <br>
  श्रीगजानन साधुवर । <br>
  म्हणाले हा ओसरीवर । <br>
  निजला यास घेऊन चला <strong>॥६६॥</strong> <br><br>

  लोक म्हणती गुरुराया ! । <br>
  हा बहुतेक मेला सदया । <br>
  याच्या नादीं लागतां वायां । <br>
  संकट येईल आपणांतें <strong>॥६७॥</strong> <br><br>

  पन्नास माणूस बरोबर । <br>
  आपल्या येधवां साचार । <br>
  मरीचा तो झाला जोर । <br>
  सांप्रत या पंढरीसी <strong>॥६८॥</strong> <br><br>

  अशा स्थितींत ये ठाई । <br>
  थांबणें हें कांहीं बरें नाहीं । <br>
  चला जाऊं लवलाही । <br>
  चंद्रभागेच्या पलीकडे <strong>॥६९॥</strong> <br><br>

  तों महाराज म्हणती अवघ्यांला । <br>
  तुम्ही कैसें खुळावला ? । <br>
  आपल्या देशबंधूला । <br>
  सोडितां हें बरें नव्हे ! <strong>॥१७०॥</strong> <br><br>

  ऐसें वाटून जवल गेले । <br>
  वारकर्‍याला करा धरलें । <br>
  त्यासी उठून बसविलें । <br>
  आणि केलें मधुरोत्तर <strong>॥७१॥</strong> <br><br>

  चाल बापा ऊठ आतां । <br>
  जाऊं आपल्या वर्‍हाडप्रांता । <br>
  वारकरी म्हणे गुरुनाथा ! । <br>
  आतां वर्‍हाड कशाचें हो ? <strong>॥७२॥</strong> <br><br>

  समीप आला माझा अंत । <br>
  जवळ नाहीं कोणी आप्त । <br>
  तई म्हणाले सद्गुरुनाथ । <br>
  वेड्या ! ऐसा भिऊं नको <strong>॥७३॥</strong> <br><br>

  तुझें टळलें गंडांतर । <br>
  ऐसें वदोन ठेविला कर । <br>
  त्या वारकर्‍याच्या शिरावर । <br>
  ढाळ उलटी बंद झाली <strong>॥७४॥</strong> <br><br>

  वाटूं लागली थोडी शक्ति । <br>
  उभा राहिला त्वरित गती । <br>
  संतानें ज्या धरिलें हातीं । <br>
  त्यातें निजमनें यम नेई कसा ? <strong>॥७५॥</strong> <br><br>

  घटकेंत झाला पहिल्यापरी । <br>
  मंडळीच्या बरोबरी । <br>
  चंद्रभागेच्या पैलतीरीं । <br>
  आला समर्थासमवेत <strong>॥७६॥</strong> <br><br>

  आनंद झाला फार त्यासी । <br>
  वंदी समर्थचरणांसी । <br>
  म्हणे दयाळा काढिलें मशी । <br>
  दाढेंतून काळाच्या <strong>॥७७॥</strong> <br><br>

  ऐसा घडतां चमत्कार । <br>
  भक्त करिती जयजयकार । <br>
  आले कुर्डुवाडीवर । <br>
  निर्धास्तपणें सर्वही <strong>॥७८॥</strong> <br><br>

  पंढरीची करून वारी । <br>
  आली शेगांवाप्रती सारी । <br>
  मंडळी ती बरोबरी । <br>
  श्रीगजाननस्वामीच्या <strong>॥७९॥</strong> <br><br>

  एक कर्मठ ब्राह्मण । <br>
  घ्याया आला दर्शन । <br>
  त्या शेगांवाकारण । <br>
  श्रीगजाननस्वामींचें <strong>॥१८०॥</strong> <br><br>

  तयानें स्वामीची कीर्ति । <br>
  निजदेशीं ऐकिली होती । <br>
  म्हणून आला दर्शनाप्रती । <br>
  फार लांबून त्या ठायां <strong>॥८१॥</strong> <br><br>

  सोवळें ओंवळें त्याचें अती । <br>
  तो होता मध्वमती । <br>
  खट्टू झाला परम चित्तीं । <br>
  समर्थासी पाहातां <strong>॥८२॥</strong> <br><br>

  व्यर्थ आलों म्हणे येथ । <br>
  या वेड्यासी वंदण्याप्रत । <br>
  हा भ्रष्टाचा आहे सत्य । <br>
  सार्वभौम शिरोमणी <strong>॥८३॥</strong> <br><br>

  सोंवळें ओंवळें येथ मेलें । <br>
  अनाचाराचें राज्य झालें । <br>
  अशा पिशाला म्हणूं लागले । <br>
  साधू लोक हाय हाय <strong>॥८४॥</strong> <br><br>

  तो तया मठांत । <br>
  काळें कुत्रें झालें मृत । <br>
  पडलें होतें त्याचें प्रेत । <br>
  येण्याजाण्याच्या वाटेवरी <strong>॥८५॥</strong> <br><br>

  त्या श्वानातें पाहून । <br>
  ब्राह्मण झाला मनीं खिन्न । <br>
  आणूं कसें जीवन । <br>
  श्वान मध्यें पडला हा <strong>॥८६॥</strong> <br><br>

  याला न कोणी उचलीती । <br>
  गांजा सदैव धुनकिती । <br>
  या वेड्यातें वंदिताती । <br>
  " महाराज, महाराज, " म्हणून <strong>॥८७॥</strong> <br><br>

  जळो याचें साधुपण । <br>
  मला बुध्दि कोठून । <br>
  झाली याचें दर्शन । <br>
  घ्याया कांहीं कळेना <strong>॥८८॥</strong> <br><br>

  त्याचा संशय फेडावया । <br>
  समर्थ आसन सोडोनियां । <br>
  येते झाले तया ठायां । <br>
  जेथें होता ब्राह्मण <strong>॥८९॥</strong> <br><br>

  आणि म्हणाले तयाप्रत । <br>
  पूजा करावी यथास्थित । <br>
  कुत्रें झालें नाहीं मृत । <br>
  संशय उगा घेऊं नका <strong>॥१९०॥</strong> <br><br>

  तें ऐकून रागावला । <br>
  निज समर्था बोलूं लागला । <br>
  अरे नाहीं वेड मला । <br>
  तुझ्यासम लागलेलें <strong>॥९१॥</strong> <br><br>

  कुत्रें मरून झाला प्रहर । <br>
  त्याचें प्रेत रस्त्यावर । <br>
  पडलें याचा विचार । <br>
  तुम्हीं न कोणी केला कीं <strong>॥९२॥</strong> <br><br>

  ऐसें बोलतां विप्राला । <br>
  समर्थांनीं जाब दिला । <br>
  आम्ही भ्रष्ट आम्हांला । <br>
  तुमच्यासम ज्ञान नाहीं <strong>॥९३॥</strong> <br><br>

  परी खंति न करा तिळभर । <br>
  पाणी आणाया घागर । <br>
  घेऊन चलावें सत्वर । <br>
  माझ्यामागें विप्रवरा <strong>॥९४॥</strong> <br><br>

  ऐसें बोलून कुत्र्यापासीं । <br>
  येते झाले पुण्यराशी । <br>
  स्पर्श पदाचा करतां त्यासी । <br>
  कुत्रें बसलें उठोन ! <strong>॥९५॥</strong> <br><br>

  तों पाहता चमत्कार । <br>
  ब्राह्मण झाला निरुत्तर । <br>
  म्हणे याचा अधिकार । <br>
  थोर आहे देवापरी <strong>॥९६॥</strong> <br><br>

  मी व्यर्थ निंदा केली । <br>
  योग्यता ना जाणली । <br>
  ऐसें म्हणून घातली । <br>
  समर्थाच्या मिठी पायां <strong>॥९७॥</strong> <br><br>

  माझे अपराध गुरुवरा ! । <br>
  आज सारे क्षमा करा । <br>
  वरदहस्त ठेवा शिरा । <br>
  मी अनंत अपराधी <strong>॥९८॥</strong> <br><br>

  तूंच सोंवळा साचार । <br>
  एक आहेस भूमीवर । <br>
  करण्या जगाचा उध्दार । <br>
  तुम्हां धाडिलें ईश्वरानें <strong>॥९९॥</strong> <br><br>

  श्रोते त्याच दिवशीं भली । <br>
  समाराधना त्यानें केली । <br>
  कुशंका मनाची पार फिटली । <br>
  लीन झाला अत्यंत <strong>॥२००॥</strong> <br><br>

  प्रसाद घेऊन गेला परत । <br>
  आपुल्या तो देशाप्रत । <br>
  समर्थ साक्षात् भगवंत । <br>
  ऐसी प्रचीति आली तय <strong>॥१॥</strong> <br><br>

  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  भाविकां लाभो सत्पथ । <br>
  हेंचि इच्छी दासगणू <strong>॥२०२॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति अष्टादशोऽध्यायः समाप्तः ॥</strong>
</div>