<div class="adhyaatma-page">
  <h1>रेणुका देवीची आरती २</h1> <br>

  <strong>
    ( चाल : आरती भुवन ) <br>
    ही आदिमाया जगदंबा । <br>
    रेणुका, कुलस्वामिनी, अंबा ॥धृ०॥ <br> <br>
  </strong>

  जागृत करुनि निरंकारा । <br>
  निर्गुण आणिलें आकारा ॥ <br>
  त्रिविध गुण लावुनि संसारा । <br>
  रचिला जगडंबर सारा ॥ <br> <br>

  भू, जल, तेज, गगन, वारा । <br>
  बहु तत्त्वांचा परिवारा ॥ <br> <br>

  <strong>
    ( चाल ) उत्पत्ति स्थिति संहारा । <br>
    लाविले इनें विधिहरिहरा ॥ <br>
    करुनि परिमाण, केलें निर्माण, जगाचे प्राण <br>
    सकळहि सृष्टि मुळारंभा ॥ रेणुका० ॥१॥ <br> <br>
  </strong>

  दुर्लभ जय देवासि दिला । <br>
  दुर्जय महिषासुर वधिला । <br>
  रक्तें क्षितिपट रंगविला । <br>
  सहस्त्रार्जुन घट भंगियला ॥ <br>
  कटकट लावुनि लंकेला । <br>
  कुळासह राक्षसक्षय केला ॥ <br> <br>

  <strong>
    ( चाल ) द्रुपदपुरि जाहली याज्ञसेनी । <br>
    करुनी विरविरहित अवनी । <br>
    उतरला भार, शौर्य आपार, लागेना पार <br>
    सुरवर मानिती आचंबा ॥ रेणुका ॥२॥ <br> <br>
  </strong>

  रेणु राजाची दुहिता । <br>
  अति सुंदर रुप कनकलता ॥ <br>
  श्रीजमदग्निची वनिता । <br>
  त्रिभुवन - जन - पावन सरिता ॥ <br>
  भार्गवरामाचि माता । <br>
  जिचे गुण वदुं न शके धाता ॥ <br> <br>


  <strong>
    ( चाल ) सगुणरुप सौख्याची खाणी । <br>
    सकळ मुळ दुःखांची खाणी <br>
    प्रकटली धरणी, भवार्णव - तरणी, कलिमल - हरणी । <br>
    दुर्घट संकट विटंबा ॥ रेणुका० ॥३॥ <br> <br>
  </strong>

  उत्तम मुळपिठ रम्यस्थळ । <br>
  वसती देवऋषि सकळ ॥ <br>
  वाहे अमृततुल्य जळ । <br>
  प्राशितां होती श्रम सफळ ॥ <br>
  बैसली सिंहासनिं अढळ । <br>
  सदा सुप्रसन्न मुखकमळ ॥ <br> <br>

  <strong>
    ( चाल ) - जोडुनि विष्णुदास पाणी, प्रार्थुनी म्हणे दीनवाणी, <br>
    दाखवी पाय, पाहसी काय, कोटि अन्याय <br>
    क्षमा करि, न करी विलंबा ॥ रेणुका० ॥४॥
  </strong>
</div>