<div class="adhyaatma-page">
  <h1 alt="renuka aarti arti hi adimaya jagdamba renuka kulswamini amba">रेणुका देवीची आरती २</h1>

  <strong>(चाल : आरती भुवन)</strong>
  <strong>ही आदिमाया जगदंबा ।</strong>
  <strong>रेणुका, कुलस्वामिनी, अंबा ॥धृ०॥</strong>

  जागृत करुनि निरंकारा ।
  निर्गुण आणिलें आकारा ॥
  त्रिविध गुण लावुनि संसारा ।
  रचिला जगडंबर सारा ॥

  भू, जल, तेज, गगन, वारा ।
  बहु तत्त्वांचा परिवारा ॥

  <strong>(चाल) उत्पत्ति स्थिति संहारा ।</strong>
  <strong>लाविले इनें विधिहरिहरा ॥</strong>
  <strong>करुनि परिमाण, केलें निर्माण, जगाचे प्राण</strong>
  <strong>सकळहि सृष्टि मुळारंभा ॥ रेणुका० ॥१॥</strong>

  दुर्लभ जय देवासि दिला ।
  दुर्जय महिषासुर वधिला ।
  रक्तें क्षितिपट रंगविला ।
  सहस्त्रार्जुन घट भंगियला ॥
  कटकट लावुनि लंकेला ।
  कुळासह राक्षसक्षय केला ॥

  <strong>(चाल) द्रुपदपुरि जाहली याज्ञसेनी ।</strong>
  <strong>करुनी विरविरहित अवनी ।</strong>
  <strong>उतरला भार, शौर्य आपार, लागेना पार</strong>
  <strong>सुरवर मानिती आचंबा ॥ रेणुका ॥२॥</strong>

  रेणु राजाची दुहिता ।
  अति सुंदर रुप कनकलता ॥
  श्रीजमदग्निची वनिता ।
  त्रिभुवन - जन - पावन सरिता ॥
  भार्गवरामाचि माता ।
  जिचे गुण वदुं न शके धाता ॥

  <strong>(चाल) सगुणरुप सौख्याची खाणी ।</strong>
  <strong>सकळ मुळ दुःखांची खाणी</strong>
  <strong>प्रकटली धरणी, भवार्णव - तरणी, कलिमल - हरणी ।</strong>
  <strong>दुर्घट संकट विटंबा ॥ रेणुका० ॥३॥</strong>

  उत्तम मुळपिठ रम्यस्थळ ।
  वसती देवऋषि सकळ ॥
  वाहे अमृततुल्य जळ ।
  प्राशितां होती श्रम सफळ ॥
  बैसली सिंहासनिं अढळ ।
  सदा सुप्रसन्न मुखकमळ ॥

  <strong>(चाल) - जोडुनि विष्णुदास पाणी, प्रार्थुनी म्हणे दीनवाणी,</strong>
  <strong>दाखवी पाय, पाहसी काय, कोटि अन्याय</strong>
  <strong>क्षमा करि, न करी विलंबा ॥ रेणुका० ॥४॥</strong>
</div>