<div class="adhyaatma-page">
  <h1 alt="guru dhava dhanya dhanya ho pradakshina">गुरु धावा</h1>

  <br><strong>धन्य धन्य हो प्रदक्षिणा सद्गुरुरायाची। झाली त्वरा सुरवरां विमान उतरायाची ।। धृ ।।</strong>
  <br>
  <br>पदोपदी अपार झाल्या पुण्याच्या राशी।
  <br>सर्वही तीर्थे घडली आम्हा आदिकरुनि काशी <strong>।। १ ।।</strong>
  <br>
  <br>मृदुंग टाळ ढोल भक्त भावार्थे गाती।
  <br>नामसंकीर्तने ब्रह्मानंदे नाचती <strong>।। २ ।।</strong>
  <br>
  <br>कोटि ब्रह्महत्या हरिती करितां दंडवत।
  <br>लोटांगण घालिता मोक्ष लोळे पायात <strong>।। ३ ।।</strong>
  <br>
  <br>गुरुभजनाचा महिमा न कळे आगमानिगमांसि।
  <br>अनुभव जे जागति ते गुरुपदिचे अभिलाषी <strong>।। ४ ।।</strong>
  <br>
  <br>प्रदक्षिणा करूनि देह भावे वाहिला।
  <br>श्रीरंगात्मज विठ्ठल पुढे उभा राहिला <strong>।। ५ ।।</strong>
</div>