<div class="adhyaatma-page">
  <h1 alt="gajanan vijay grantha">श्री गजानन विजय ग्रंथ</h1>
  <h2 alt="adhyay 16 adhyaay 16">अध्याय १६</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  जयजयाजी परशुधरा । <br>
  हे जमदग्नीच्या कुमारा । <br>
  परशुरामा परमेश्वरा । <br>
  आतां उपेक्षा करूं नको <strong>॥१॥</strong> <br><br>

  तूं सहस्त्रार्जुनातें दंडून । <br>
  केलें द्विजांचें संरक्षण । <br>
  ब्राह्मणांचा अपमान । <br>
  सहन झाला नाहीं तुला <strong>॥२॥</strong> <br><br>

  आतां मात्र डोळे मिटिसी । <br>
  कां रे देवा ब्राह्मणांविशीं ? । <br>
  काय आहे लागली तुसी । <br>
  गाढ निद्रा येधवां <strong>॥३॥</strong> <br><br>

  म्हणून डोळे मिटूं नका । <br>
  स्वस्थ ऐसें बसूं नका । <br>
  आणीबाणीचा प्रसंग देखा । <br>
  आहे हरी सांप्रत <strong>॥४॥</strong> <br><br>

  तुझ्या वशिल्यावांचून । <br>
  अवघीं कृत्यें आहेत शीण । <br>
  आर्यसंस्कृतीचें रक्षण । <br>
  होणें नाहीं तुझ्याविण <strong>॥५॥</strong> <br><br>

  गजाननमाया अघटित । <br>
  कोण जाणें तिजप्रत । <br>
  महाराजांचा एक भक्त । <br>
  पुंडलिक नामें मूंडगांवीं <strong>॥६॥</strong> <br><br>

  हा शेगांवची करी वारी । <br>
  समर्थाविषयीं प्रेम भारी । <br>
  हमेश त्यांचें चिंतन करी । <br>
  एकाग्रशा मनानें <strong>॥७॥</strong> <br><br>

  त्याच गांवीं भागाबाई । <br>
  एक ठाकरीण होती पाही । <br>
  निष्ठा तिची एक्याही । <br>
  ठिकाणासीं बसत नसे <strong>॥८॥</strong> <br><br>

  ती दांभिक होती फार । <br>
  सदा दंभाचा बाजार । <br>
  भरवून भोंदी नारीनर । <br>
  हाच धंदा तियेचा <strong>॥९॥</strong> <br><br>

  ती बोलली पुंडलिकाला । <br>
  तुझा जन्म वाया गेला । <br>
  कां कीं तूं नाहीं केला । <br>
  सद्गुरु तो आपणांतें <strong>॥१०॥</strong> <br><br>

  गजाननाच्या वार्‍या करिसीं । <br>
  सद्गुरु त्याला मानिसी । <br>
  परी त्यानें सांग तुसी । <br>
  मंत्र कानीं कथिला कां ? <strong>॥११॥</strong> <br><br>

  अरे विधीवांचून । <br>
  गुरु न होत कधीं जाण । <br>
  शेगांवचा गजानन । <br>
  वेडापिसा साच असे <strong>॥१२॥</strong> <br><br>

  तुझा ताप बरा झाला । <br>
  म्हणून तूं मानिसी त्याला । <br>
  या काकतालीयन्यायाला । <br>
  बळी पुंडलिका पडूं नको <strong>॥१३॥</strong> <br><br>

  ' गिन गिन गणातें ' हें भजन । <br>
  पिशापरी आचरण । <br>
  कोणाचेंही खाई जाण । <br>
  ऐसा मुळीं भ्रष्ट तो <strong>॥१४॥</strong> <br><br>

  म्हणून तुला सांगतें । <br>
  चाल अंजनगांवातें । <br>
  केजाजीच्या शिष्यातें । <br>
  आपण दोघे गुरु करूं <strong>॥१५॥</strong> <br><br>

  उद्यां त्यांचें कीर्तन । <br>
  अंजनगांवीं असे जाण । <br>
  तें ऐकावया कारण । <br>
  उठून जाऊं प्रातःकाळीं <strong>॥१६॥</strong> <br><br>

  गुरु असावा महाज्ञानी । <br>
  चातुर्य-शास्त्र-चिंतामणी । <br>
  गुरु असावा परमगुणी । <br>
  भक्तिपथातें दावितां <strong>॥१७॥</strong> <br><br>

  यांतील लक्षण एकही । <br>
  गजाननाच्या नसे ठायीं । <br>
  म्हणून वेळ न करी कांहीं । <br>
  चाल अंजनगांवांतें <strong>॥१८॥</strong> <br><br>

  तो भोकरे पुंडलिक । <br>
  होता मनाचा भाविक । <br>
  भागीच्या भाषणें देख । <br>
  चित्त त्याचें घोटाळलें <strong>॥१९॥</strong> <br><br>

  त्यानें ऐसा विचार केला । <br>
  उदईक अंजनगांवाला । <br>
  जाऊं कीर्तन ऐकण्याला । <br>
  पुढचा विचार पुढें करूं <strong>॥२०॥</strong> <br><br>

  ऐसा विचार करून । <br>
  भागीसी बोलला जाण । <br>
  अंजनगांवालागून । <br>
  चाल येतों तुझ्यासवें <strong>॥२१॥</strong> <br><br>

  दोघांचा विचार झाला । <br>
  पुंडलिक रात्रीं स्वस्थ निजला । <br>
  तों तीन प्रहर रात्रीला । <br>
  काय घडलें तें ऐका <strong>॥२२॥</strong> <br><br>

  पुंडलिकाच्या समोर । <br>
  एक पुरुष दिगंबर । <br>
  उभा राहिला साचार । <br>
  थेट समर्थांच्या परी <strong>॥२३॥</strong> <br><br>

  पुरुष म्हणे रे पुंडलिका । <br>
  अंजनगांवासी जातोस कां ? । <br>
  गुरु करायातें निका । <br>
  त्या भागीच्या सल्ल्यानें <strong>॥२४॥</strong> <br><br>

  जातोस तरी जावें त्वरित । <br>
  त्याचें नांव काशीनाथ । <br>
  तेथें जातां फिटेल भ्रांत । <br>
  तुझी वेड्या निश्चयें <strong>॥२५॥</strong> <br><br>

  कानांत कांहीं बोलला । <br>
  म्हणून कां तो गुरु झाला । <br>
  लोक कानगोष्टीला । <br>
  किती तरी करतात <strong>॥२६॥</strong> <br><br>

  मग ते एकमेकांचे । <br>
  काय गुरु होती साचे । <br>
  नादीं दंभाचाराचे । <br>
  त्वां पुंडलिका पडूं नये <strong>॥२७॥</strong> <br><br>

  तूं इकडे करी कान । <br>
  मंत्र देतों तुजकारण । <br>
  ' गण गण ' ऐसें बोलून । <br>
  महाराज स्तब्ध जहाले <strong>॥२८॥</strong> <br><br>

  आणखी काय आहे आस । <br>
  ती मी आज पुरवीन खास । <br>
  ऐसे ऐकतां पुंडलिकास । <br>
  आनंद अति जाहला <strong>॥२९॥</strong> <br><br>

  पाहूं लागला निरखून । <br>
  स्वप्नीं त्या पुरुषालागून । <br>
  तों पाहिलें गजानन । <br>
  शेगांवचे स्वामी पहा <strong>॥३०॥</strong> <br><br>

  पुंडलिक म्हणे गुरुराया । <br>
  पादुका द्या ह्या मला सदया । <br>
  नित्य पूजा करावया । <br>
  यावीण आणखी आस नसे <strong>॥३१॥</strong> <br><br>

  बरें उद्या दोन प्रहर । <br>
  दिवस येतां साचार । <br>
  पादुकांची पूजा कर । <br>
  ह्या मी दिधल्या घेई तुला <strong>॥३२॥</strong> <br><br>

  पादुका त्या घ्यावयाला । <br>
  स्वप्नीं पुंडलिक उठून बसला । <br>
  तोंच आली तयाला । <br>
  साक्षात् जागृति श्रोते हो <strong>॥३३॥</strong> <br><br>

  जागा होऊनी सभोंवार । <br>
  पाहूं लागला साचार । <br>
  तो कोणीच दिसेना अखेर । <br>
  नाहीं पत्ता पादुकांचा <strong>॥३४॥</strong> <br><br>

  उलगडा कांहीं होईना । <br>
  संशय मनींचा जाईना । <br>
  म्हणे स्वामींच्या भाषणा । <br>
  बाट न लागला आजवरी <strong>॥३५॥</strong> <br><br>

  स्वप्नीं येऊन दर्शन । <br>
  त्यांनीं दिलें मजकारण । <br>
  कशी भागी ठाकरीण । <br>
  तेंही स्वप्नीं कथन केलें <strong>॥३६॥</strong> <br><br>

  तैसेंच उद्यां दोन प्रहरीं । <br>
  पादुकांची पूजा करी । <br>
  ऐसें बोलले साक्षात्कारी । <br>
  त्याचा समजूं काय अर्थ ? <strong>॥३७॥</strong> <br><br>

  किंवा नव्या पादुका करून । <br>
  म्यां करावें पूजन । <br>
  ऐसें त्यांचें आहे मन । <br>
  हें कांहीं कळेना <strong>॥३८॥</strong> <br><br>

  मी पदींच्या मागितल्या । <br>
  पादुका त्या होत्या भल्या । <br>
  त्याच त्यांनीं मसी दिल्या । <br>
  मग नव्या घेऊं कशास ? <strong>॥३९॥</strong> <br><br>

  ऐसें नाना तर्क करी । <br>
  पुंडलिक आपल्या अंतरीं । <br>
  तों इतक्यांत आली घरीं । <br>
  भागी ठाकरीण बोलावण्या <strong>॥४०॥</strong> <br><br>

  अंजनगांवीं चाल आतां । <br>
  मोक्ष गुरू करण्याकरितां । <br>
  दिसूं लागला आहे आतां रस्ता । <br>
  अरुणोदयाचे प्रकाशें <strong>॥४१॥</strong> <br><br>

  पुंडलिक म्हणे भागाबाई । <br>
  मी कांहीं येत नाहीं । <br>
  मर्जी असल्यास तूंच जाई । <br>
  अंजनगांवाकारणें <strong>॥४२॥</strong> <br><br>

  मीं जो एकदां गुरु केला । <br>
  श्रीगजानन महाराजाला । <br>
  तो न आतां सोडी भला । <br>
  हाच माझा निश्चय <strong>॥४३॥</strong> <br><br>

  तें ऐकतां भागाबाई । <br>
  अंजनगांवास गेली पाही । <br>
  आतां मुंडगांवाचें ठाईं । <br>
  काय झालें तें ऐका <strong>॥४४॥</strong> <br><br>

  झ्यामसिंग रजपूत । <br>
  गेला होता शेगांवांत । <br>
  दर्शन स्वामींचें घेण्याप्रत । <br>
  दोन दिवस याच्या आधीं <strong>॥४५॥</strong> <br><br>

  तो जेव्हां मूंडगावाला । <br>
  येण्या परत निघाला । <br>
  तईं बाळाभाऊला । <br>
  ऐसें बोलले महाराज <strong>॥४६॥</strong> <br><br>

  या पादुका पुंडलिकासी । <br>
  द्याया देई याच्यापासी । <br>
  समर्थ आज्ञा होतां ऐसी । <br>
  तैसेंच केलें बाळानें <strong>॥४७॥</strong> <br><br>

  करीं घेऊन पादुका । <br>
  झ्यामसिंगास बोलला देखा । <br>
  भोकरे जो का पुंडलिका । <br>
  तुमच्या गांवींचा असे हो <strong>॥४८॥</strong> <br><br>

  त्यास ह्या द्या नेऊन । <br>
  करायासी पूजन । <br>
  तें झ्यामसिंगें ऐकून । <br>
  पादुका घेतां जहाला <strong>॥४९॥</strong> <br><br>

  झ्यामसिंग आला मुंडगांवांत । <br>
  तों पुंडलिक भेटला वेशींत । <br>
  पुसूं लागला त्याप्रत । <br>
  कुशलवृत्त समर्थांचें <strong>॥५०॥</strong> <br><br>

  प्रसाद मला द्यावयासी । <br>
  कांहीं दिला का तुम्हांपासी ? । <br>
  हें ऐकतां झ्यामसिंगासी । <br>
  महदाश्चर्य वाटलें <strong>॥५१॥</strong> <br><br>

  सवें घेऊन पुंडलिकाला । <br>
  झ्यामसिंग घेऊन घरीं गेला । <br>
  खोदून विचारूं लागला । <br>
  तूं ऐसें कां विचारिलें ? <strong>॥५२॥</strong> <br><br>

  पुंडलिकानें स्वप्नाची । <br>
  गोष्ट त्याला कथिली साची । <br>
  ती ऐकतां झ्यामसिंगाची । <br>
  भ्रांति नष्ट झाली हो <strong>॥५३॥</strong> <br><br>

  लगेच पादुका काढिल्या । <br>
  पुंडलिकाच्या हातीं दिल्या । <br>
  त्याच अजून आहेत भल्या । <br>
  मुंडगांवांत त्याच्या घरीं <strong>॥५४॥</strong> <br><br>

  दोन प्रहरीं पूजन । <br>
  पुंडलिकानें केलें जाण । <br>
  मनोभावें करून । <br>
  त्या प्रसादी पादुकांचें <strong>॥५५॥</strong> <br><br>

  पहा श्रोते खरें संत । <br>
  सांभाळिती आपुलें भक्त । <br>
  आडमार्गानें किंचित्‍ । <br>
  जाऊं न देती तयांला <strong>॥५६॥</strong> <br><br>

  निज भक्ताचे मनोरथ । <br>
  समर्थ कैसे पुरवितात । <br>
  तें येईल ध्यानांत । <br>
  या कथेतें ऐकतां <strong>॥५७॥</strong> <br><br>

  एक माध्यंदिन ब्राह्मण । <br>
  कवर राजाराम म्हणून । <br>
  होता धंदा करून । <br>
  अकोल्यांत सराफीचा <strong>॥५८॥</strong> <br><br>

  सोने चांदी भुसार । <br>
  घेणें देणें साचार । <br>
  मध्यम प्रतीचा सावकार । <br>
  हा राजाराम कवर असे <strong>॥५९॥</strong> <br><br>

  या राजारामाप्रती । <br>
  महाराजाची होती भक्ती । <br>
  म्हणून त्याची संतती । <br>
  मानूं लागली समर्था <strong>॥६०॥</strong> <br><br>

  या कवराकारण । <br>
  दोन पुत्र होते जाण । <br>
  गोपाळ त्र्यंबक म्हणून । <br>
  लव्हांकुशांसारिखे <strong>॥६१॥</strong> <br><br>

  कनिष्ठ पुत्र त्र्यंबकाप्रती । <br>
  भाऊस व्यवहारीं बोलती । <br>
  तो हैद्राबादेप्रती । <br>
  गेला डाँक्टरी शिकावया <strong>॥६२॥</strong> <br><br>

  लहानपणापासून । <br>
  भाऊस होतें देवध्यान । <br>
  म्हणजे त्र्यंबकालागून । <br>
  हें येथें विसरूं नका <strong>॥६३॥</strong> <br><br>

  कांहीं संकट पडल्यावरी । <br>
  तो समर्थांचा आठव करी । <br>
  राहून त्या भागानगरीं । <br>
  मुसा नदीच्या कांठाला <strong>॥६४॥</strong> <br><br>

  एवंच भाऊ भक्तिमान । <br>
  होता लहानपणापासून । <br>
  त्याचें दैवत गजानन । <br>
  स्वामी शेगांवग्रामींचें <strong>॥६५॥</strong> <br><br>

  तो सुटीमाजीं आला घरीं । <br>
  इच्छा उपजली अंतरीं । <br>
  जाऊनिया शेगांवनगरीं । <br>
  जेवूं घालावें महाराजा <strong>॥६६॥</strong> <br><br>

  पदार्थ त्यांच्या आवडीचे । <br>
  करोनिया सर्व साचे । <br>
  परी हें कैसें व्हावयाचें ? । <br>
  हाच विचार पडला कीं <strong>॥६७॥</strong> <br><br>

  भाऊ म्हणे गुरुनाथा । <br>
  काय तरी करूं आतां । <br>
  मरून गेली माझी माता । <br>
  लहानपणींच दयाळा <strong>॥६८॥</strong> <br><br>

  घरीं माझें नाही कोणी । <br>
  एक बंधूची कामिनी । <br>
  जिचें नांव आहे नानी । <br>
  स्वभाव तापट तियेचा <strong>॥६९॥</strong> <br><br>

  माझ्या आहे ऐसें मनीं । <br>
  आपण करावी मेजवानी । <br>
  आपुल्या आवडीचे करोनी । <br>
  पदार्थ सारे गुरुराया ! <strong>॥७०॥</strong> <br><br>

  भाकरी ती ज्वारीची । <br>
  कांदा भाजी आंबाड्याची । <br>
  ऊन पिठलें हिरवी मिर्ची । <br>
  ऐसें तयार करावें <strong>॥७१॥</strong> <br><br>

  हे पदार्थ करण्याला । <br>
  सांगूं कसा मी भावजईला ? । <br>
  हट्ट एक करण्याला । <br>
  माता तेंच स्थान असे <strong>॥७२॥</strong> <br><br>

  ऐसा विचार करीत । <br>
  भाऊ राहिला निवांत । <br>
  तों कांहीं कामानिमित्त । <br>
  नानी आली ते ठायां <strong>॥७३॥</strong> <br><br>

  नानी दिराला बोलली । <br>
  चिंता कशाची लागली ? । <br>
  मुखश्री ती म्लान झाली । <br>
  तुमची कशानें ये वेळां ? <strong>॥७४॥</strong> <br><br>

  भाऊ वदे दीनवाणी । <br>
  काय तुला सांगूं वहिनी ? । <br>
  माझे जे कां आले मनीं । <br>
  विचार ते ये वेळां <strong>॥७५॥</strong> <br><br>

  पूर्ण सत्तेवांचून । <br>
  मनोरथ ना होती पूर्ण । <br>
  म्हणून तुला सांगून । <br>
  काय करणें आहे गें <strong>॥७६॥</strong> <br><br>

  नानी म्हणे त्यावर । <br>
  सांगून पहा एकवार । <br>
  तूं माझा धाकटा दीर । <br>
  मशीं पडदा ठेवूं नये <strong>॥७७॥</strong> <br><br>

  ज्येष्ठ भ्राता पित्यापरी । <br>
  तत् कांता माय खरी । <br>
  मानिली पाहिजे साजिरी । <br>
  तें तुम्ही जाणतसा <strong>॥७८॥</strong> <br><br>

  तें ऐकून भाऊ हंसला । <br>
  नानीप्रती बोलता झाला । <br>
  नानी माझ्या मनाला । <br>
  आज ऐसें वाटतें <strong>॥७९॥</strong> <br><br>

  गजाननाच्या आवडीचे । <br>
  सर्व पदार्थ करून साचे । <br>
  आहेत मला न्यावयाचे । <br>
  त्यांना द्याया शेगांवीं <strong>॥८०॥</strong> <br><br>

  तें तूं जरी करशील । <br>
  तरी तुलाही लागेल । <br>
  पुण्य आणि होईल । <br>
  काम माझें त्यायोगें <strong>॥८१॥</strong> <br><br>

  तें ऐकतां बोले नानी । <br>
  दिराप्रती हास्यवदनीं । <br>
  यासाठींच कां हो मनीं । <br>
  सचिंत तुम्हीं बैसलात ? <strong>॥८२॥</strong> <br><br>

  सांगा आहे काय कारणें । <br>
  मजला स्पष्ट शब्दानें ? । <br>
  कांहीं ना आपुल्या गेहीं उणें । <br>
  कृपेनें गजाननाच्या <strong>॥८३॥</strong> <br><br>

  मग भाऊनें सर्व कांहीं । <br>
  निवेदन केलें तिला पाही । <br>
  तीही लागली लवलाही । <br>
  आनंदानें स्वयंपाका <strong>॥८४॥</strong> <br><br>

  भाजी चून भाकर । <br>
  हिरव्या मिरच्या ओंजळभर । <br>
  ठेविल्या आणून समोर । <br>
  आपुल्या त्या दिराच्या <strong>॥८५॥</strong> <br><br>

  भाकरी तीन, कांदे तीन । <br>
  हरभर्‍याचें चून जाण । <br>
  लोणी ठेविलें माखून । <br>
  प्रत्येक त्या भाकरीला <strong>॥८६॥</strong> <br><br>

  नानी म्हणाली दिराला । <br>
  जा आतां शेगांवाला । <br>
  वेळ थोडका राहिला । <br>
  आहे पाहा गाडीस <strong>॥८७॥</strong> <br><br>

  ती गाडी चुकल्यावरी । <br>
  वाया जाईल तयारी । <br>
  भोजनाच्या वेळेवरी । <br>
  गेलांत तरी उपयोग <strong>॥८८॥</strong> <br><br>

  ऐसेम नानीं बोलतां । <br>
  भाऊ निघाला तत्त्वतां । <br>
  पुसूनियां आपुल्या ताता । <br>
  येतां झाला स्टेशनासी <strong>॥८९॥</strong> <br><br>

  तों गाडी बाराची । <br>
  निघूनियां गेली साची । <br>
  तेणें चित्तवृत्ति भाऊची । <br>
  होती झाली शोकाकुल <strong>॥९०॥</strong> <br><br>

  अति हिरमोड त्याचा झाला । <br>
  पाणी आलें लोचनांला । <br>
  म्हणे महाराज कां हो केला । <br>
  अव्हेर माझा ये कालीं ? <strong>॥९१॥</strong> <br><br>

  मी मुळींच हीन दीन । <br>
  कोठून घडावें मला पुण्य ? । <br>
  आम्हां कावळ्यांकारण । <br>
  लाभ केवीं मानसाचा <strong>॥९२॥</strong> <br><br>

  अक्षम्य ऐसी कोणती । <br>
  चुकी झाली माझ्या हातीं । <br>
  म्हणून माझी गुरुमूर्ति । <br>
  गाडी चुकली ये वेळां ? <strong>॥९३॥</strong> <br><br>

  हाय हाय हे दुर्दैवा ! । <br>
  त्वां माझा साधिला दावा । <br>
  माझ्या करीं गुरुसेवा । <br>
  घडूं न दिली आज तूं <strong>॥९४॥</strong> <br><br>

  ही माझी शिदोरी । <br>
  ऐशीच आज राहिली जरी । <br>
  नाहीं करणार भोजन तरी । <br>
  सत्य सत्य त्रिवाचा <strong>॥९५॥</strong> <br><br>

  गुरुराया कृपारासी । <br>
  नका उपेक्षूं लेंकरासी । <br>
  ही शिदोरी सेवण्यासी । <br>
  यावें धांवून सत्वर <strong>॥९६॥</strong> <br><br>

  थोर आपुला अधिकार । <br>
  क्षणांत पहातां केदार । <br>
  मग या या येथवर । <br>
  कां हो अनमान करितसां ? <strong>॥९७॥</strong> <br><br>

  मी न आज्ञा तुम्हां करितों । <br>
  प्रेमानें हांका मारितों । <br>
  म्हणूनियां हा न होतो । <br>
  अपमान तुमचा यत्किंचित् <strong>॥९८॥</strong> <br><br>

  तीन घंटे अजून । <br>
  अवकाश गाडीकारण । <br>
  तोंवरी आपुलें भोजन । <br>
  होईल ऐसें वाटतें <strong>॥९९॥</strong> <br><br>

  ऐसा विचार करीत । <br>
  तेथेंच बैसला उपोषित । <br>
  चतुर्थ प्रहरीं शेगांवांत । <br>
  आला तिहीच्या गाडीनें <strong>॥१००॥</strong> <br><br>

  कवर गेला दर्शना । <br>
  तईं तो योगीराणा । <br>
  न करितां भोजना । <br>
  बसला होता आसनीं <strong>॥१॥</strong> <br><br>

  नैवेद्याची अतोनात । <br>
  ताटें होतीं मठांत । <br>
  पक्वान्नांनीं परिप्लुत । <br>
  तीं वर्णावी कोठवरी ? <strong>॥२॥</strong> <br><br>

  कोणाच्या जिलब्या घीवर । <br>
  कोणाचा तो मोतीचूर । <br>
  कोणाची ती नुसती खीर । <br>
  श्रीखंड पुर्‍या कोणाच्या <strong>॥३॥</strong> <br><br>

  परी त्या नैवेद्याला । <br>
  समर्थांनीं ना स्पर्श केला । <br>
  वरच्यावरी ताटाला । <br>
  बाळा आणून ठेवीं पुढें <strong>॥४॥</strong> <br><br>

  आणि म्हणे हें करा ग्रहण । <br>
  गेला एक वाजून । <br>
  आपुलें न झाल्या जेवण । <br>
  प्रसाद भक्तां मिळतो कसा ? <strong>॥५॥</strong> <br><br>

  त्यांची ते वाट पाहती । <br>
  करण्या आपणां विनंति । <br>
  त्यांची नसे होत छाती । <br>
  म्हणून मी बोललों <strong>॥६॥</strong> <br><br>

  तैं महाराज म्हणती थांब जरा । <br>
  आग्रह नको करूंस खरा । <br>
  आज भोजन चौथे प्रहरा । <br>
  माझें होणार आहे रे <strong>॥७॥</strong> <br><br>

  मर्जी असल्यास थांबावें । <br>
  ना तरी खुशाल जेवावें । <br>
  नैवेद्य घेऊनि घरा जावें । <br>
  पर्वा नाही त्याची मला <strong>॥८॥</strong> <br><br>

  ऐसा प्रकार तेथें झाला । <br>
  तों इतुक्यांत भाऊ आला । <br>
  समर्थ पाहतां आनंदला । <br>
  भाऊ आपल्या मानसीं <strong>॥९॥</strong> <br><br>

  दुरावलेली माय जेवीं । <br>
  बाळकें दृष्टि पहावी । <br>
  झालें असे पहा तेवीं । <br>
  भाऊ कवराकारणें <strong>॥११०॥</strong> <br><br>

  समर्थासी नमस्कार । <br>
  केला साष्टांग साचार । <br>
  उभा राहिला जोडोनी कर । <br>
  वाट पाहत आज्ञेची <strong>॥११॥</strong> <br><br>

  त्या भाऊस पाहून । <br>
  समर्थें केलें हास्यवदन । <br>
  बरेंच दिलेंस आमंत्रण । <br>
  ही कां वेळ जेवण्याची ? <strong>॥१२॥</strong> <br><br>

  तुझ्या भाकेंत गुंतलों । <br>
  मी उपोषित राहिलों । <br>
  नाहीं अजून जेवलों । <br>
  आण तुझी शिदोरी <strong>॥१३॥</strong> <br><br>

  ऐसें महाराज बोलतां । <br>
  हर्षलासे कवर चित्ता । <br>
  म्हणे काय करूं गुरुनाथा । <br>
  गाडी चुकली बाराची <strong>॥१४॥</strong> <br><br>

  कवरास म्हणे बाळाभाऊ । <br>
  आतां नको दुःखित होऊं । <br>
  काय आणलें आहेस पाहूं ? । <br>
  समर्थासी जेवावया <strong>॥१५॥</strong> <br><br>

  ऐसें ऐकतां सत्वरीं । <br>
  कांदे भाजी भाकरी । <br>
  कवरानें ठेविल्या समोरी । <br>
  स्वामी गजाननाच्या <strong>॥१६॥</strong> <br><br>

  त्यांतील भाकरी दोन । <br>
  समर्थें केल्या भक्षण । <br>
  एकीची तो प्रसाद म्हणून । <br>
  अवघ्या भक्तां वांटिली <strong>॥१७॥</strong> <br><br>

  तो प्रकार पहातां । <br>
  आश्चर्य झालें समस्तां । <br>
  कळली स्वामींची योग्यता । <br>
  खरेच भक्तवत्सल ते <strong>॥१८॥</strong> <br><br>

  जेवीं हस्तिनापुरांत । <br>
  भगवंतानें ठेविला हेत । <br>
  सोडून पक्वानाप्रत । <br>
  विदुराच्या हुलग्यांवरी <strong>॥१९॥</strong> <br><br>

  तैसेंच येथें आज झालें । <br>
  आमचें पक्वान्न नाहीं रुचलें । <br>
  भाकरीवरी गुंतलें । <br>
  चित्त कवराच्या स्वामींचें <strong>॥१२०॥</strong> <br><br>

  भाऊंनीही घेतला । <br>
  सनर्थप्रसाद शेगांवला । <br>
  सद्भाव येथें उदेला । <br>
  तेथें ऐसेंच होणार <strong>॥२१॥</strong> <br><br>

  समर्थ बोलले कवरासी । <br>
  जा आतां अकोल्यासी । <br>
  पास होशील पुढचे वर्षी । <br>
  तूं डाँक्टरी परीक्षेंत <strong>॥२२॥</strong> <br><br>

  भाऊ म्हणे गुरुराया । <br>
  आपुली असूं द्यावी दया । <br>
  यांविण दुसरें मागावया । <br>
  मी न आलों ये ठाया <strong>॥२३॥</strong> <br><br>

  आपुले हे दिव्य चरण । <br>
  हेंच माझें धनमान । <br>
  सर्वदा घडो चिंतन । <br>
  आपल्या दिव्य मूर्तीचें <strong>॥२४॥</strong> <br><br>

  ऐसें बोलून अकोल्याला । <br>
  भाऊ कवर निघून गेला । <br>
  समर्थ आपल्या भक्ताला । <br>
  नुपेक्षिती कधींही <strong>॥२५॥</strong> <br><br>

  शेगांवींचा राहणार । <br>
  तुकाराम शेगोकार । <br>
  एक होता भाविक नर । <br>
  कृषिकर्म करीतसे <strong>॥२६॥</strong> <br><br>

  घरची गरीबी होती खरी । <br>
  काम करोनी शेतांतरीं । <br>
  अस्तमानाचे अवसरीं । <br>
  दर्शना यावें मठांत <strong>॥२७॥</strong> <br><br>

  चिलीम द्यावी भरून । <br>
  घ्यावें पदाचें दर्शन । <br>
  कांहीं वेळ बसून । <br>
  जावें पुन्हां शेतांतें <strong>॥२८॥</strong> <br><br>

  ऐसा नित्यक्रम तयाचा । <br>
  बहुत दिवस चालला साचा । <br>
  घाला विचित्र दैवाचा । <br>
  तो न कोणा सोडितसे <strong>॥२९॥</strong> <br><br>

  जें जें असेल दैवांत । <br>
  तें तें श्रोते घडून येत । <br>
  एके दिनीं शेतांत । <br>
  असतां तुकाराम आपुल्या <strong>॥१३०॥</strong> <br><br>

  तों एक आला शिकारी । <br>
  बंदुक ज्याच्या खांद्यावरी । <br>
  नेम धरून ससे मारी । <br>
  छरे घालून बंदुकींत <strong>॥३१॥</strong> <br><br>

  ती प्रभातीची होती वेळा । <br>
  सूर्य नुकतां उदयाला । <br>
  तुकाराम होता बसला । <br>
  आपल्या शेंती शेकत <strong>॥३२॥</strong> <br><br>

  तों त्याच्या मागें कुपाटिला । <br>
  एक होता बसलेला । <br>
  ससा शुभ्र तोचि पडला । <br>
  शिकार्‍याच्या दृष्टीसी <strong>॥३३॥</strong> <br><br>

  त्याची शिकार करण्या भली । <br>
  शिकार्‍यानें आपुली । <br>
  नेम धरून झाडिली । <br>
  खांद्यावरील बंदुक <strong>॥३४॥</strong> <br><br>

  त्यायोगें ससा मेला । <br>
  एक छरा लागला । <br>
  त्या तुकाराम माळ्याला । <br>
  कानामागें अवचित <strong>॥३५॥</strong> <br><br>

  छरा मोठा जोरदार । <br>
  मस्तकीं शिरला अखेर । <br>
  थकले अवघे डाँक्टर । <br>
  प्रयोग करून त्याचेवरी <strong>॥३६॥</strong> <br><br>

  कांहीं केल्या निघेना । <br>
  छरा तो डाँक्टरांना । <br>
  होऊं लागल्या यातना । <br>
  तुकारामासी अतिशय <strong>॥३७॥</strong> <br><br>

  मस्तक दुखे अहोरात्र । <br>
  निद्रा न लागे किंचित । <br>
  नवस सायास केले बहुत । <br>
  परी गुण येईना <strong>॥३८॥</strong> <br><br>

  ऐशाही अवस्थेंत । <br>
  यावें त्यानें मठांत । <br>
  एके दिवशीं तो समर्थांचा एक भक्त । <br>
  ऐसें बोलला तयाला <strong>॥३९॥</strong> <br><br>

  डाँक्टर वैद्य सोडा आतां । <br>
  साधूचिया सेवेपरता । <br>
  नाहीं उपाय कोणता । <br>
  उत्तम या जगामध्यें <strong>॥१४०॥</strong> <br><br>

  कृपा त्यांची झाल्यास । <br>
  चुकेल हा तुझा त्रास । <br>
  झाडीत जा आसपास । <br>
  या मठाच्या नित्य तूं <strong>॥४१॥</strong> <br><br>

  तेव्हां सेवा ही घडेल । <br>
  पुण्य़ तेंही लाधेल । <br>
  कृपा झाल्या होशील । <br>
  त्रासापासून मोकळा <strong>॥४२॥</strong> <br><br>

  मात्र आपुल्या पित्यावरी । <br>
  दांभिकतेनें हें ना करी । <br>
  शुध्द भाव अंतरीं । <br>
  सर्वकाळ धरावा <strong>॥४३॥</strong> <br><br>

  तें तुकारामासी मानवलें । <br>
  झाडणें त्यानें सुरूं केलें । <br>
  अवघ्या मठास ठेविलें । <br>
  स्वच्छ त्यानें आरशापरी <strong>॥४४॥</strong> <br><br>

  ऐसीं चौदा वर्षें झालीं । <br>
  तुकारामाई सेवा भली । <br>
  तईं गोष्ट घडून आली । <br>
  ऐशा रीतिं श्रोते हो <strong>॥४५॥</strong> <br><br>

  झाडतां झाडतां कानांतून । <br>
  छरा पडला गळून । <br>
  जैसी कांती भोकरांतून । <br>
  दावितां सुटे आंठोळी <strong>॥४६॥</strong> <br><br>

  तैसें साच येथें झालें । <br>
  छरा पडतां थांबलें । <br>
  दुखावयाचें मस्तक भलें । <br>
  ऐसा प्रभाव सेवेचा <strong>॥४७॥</strong> <br><br>

  ही सेवा झाडण्याची । <br>
  अखेरपर्यंत केली साची । <br>
  प्रचीतिवीण कवणाची । <br>
  परमार्थीं न निष्ठा बसे <strong>॥४८॥</strong> <br><br>

  ती एकदां बसल्यावर । <br>
  मग मात्र होते स्थिर । <br>
  संतसेवा महाथोर । <br>
  हे भाविक जाणती <strong>॥४९॥</strong> <br><br>

  स्वस्ति श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  तारक होवो भाविकांप्रत । <br>
  भवसिंधुमाझारीं <strong>॥१५०॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति षोडशोऽध्यायः समाप्तः ॥</strong>
</div>