<div class="adhyaatma-page">
  <h1>श्री शंकराची आरती</h1> <br>

  लवथवती विक्राळा ब्रह्माण्डी माळा । <br>
  वीषे कण्ठ काळा त्रिनेत्री ज्वाळा । <br>
  लावण्य सुन्दर मस्तकी बाळा । <br>
  तेथुनिया जळ निर्मळ वाहे झुळझुळा <strong>॥१॥</strong> <br> <br>

  <strong>
    जय देव जय देव जय श्रीशंकरा । <br>
    आरती ओवाळू तुज कर्पुरगौरा ॥ <br> <br>
  </strong>

  कर्पुर्गौरा भोळा नयनी विशाळा । <br>
  अर्धांगी पार्वती सुमनांच्या माळा । <br>
  विभुतीचे उधळण शितिकण्ठ नीळा । <br>
  ऐसा शंकर शोभे उमावेल्हाळा <strong>॥२॥</strong> <br> <br>

  <strong>
    जय देव जय देव जय श्रीशंकरा । <br>
    आरती ओवाळू तुज कर्पुरगौरा ॥ <br> <br>
  </strong>

  देवी दैत्यी सागरमन्थन पै केलें । <br>
  त्यामाजी अवचित हळाहळ जें उठिले । <br>
  ते त्वां असुरपणे प्राशन केलें । <br>
  नीलकण्ठ नाम प्रसिद्ध झालें <strong>॥३॥</strong> <br> <br>

  <strong>
    जय देव जय देव जय श्रीशंकरा । <br>
    आरती ओवाळू तुज कर्पुरगौरा ॥ <br> <br>
  </strong>

  व्याघ्राम्बर फणिवरधर सुन्दर मदनारी । <br>
  पंचानन मनमोहन मुनिजन सुखकारी । <br>
  शतकोटीचें बीज वाचे उच्चारी । <br>
  रघुकुळटिळक रामदासा अन्तरी <strong>॥४॥</strong> <br> <br>

  <strong>
    जय देव जय देव जय श्रीशंकरा । <br>
    आरती ओवाळू तुज कर्पुरगौरा ॥
  </strong>
</div>