<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>आरती निवडा</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list (click)="closeTheMenu()">
      <ion-item routerLink="ganapati-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
        <ion-title>गणपती आरती</ion-title>
      </ion-item>

      <ion-item routerLink="ganapati-stotra">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
        <ion-title>गणपती स्तोत्र</ion-title>
      </ion-item>

      <ion-item routerLink="ganapati-atharvasheersha">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
        <ion-title>गणपती अथर्वशीर्ष</ion-title>
      </ion-item>

      <ion-item routerLink="gajanan-maharaj-aarti-1">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
        <ion-title>गजानन आरती १</ion-title>
      </ion-item>

      <ion-item routerLink="gajanan-maharaj-aarti-2">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
        <ion-title>गजानन आरती २</ion-title>
      </ion-item>

      <ion-item routerLink="guru-dhawa">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
        <ion-title>गुरु धावा</ion-title>
      </ion-item>

      <ion-item routerLink="dutta-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/dutta.png"></ion-img>
        <ion-title>दत्त आरती</ion-title>
      </ion-item>

      <ion-item routerLink="shankar-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/shankar.png"></ion-img>
        <ion-title>शंकर आरती</ion-title>
      </ion-item>

      <ion-item routerLink="vitthal-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/vitthal.png"></ion-img>
        <ion-title>विठ्ठल आरती</ion-title>
      </ion-item>

      <ion-item routerLink="sai-baba-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/sai-baba.png"></ion-img>
        <ion-title>साई बाबा आरती</ion-title>
      </ion-item>

      <ion-item routerLink="durga-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/durga.png"></ion-img>
        <ion-title>दुर्गा आरती</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-aarti-1">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका आरती १</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-aarti-2">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका आरती २</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-aarti-3">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका आरती ३</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-ashtak-1">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका अष्टक १</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-ashtak-2">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका अष्टक २</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-ashtak-3">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका अष्टक ३</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-abhanga">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका अभंग</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-jogava">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका जोगवा</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-pada">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका पद</ion-title>
      </ion-item>

      <ion-item routerLink="renuka-prarthana">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
        <ion-title>रेणुका प्रार्थना</ion-title>
      </ion-item>

      <ion-item routerLink="mahalaxmi-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/laxmi.png"></ion-img>
        <ion-title>महालक्ष्मीच आरती</ion-title>
      </ion-item>

      <ion-item routerLink="vishnu-aarti">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/vishnu.png"></ion-img>
        <ion-title>विष्णूची आरती</ion-title>
      </ion-item>

      <ion-item routerLink="ram-dhawa">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ram.png"></ion-img>
        <ion-title>रामाचा धावा</ion-title>
      </ion-item>

      <ion-item routerLink="ram-raksha">
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ram.png"></ion-img>
        <ion-title>रामरक्षा स्तोत्र</ion-title>
      </ion-item>

      <ion-item>
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
        <ion-title>विजय ग्रंथ</ion-title>
      </ion-item>
      <ion-item>
        <ion-select placeholder="अध्याय निवडा" (ionChange)="navigateTo($event.detail.value)">
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-1">अध्याय १</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-2">अध्याय २</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-3">अध्याय ३</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-4">अध्याय ४</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-5">अध्याय ५</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-6">अध्याय ६</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-7">अध्याय ७</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-8">अध्याय ८</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-9">अध्याय ९</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-10">अध्याय १०</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-11">अध्याय ११</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-12">अध्याय १२</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-13">अध्याय १३</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-14">अध्याय १४</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-15">अध्याय १५</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-16">अध्याय १६</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-17">अध्याय १७</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-18">अध्याय १८</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-19">अध्याय १९</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-20">अध्याय २०</ion-select-option>
          <ion-select-option value="/gajanan-vijay-grantha-adhyaay-21">अध्याय २१</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ramdas-swami.png"></ion-img>
        <ion-title>मनाचे श्लोक</ion-title>
      </ion-item>
      <ion-item>
        <ion-select placeholder="श्लोक निवडा" (ionChange)="navigateTo($event.detail.value)">
          <ion-select-option value="/manache-shlok-from-001-to-010">श्लोक १ ते १०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-011-to-020">श्लोक ११ ते २०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-021-to-030">श्लोक २१ ते ३०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-031-to-040">श्लोक ३१ ते ४०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-041-to-050">श्लोक ४१ ते ५०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-051-to-060">श्लोक ५१ ते ६०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-061-to-070">श्लोक ६१ ते ७०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-071-to-080">श्लोक ७१ ते ८०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-081-to-090">श्लोक ८१ ते ९०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-091-to-100">श्लोक ९१ ते १००</ion-select-option>
          <ion-select-option value="/manache-shlok-from-101-to-110">श्लोक १०१ ते ११०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-111-to-120">श्लोक १११ ते १२०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-121-to-130">श्लोक १२१ ते १३०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-131-to-140">श्लोक १३१ ते १४०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-141-to-150">श्लोक १४१ ते १५०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-151-to-160">श्लोक १५१ ते १६०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-161-to-170">श्लोक १६१ ते १७०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-171-to-180">श्लोक १७१ ते १८०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-181-to-190">श्लोक १८१ ते १९०</ion-select-option>
          <ion-select-option value="/manache-shlok-from-191-to-200">श्लोक १९१ ते २००</ion-select-option>
          <ion-select-option value="/manache-shlok-from-201-to-205">श्लोक २०१ ते २०५</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
      <ion-title class="all-pages-title">अध्यात्म</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> <ion-router-outlet></ion-router-outlet> </ion-content>
</div>