<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Select:</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list (click)="closeTheMenu()">
      <ion-card>
        <ion-item routerLink="ganapati-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
          <ion-title>गणपती आरती</ion-title>
        </ion-item>
        <ion-item routerLink="ganapati-stotra">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
          <ion-title>गणपती स्तोत्र</ion-title>
        </ion-item>
        <ion-item routerLink="ganapati-atharvasheersha">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ganapati.png"></ion-img>
          <ion-title>गणपती अथर्वशीर्ष</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="gajanan-maharaj-aarti-1">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
          <ion-title>गजानन आरती १</ion-title>
        </ion-item>
        <ion-item routerLink="gajanan-maharaj-aarti-2">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
          <ion-title>गजानन आरती २</ion-title>
        </ion-item>
        <ion-item routerLink="guru-dhawa">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/gajanan-maharaj.png"></ion-img>
          <ion-title>गुरु धावा</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="dutta-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/dutta.png"></ion-img>
          <ion-title>दत्त आरती</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="vitthal-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/vitthal.png"></ion-img>
          <ion-title>विठ्ठल आरती</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="sai-baba-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/sai-baba.png"></ion-img>
          <ion-title>साई बाबा आरती</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>

        <ion-card>
          <ion-item routerLink="renuka-aarti-1">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका आरती १</ion-title>
          </ion-item>
          <ion-item routerLink="renuka-aarti-2">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका आरती २</ion-title>
          </ion-item>
          <ion-item routerLink="renuka-aarti-3">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका आरती ३</ion-title>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item routerLink="renuka-ashtak-1">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका अष्टक १</ion-title>
          </ion-item>
          <ion-item routerLink="renuka-ashtak-2">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका अष्टक २</ion-title>
          </ion-item>
          <ion-item routerLink="renuka-ashtak-3">
            <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
            <ion-title>रेणुका अष्टक ३</ion-title>
          </ion-item>
        </ion-card>

        <ion-item routerLink="renuka-abhanga">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
          <ion-title>रेणुका देवीचा अभंग</ion-title>
        </ion-item>

        <ion-item routerLink="renuka-jogava">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
          <ion-title>रेणुका देवीचा जोगवा</ion-title>
        </ion-item>

        <ion-item routerLink="renuka-pada">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
          <ion-title>रेणुका देवीचे पद</ion-title>
        </ion-item>

        <ion-item routerLink="renuka-prarthana">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/renuka.png"></ion-img>
          <ion-title>रेणुका देवीची प्रार्थना</ion-title>
        </ion-item>

      </ion-card>

      <ion-card>
        <ion-item routerLink="mahalaxmi-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/laxmi.png"></ion-img>
          <ion-title>महालक्ष्मीची आरती</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="vishnu-aarti">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/vishnu.png"></ion-img>
          <ion-title>विष्णूची आरती</ion-title>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item routerLink="ram-dhawa">
          <ion-img class="icon-sized-image" src="../assets/icon/godly-icons/ram.png"></ion-img>
          <ion-title>रामाचा धावा</ion-title>
        </ion-item>
      </ion-card>

    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
      <ion-title>Adhyaatma</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> <ion-router-outlet></ion-router-outlet> </ion-content>
</div>