<div class="adhyaatma-page">
  <h1 alt="renuka devi jogva mahur gadavari ga">रेणुका देवीचा जोगवा</h1>
  
  <br>माहुर गडावरी ग,
  <br>माहुर गडावरी ग तुझा वास ।
  <br>भक्त येती ते दर्शनास ॥धृ॥
  <br>
  <br>पिवळे पातळ ग,
  <br>पिवळे पातळ बुट्टीदार,
  <br>अंगी चोळी ती हिरवीगार ।
  <br>
  <br>पितांबराची ग,
  <br>पितांबराची खोविली कास ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>बिंदी बिजवरा ग,
  <br>बिंदी बिजवरा भाळी शोभे,
  <br>काफ बाल्याने कान ही साजे ।
  <br>
  <br>इच्या नथेला ग,
  <br>इच्या नथेला हिरवे घोस ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>सरीठुसीत ग,
  <br>सरीठुसीत मोहनमाळ,
  <br>जोडवे मासोळ्या पैंजन चाळ ।
  <br>
  <br>पट्टा सोन्याचा ग,
  <br>पट्टा सोन्याचा शोभे कमरेस ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>जाईजुईची ग,
  <br>जाईजुईची आणिली फुले,
  <br>तुरे हार माळीने गुंफीयेले ।
  <br>
  <br>गळा शोभे तो ग,
  <br> रुप शोभे तो आनंदास ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>हिला बसायला ग,
  <br>हिला बसायला चंदनी पाट,
  <br>हिला जेवायला चांदीचे ताट ।
  <br>
  <br>पुरण पोळीची ग,
  <br>पुरण पोळीची आवड सुरस ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>मुखी तांबुल पाचशे पानांचा,
  <br>मुखकमली रंग लालीचा ।
  <br>
  <br>खणानारळाची ग,
  <br>खणानारळाची ओटी तुस ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>विष्णुदासाची ग,
  <br>विष्णुदासाची तुला विनवणी,
  <br>माझ्या जनार्दनी चरणी |
  <br>
  <br>भक्त नमित ग, भक्त नमित नित चरणास ॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
  <br>
  <br>माता भगिनींना ग,
  <br>माता भगिनींना सौभाग्यदायीनी,
  <br>व्हावे अखंड अखंडीत पावनी |
  <br>
  <br>सदा उधळती ग, सदा उधळती ग हळदीस॥
  <br><strong>॥ भक्त येती ते दर्शनास ॥</strong>
</div>