<div class="adhyaatma-page">
  <h1>ही वेबसाइट कशी वापरायची:</h1>
  वरच्या डाव्या कोपऱ्यात मेन्यू <strong>≡</strong> बटणावर क्लिक करा. यामुळे, डावीकडील नेव्हिगेशन पॅनल उघडेल, ज्यामध्ये तुम्ही तुमच्या आवडीची आरती निवडू शकता.
  <br>
  <br>
  <h1>या संकेतस्थळाबद्दल माहिती:</h1>
  माझे नाव <strong><a href="https://www.youtube.com/@amit-shirasao" target="_blank">अमित शिरासाव</a></strong> आहे. मी या संकेतस्थळाचा रचेता आणि मालक आहे. हे संकेतस्थळ खालील ३ तत्वांवर आधारलेले आहे:
  <br><strong>१. निस्वार्थपणा:</strong>
  <br>या संकेतस्थळावर कधीच जाहिराती दिल्या जाणार नाहीत. या संकेतस्थळाचा उपयोग पैसे कमवायला कधीच केला जाणार नाही.
  <br><strong>२. निश्चलपणा:</strong>
  <br>हे संकेतस्थळ तुम्हाला कधीही ट्रॅक किंवा प्रोफाईल करणार नाही. बिना प्रोफाईल बनवता पण सर्व सेवा सदैव वापरता येतील.
  <br><strong>३. सुटसुटीतपणा:</strong>
  <br>हे संकेतस्थळ समजायला आणि वापरायला सोपे असेल. उच्च कार्यक्षमतेसाठी ही एक हलकी वेबसाइट (संकेतस्थळ) असेल.
</div>