<div class="adhyaatma-page">
  <h1 alt="manache shlok">मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १३१ ते १४०</strong>
  <br>
  <br>भजाया जनीं पाहतां राम एकू।
  <br>करी बाण एकू मुखी शब्द एकू॥
  <br>क्रिया पाहतां उद्धरे सर्व लोकू।
  <br>धरा जानकीनायकाचा विवेकू॥१३१॥
  <br>
  <br>विचारूनि बोले विवंचूनि चाले।
  <br>तयाचेनि संतप्त तेही निवाले॥
  <br>बरें शोधल्यावीण बोलो नको हो।
  <br>जनी चालणे शुद्ध नेमस्त राहो॥१३२॥
  <br>
  <br>हरीभक्त वीरक्त विज्ञानराशी।
  <br>जेणे मानसी स्थापिलें निश्चयासी॥
  <br>तया दर्शने स्पर्शने पुण्य जोडे।
  <br>तया भाषणें नष्ट संदेह मोडे॥१३३॥
  <br>
  <br>नसे गर्व आंगी सदा वीतरागी।
  <br>क्षमा शांति भोगी दयादक्ष योगी॥
  <br>नसे लोभ ना क्षोम ना दैन्यवाणा।
  <br>इहीं लक्षणी जाणिजे योगिराणा॥१३४॥
  <br>
  <br>धरीं रे मना संगती सज्जनाची।
  <br>जेणें वृत्ति हे पालटे दुर्जनाची॥
  <br>बळे भाव सद्बुद्धि सन्मार्ग लागे।
  <br>महाक्रुर तो काळ विक्राळ भंगे॥१३५॥
  <br>
  <br>भयें व्यापिले सर्व ब्रह्मांड आहे।
  <br>भयातीत तें संत आनंत पाहे॥
  <br>जया पाहतां द्वैत कांही दिसेना।
  <br>भयो मानसीं सर्वथाही असेना॥१३६॥
  <br>
  <br>जिवां श्रेष्ठ ते स्पष्ट सांगोनि गेले।
  <br>परी जीव अज्ञान तैसेचि ठेले॥
  <br>देहेबुद्धिचें कर्म खोटें टळेना।
  <br>जुने ठेवणें मीपणें आकळेना॥१३७॥
  <br>
  <br>भ्रमे नाढळे वित्त तें गुप्त जाले।
  <br>जिवा जन्मदारिद्र्य ठाकुनि आले॥
  <br>देहेबुद्धिचा निश्चयो ज्या टळेना।
  <br>जुने ठेवणे मीपणे आकळेना॥१३८॥
  <br>
  <br>पुढें पाहता सर्वही कोंदलेसें।
  <br>अभाग्यास हें दृश्य पाषाण भासे॥
  <br>अभावे कदा पुण्य गांठी पडेना।
  <br>जुने ठेवणे मीपणे आकळेना॥१३९॥
  <br>
  <br>जयाचे तया चूकले प्राप्त नाहीं।
  <br>गुणे गोविले जाहले दुःख देहीं ॥
  <br>गुणावेगळी वृत्ति तेहि वळेना।
  <br>जुने ठेवणे मीपणे आकळेना॥१४०॥
  <br>
</div>