<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १५१ ते १६०</strong>
  <br><br>खरें शोधितां शोधितां शोधिताहे।
  <br>मना बोधिता बोधिता बोधिताहे॥
  <br>परी सर्वही सज्जनाचेनि योगे।
  <br>बरा निश्चयो पाविजे सानुरागे॥१५१॥
  <br>
  <br>बहूतांपरी कूसरी तत्त्वझाडा।
  <br>परी अंतरी पाहिजे तो निवाडा॥
  <br>मना सार साचार ते वेगळे रे।
  <br>समस्तांमधे एक ते आगळे रे॥१५२॥
  <br>
  <br>नव्हे पिंडज्ञाने नव्हे तत्त्वज्ञाने ।
  <br>समाधान कांही नव्हे तानमाने॥
  <br>नव्हे योगयागें नव्हे भोगत्यागें।
  <br>समाधान ते सज्जनाचेनि योगे॥१५३॥
  <br>
  <br>महावाक्य तत्त्वादिके पंचकर्णे।
  <br>खुणे पाविजे संतसंगे विवर्णे॥
  <br>द्वितीयेसि संकेत जो दाविजेतो।
  <br>तया सांडुनी चंद्रमा भाविजेतो॥१५४॥
  <br>
  <br>दिसेना जनी तेचि शोधुनि पाहे।
  <br>बरे पाहता गूज तेथेचि आहे॥
  <br>करी घेउ जाता कदा आढळेना।
  <br>जनी सर्व कोंदाटले ते कळेना॥१५५॥
  <br>
  <br>म्हणे जाणता तो जनी मूर्ख पाहे।
  <br>अतर्कासि तर्की असा कोण आहे॥
  <br>जनीं मीपणे पाहता पाहवेना।
  <br>तया लक्षितां वेगळे राहवेना॥१५६॥
  <br>
  <br>बहू शास्त्र धुंडाळता वाड आहे।
  <br>जया निश्चयो येक तोही न साहे॥
  <br>मती भांडती शास्त्रबोधे विरोधें।
  <br>गती खुंटती ज्ञानबोधे प्रबोधे॥१५७॥
  <br>
  <br>श्रुती न्याय मीमांसके तर्कशास्त्रे।
  <br>स्मृती वेद वेदान्तवाक्ये विचित्रे॥
  <br>स्वये शेष मौनावला स्थीर पाहे।
  <br>मना सर्व जाणीव सांडून राहे॥१५८॥
  <br>
  <br>जेणे मक्षिका भक्षिली जाणिवेची।
  <br>तया भोजनाची रुची प्राप्त कैची॥
  <br>अहंभाव ज्या मानसीचा विरेना।
  <br>तया ज्ञान हे अन्न पोटी जिरेना॥१५९॥
  <br>
  <br>नको रे मना वाद हा खेदकारी।
  <br>नको रे मना भेद नानाविकारी॥
  <br>नको रे मना शीकवूं पूढिलांसी।
  <br>अहंभाव जो राहिला तूजपासी॥१६०॥
</div>