<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १८१ ते १९०</strong>
  <BR> <br>नव्हे चेटकी चाळकू द्रव्यभोंदु।
  <BR> नव्हे निंदकू मत्सरू भक्तिमंदू॥
  <BR> नव्हे उन्मतू वेसनी संगबाधू।
  <BR> जनी ज्ञानिया तोचि साधु अगाधू॥१८१॥
  <BR>
  <BR> नव्हे वाउगी चाहुटी काम पोटी।
  <BR> क्रियेवीण वाचाळता तेचि मोठी॥
  <BR> मुखे बोलिल्यासारिखे चालताहे।
  <BR> मना सद्गुरु तोचि शोधुनि पाहे॥१८२॥
  <BR>
  <BR> जनी भक्त ज्ञानी विवेकी विरागी।
  <BR> कृपाळु मनस्वी क्षमावंत योगी॥
  <BR> प्रभु दक्ष व्युत्पन्न चातुर्य जाणे।
  <BR> तयाचेनि योगे समाधान बाणे॥१८३॥
  <BR>
  <BR> नव्हे तोचि जाले नसे तेचि आले।
  <BR> कळो लागले सज्जनाचेनि बोले॥
  <BR> अनिर्वाच्य ते वाच्य वाचे वदावे।
  <BR> मना संत आनंत शोधीत जावे॥१८४॥
  <BR>
  <BR> लपावे अति आदरे रामरुपी।
  <BR> भयातीत निश्चीत ये स्वस्वरुपी॥
  <BR> कदा तो जनी पाहतांही दिसेना।
  <BR> सदा ऐक्य तो भिन्नभावे वसेना॥१८५॥
  <BR>
  <BR> सदा सर्वदा राम सन्नीध आहे।
  <BR> मना सज्जना सत्य शोधुन पाहे॥
  <BR> अखंडीत भेटी रघूराजयोगू।
  <BR> मना सांडीं रे मीपणाचा वियोगू॥१८६॥
  <BR>
  <BR> भुते पिंड ब्रह्मांड हे ऐक्य आहे।
  <BR> परी सर्वही स्वस्वरुपी न साहे॥
  <BR> मना भासले सर्व काही पहावे।
  <BR> परी संग सोडुनि सुखी रहावे॥१८७॥
  <BR>
  <BR> देहेभान हे ज्ञानशस्त्रे खुडावे।
  <BR> विदेहीपणे भक्तिमार्गेचि जावे॥
  <BR> विरक्तीबळे निंद्य सर्वै त्यजावे।
  <BR> परी संग सोडुनि सुखी रहावे॥१८८॥
  <BR>
  <BR> मही निर्मिली देव तो ओळखावा।
  <BR> जया पाहतां मोक्ष तत्काळ जीवा॥
  <BR> तया निर्गुणालागी गूणी पहावे।
  <BR> परी संग सोडुनि सुखे रहावे॥१८९॥
  <BR>
  <BR> नव्हे कार्यकर्ता नव्हे सृष्टिभर्ता।
  <BR> पुरेहून पर्ता न लिंपे विवर्ता॥
  <BR> तया निर्विकल्पासि कल्पित जावे।
  <BR> परि संग सोडुनि सुखे रहावे॥१९०॥
  <BR>
</div>