<div class="adhyaatma-page">
  <h1 alt="ganapati stotra sastang naman he majhe gauriputra vinayaka">गणपती स्तोत्र</h1>
  
  <br>साष्टांग नमन हे माझे गौरीपुत्रा विनायका| भक्तीने स्मारतां नित्य
  <br>आयुष्कामार्थ साधती <strong>॥१॥</strong>
  <br>
  <br>प्रथम नाव वक्रतुंड दुसरे एकदंत ते| तिसरे कृष्णपिंगाक्ष चवथे गजवक्र
  <br>ते <strong>॥२॥</strong>
  <br>
  <br>पाचवे श्री लंबोदर सहावे विकट नाव ते | सातवे विघ्नराजेंद्र आठवे
  <br>धूम्रवर्ण ते <strong>॥३॥</strong>
  <br>
  <br>नववे श्रीभालचांद्र दहावे श्री विनायक | अकरावे गणपती बारावे
  <br>श्रीगजानन <strong>॥४॥</strong>
  <br>
  <br>देवनावे अशी बारा तीन संध्या म्हणे नर | विघ्न भीती नसे त्याला प्रभो
  <br>तू सर्व सिद्धिद <strong>॥५॥</strong>
  <br>
  <br>विद्यार्थ्याला मिळेल विद्या धनार्थ्याला मिळे धन पुत्रार्थ्याला
  <br>मिळेल पुत्र मोक्ष्यार्थ्याला मिळे गती <strong>॥६॥</strong>
  <br>
  <br>जपता गणपति स्तोत्र सहा मासात हे फळ| एक वर्ष पूर्ण होता मिळे सिध्दी
  <br>न संशय <strong>॥७॥</strong>
  <br>
  <br>नारदांनी रचीलेले झाले संपुर्ण स्तोत्र हे | श्रीधराने मराठीत पठण्या
  <br>अनुवादिले <strong>॥८॥</strong>
</div>