<div class="adhyaatma-page">
  <h1>गणपती स्तोत्र</h1>

<br>साष्टांग नमन हे माझे गौरीपुत्रा विनायका|
<br>भक्तीने स्मारतां नित्य  आयुष्कामार्थ साधती ||१||
<br>
<br>प्रथम नाव वक्रतुंड दुसरे एकदंत ते|
<br>तिसरे कृष्णपिंगाक्ष चवथे गजवक्र ते ||२||
<br>
<br>पाचवे श्री लंबोदर सहावे विकट नाव ते |
<br>सातवे  विघ्नराजेंद्र आठवे धूम्रवर्ण ते ||३||
<br>
<br>नववे श्रीभालचांद्र दहावे श्री विनायक |
<br>अकरावे  गणपती बारावे श्रीगजानन ||४||
<br>
<br>देवनावे अशी बारा तीन संध्या म्हणे नर |
<br>विघ्न भीती नसे त्याला प्रभो तू सर्व सिद्धिद ||५||
<br>
<br>विद्यार्थ्याला मिळेल विद्या धनार्थ्याला मिळे धन
<br>पुत्रार्थ्याला मिळेल पुत्र मोक्ष्यार्थ्याला मिळे गती||६||
<br>
<br>जपता गणपति स्तोत्र सहा मासात हे फळ|
<br>एक वर्ष पूर्ण होता मिळे सिध्दी न संशय||७||
<br>
<br>नारदांनी रचीलेले झाले संपुर्ण स्तोत्र हे |
<br>श्रीधराने मराठीत पठण्या अनुवादिले||८||
</div>
