<div class="adhyaatma-page">
  <ion-item><h1>श्लोक निवडा</h1></ion-item>
  <ion-item routerLink="/manache-shlok-from-001-to-010">श्लोक १ ते १० </ion-item>
  <ion-item routerLink="/manache-shlok-from-011-to-020">श्लोक ११ ते २० </ion-item>
  <ion-item routerLink="/manache-shlok-from-021-to-030">श्लोक २१ ते ३० </ion-item>
  <ion-item routerLink="/manache-shlok-from-031-to-040">श्लोक ३१ ते ४० </ion-item>
  <ion-item routerLink="/manache-shlok-from-041-to-050">श्लोक ४१ ते ५० </ion-item>
  <ion-item routerLink="/manache-shlok-from-051-to-060">श्लोक ५१ ते ६० </ion-item>
  <ion-item routerLink="/manache-shlok-from-061-to-070">श्लोक ६१ ते ७० </ion-item>
  <ion-item routerLink="/manache-shlok-from-071-to-080">श्लोक ७१ ते ८० </ion-item>
  <ion-item routerLink="/manache-shlok-from-081-to-090">श्लोक ८१ ते ९० </ion-item>
  <ion-item routerLink="/manache-shlok-from-091-to-100">श्लोक ९१ ते १०० </ion-item>
  <ion-item routerLink="/manache-shlok-from-101-to-110">श्लोक १०१ ते ११०</ion-item>
  <ion-item routerLink="/manache-shlok-from-111-to-120">श्लोक १११ ते १२०</ion-item>
  <ion-item routerLink="/manache-shlok-from-121-to-130">श्लोक १२१ ते १३०</ion-item>
  <ion-item routerLink="/manache-shlok-from-131-to-140">श्लोक १३१ ते १४०</ion-item>
  <ion-item routerLink="/manache-shlok-from-141-to-150">श्लोक १४१ ते १५०</ion-item>
  <ion-item routerLink="/manache-shlok-from-151-to-160">श्लोक १५१ ते १६०</ion-item>
  <ion-item routerLink="/manache-shlok-from-161-to-170">श्लोक १६१ ते १७०</ion-item>
  <ion-item routerLink="/manache-shlok-from-171-to-180">श्लोक १७१ ते १८०</ion-item>
  <ion-item routerLink="/manache-shlok-from-181-to-190">श्लोक १८१ ते १९०</ion-item>
  <ion-item routerLink="/manache-shlok-from-191-to-200">श्लोक १९१ ते २००</ion-item>
  <ion-item routerLink="/manache-shlok-from-201-to-205">श्लोक २०१ ते २०५</ion-item>
</div>