<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय ३</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  जय जय सच्चिदानंदा श्रीहरी । <br>
  कृपा करावी लौकरी । <br>
  तुम्ही पदनताच्या वरी । <br>
  कधीं न कठोर झालांत ॥१॥ <br><br>
  तूं करुणेचा सागर । <br>
  तूं दीन जनाचें माहेर । <br>
  तूं भक्तासी साचार । <br>
  कल्पतरु वा चिंतामणी ॥२॥ <br><br>
  ऐसा तुझा अगाध महिमा । <br>
  संत गाती राघवा रामा । <br>
  दासगणूसी पुरुषोत्तमा । <br>
  पावा वेळ करुं नका ॥३॥ <br><br>
  असो बंकटलाला घरीं । <br>
  राहाते झाले साक्षात्कारी । <br>
  दीन दुबळ्यांचे कैवारी । <br>
  श्रीगजानन महाराज ॥४॥ <br><br>
  लांबलांबोनी भक्त येती । <br>
  समर्थांतें वंदिती । <br>
  मधु तेथें माशा जमती । <br>
  न लगे करणें आमंत्रण ॥५॥ <br><br>
  एके दिनी काय झालें । <br>
  तें आतां सांगतों वहिलें । <br>
  महाराज होते बसलेले । <br>
  निजासनीं आनंदांत ॥६॥ <br><br>
  ती प्रभातीची होती वेळा । <br>
  प्राची प्रांत ताम्र झाला । <br>
  पक्षी किलकिलाटाला । <br>
  करुं लागले वृक्षावर ॥७॥ <br><br>
  कुक्कुटाचे होती स्वप्न । <br>
  मंदशीत वाहे पवन । <br>
  वृद्ध करिती नामस्मरण । <br>
  शय्येवरी बैसोनिया ॥८॥ <br><br>
  उदयाचलीं नारायण । <br>
  येऊं पाहे हर्षें करुन । <br>
  तेणें तम पलायन । <br>
  करुं लागला कंदरीसी ॥९॥ <br><br>
  परम भाविक सुवासिनी । <br>
  रत सडासंमार्जनीं । <br>
  वत्स धेनूस पाहोनी । <br>
  तोडूं लागलीं चर्‍हाटें ॥१०॥ <br><br>
  ऐशा त्या रम्य वेळेस । <br>
  एक साधु शेगांवास । <br>
  येतां झाला दर्शनास । <br>
  श्रीगजानन साधूच्या ॥११॥ <br><br>
  तो भिकार गोसावी । <br>
  मानमान्यता त्याची राहावी । <br>
  कोठोनिया सांगा बरवी । <br>
  श्रीमंताच्या मंडळींत ? ॥१२॥ <br><br>
  भगवी चिंधी डोक्यास । <br>
  झोळी वाम बगलेस । <br>
  होती एक नेसण्यास । <br>
  फाटकीसी लंगोटी ॥१३॥ <br><br>
  मृगाजिनाचा गुंडाळा । <br>
  पाठीवरी होता भला । <br>
  ऐसा गोसावी बैसला । <br>
  कोपर्‍यांत एकीकडे ॥१४॥ <br><br>
  दर्शनासी भीड फार । <br>
  होवो लागली साचार । <br>
  अशा स्थितींत मिळणार । <br>
  सवड कशी त्या गोसाव्यास ? ॥१५॥ <br><br>
  तों ठायींच बैसोन । <br>
  करुं लागला चिंतन । <br>
  म्हणे समर्थाचे चरण । <br>
  दृष्टि पडणें कठीण मला ॥१६॥ <br><br>
  समर्थांचा लौकिक भला । <br>
  मी काशींत ऐकला । <br>
  आवडीनें नवस केला । <br>
  भांग स्वामीस अर्पिण्याचा ॥१७॥ <br><br>
  तो मम हेतु मनांत । <br>
  जिरुन जाया पाहे येथ । <br>
  या श्रीमान मंडळींत । <br>
  माझ्या नवसास कोण पुसे ? ॥१८॥ <br><br>
  गांजाचें नांव काढितां । <br>
  लोक मजला देतील लाथा । <br>
  मी तो आलों फेडण्याकरितां । <br>
  नवस गांजाचा शेगांवीं ॥१९॥ <br><br>
  माझ्या नवसाची ती मात । <br>
  सांगू तरी कवणाप्रत ? । <br>
  येथें एकही ना दिसत । <br>
  प्रेमी या शांभवीचा ॥२०॥ <br><br>
  जी वस्तु ज्या आवडे खरी । <br>
  तिचाच तो नवस करी । <br>
  आणि मानी सर्वतोपरी । <br>
  हीच वस्तु उत्तम ॥२१॥ <br><br>
  ऐसे नाना विचार । <br>
  गोसावी करी साचार । <br>
  झाला होता परम आतुर । <br>
  दर्शन घ्याया समर्थांचें ॥२२॥ <br><br>
  तें त्याचें मनोगत । <br>
  जाणते झाले समर्थ । <br>
  बोलते झाले इतरांप्रत । <br>
  आणा काशीचा गोसावी ॥२३॥ <br><br>
  तो पहा त्या कोपर्‍याला । <br>
  आहे बिचारा दडून बसला । <br>
  हें ऐकतां आनंद झाला । <br>
  गोसाव्यास परमावधी ॥२४॥ <br><br>
  आणि बोलला मनांत । <br>
  त्रिकालज्ञ हे खरेच संत । <br>
  मी जें बोललों मनांत । <br>
  तें सर्व यांनीं जाणलें ॥२५॥ <br><br>
  ज्ञानेश्वरींत षष्ठाध्यायीं । <br>
  जी गोष्ट कथिली पाही । <br>
  कीं स्वर्गलोकीच्या कथा त्याही । <br>
  समजतात योगीवरा ॥२६॥ <br><br>
  त्याचें आलें प्रत्यंतर । <br>
  मला येथें साचार । <br>
  धन्य धन्य हा साधुवर । <br>
  त्रिकालज्ञ महात्मा ॥२७॥ <br><br>
  न बोलतां माझा नवस । <br>
  जाणतील हे पुण्य पुरुष । <br>
  त्याचें प्रत्यंतर यावयास । <br>
  अवधी उरला थोडका ॥२८॥ <br><br>
  मंडळींनीं गोसाव्याला । <br>
  पुढें आणोन उभा केला । <br>
  तों महाराज वदले तयाला । <br>
  काढ झोळीची पोटळी ॥२९॥ <br><br>
  जी तीन महिनेपर्यंत । <br>
  रक्षण केलीस झोळींत । <br>
  त्या पोटळीचें आज येथ । <br>
  होवो दे गा पारणें ॥३०॥ <br><br>
  गोसावी पदीं लागला । <br>
  गहिंवर त्यासी दाटला । <br>
  गडबडा लोळूं लागला । <br>
  बालकापरी स्वामीपुढें ॥३१॥ <br><br>
  महाराज म्हणती गोसाव्यास । <br>
  पुरे आतां उठोन बैस । <br>
  पोटोळीच्या बुटीस । <br>
  काढ बाहेर झोळीच्या ॥३२॥ <br><br>
  नवस केलास ते वेळीं । <br>
  नाहीं लाज वाटली । <br>
  आणि आतां कां ही लाविली । <br>
  चाळवाचाळवी निरर्थक ॥३३॥ <br><br>
  गोसावी होता महा धूर्त । <br>
  तो बोलला भीत भीत । <br>
  जोडुनीया दोन्ही हात । <br>
  ऐसें नम्र वाणीनें ॥३४॥ <br><br>
  मी बुटी काढितों । <br>
  नवस आपुला फेडितों । <br>
  परि मागणें मागतों । <br>
  एक तें द्या दीनाला ॥३५॥ <br><br>
  आठवण माझ्या बुटीची । <br>
  नित्य राहावी आपणा साची । <br>
  हीच इच्छा मानसींची । <br>
  आहे ती पूर्ण करा ॥३६॥ <br><br>
  तुम्हां बुटीचें प्रयोजन । <br>
  नाहीं हें मी जाणतों पूर्ण । <br>
  परी बालकाची आठवण । <br>
  राहाया बुटी स्वीकारा ॥३७॥ <br><br>
  भक्त जी जी इच्छा करीत । <br>
  ती ती ज्ञाता पुरवीत । <br>
  अंजनीचा वृत्तान्त । <br>
  आणा मनीं आपुल्या ॥३८॥ <br><br>
  अंजनी होती वानरी । <br>
  तिनें प्रार्थिला त्रिपुरारी । <br>
  कीं तुम्हीं यावें माझ्या उदरीं । <br>
  वानर होऊन शंकरा ! ॥३९॥ <br><br>
  तें हरानें मानिलें । <br>
  महारुद्र पोटीं आले । <br>
  अंजनीचे पुरविले । <br>
  मनोरथ चंद्रमौळींनीं ॥४०॥ <br><br>
  तेथें शंकराकारण । <br>
  आड ना आलें वानरपण । <br>
  तेवीं माझ्या बुटीची आठवण । <br>
  राहाया तीतें स्वीकारा ॥४१॥ <br><br>
  त्यांतून तुम्ही कर्पूरगौर । <br>
  साक्षात् आहां शंकर । <br>
  म्हणून बुटीचा अव्हेर । <br>
  करुं नको दयाळा ! ॥४२॥ <br><br>
  ज्ञानवल्ली शंकरानें । <br>
  म्हटलें आहे इजकारणें । <br>
  ही इतरा आणील उणें । <br>
  परि भूषण तुम्हांला ॥४३॥ <br><br>
  महाराज किंचित्‌ घोटाळले । <br>
  परि अखेर होय म्हणाले । <br>
  माय पुरवी बालक-लळे । <br>
  वेडेवांकुडे असले जरी ॥४४॥ <br><br>
  गोसाव्यानें बुटी काढिली । <br>
  हातावरी घेवोन धुतली । <br>
  चिलमींत घालून पाजिली । <br>
  पुण्यपुरुष गजानना ॥४५॥ <br><br>
  ऐसा बुटीचा वृत्तान्त । <br>
  काथलीसे कारणासहित । <br>
  तो आणून ध्यानांत । <br>
  विचार करणें प्रत्येकीं ॥४६॥ <br><br>
  कांहीं दिवस राहोन । <br>
  गेला गोसावी निघोन । <br>
  आपणां धन्य मानोन । <br>
  रामेश्वराकारणें ॥४७॥ <br><br>
  ऐसी गांजाची पडली प्रथा । <br>
  ते ठायीं तत्त्वतां । <br>
  परी व्यसनाधीनता । <br>
  नच आली समर्थांतें ॥४८॥ <br><br>
  पद्मपत्राचियेपरी । <br>
  ते अलिप्त होते निर्धारी । <br>
  नये कोणास त्याची सरी । <br>
  खरेंच अती थोर ते ॥४९॥ <br><br>
  वेदऋचा अस्खलित । <br>
  उदात्त-अनुदात्त स्वरांसहित । <br>
  कधीं म्हणाव्या मुखीं सत्य । <br>
  कधीं त्यांचें नांव नसे ॥५०॥ <br><br>
  वेदाक्षरें पडतां श्रवणीं । <br>
  साशंक व्हावें वैदिकांनीं । <br>
  याच एका अनुमानीं । <br>
  गजानन होते ब्राह्मण ॥५१॥ <br><br>
  कधीं गवयासमान । <br>
  अन्य अन्य रागांतून । <br>
  एकच पदातें गाऊन । <br>
  दाखवावें निजलीलें ॥५२॥ <br><br>
  चंदन चावल बेलकी पतीया । <br>
  प्रेम भारी या पदा ठाया । <br>
  ते आनंदांत येवोनिया । <br>
  वरच्यावरी म्हणावें ॥५३॥ <br><br>
  कधीं गणगणाचें भजन । <br>
  कधीं धरावें नुसतें मौन । <br>
  कधीं राहावें पडून । <br>
  शय्येवरी निचेष्टित ॥५४॥ <br><br>
  कधीं वागावें पिशापरी । <br>
  कधीं भटकावें कांतारीं । <br>
  कधीं शिरावें जाऊन घरीं । <br>
  एखाद्याच्या अवचीत ॥५५॥ <br><br>
  असो त्या शेगांवांत । <br>
  जानराव देशमुख विख्यात । <br>
  होता त्याचा प्राणान्त । <br>
  व्हावयाचा समय आला ॥५६॥ <br><br>
  व्याधी शरीरीं वळावली । <br>
  शक्ति पार निघून गेली । <br>
  प्रयत्‍नांची कमाल केली । <br>
  वैद्यांनीं ती आपुल्या ॥५७॥ <br><br>
  नाडी पाहोन अखेर । <br>
  आप्ता कळविला समाचार । <br>
  प्रसंग आहे कठीण फार । <br>
  नसे आशा वांचण्याची ॥५८॥ <br><br>
  आम्हीं प्रयत्‍न केले अती । <br>
  परी यश ना आलें तिळरती । <br>
  यांना आतां घोंगडयावरती । <br>
  काढोन ठेवा हेंच बरें ॥५९॥ <br><br>
  तें ऐकतां अवघे आप्त । <br>
  दुःख करती अत्यंत । <br>
  जानरावा आम्हां प्रत । <br>
  सोडून तूं जाऊं नको ॥६०॥ <br><br>
  तुझ्याप्रीत्यर्थ नवस केले । <br>
  नाना दैवतांलागीं भले । <br>
  परी न कोणी पावले । <br>
  हाय हाय रे दुर्दैवा ॥६१॥ <br><br>
  वैद्यानें टेकिले हात । <br>
  प्रयत्‍न झाले कुंठित । <br>
  आतां अखेरच्या यत्‍नाप्रत । <br>
  करोन पाहूं एक वेळा ॥६२॥ <br><br>
  बंकटलालाचिये घरीं । <br>
  आहेत एक साक्षात्कारी । <br>
  यांच्या योगें शेगांव नगरी । <br>
  झाली प्रती पंढरपूर ॥६३॥ <br><br>
  साधूनें आणिल्या मनांत । <br>
  काय एक नाहीं होत । <br>
  सच्चिदानंदबाबाप्रत । <br>
  ज्ञानेश्वरानें उठविलें ॥६४॥ <br><br>
  त्याचें पाहूं प्रत्यंतर । <br>
  जा जा कोणी जोडा कर । <br>
  नका करुं रे उगा उशीर । <br>
  वेळ अंतसमायाची ॥६५॥ <br><br>
  तें ऐकोनी एक आप्त । <br>
  आला बंकटसदनाप्रत । <br>
  जानरावाची हकीकत । <br>
  बंकटलाला कथन केली ॥६६॥ <br><br>
  जानराव देशमुखाचा । <br>
  समय अंतकाळाचा । <br>
  आला आहे जवळी साचा । <br>
  म्हणून आलों तुम्हांकडे ॥६७॥ <br><br>
  महाराजांचें चरणतीर्थ । <br>
  द्या कृपा करोनी मजप्रत । <br>
  तें तीर्थ नोहे अमृत । <br>
  होईल वाटे जानरावा ॥६८॥ <br><br>
  बंकटलाल म्हणे त्यावरी । <br>
  ही गोष्ट न माझ्या करीं । <br>
  तुम्ही करावी अत्यादरीं । <br>
  विनवणी आमुच्या वडिलाला ॥६९॥ <br><br>
  जसें त्यानें सुचविलें । <br>
  तैसें आप्तें तात्काळ केलें । <br>
  भवानीरामा विनविलें । <br>
  द्याया तीर्थ समर्थांचें ॥७०॥ <br><br>
  भवानीराम सज्जन । <br>
  होता मनाचा दयाळु पूर्ण । <br>
  दुसर्‍याचें दुःख ऐकून । <br>
  सज्जन तेच विव्हळ होती ॥७१॥ <br><br>
  प्याल्यामध्यें भरुन पाणी । <br>
  समर्थांच्या लाविलें चरणीं । <br>
  आणि केली विनवणी । <br>
  तीर्थ देतो जानरावा ॥७२॥ <br><br>
  समर्थें तुकाविली मान । <br>
  तीर्थ पाजिलें नेऊन । <br>
  जानरावाकारण । <br>
  घरघर घशाची बंद झाली ॥७३॥ <br><br>
  हात हालवूं लागला । <br>
  किंचित् डोळा उघडीला । <br>
  उतार पडूं लागला । <br>
  तीर्थप्रभावें देशमुखासी ॥७४॥ <br><br>
  तो पाहतां प्रकार । <br>
  आनंदले नारीनर । <br>
  सत्पुरुषाचा अधिकार । <br>
  आला कळून सर्वांसी ॥७५॥ <br><br>
  मग औषधी बंद केली । <br>
  तीर्थीं भिस्त ठेविली । <br>
  ज्या-योगीं लाभती झाली । <br>
  आरोग्यता जानरावा ॥७६॥ <br><br>
  आठ दिवसांमाझारीं । <br>
  जानराव झाला पहिल्यापरी । <br>
  भवानीरामाचीये घरीं । <br>
  आला दर्शना समर्थांच्या ॥७७॥ <br><br>
  पहा संतांचें चरणतीर्थ । <br>
  साधनांत झालें अमृत । <br>
  संत न ते साक्षात्‌ । <br>
  देव कलीयुगीचे ॥७८॥ <br><br>
  येथें एक ऐसी शंका । <br>
  उत्थान पावे सहज देखा । <br>
  श्रीगजाननासारिखा संत होता शेगांवीं ॥७९॥ <br><br>
  मग तो तेथें असतांना । <br>
  गेलें न पाहिजे कोणी जाणा । <br>
  यमाजी पंताचीया सदना । <br>
  परि हाच आहे कुतर्क ॥८०॥ <br><br>
  संत मृत्यु ना टाळिती । <br>
  निसर्गाप्रमाणें वागती । <br>
  परि संकटांतें वारिती । <br>
  अगांतुक असल्यास ते ॥८१॥ <br><br>
  सच्चिदानंदबाबासी । <br>
  ज्ञानेशें उठविलें नेवाशासी । <br>
  परि ते अखेर आळंदीसी । <br>
  देह ठेविते झाले हो ॥८२॥ <br><br>
  याचें रहस्य इतुकेंचि आहे । <br>
  हें गंडांतर टाळिती पाहे । <br>
  तें टाळणें कांहींच नोव्हे । <br>
  अशक्य संत पुरुषाला ॥८३॥ <br><br>
  मृत्यूचे तीन प्रकार । <br>
  आहेत जगीं साचार । <br>
  त्यांचीं नांवें क्रमवार । <br>
  देतों तुम्हांकारणें ॥८४॥ <br><br>
  आध्यात्मिक आधिभौतिक । <br>
  आणि तिसरा तो आधिदैविक । <br>
  त्या तिघांमाजीं बलिष्ठ देख । <br>
  आध्यात्मिक मृत्यु असे ॥८५॥ <br><br>
  आधिभौतिकाची तयारी । <br>
  कुपथ्यानें होते खरी । <br>
  नाना प्रकारच्या शरीरीं । <br>
  व्याधि निर्माण होतात ॥८६॥ <br><br>
  त्यांचा जोर झाल्यावर । <br>
  मृत्यु येतो अखेर । <br>
  त्या मृत्यूचा परिहार । <br>
  करितां येतो औषधीनें ॥८७॥ <br><br>
  मात्र औषधी देणारा । <br>
  शास्त्रज्ञ असला पाहिजे पुरा । <br>
  औषधीचा पसारा । <br>
  आहे अवगत जयासी ॥८८॥ <br><br>
  एसा वैद्य भेटल्यास । <br>
  आधिभौतिकाचा होय नाश । <br>
  तैसे आधिदैविकास । <br>
  नवस सायास घालविती ॥८९॥ <br><br>
  हें गंडांतर रुपाचें । <br>
  मृत्यु दोन प्रकारचे । <br>
  भौतिक आणि दैविक साचे । <br>
  हे आहेत ख्यात जगीं ॥९०॥ <br><br>
  मृत्यु जो कां आध्यात्मिक । <br>
  तो कवणाच्यानें न टळे देख। <br>
  पाहा अर्जुनाचा बालक । <br>
  कृष्णासमक्ष पडला रणीं ॥९१॥ <br><br>
  तैसा जानरावाचा । <br>
  मृत्यु गंडांतर स्वरुपाचा । <br>
  होता तो टाळिला साचा । <br>
  समर्थतीर्थ देवोनिया ॥९२॥ <br><br>
  म्हणजे गंडांतरा कारण । <br>
  निवारिती साधुचरण । <br>
  तेंच आलें घडोन । <br>
  शेगांवामाझारीं ॥९३॥ <br><br>
  कांहीं मृत्यु नवसांनीं । <br>
  टाळिता येती या जनीं । <br>
  परी तो नवस श्रद्धेनीं । <br>
  केला पाहिजे विबुध हो ! ॥९४॥ <br><br>
  श्रद्धा पूर्ण असल्यावरी । <br>
  तीच मृत्यु टाळी खरी । <br>
  श्रद्धाच अवघ्या माझारीं । <br>
  सर्व बाजूंनीं श्रेष्ठ असे ॥९५॥ <br><br>
  चरणतीर्थ साधूचें । <br>
  तेंही टाळी मृत्यु साचे । <br>
  वरील दोन प्रकारचे । <br>
  परी तो साधु पाहिजे ॥९६॥ <br><br>
  साधू असल्या वेषधारी । <br>
  ऐसी न होय गोष्ट खरी । <br>
  माती न होय कस्तूरी । <br>
  हें ध्यानीं असूं द्या ॥९७॥ <br><br>
  षड्‌विकार धुतल्याविना । <br>
  अंगीं साधुत्व येईना । <br>
  आणि साधूविण होईना । <br>
  अघटित कृत्य केव्हांही ॥९८॥ <br><br>
  म्हणून बहुरुप्याकारण । <br>
  जपणें आहे अवश्य जाण । <br>
  उगीच पाहून पिवळेपण । <br>
  सोनें पितळेस मानूं नका ॥९९॥ <br><br>
  गजानन नव्हते वेषधारी । <br>
  ते पूर्ण साक्षात्कारी । <br>
  म्हणून तीर्थानें झाली बरी । <br>
  व्याधि जानरावाची ॥१००॥ <br><br>
  देशमुख बरा झाल्यावर । <br>
  भंडारा घातिला थोर । <br>
  साधुप्रीत्यर्थ साचार । <br>
  बंकटलालाचिये घरीं ॥१॥ <br><br>
  तीर्थें देशमुख बरा झाला । <br>
  परी स्वामीशीं पेंच पडला । <br>
  त्यांनीं मनासी विचार केला । <br>
  तो ऐका येणेंरितीं ॥२॥ <br><br>
  कडकपणा धरल्याविना । <br>
  ही उपाधी टळेना । <br>
  स्वार्थसाधु प्रापंचिकांना । <br>
  साधुत्वाची चाड नसे ॥३॥ <br><br>
  त्या दिवसापासून । <br>
  आणूं लागलें अवसान । <br>
  स्वामी महाराज दयाघन । <br>
  वरपांगी कडक झाले ॥४॥ <br><br>
  हा त्यांचा कडकपणा । <br>
  असह्य झाला इतरांना । <br>
  परी त्यांच्या भक्तांना । <br>
  कांहीं न त्याचें वाटलें ॥५॥ <br><br>
  जेवीं नरसिंह अवतार । <br>
  इतरांसी वाटला क्रूर । <br>
  परी कयाधूचा कुमार । <br>
  मुळीं न भ्याला त्या रुपा ॥६॥ <br><br>
  वाघीण इतरा भयंकर । <br>
  परी तिचें जें का असेल पोर । <br>
  तें तिच्याच अंगावर । <br>
  निर्भयपणें क्रीडा करी ॥७॥ <br><br>
  असो आतां गोष्ट दुसरी । <br>
  सांगतों मी तुम्हां खरी । <br>
  कस्तुरीच्या शेजारीं । <br>
  बसल्या माती मोल पावे ॥८॥ <br><br>
  चंदनाचा शेजार । <br>
  असला थोडा बहुत हिवर । <br>
  वासित होतो साचार । <br>
  हा न्याय निसर्गाचा ॥९॥ <br><br>
  वासित हिवर झालेला । <br>
  चंदन मानील आपणाला । <br>
  तरी त्याच्या फजितीला । <br>
  पारावार न राही पुढें ॥११०॥ <br><br>
  जेथें ऊंस निपजतो । <br>
  तेथेंच निवडुंग उगवतो । <br>
  जेथें मोगरा वाढतो । <br>
  तेथेंच येतो पिंगूळ ॥११॥ <br><br>
  जेथें साधु सज्जन । <br>
  तेथेंच मैंद निर्माण । <br>
  हिरे गारा एकवटून । <br>
  खाणीमाजी राहाती ॥१२॥ <br><br>
  स्थान एक म्हणून । <br>
  किंमत नाहीं समान । <br>
  तेज हिर्‍याचें हिर्‍यालागून । <br>
  भूषवी न गारेला ॥१३॥ <br><br>
  गार ती गारची राही । <br>
  पायाखालीं तुडविली जाई । <br>
  ऐसी स्थिति कधीं न येई । <br>
  अमोलिक हिर्‍याला ॥१४॥ <br><br>
  श्रीगजाननाचे सन्निध । <br>
  ऐसाच होता एक मैंद । <br>
  संतसेवा हाच मद । <br>
  अंगीं ज्याच्या भरला असे ॥१५॥ <br><br>
  तो सेवा करी वरी वरी । <br>
  भाव निराळा अंतरीं । <br>
  मिठाई पेढे सावरी । <br>
  समर्थांच्या नांवावर ॥१६॥ <br><br>
  भक्तगणांस ऐसे म्हणे । <br>
  मी समर्थकृपेचें पोसणें । <br>
  प्रत्येक काम माझ्याविणें । <br>
  होत नाहीं ये ठायां ॥१७॥ <br><br>
  कल्याण समर्थांचा । <br>
  अत्यंत आहे आवडीचा । <br>
  कधीं न खालीं जावयाचा । <br>
  शब्द माझा त्यांच्यापुढें ॥१८॥ <br><br>
  चिलीम त्यांची मीच भरी । <br>
  खाण्यापिण्याची तयारी । <br>
  निजांगें मीच करी । <br>
  अत्यंत मी आवडीचा ॥१९॥ <br><br>
  ऐसें लोकांस सांगतसे । <br>
  आपला सवरात करीतसे । <br>
  त्या अधमाचें नांव असें । <br>
  माळी विठोबा घाटोळ ॥१२०॥ <br><br>
  महाराज स्वयमेव शंकर । <br>
  हा बनला नंदिकेश्वर । <br>
  हमेशा करी गुरगुर । <br>
  आल्या गेल्या भक्तांवरी ॥२१॥ <br><br>
  तें अंतर्ज्ञानांनीं । <br>
  जाणिलें सर्व समर्थांनीं । <br>
  कौतुक केलें एके दिनीं । <br>
  तें ऐका विबुध हो ॥२२॥ <br><br>
  परस्थ कांहीं मंडळी । <br>
  शेगांवीं दर्शना आली । <br>
  तों मूर्ति होती निजलेली । <br>
  समर्थांची शय्येवर ॥२३॥ <br><br>
  हिय्या कुणाचा होईना । <br>
  जागे करण्या समर्थांना । <br>
  मंडळीस होती जाणा । <br>
  त्वरा पुढें जाण्याची ॥२४॥ <br><br>
  ते कुजबुज करुं लागले । <br>
  विठोबाला विनविते झाले । <br>
  विठोबा आम्हां पाहिजे गेलें । <br>
  येथून आतांच परगांवा ॥२५॥ <br><br>
  काम निकडीचें आहे फार । <br>
  कैसा करावा विचार । <br>
  महाराज तों शय्येवर । <br>
  असती निद्रिस्त जाहले ॥२६॥ <br><br>
  त्यांचें दर्शन घेतल्याविना । <br>
  आमचा पाय निघेना । <br>
  हें अवघड काम होईना । <br>
  तुझ्यावांचून ये ठायीं ॥२७॥ <br><br>
  तूं समर्थांच्या शिष्यांत । <br>
  मुख्य धोरणी महा धूर्त । <br>
  तुला आम्ही जोडितों हात । <br>
  एवढें काम करावें ॥२८॥ <br><br>
  ऐशा त्या स्तुतींनीं । <br>
  विठोबा फुगून गेला मनीं । <br>
  त्यानें जाऊन तत्‌क्षणीं । <br>
  महाराजांस उठविलें ॥२९॥ <br><br>
  मंळळींचें काम झालें । <br>
  परी संकट ओढवलें । <br>
  घाटोळ विठोबावरी भले । <br>
  कर्म जैसें तैसें फल ॥१३०॥ <br><br>
  समर्थांच्या हातीं काठी । <br>
  एक होती भली मोठी । <br>
  तीच त्यांनीं घातली पाठीं । <br>
  त्या विठोबा माळ्याच्या ॥३१॥ <br><br>
  म्हणती बेटा माजून गेला । <br>
  आपुली स्थिति विसरला । <br>
  या लुच्च्यानें आरंभीला । <br>
  उघड उघड व्यापार कीं ॥३२॥ <br><br>
  मला लावितो उपाधी । <br>
  घंटे आणून बांधितो मठीं । <br>
  घुमारे घाली कधीं कधीं । <br>
  ऐसा अती नीच हा ॥३३॥ <br><br>
  त्या घुमर्‍याचें बक्षीस । <br>
  घे मी देतों तुला खास । <br>
  तुजवरी केल्या कृपेस । <br>
  होईन प्रभूचा अपराधी ॥३४॥ <br><br>
  सोमला साखर मानूं नये । <br>
  विषा जवळ करुं नये । <br>
  तस्करासी लेखूं नये । <br>
  निजकंठींचा ताईत ॥३५॥ <br><br>
  ऐशा रीतीं ठोकला । <br>
  छडयाखालीं घाटोळाला । <br>
  विठोबा तो पळाला । <br>
  पुनः न आला मागुती ॥३६॥ <br><br>
  खरे जे कां असती संत । <br>
  ते ते ऐसेंच करितात । <br>
  ढोंगी मात्र जातात । <br>
  अशाचिया करांमध्यें ॥३७॥ <br><br>
  म्हणजे अधिकारावांचून । <br>
  ढोंगी बैसती होऊन । <br>
  संत नादीं लावण्या जन । <br>
  ऐसे प्रकार किती तरी ॥३८॥ <br><br>
  मतलबी त्यांना साथ देती । <br>
  उदो उदो त्यांचा करिती । <br>
  भलभलते सांगताती । <br>
  साक्षात्कार ढोंग्यांचे ॥३९॥ <br><br>
  तेणें दोघांचें काम होई । <br>
  अपार पैसा मिळविला जाई । <br>
  परी ही प्रथा बरी नाहीं । <br>
  समाज जाईल रसातळा ॥१४०॥ <br><br>
  खरे जे कां असती संत । <br>
  ईश्वराचे निःसीम भक्त । <br>
  त्यांना न मुळीं आवडत । <br>
  सान्निध्य त्या षंढाचें ॥४१॥ <br><br>
  पतिव्रतेसी शेजार । <br>
  कसबिणीचा कां पटणार ? । <br>
  सोन्याप्रती अलंकार । <br>
  काय शोभती कथलाचे ? ॥४२॥ <br><br>
  संत शठातें राखिती । <br>
  परी न त्याला महत्त्व देती । <br>
  ती जगांतील एक व्यक्ति । <br>
  कृतकर्म भोगण्या आली असे ॥४३॥ <br><br>
  ऐसें मानसीं समजून । <br>
  त्याविषयीं धरिती मौन । <br>
  जेवीं निवडुंगालागून । <br>
  स्थान भूमी देते हो ॥४४॥ <br><br>
  मोगरा निवडुंग आणि शेर । <br>
  हीं जमीनीचीं लेंकरं । <br>
  परि किंमतीचा प्रकार । <br>
  निरनिराळा तो तिघांचा ॥४५॥ <br><br>
  मोगर्‍याचें संरक्षण । <br>
  करिती निवडुंगाचें दहन । <br>
  चिलटांसाठीं बांधून । <br>
  शेर ठेविती दारावरी ॥४६॥ <br><br>
  तेवीं संत भूमिपरी । <br>
  रक्षण अवघ्यांचें करिती जरी । <br>
  किंमतीमाजीं ठेविती परी । <br>
  गुणांप्रमाणें भेद पाहा ॥४७॥ <br><br>
  नशीब विठोबा घाटोळाचें । <br>
  अति खडतर होतें साचें । <br>
  पाय लाभून साधूचें । <br>
  दैवें दूर झालें कीं ॥४८॥ <br><br>
  जरी तो ना ढोंग करिता । <br>
  तरी योग्यतेप्रती चढता । <br>
  संतांची ती योग्यता । <br>
  त्यानें मुळीं ना जाणिली ॥४९॥ <br><br>
  कल्पवृक्षाच्या तळवटीं । <br>
  बसून इच्छिली गारगोटी । <br>
  वा मागितली करवंती । <br>
  कामधेनूपासून ॥१५०॥ <br><br>
  ऐसें न कोणी करावें । <br>
  संतापासीं राहून बरवें । <br>
  तेथें विचारा ठेवावें । <br>
  अहर्निशीं जागृत ॥५१॥ <br><br>
  हा दासगणूविरचित । <br>
  श्रीगजाननविजय ग्रंथ । <br>
  तारक होवो भवाब्धींत । <br>
  अवघ्या भाविकांकारणें ॥१५२॥ <br><br>


  श्रीहरिहरापर्णमस्तु ॥ शुभं भवतु ॥ ॥ इति तृतीयोऽध्यायः समाप्तः ॥
</div>