<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या ४१ ते ५०</strong>
  <br>
  <br>बहू हिंडतां सौख्य होणार नाहीं।
  <br>शिणावे परी नातुडे हीत कांहीं॥
  <br>विचारें बरें अंतरा बोधवीजे।
  <br>मना सज्जना राघवीं वस्ति कीजे॥४१॥
  <br>
  <br>बहुतांपरी हेंचि आतां धरावें।
  <br>रघूनायका आपुलेसे करावें॥
  <br>दिनानाथ हें तोडरीं ब्रीद गाजे।
  <br>मना सज्जना राघवीं वस्ति कीजे॥४२॥
  <br>
  <br>मना सज्जना एक जीवीं धरावें।
  <br>जनी आपुलें हीत तूवां करावें॥
  <br>रघूनायकावीण बोलो नको हो।
  <br>सदा मानसीं तो निजध्यास राहो॥४३॥
  <br>
  <br>मना रे जनीं मौनमुद्रा धरावी।
  <br>कथा आदरे राघवाची करावी॥
  <br>नसें राम ते धाम सोडूनि द्यावे।
  <br>सुखालागिं आरण्य सेवीत जावे॥४४॥
  <br>
  <br>जयाचेनि संगे समाधान भंगे।
  <br>अहंता अकस्मात येऊनि लागे॥
  <br>तये संगतीची जनीं कोण गोडी।
  <br>जिये संगतीनें मती राम सोडी॥४५॥
  <br>
  <br>मना जे घडी राघवेवीण गेली।
  <br>जनीं आपुली ते तुवां हानि केली॥
  <br>रघूनायकावीण तो शीण आहे।
  <br>जनी दक्ष तो लक्ष लावूनि पाहे॥४६॥
  <br>
  <br>मनीं लोचनीं श्रीहरी तोचि पाहे।
  <br>जनीं जाणतां मुक्त होऊनि राहे॥
  <br>गुणीं प्रीति राखे क्रमू साधनाचा।
  <br>जगीं धन्य तो दास सर्वोत्तमाचा॥४७॥
  <br>
  <br>सदा देवकाजीं झिजे देह ज्याचा।
  <br>सदा रामनामें वदे नित्य साचा॥
  <br>स्वधर्मेचि चाले सदा उत्तमाचा।
  <br>जगीं धन्य तो दास सर्वोत्तमाचा॥४८॥
  <br>
  <br>सदा बोलण्यासारिखे चालताहे।
  <br>अनेकीं सदा एक देवासि पाहे॥
  <br>सगूणी भजे लेश नाही भ्रमाचा।
  <br>जगीं धन्य तो दास सर्वोत्तमाचा॥४९॥
  <br>
  <br>नसे अंतरी काम नानाविकारी।
  <br>उदासीन जो तापसी ब्रह्मचारी॥
  <br>निवाला मनीं लेश नाही तमाचा।
  <br>जगी धन्य तो दास सर्वोत्तमाचा॥५०॥
</div>