<div class="adhyaatma-page">
  <h1 alt="gajanan vijay grantha">श्री गजानन विजय ग्रंथ</h1>
  <h2 alt="adhyay 19 adhyaay 19">अध्याय १९</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  जयजयाजी आनंदकंदा । <br>
  जयजयादि अभेदा । <br>
  माझें नमन तुझ्या पदा । <br>
  असो सर्वदा अनन्यभावें <strong>॥१॥</strong> <br><br>

  हे राघवा रघुपती । <br>
  पाव आतां शीघ्र गती । <br>
  माझा अंत पहाशी किती ? । <br>
  हें कांहीं कळेना <strong>॥२॥</strong> <br><br>

  खर्‍या थोरांशी कठोरता । <br>
  नाहीं शोभत अनंता । <br>
  याचा विचार कांहीं चित्ता । <br>
  करा आपुल्या ये काळीं <strong>॥३॥</strong> <br><br>

  मी दीनवाणें मारितों हांका । <br>
  मला दगा देऊं नका । <br>
  हे जगदीशा जगन्नायका । <br>
  पावा दासगणूस <strong>॥४॥</strong> <br><br>

  महाराज असतां शेगांवांत । <br>
  विप्र एक काशिनाथ । <br>
  जो खंडेरावाचा होय सुत । <br>
  गर्दे उपनांव जयाचें <strong>॥५॥</strong> <br><br>

  तो आला दर्शना । <br>
  समर्थांच्या वंदिले चरणां । <br>
  मूर्ति पाहून त्याच्या मना । <br>
  आनंद झाला अतिशय <strong>॥६॥</strong> <br><br>

  माझ्या सन्माननीय वडिलानें । <br>
  जीं जीवन्मुक्‍ताचीं लक्षणें । <br>
  लिहिलीं अनुभवानें । <br>
  त्याची प्रत्यक्ष मूर्ति ही <strong>॥७॥</strong> <br><br>

  माझें भाग्य धन्य धन्य । <br>
  म्हणून हें पाहण्या चरण । <br>
  आलों खामगांवाहून । <br>
  त्याचें सार्थक झालें कीं <strong>॥८॥</strong> <br><br>

  तों समर्थांनीं लीला केली । <br>
  कोपरखिळी मारिली । <br>
  काशीनाथाच्या पाठीस भली । <br>
  आपुल्या परमकृपेनें <strong>॥९॥</strong> <br><br>

  जा तुझा हेत पुरला । <br>
  वाट पाहे तारवाला । <br>
  भाषणें घोंटाळला । <br>
  काशिनाथ मानसीं <strong>॥१०॥</strong> <br><br>

  म्हणे काम ना माझें ये ठाईं । <br>
  मी न आलों मागण्या कांहीं । <br>
  तारवाला शिपाई । <br>
  वाट पहातो काय हें ? <strong>॥११॥</strong> <br><br>

  त्याचें गूध कळेना । <br>
  पुसण्या छाती होईना । <br>
  निमुटपणें वंदून चरणा । <br>
  गेला निघून खामगांवीं <strong>॥१२॥</strong> <br><br>

  तों तारवाला शिपाई । <br>
  उभा दारांत होता पाही । <br>
  तार घेतली घाई घाई । <br>
  कशाची ती बघण्यास <strong>॥१३॥</strong> <br><br>

  तारेंत हा मजकूर । <br>
  तुमचा केला तक्‍रुर । <br>
  मुनसफीच्या हुद्दयावर । <br>
  मोर्शी तालुक्याकारणें <strong>॥१४॥</strong> <br><br>

  तें पाहतां आनंदला । <br>
  कोपरखिळीचा अर्थ कळला । <br>
  त्या काशिनाथ पंताला । <br>
  पहा संतांचें ज्ञान कैसें ? <strong>॥१५॥</strong> <br><br>

  असो एकदां नागपुरीं । <br>
  समर्थांची गेली स्वारी । <br>
  गोपाळ बुटीचीया घरीं । <br>
  त्याच्या अति आग्रहानें <strong>॥१६॥</strong> <br><br>

  ही भोसल्याची राजधानी । <br>
  पूर्वकालीं होती जाणी । <br>
  त्या शहराची आज दिनीं । <br>
  दैना झाली विबुध हो <strong>॥१७॥</strong> <br><br>

  स्वातंत्र्यरुपी प्राण गेला । <br>
  खरा धनी याचक ठरला । <br>
  परक्यांचा बोलबाला । <br>
  झाला जया शहरांत <strong>॥१८॥</strong> <br><br>

  गज घोडे पालख्या अपार । <br>
  नाहींशा झाल्या साचार । <br>
  रस्त्यानें फिरे मोटार । <br>
  अति जोरानें विबुध हो <strong>॥१९॥</strong> <br><br>

  असो हा महिमा काळाचा । <br>
  नाहीं दोष कवणाचा । <br>
  वाडा गोपाळ बुटीचा । <br>
  होता सिताबर्डीवर <strong>॥२०॥</strong> <br><br>

  त्या भव्य सदनांत । <br>
  नेऊन ठेविले सद्‌गुरुनाथ । <br>
  जैसा वाघ किल्ल्यांत । <br>
  कोंडोनिया टाकावा <strong>॥२१॥</strong> <br><br>

  बुटीचा ऐसा विचार । <br>
  या ताबर्डीवर । <br>
  महाराज ठेवावे निरंतर । <br>
  जाऊं न द्यावें शेगांवा <strong>॥२२॥</strong> <br><br>

  अक्रूरानें कृष्णाला । <br>
  जैसा मथुरेमाजीं नेला । <br>
  तोच प्रकार येथें झाला । <br>
  काय वर्णन करावें ? <strong>॥२३॥</strong> <br><br>

  शेगांव पडलें भणभणीत । <br>
  अवघे लोक दुःखित । <br>
  विनविती हरी पाटलाप्रत । <br>
  महाराज येथें आणा हो <strong>॥२४॥</strong> <br><br>

  कुडीमधून गेला प्राण । <br>
  कोण पुसे तिजलागून ? । <br>
  तैसें समर्थांवांचून । <br>
  शेगांव हें प्रेत पहा <strong>॥२५॥</strong> <br><br>

  तुम्ही गांवचे जमेदार । <br>
  करा याचा विचार । <br>
  बुटी मोठा सावकार । <br>
  तेथें न आमुचा लाग लागे <strong>॥२६॥</strong> <br><br>

  टक्कर हत्तीहत्तींची । <br>
  होणें आहे योग्य साची । <br>
  येथें आम्हांसम कोल्ह्याची । <br>
  नाहीं मुळीं किंमत <strong>॥२७॥</strong> <br><br>

  जंबुमाळीसी लढायाला । <br>
  मारुती हाच योग्य ठरला । <br>
  जिंकावया कर्णाला । <br>
  झाली योजना अर्जुनाची <strong>॥२८॥</strong> <br><br>

  तुम्हीं नागपुराप्रती जावें । <br>
  समर्थांसी घेऊन यावें । <br>
  आम्हां अवघ्यांस सुखवावें । <br>
  हीच आहे विनंति <strong>॥२९॥</strong> <br><br>

  इकडे बुटीच्या घरांत । <br>
  आजुर्दे राहिले संत । <br>
  जेवीं हस्तिनापुरांत । <br>
  कृष्ण नाहीं आनंदला <strong>॥३०॥</strong> <br><br>

  महाराज म्हणती बुटीसी । <br>
  जाऊं दे मज शेगांवासी । <br>
  या आपुल्या भव्य सदनासी । <br>
  ठेवून आम्हां घेऊं नको <strong>॥३१॥</strong> <br><br>

  तें बुटी मुळींच मानीना । <br>
  समर्था जाऊं देईना । <br>
  अनागोंदीचा रामराणा । <br>
  बुटी वाटे निःसंशय <strong>॥३२॥</strong> <br><br>

  बुटी भाविक होता जरी । <br>
  अहंता नव्हती गेली खरी । <br>
  श्रीमंतीचा गर्व भारी । <br>
  त्याच्या ठाईं वसतसे <strong>॥३३॥</strong> <br><br>

  रोज ब्राह्मणभोजन । <br>
  समर्थांपुढें सदा भजन । <br>
  परी शेगांवचे येत जन । <br>
  बंदी त्या तो करीतसे <strong>॥३४॥</strong> <br><br>

  जाऊं न देई दर्शना । <br>
  शेगांवचे लोकांना । <br>
  बिगरपरवानगी श्रीमंतसदना । <br>
  जातां नये कवणासी <strong>॥३५॥</strong> <br><br>

  शेगांवचे लोक भले । <br>
  जरी आणावया गेले । <br>
  परी न कांहीं उपाय चाले । <br>
  गेले तसेच आले परत <strong>॥३६॥</strong> <br><br>

  इकडे भक्त पाटील हरी । <br>
  कांहीं मंडळी बरोबरी । <br>
  घेऊन निघाला नागपुरीं । <br>
  समर्थासी आणावया <strong>॥३७॥</strong> <br><br>

  बसला अग्निरथांत । <br>
  त्याच वेळीं वदले संत । <br>
  त्या गोपाळबुटीप्रत । <br>
  येणें रीतीं तें ऐका <strong>॥३८॥</strong> <br><br>

  अरे गोपाळा पाटील हरी । <br>
  निघाला यावया नागपुरीं । <br>
  तो येण्याच्या आंत परी । <br>
  मला येथून जाऊं दे <strong>॥३९॥</strong> <br><br>

  तो येथें आल्यावर । <br>
  शांतता नाहीं राहणार । <br>
  तो पडला जमेदार । <br>
  याचा विचार करावा <strong>॥४०॥</strong> <br><br>

  तुझ्या धनाच्या जोरावरी । <br>
  उडया या जाण निर्धारी । <br>
  तो मनगटाच्या बळावरी । <br>
  नेईल मजला येथून <strong>॥४१॥</strong> <br><br>

  हरी पाटील तेथें आला । <br>
  शिपायानें अटकाव केला । <br>
  परी तो न त्यानें मानिला । <br>
  प्रवेश केला सदनांत <strong>॥४२॥</strong> <br><br>

  गोपाळ बुटीचिया घरीं । <br>
  पंगत होती थोर खरी । <br>
  पाटील आल्याच्या अवसरीं । <br>
  आले ब्राह्मण भोजना <strong>॥४३॥</strong> <br><br>

  ताटें चांदीचीं अवघ्यांस । <br>
  शिसमचे पाट बसण्यास । <br>
  होत्या पातळ पदार्थांस । <br>
  वाटया जवळ चांदीच्या <strong>॥४४॥</strong> <br><br>

  नानाविध पक्वान्नें । <br>
  होतीं भोजनाकारणें । <br>
  मध्यभागीं आसन त्यानें । <br>
  मांडिलें समर्थ बसण्यास <strong>॥४५॥</strong> <br><br>

  ऐशी बुटीची श्रीमंती । <br>
  तिचें वर्णन करुं किती ? । <br>
  ज्याला कुबेर बोलती । <br>
  लोक नागपूर प्रांतींचा <strong>॥४६॥</strong> <br><br>

  असो हरी पाटील सदनांत । <br>
  आले समर्था नेण्याप्रत । <br>
  तो महाराज निघाले धांवत । <br>
  द्वारीं त्यास भेटावया <strong>॥४७॥</strong> <br><br>

  वांसरा गाय पाहून । <br>
  जैसी येई धांवून । <br>
  तैसें स्वामी गजानन । <br>
  पाटलासाठीं धांवले <strong>॥४८॥</strong> <br><br>

  चाल हरी शेगांवासी । <br>
  येथें मुळीं न राहणें मसी । <br>
  तूं आलास न्यावयासी । <br>
  हें फार बरें झालें <strong>॥४९॥</strong> <br><br>

  समर्थ जाऊं लागले । <br>
  तें गोपाळानें पाहिलें । <br>
  अनन्यभावें चरण धरिले । <br>
  समर्थाचे येऊन <strong>॥५०॥</strong> <br><br>

  विक्षेप माझा गुरुराया ! । <br>
  नका करुं या समया । <br>
  दोन घांस घेऊनियां । <br>
  इच्छित स्थला मग जावें <strong>॥५१॥</strong> <br><br>

  तैसेंच बुटी पाटलासी । <br>
  बोलूं लागले विनयेंसी । <br>
  तुम्ही घेऊन प्रसादासी । <br>
  जावें हेंच मागणें <strong>॥५२॥</strong> <br><br>

  येथें न रहाती महाराज । <br>
  हें समजून आलें आज । <br>
  पंक्तींत माझी राखा लाज । <br>
  तुम्हीच पाटील येधवां <strong>॥५३॥</strong> <br><br>

  आतांच समर्थ गेले जरी । <br>
  लोक उपाशी उठतील तरी । <br>
  आणि अवघ्या नागपुरीं । <br>
  टीका माझी होईल पहा <strong>॥५४॥</strong> <br><br>

  भोजनें होईपर्यंत । <br>
  महाराज राहिले तेथ । <br>
  शेगांवची समस्त । <br>
  मंडळी पंक्तीस जेवली <strong>॥५५॥</strong> <br><br>

  भोजनोत्तर तयारी । <br>
  निघण्याची ती झाली खरी । <br>
  दर्शनाची भीड भारी । <br>
  झाली बुटीच्या वाडयांत <strong>॥५६॥</strong> <br><br>

  कुटुंब गोपाळ बुटीचें । <br>
  जानकाबाई नांवाचें । <br>
  परम भाविक होते साचें । <br>
  गृहलक्ष्मीच होती जी <strong>॥५७॥</strong> <br><br>

  तिनें केली विनवणी । <br>
  महाराजांचे चरणीं । <br>
  माझा हेतु मनींच्या मनीं । <br>
  बसूं पहातो गुरुराया ! <strong>॥५८॥</strong> <br><br>

  तईं महाराज बोलले । <br>
  तुझ्या मना मीं जाणीतलें । <br>
  ऐसें म्हणून लाविलें । <br>
  कुंकूं तिच्या कपाळास <strong>॥५९॥</strong> <br><br>

  आणखी एक पुत्र तुला । <br>
  परम सद्‌गुणी होईल भला । <br>
  अंतीं जाशील वैकुंठाला । <br>
  सौभाग्यासह बाळे ! तूं <strong>॥६०॥</strong> <br><br>

  ऐसा आशीर्वाद देऊन । <br>
  निघते झाले दयाघन । <br>
  त्या सिताबर्डीहून । <br>
  आले रघूजीच्या घरीं <strong>॥६१॥</strong> <br><br>

  हा भोसला राजा रघूजी । <br>
  उदार मनाचा भक्त गाजी । <br>
  ज्यानें ठेविला राम राजी । <br>
  आपुल्या शुद्ध वर्तनें <strong>॥६२॥</strong> <br><br>

  त्याचें लौकीकीं राज्य गेलें । <br>
  जें अशाश्वत होतें भलें । <br>
  शाश्वत स्वरुपाचें आलें । <br>
  सद्‌गुरुभक्तीचें राज्य घरा <strong>॥६३॥</strong> <br><br>

  उत्तम प्रकारचा आदर । <br>
  केला राजानें साचार । <br>
  त्याचा घेऊन पाहुणचार । <br>
  रामटेकासी गेले पुढें <strong>॥६४॥</strong> <br><br>

  तेथें रामाचें दर्शन । <br>
  घेऊन आले परतून । <br>
  शेगांवच्या मठा जाण । <br>
  हरीपाटलासमवेत <strong>॥६५॥</strong> <br><br>

  धार-कल्याणचे रंगनाथ । <br>
  जे थोर साधु मोंगलाईंत । <br>
  होते ते भेटण्याप्रत । <br>
  समर्था आले शेगांवीं <strong>॥६६॥</strong> <br><br>

  अध्यात्माचीं बोलणीं । <br>
  सांकेतिक केलीं दोघांनीं । <br>
  त्याचा भावार्थ जाणण्या कोणी । <br>
  तेथें नव्हता समर्थ <strong>॥६७॥</strong> <br><br>

  श्रीवासुदेवानंद सरस्वती । <br>
  कर्ममार्गी ज्याची प्रीति । <br>
  कृष्णातटाका ज्याची महती । <br>
  माणगांवीं जन्म ज्यांचा <strong>॥६८॥</strong> <br><br>

  ते येण्याचे अगोदर । <br>
  बाळाभाऊस साचार । <br>
  बोलते झाले गुरुवर । <br>
  स्वामी गजानन सिद्ध योगी <strong>॥६९॥</strong> <br><br>

  अरे बाळा उदयिक । <br>
  माझा बंधु येतो एक । <br>
  मजलागीं भेटण्या देख । <br>
  त्याचा आदर करावा <strong>॥७०॥</strong> <br><br>

  तो आहे कर्मठ भारी । <br>
  म्हणून उद्यां पथांतरीं । <br>
  चिंध्या न पडूं द्या निर्धारी । <br>
  अंगण स्वच्छ ठेवा रे <strong>॥७१॥</strong> <br><br>

  चिंधी कोठें पडेल जरी । <br>
  तो कोपेल निर्धारी। <br>
  जमदग्नीची आहे दुसरी । <br>
  प्रतिमा त्या स्वामीची <strong>॥७२॥</strong> <br><br>

  तो कर्‍हाडा ब्राह्मण । <br>
  शुचिर्भूत ज्ञानसंपन्न । <br>
  हें त्याचें कर्मठपण । <br>
  कवचापरी समजावें <strong>॥७३॥</strong> <br><br>

  ऐसें बाळास आदलें दिवशीं । <br>
  सांगते झाले पुण्यराशी । <br>
  तों एक प्रहर दिवसासी । <br>
  स्वामी पातले ते ठायां <strong>॥७४॥</strong> <br><br>

  एकमेकांसी पाहतां । <br>
  दोघे हंसले तत्त्वतां । <br>
  हर्ष उभयतांच्या चित्ता । <br>
  झाला होता अनिवार <strong>॥७५॥</strong> <br><br>

  एक कर्माचा सागर । <br>
  एक योगयोगेश्वर । <br>
  एक मोगरा सुंदर । <br>
  एक तरु गुलाबाचा <strong>॥७६॥</strong> <br><br>

  एक गंगाभागीरथी । <br>
  एक गोदा निश्चिती । <br>
  एक साक्षात् पशुपती । <br>
  एक शेषशायी नारायण <strong>॥७७॥</strong> <br><br>

  स्वामी जेव्हां मठांत आले । <br>
  तेव्हां गजानन होते बैसले । <br>
  आपल्या पलंगावरी भले । <br>
  चिटक्या करानें वाजवीत <strong>॥७८॥</strong> <br><br>

  स्वामी येतां चिटकी थांबलि । <br>
  दृष्टादृष्ट दोघां झाली । <br>
  तैं स्वामींनीं विचारिली । <br>
  आज्ञा परत जावया <strong>॥७९॥</strong> <br><br>

  फार बरें म्हणून । <br>
  गजाननें तुकविली मान । <br>
  स्वामी गेले निघून । <br>
  बाळास कौतुक वाटलें <strong>॥८०॥</strong> <br><br>

  बाळा म्हणे गुरुराया । <br>
  हें दृश्य पाहूनियां । <br>
  संशय उपजला चित्ता ठायां । <br>
  त्याची निवृत्ति करा हो <strong>॥८१॥</strong> <br><br>

  त्याचा मार्ग अगदीं भिन्न । <br>
  तुमच्या ह्या मार्गाहून । <br>
  ऐसें साच असून । <br>
  तुमचा बंधु कसा तो ? <strong>॥८२॥</strong> <br><br>

  ऐसा प्रश्न ऐकिला । <br>
  समर्थ देती उत्तर त्याला । <br>
  बरवा प्रश्न बाळा केला । <br>
  त्वां हा आज आम्हांतें <strong>॥८३॥</strong> <br><br>

  ईश्वराकडे जाण्याचे । <br>
  तीन मार्ग असती साचे । <br>
  हे तिन्ही मार्ग ज्ञानाचे । <br>
  गांवा जाऊन मिळतात <strong>॥८४॥</strong> <br><br>

  स्वरुपें त्यांचीं भिन्न भिन्न । <br>
  दिसतीं पाहणारांकारण । <br>
  तेणें घोटाळा वरितें मन । <br>
  पाहाणारांचें राजसा ! <strong>॥८५॥</strong> <br><br>

  सोंवळें ओंवळें संध्यास्नान । <br>
  व्रत उपोषणें अनुष्ठान । <br>
  या कृत्यांलागून । <br>
  अंगें म्हणावीं कर्माचीं <strong>॥८६॥</strong> <br><br>

  हीं अंगें जो आचरी । <br>
  निरालसपणें खरीं । <br>
  तोच समजावा भूवरी । <br>
  ब्रह्मवेत्ता कर्मठ <strong>॥८७॥</strong> <br><br>

  अधिक न्यून येथें होतां । <br>
  कर्ममार्ग न ये हातां । <br>
  म्हणून विशेष तत्परता । <br>
  ठेविली पाहिजे आचरणीं <strong>॥८८॥</strong> <br><br>

  येथें एवढीच खबरदारी । <br>
  घ्यावी लागते जाण खरी । <br>
  परांकारणें दुरुत्तरीं । <br>
  कदा त्यानें ताडूं नये <strong>॥८९॥</strong> <br><br>

  आतां भक्तिमार्गाचें । <br>
  ऐक हें लक्षण साचें । <br>
  भक्तिपंथानें जाणाराचें । <br>
  मन पाहिजे शुद्ध अती <strong>॥९०॥</strong> <br><br>

  मलीनता मनाठायीं । <br>
  अंशेंही राहिल्या पाही । <br>
  त्याच्या हातां येत नाहीं । <br>
  भक्तिरहस्य बापा ! रे <strong>॥९१॥</strong> <br><br>

  दया प्रेम लीनता । <br>
  अंगीं पाहिजे तत्त्वतां । <br>
  श्रवणीं-पूजनीं आस्था । <br>
  पाहिजे त्याची विशेष <strong>॥९२॥</strong> <br><br>

  मुखामाजीं नामस्मरण । <br>
  करणें हरीस जाणून । <br>
  ऐशीं अंगें असतीं जाण । <br>
  या भक्ति-मार्गाला <strong>॥९३॥</strong> <br><br>

  या अंगासह जो भक्त करी । <br>
  त्यालाच भेटे श्रीहरी । <br>
  भक्तिमार्गाची नये सरी । <br>
  त्याचा विधि सोपा असे <strong>॥९४॥</strong> <br><br>

  परी तो करण्या आचरण । <br>
  कर्माहून कठीण जाण । <br>
  जेवीं गगनानें जवळपण । <br>
  नेत्रालागीं दिसतसे <strong>॥९५॥</strong> <br><br>

  आतां योगमार्ग तिसरा । <br>
  सांगतों मी ऐक खरा । <br>
  या योगमार्गाचा पसारा । <br>
  दोघांपेक्षां जास्त असे <strong>॥९६॥</strong> <br><br>

  परी हा पसारा निश्चयेंसी । <br>
  आहे ज्याचा त्याचे पासीं । <br>
  योगमार्ग साधण्यासी । <br>
  बाहेरचें न कांहीं लागे <strong>॥९७॥</strong> <br><br>

  जेवढें आहे ब्रह्मांडांत । <br>
  तेवढें आहे पिंडांत । <br>
  त्या पिंडांतील साहित्य । <br>
  घेऊन योग साधावा <strong>॥९८॥</strong> <br><br>

  आसनें रेचक कुंभक । <br>
  इडापिंगलेचे भेद देख । <br>
  धौती मुद्रात्राटक । <br>
  कळलें पाहिजे मानवां <strong>॥९९॥</strong> <br><br>

  कुंडली आणि सुषुम्ना । <br>
  यांचें ज्ञान पाहिजे जाणा । <br>
  आधीं योग करणारांना । <br>
  तरीच तो साधेल <strong>॥१००॥</strong> <br><br>

  या तिन्ही मार्गांचें । <br>
  अंतिम फळ ज्ञान साचें । <br>
  परी तें ज्ञान प्रेमाचें । <br>
  *वीण असतां कामा नये <strong>॥१॥</strong> <br><br>

  जें जें कृत्य प्रेमावीण । <br>
  तें तें अवघें आहे शीण । <br>
  म्हणून प्रेमाचें रक्षण । <br>
  करणें तिन्ही मार्गांत <strong>॥२॥</strong> <br><br>

  काळा गोरा खुजा थोर । <br>
  कुरुप आणि सुंदर । <br>
  हे शरीराचे प्रकार । <br>
  त्याची न बाधा आत्म्यातें <strong>॥३॥</strong> <br><br>
 
  आत्मा अवघ्यांचा आहे एक । <br>
  तेथें न पडे कदा फरक । <br>
  शरीरभेद व्यावहारिक । <br>
  त्याचें कौतुक कांहीं नसे <strong>॥४॥</strong> <br><br>

  तीच या तिन्ही मार्गांची । <br>
  स्थिति तंतोतंत साची । <br>
  बाह्य स्वरुपें भिन्न त्यांचीं । <br>
  परी मूळ कारण एक असे <strong>॥५॥</strong> <br><br>

  मुक्कामास गेल्यावर । <br>
  मार्गाचा न उरे विचार । <br>
  जो मार्गी चालतो नर । <br>
  महत्त्व त्याचें त्यास वाटे <strong>॥६॥</strong> <br><br>

  पंथ चालण्या आरंभ झाला । <br>
  परी मुक्कामास नाहीं गेला । <br>
  अशाचाच होतो भला । <br>
  तंटा पंथाभिमानानें <strong>॥७॥</strong> <br><br>

  या तिन्ही मार्गांचे ते पांथ । <br>
  मुक्कामीं पोंचल्या होती संत । <br>
  मग तयांच्या संबंधांत । <br>
  द्वैत नसे एतुलेंही <strong>॥८॥</strong> <br><br>

  वसिष्ठ वामदेव जमदग्नी । <br>
  अत्री पाराशर शांडिल्य मुनी । <br>
  हे कर्ममार्गाच्या सेवनीं । <br>
  मुक्कामासी पोंचले <strong>॥९॥</strong> <br><br>

  व्यास, नारद, कयाधू-कुमर । <br>
  मारुती, शबरी, अक्रूर । <br>
  उद्धव, सुदामा, पार्थ, विदूर । <br>
  हे गेले भक्तिमार्गें <strong>॥११०॥</strong> <br><br>

  श्रीशंकराचार्य गुरुवर । <br>
  मच्छिंद्र गोरख जालंदर । <br>
  हे चढले जिना थोर । <br>
  या योगमार्गाचा <strong>॥११॥</strong> <br><br>

  जो वसिष्ठा लाभ झाला । <br>
  तोच विदुराच्या पदरीं पडला । <br>
  तोच मच्छिंद्रानें भोगिला । <br>
  फळामाजीं फरक नसे <strong>॥१२॥</strong> <br><br>

  तीच प्रथा पुढें चालली । <br>
  येथें न शंका घ्यावी मुळीं । <br>
  कर्ममार्गाची रक्षिली । <br>
  बूज श्रीपादवल्लभें <strong>॥१३॥</strong> <br><br>

  नरसिंह सरस्वती यतिवर । <br>
  तैसेच झाले साचार । <br>
  ठिकाण ज्यांचें गाणगापूर । <br>
  वाडी औदुंबर ख्यात जगीं <strong>॥१४॥</strong> <br><br>

  नामा सांवता ज्ञानेश्वर । <br>
  सेना कान्हु चोखा महार । <br>
  दामाजीपंत ठाणेदार । <br>
  गेले भक्तिमार्गानीं <strong>॥१५॥</strong> <br><br>

  शेख महंमद श्रीगोंद्यांत । <br>
  आनंदी स्वामी जालन्यांत । <br>
  सुर्जी-अंजनगांवांत । <br>
  देवनाथ चाहाते योगाचे <strong>॥१६॥</strong> <br><br>

  तैसेंच आहे सांप्रत । <br>
  कर्ममार्गीं वासुदेव रत । <br>
  मीं धरला भक्तिपंथ । <br>
  आणिक बहुता जणांनीं <strong>॥१७॥</strong> <br><br>

  पळुसचे धोंडीबुवा । <br>
  सोनगीरचा नाना बरवा । <br>
  जालन्याचे यशवंतरावा । <br>
  भक्तिपंथ साध्य झाला <strong>॥१८॥</strong> <br><br>

  खाल्ला आम्मा ती विदेही । <br>
  तेवीं शिर्डीचे बाबा सांई । <br>
  गुलाबरावांचे ठायीं । <br>
  ज्ञानदृष्टि असे रे <strong>॥१९॥</strong> <br><br>

  पहा चांदूर तालुक्याचा । <br>
  वरखेडें नामें ग्रामाचा । <br>
  आडकूजी नामें संत साचा । <br>
  गेला याच वाटेनें <strong>॥१२०॥</strong> <br><br>

  मुर्‍हा गांवचें संतरत्‍न । <br>
  झिंगाजी तो होय जाण । <br>
  तेवीं नागपूरचे ताजुद्दीन । <br>
  भक्तिमार्गासी चहाते <strong>॥२१॥</strong> <br><br>

  या अवघ्या संतांचें । <br>
  आचरण भिन्न प्रकारचें । <br>
  परी अधिकारी कैवल्याचे । <br>
  ते बसले होउनी <strong>॥२२॥</strong> <br><br>

  मार्ग असो कोणताही । <br>
  त्याचें मुळीं महत्त्व नाहीं । <br>
  जो मुक्कामास जाई । <br>
  त्याचें कौतुक करणें असे <strong>॥२३॥</strong> <br><br>

  आम्ही हीं भावंडें सारीं । <br>
  येतें झालों भूमीवरी । <br>
  कैवल्याच्या मार्गावरी । <br>
  भाविक आणून सोडावया <strong>॥२४॥</strong> <br><br>

  जें ज्याला आवडेल । <br>
  तिकडे तो जाईल । <br>
  आणि मोक्षरुपी भोगील फल । <br>
  त्या त्या पंथा आचरोनी <strong>॥२५॥</strong> <br><br>

  आतां नको पुसूंस कांहीं । <br>
  हें न कोणा सांगे पाही । <br>
  निवांत बसूं दे ये ठायीं । <br>
  पिसेंपणाच्या पासोडीनें <strong>॥२६॥</strong> <br><br>

  ज्याची निष्ठा बसेल । <br>
  वा, जो माझा असेल । <br>
  त्याचेंच कार्य होईल । <br>
  इतरांची ना जरुर मला <strong>॥२७॥</strong> <br><br>

  ज्यासी अनुताप झाला । <br>
  ब्रह्मज्ञान सांगणें त्याला । <br>
  उगीच तर्कटी वात्रटाला । <br>
  स्फोट त्याचा करुं नये <strong>॥२८॥</strong> <br><br>

  कोणी कांहीं म्हणोत । <br>
  आपण असावें निवांत । <br>
  तरीच भेटे जगन्नाथ । <br>
  जगद्‌गुरु जगदात्मा <strong>॥२९॥</strong> <br><br>

  ऐसा उपदेश ऐकिला । <br>
  बाळाभाऊच्या नेत्रांला । <br>
  प्रेमाश्रूंचा लोटला । <br>
  पूर तो न आवरे त्या <strong>॥१३०॥</strong> <br><br>

  अष्टभाव दाटले । <br>
  शरीरा रोमांच उमटले । <br>
  वैखरीचें संपलें । <br>
  काम तेणें सहजची <strong>॥३१॥</strong> <br><br>

  मौनेंच केला नमस्कार । <br>
  श्रीगजानन साधु थोर । <br>
  वर्‍हाड प्रांताचा उद्धार । <br>
  करावयासी अवतरला <strong>॥३२॥</strong> <br><br>

  साळुबाई नांवाची । <br>
  एक असे कण्व शाखेची । <br>
  ती होती महाराजांची । <br>
  मनापासून भक्तीण <strong>॥३३॥</strong> <br><br>

  तिला महाराज एके दिनीं । <br>
  ऐशा परी वदले वाणी । <br>
  डाळपीठ घेऊनी । <br>
  स्वैंपाक करी अहोरात्र <strong>॥३४॥</strong> <br><br>

  जे येतील तयांना । <br>
  साळु घाल भोजना । <br>
  येणेंच तूं नारायणा । <br>
  प्रिय होशील निःसंशय <strong>॥३५॥</strong> <br><br>

  ती साळुबाई मठांत । <br>
  आहे अझूनपर्यंत । <br>
  जी वैजापूरची असे सत्य । <br>
  माहेर वाडेंघोडें जिचें <strong>॥३६॥</strong> <br><br>

  प्रल्हादबुवा जोशाला । <br>
  होता कृपेचा योग आला । <br>
  तो न तया फलद झाला । <br>
  तयाचिया दुर्दैवें <strong>॥३७॥</strong> <br><br>

  खामगांवच्या सान्निध्यासी । <br>
  जलंब गांव परियेसीं । <br>
  त्या गांवचा रहिवासी । <br>
  तुळसीराम एक असे <strong>॥३८॥</strong> <br><br>

  पुत्र हा तुळसीरामाचा । <br>
  आत्माराम नांवाचा । <br>
  होता तैलबुद्धीचा । <br>
  वेदाध्ययनीं प्रेम ज्याचें <strong>॥३९॥</strong> <br><br>

  या धर्मपीठ वाराणसी । <br>
  जी भागीरथीच्या तटा काशी । <br>
  तेथें गेला अध्ययनासी । <br>
  वेदवेदांग स्मृतीच्या <strong>॥१४०॥</strong> <br><br>

  प्रत्यहीं भागीरथीचें स्नान । <br>
  माधुकरीचें सेवी अन्न । <br>
  गुरुगृहातें जाऊन । <br>
  करी अध्ययन श्रुतीचें <strong>॥४१॥</strong> <br><br>

  श्रोते विद्यार्थी ना तरी । <br>
  अध्ययना जाती देशावरी । <br>
  शिकण्याऐवजीं परोपरी । <br>
  करुं लागती चैन ते <strong>॥४२॥</strong> <br><br>

  चैनीमाजीं गुंतल्या मन । <br>
  मग कशाचें अध्ययन ? । <br>
  बिरुड आंब्यालागून । <br>
  लागतां नास रसाचा <strong>॥४३॥</strong> <br><br>

  आत्माराम नव्हता यापरी । <br>
  विवेकसंपन्न सदाचारी । <br>
  विद्या अवघी करुन पुरी । <br>
  आला निजदेशातें <strong>॥४४॥</strong> <br><br>

  स्वदेशीं येतां शेगांवासी । <br>
  गेला असे अति हर्षी । <br>
  हजिरी ती द्यावयासी । <br>
  श्रीगजानन महाराजा <strong>॥४५॥</strong> <br><br>

  तो वेद विद्येचा जाणता । <br>
  गजानन केवळ ज्ञानसविता । <br>
  आत्माराम वेद म्हणतां । <br>
  कोठें कोठें चुकतसे <strong>॥४६॥</strong> <br><br>

  त्या चुकीची दुरुस्ती । <br>
  करुं लागले सदगुरुमूर्ती । <br>
  आत्मारामाचे संगतीं । <br>
  वेद म्हणती महाराज <strong>॥४७॥</strong> <br><br>

  ऐकतां त्यांचें वेदाध्ययन । <br>
  तन्मय होती विद्वान । <br>
  न होय सराफावांचून । <br>
  किंमत त्या हिर्‍याची <strong>॥४८॥</strong> <br><br>

  शेवटीं समर्थांचेपाशीं । <br>
  आत्माराम राहिला आदरेंसी । <br>
  मधु टाकूनी मक्षिकेसी । <br>
  जाणें कैसें आवडेल ? <strong>॥४९॥</strong> <br><br>

  प्रत्यहीं सेवेकारण । <br>
  यावें त्यानें जलंबाहून । <br>
  चुकविला ना एकही दिन । <br>
  ऐसा एकनिष्ठ भक्त तो <strong>॥१५०॥</strong> <br><br>

  समर्थांच्या पश्चात । <br>
  हाच होता मठांत । <br>
  पूजा अर्चा करण्याप्रत । <br>
  सद्‌गुरुच्या समाधीची <strong>॥५१॥</strong> <br><br>

  मोबदला न घेतां भली । <br>
  एकनिष्ठ सेवा केली । <br>
  शेवटीं त्यानेंच अर्पिली । <br>
  इस्टेट आपली महाराजा <strong>॥५२॥</strong> <br><br>

  इस्टेट अल्प साचार । <br>
  एक जमीन एक घर । <br>
  येथें न दृष्टि किंमतीवर । <br>
  देणें आहे भाग पहा <strong>॥५३॥</strong> <br><br>

  भिल्लिणीनें रामाला । <br>
  बोरें देऊन वश केला । <br>
  तैसाच प्रकार हाही झाला । <br>
  म्हणून केलें वर्णन <strong>॥५४॥</strong> <br><br>

  स्वामी दत्तात्रय केदार । <br>
  दुसरा नारायण जामकर । <br>
  निवळ दुधाचा ज्यांचा आहार । <br>
  तो दुधाहारी बुवा <strong>॥५५॥</strong> <br><br>

  ऐसे श्रोते तिघेजण । <br>
  स्वामीचे भक्त निर्वाण । <br>
  ज्यांनीं आपुलें तनमन । <br>
  समर्थचरणीं अर्पिलें <strong>॥५६॥</strong> <br><br>

  मोरगांव भाकरे नांवाचा । <br>
  गांव बाळापूर तालुक्याचा । <br>
  तेथील मारुतीपंत पटवार्‍याचा । <br>
  वृत्तान्त ऐका थोडासा <strong>॥५७॥</strong> <br><br>

  श्रोते ! त्या मोरगांवांत । <br>
  मारुतीपंताच्या शेतांत । <br>
  पिकाचें रक्षण करण्याप्रत । <br>
  तिमाजीनामें माळी होता <strong>॥५८॥</strong> <br><br>

  तो माळी खळ्याभीतरीं । <br>
  निजला निशीच्या अवसरीं । <br>
  गाढ झोंप लागली खरी । <br>
  ते अवसरीं तयाला <strong>॥५९॥</strong> <br><br>

  उलटून गेले दोन प्रहर । <br>
  कुंभाराचे दहावीस खर । <br>
  खळ्यांत येऊनी दाण्यावर । <br>
  पडले असती पांडयाच्या <strong>॥६०॥</strong> <br><br>

  राखणदार झोंपीं गेला । <br>
  गर्दभासी आनंद झाला । <br>
  ते खाऊं लागले जोंधळ्याला । <br>
  राशींत तोंड घालूनी <strong>॥६१॥</strong> <br><br>

  हा पांडया मारुतीपंत । <br>
  महाराजांचा होता भक्त । <br>
  म्हणून सद्‌गुरुरायाप्रत । <br>
  लीला करणें भाग आलें <strong>॥६२॥</strong> <br><br>

  क्षणांत जाऊनी मोरगांवासी । <br>
  हांक मारिली तिमाजीसी । <br>
  अरे ! जागा होई त्वरेंसी । <br>
  रासेसी गाढवें पडलीं ना <strong>॥६३॥</strong> <br><br>

  ऐसें मोठयानें बोलून । <br>
  तिमाजीस जागे करुन । <br>
  महाराज पावले अंतर्धान । <br>
  खळ्यामधून तेधवां <strong>॥६४॥</strong> <br><br>

  तिमाजी उठून पाहतां । <br>
  गाढवें दिसलीं तत्त्वतां । <br>
  म्हणे काय करुं आतां । <br>
  मालक रागे भरेल कीं <strong>॥६५॥</strong> <br><br>

  पिकाचें रक्षण करण्यासाठी । <br>
  त्यानें ठेविलें आहे मसी । <br>
  विश्वासघात आज दिशीं । <br>
  झाला त्याच्या माझ्या हातें <strong>॥६६॥</strong> <br><br>

  तो विश्वासला माझ्यावर । <br>
  मी निजता झालों निसूर । <br>
  रास ही निम्यावर । <br>
  खाऊन टाकली गाढवांनीं <strong>॥६७॥</strong> <br><br>

  आतां समजूत मालकाची । <br>
  कोण्या रीतीं घालूं साची । <br>
  पहा त्या वेळीं इमानाची । <br>
  किंमत होती लोकांस <strong>॥६८॥</strong> <br><br>

  ना तरी हल्लींचे नोकर । <br>
  निमकहराम शिरजोर । <br>
  नफातोटयाची तिळभर । <br>
  काळजी न त्यांना मालकाच्या <strong>॥६९॥</strong> <br><br>

  तिमाजी तैसा नव्हता । <br>
  हळहळ लागली त्याच्या चित्ता । <br>
  म्हणे काय जाऊन सांगूं आतां । <br>
  मी पांडयाकारणें <strong>॥१७०॥</strong> <br><br>

  कांहीं असो चुकीची । <br>
  माफी मागितली पाहिजे साची । <br>
  उदार बुद्धि मारुतीची । <br>
  आहे तो क्षमाच करील <strong>॥७१॥</strong> <br><br>

  ऐसें मनाशीं बोलून । <br>
  उदयास येतां नारायण । <br>
  तिमाजी गांवांत येऊन । <br>
  पाय धरी पंताचे <strong>॥७२॥</strong> <br><br>

  महाराज माझ्या झोंपेनीं । <br>
  बुडविलें तुम्हांलागूनी । <br>
  दहावीस गांढवांनीं । <br>
  येऊन रास खाल्ली कीं <strong>॥७३॥</strong> <br><br>

  ती नुकसान किती झाली । <br>
  ती पाहिजे पाहिली । <br>
  खळ्यामाजीं जाऊनि भली । <br>
  म्हणजे मज वाटेल बरें <strong>॥७४॥</strong> <br><br>

  मारुती म्हणाले त्यावर । <br>
  खळ्यांत यावया साचार । <br>
  वेळ ना मला तिळभर । <br>
  मी निघालों शेगांवा <strong>॥७५॥</strong> <br><br>

  दर्शन घेऊन सद्‌गुरुचें । <br>
  त्या गजानन महाराजांचें । <br>
  उद्यां सकाळीं धान्याचें । <br>
  काय झालें तें पाहीन <strong>॥७६॥</strong> <br><br>

  ऐसें बोलून शेगांवाला । <br>
  मारुतीपंत येतां झाला । <br>
  दर्शनासाठीं मठांत गेला । <br>
  दहा अकराचे सुमारास <strong>॥७७॥</strong> <br><br>

  महाराज होते असनावरी । <br>
  जगू पाटील समोरी । <br>
  बाळाभाऊ बद्ध करीं । <br>
  बसला जवळ पाटलाच्या <strong>॥७८॥</strong> <br><br>

  मारुतीनें दर्शन । <br>
  घेतां केलें हास्य वदन । <br>
  तुझ्यासाठीं मजकारण । <br>
  त्रास झाला रात्रीसी <strong>॥७९॥</strong> <br><br>

  तुम्ही माझे भक्त होतां । <br>
  मला राबण्या लावितां । <br>
  झोंपाळू नोकर ठेवितां । <br>
  आणि आपण निजतां खुशाल घरीं <strong>॥१८०॥</strong> <br><br>

  मारुती काल रात्रीला । <br>
  खळ्यांत तिमाजी झोंपीं गेला । <br>
  गाढवांचा सुळसुळाट झाला । <br>
  ते रास भक्षूं लागले <strong>॥८१॥</strong> <br><br>

  म्हणून मी जागें केलें । <br>
  जाऊन तिमाजीसी भले । <br>
  रास सांभाळण्या सांगितलें । <br>
  आणि आलों निघून <strong>॥८२॥</strong> <br><br>

  ऐसी खूण पटतांक्षणीं । <br>
  मारुतीनें जोडून पाणी । <br>
  मस्तक ठेवूनियां चरणीं । <br>
  ऐसें वचन बोलला <strong>॥८३॥</strong> <br><br>

  आम्हां सर्वस्वीं आधार । <br>
  आपुलाच आहे साचार । <br>
  लेंकराचा अवघा भार । <br>
  मातेचिया शिरीं असे <strong>॥८४॥</strong> <br><br>

  आमुचें म्हणून जें जें कांहीं । <br>
  तें अवघेंच आहे आपुलें आई ! । <br>
  सत्ता त्यावरी नाहीं । <br>
  तुम्हांवीण कवणाची <strong>॥८५॥</strong> <br><br>

  खळें आणि जोंधळा । <br>
  अवघाची आहे आपला । <br>
  तिमाजी नोकर नांवाला । <br>
  व्यवहारदृष्टीं आहे कीं <strong>॥८६॥</strong> <br><br>

  ब्रह्मांडाचें संरक्षण । <br>
  आपण करितां येथून । <br>
  लेंकरासाठीं त्रास पूर्ण । <br>
  माता सोसी वरच्यावरी <strong>॥८७॥</strong> <br><br>

  मी लेंकरुं आपुलें । <br>
  म्हणूनियां आपण केलें । <br>
  खळ्यांत तें जाऊन भलें । <br>
  मोरगांवीं संरक्षण <strong>॥८८॥</strong> <br><br>

  ऐसीच कृपा निरंतर । <br>
  स्वामी असावी माझ्यावर । <br>
  आतांच जाऊन करितों दूर । <br>
  नोकरीवरुन तिमाजीला <strong>॥८९॥</strong> <br><br>

  ऐसें बोलतां मारुती । <br>
  कौतुक वाटलें समर्थांप्रती । <br>
  आणि भाषण केलें येणें रीतीं । <br>
  तें आतां अवधारा <strong>॥१९०॥</strong> <br><br>

  छे ! छे ! वेडया ! तिमाजीस । <br>
  नको मुळींच काढूंस । <br>
  नोकरीवरुन खास । <br>
  त्याचें वर्म सांगतों तुला <strong>॥९१॥</strong> <br><br>

  तिमाजी नोकर इमानी । <br>
  खळ्यांत गाढवें पाहूनी । <br>
  दुःखी झाला असें मनीं । <br>
  तें म्यां तेव्हांच जाणिलें <strong>॥९२॥</strong> <br><br>

  रात्रीची हकीकत । <br>
  तुला सांगावया प्रत । <br>
  आला होता भीत भीत । <br>
  सकाळीं ना तुजकडे <strong>॥९३॥</strong> <br><br>

  तैं तूं म्हणालास त्याला । <br>
  मी जातों आहे शेगांवाला । <br>
  उद्यां सकाळीं खळ्याला । <br>
  येऊनियां पाहीन <strong>॥९४॥</strong> <br><br>

  ऐसें गुरुवचन ऐकिलें। <br>
  मारुतीसी चोज जहालें । <br>
  पहा संतांचें कर्तृत्व भलें । <br>
  कैसें आहे अगाध <strong>॥९५॥</strong> <br><br>

  गाढवें खळ्यांत पडलेलीं । <br>
  कोणीं न त्या सांगितलीं । <br>
  तीं अंतर्ज्ञानें जाणिलीं । <br>
  गजाननानें श्रोते हो <strong>॥९६॥</strong> <br><br>

  शके अठराशें सोळासी । <br>
  महाराज बाळापुरासी । <br>
  असतां गोष्ट झाली ऐसी । <br>
  ती थोडकी सांगतों <strong>॥९७॥</strong> <br><br>

  तेथें सुखलाल बन्सीलालाची । <br>
  एक बैठक होती साची । <br>
  त्या बैठकीसमोर महाराजांची । <br>
  स्वारी बैसली आनंदांत <strong>॥९८॥</strong> <br><br>

  मूर्ति अवघी दिगंबर । <br>
  वस्त्र नव्हतें तिळभर । <br>
  त्या पाहून भाविक नर । <br>
  नमन करुन जात होते <strong>॥९९॥</strong> <br><br>

  तो होता हमरस्ता । <br>
  बाजार पेठेचा तत्त्वतां । <br>
  त्या पंथानें जात होता । <br>
  एक पोलिस हवालदार <strong>॥२००॥</strong> <br><br>

  नांव त्या हवालदाराचें । <br>
  नारायण आसराजी होतें साचें । <br>
  समर्था पाहून डोकें त्याचें । <br>
  फिरुन गेलें तात्काळ <strong>॥१॥</strong> <br><br>

  तो म्हणे हा नंगा धोत । <br>
  मुद्दाम बसला पंथांत । <br>
  साधू ना हा भोंदू सत्य । <br>
  त्याची उपेक्षा न करणें बरी <strong>॥२॥</strong> <br><br>

  ऐसें बोलून जवळीं गेला । <br>
  अद्वातद्वां बोलूं लागला । <br>
  लाज कैसी नाहीं तुजला । <br>
  नंगा बसतोस रस्त्यावरी <strong>॥३॥</strong> <br><br>

  हे घे त्याचें प्रायश्चित्त । <br>
  तुला मी देतों आज येथ । <br>
  ऐसें बोलून स्वामीप्रत । <br>
  मारुं लागला छडीनें <strong>॥४॥</strong> <br><br>

  वळ पाठ पोटावरी । <br>
  उठते झाले निर्धारी । <br>
  परी ना हवालदार आवरी । <br>
  मारतां हात आपुला <strong>॥५॥</strong> <br><br>

  ऐसें तेधवां पाहून । <br>
  एक गृहस्थ आला धांवून । <br>
  आपुल्या दुकानामधून । <br>
  हुंडीवाला नाम ज्याचें <strong>॥६॥</strong> <br><br>

  तो म्हणे हे हवालदार । <br>
  तूं विचार कांहीं कर । <br>
  उगेंच सत्पुरुषावर । <br>
  हात टाकणें बरें नव्हे <strong>॥७॥</strong> <br><br>

  कां कीं, संतांचा कैवारी । <br>
  एक आहे श्रीहरी । <br>
  वळ त्यांच्या पाठीवरी । <br>
  उठले ते कां न दिसले तुला <strong>॥८॥</strong> <br><br>

  या कृत्यानें तुझा अंत । <br>
  जवळीं आला अत्यंत । <br>
  आजारीच मोडितो पथ्य । <br>
  मरावया कारणें <strong>॥९॥</strong> <br><br>

  तेंच तूं आज केलें । <br>
  हें न कांहीं बरें झालें । <br>
  अजून तरी उघडी डोळे । <br>
  माफी माग गुन्ह्याची <strong>॥२१०॥</strong> <br><br>

  हवालदार म्हणे माफीचें । <br>
  कारण मसीं न मागण्याचें । <br>
  कावळ्याचे शापें साचें । <br>
  काय ढोरें मरतील ! <strong>॥११॥</strong> <br><br>

  हा नंगा धोत हलकट । <br>
  बसला पाहून बाजारपेठ । <br>
  तोंडानें गोष्टी चावट । <br>
  अचाट ऐसा करीत हा <strong>॥१२॥</strong> <br><br>

  ऐशा ढोंग्याला मारणें । <br>
  ईश्वर जरी मानील गुन्हे । <br>
  तरी मग न्याया कारणें । <br>
  जागाच नाहीं राहिली <strong>॥१३॥</strong> <br><br>

  तेंच पुढें सत्य झालें । <br>
  हवालदार पंचत्व पावले । <br>
  त्या बाळापूर नगरींत भले । <br>
  आपण केलेल्या कृत्यानें <strong>॥१४॥</strong> <br><br>

  एका पंधरवडयांत । <br>
  हवालदाराचे अवघे आप्त । <br>
  होते झाले भस्मीभूत । <br>
  एका साधूस मारल्यानें <strong>॥१५॥</strong> <br><br>

  म्हणून अवघ्या लोकांनीं । <br>
  साधूसमोर जपूनी । <br>
  वागावें प्रत्येकानीं । <br>
  खरें कळेपर्यंत <strong>॥१६॥</strong> <br><br>

  नगर जिल्ह्यांत संगमनेर । <br>
  प्रवदा नदीचे कांठावर । <br>
  गांव अति टुमदार । <br>
  त्याचें वर्णन करवेना <strong>॥१७॥</strong> <br><br>

  अनंतफंदी नांवाचा । <br>
  कवि जेथें झाला साचा । <br>
  तेथील हरी जाखडयाचा । <br>
  ऐका तुम्ही वृत्तान्त हा <strong>॥१८॥</strong> <br><br>

  हा हरी जाखडी माध्यंदिन । <br>
  होता यजुर्वेदी ब्राह्मण । <br>
  गांवोगांव फिरुन । <br>
  पोट आपुलें भरीतसे <strong>॥१९॥</strong> <br><br>

  तो फिरत फिरत शेगांवासी । <br>
  आला समर्थ दर्शनासी । <br>
  बसतां झाला पायापासीं । <br>
  श्रीगजानन स्वामींच्या <strong>॥२२०॥</strong> <br><br>

  तों हजारों घेती दर्शन । <br>
  कोणी ब्राह्मणभोजन । <br>
  कोणी खडीसाखर वांटून । <br>
  नवस केलेला फेडिती <strong>॥२१॥</strong> <br><br>

  तईं हरी म्हणे चित्तासी । <br>
  हा केवढा ज्ञानरासी । <br>
  येऊनियां पायापासीं । <br>
  विन्मुख जाणें भाग मला <strong>॥२२॥</strong> <br><br>

  कां कीं दैव खडतर । <br>
  माझें आहे साचार। <br>
  निवळ पर्वत खडकावर । <br>
  हरळ उगवेल कोठोनी ? <strong>॥२३॥</strong> <br><br>

  आज अन्न मिळालें । <br>
  उद्यांचें कोणीं पाहिलें । <br>
  ऐसें करीत संपले । <br>
  दिवस माझे आजवर <strong>॥२४॥</strong> <br><br>

  संग्रहासी नाहीं धन । <br>
  शेतवाडा मळा जाण । <br>
  मी ना मुळींच विद्वान । <br>
  मला कन्या कोण देईल ? <strong>॥२५॥</strong> <br><br>

  हे स्वामी गजानना ! । <br>
  सच्चिदानंदा दयाघना ! । <br>
  संसारसुखाची वासना । <br>
  जहालीं मनीं बलवत्तर <strong>॥२६॥</strong> <br><br>

  ती तूं पूर्ण करावी । <br>
  मुलें लेंकरें मला व्हावी । <br>
  प्रथम बायको मिळावी । <br>
  कुलीन आज्ञाधारक <strong>॥२७॥</strong> <br><br>

  ऐसें जो इच्छी मनांत । <br>
  तोंच त्याच्या अंगावर्त । <br>
  थुंकते झाले सद्‌गुरुनाथ । <br>
  इच्छेस त्याच्या जाणूनी <strong>॥२८॥</strong> <br><br>

  या हरी जाखडयानें । <br>
  बावंच्या मागला मजकारणें । <br>
  म्हणून आले थुंकणें । <br>
  या मूर्खाच्या अंगावर <strong>॥२९॥</strong> <br><br>

  संसारापासून सुटावया । <br>
  लोक भजती माझ्या पाया । <br>
  यानें येथें येऊनियां । <br>
  संसारसुख मागितलें <strong>॥२३०॥</strong> <br><br>

  पहा जगाची रीत कैसी । <br>
  अवघेच इच्छिती संसारासी । <br>
  सच्चिदानंद श्रीहरीसी । <br>
  पहाण्या न कोणी तयार <strong>॥३१॥</strong> <br><br>

  ऐसें आपणासी बोलले । <br>
  पुन्हां जाखडयासी पाहिलें । <br>
  जें जें तूं इच्छिलें । <br>
  सांप्रतकालीं मनांत <strong>॥३२॥</strong> <br><br>

  तें तें अवघें होईल पूर्ण । <br>
  पुत्रपौत्र तुजलागून । <br>
  होतील संग्रहासी धन । <br>
  तेंही थोडकें राहील <strong>॥३३॥</strong> <br><br>

  जा आतां परत घरा । <br>
  सुखें करी संसारा । <br>
  करीत असावा परमेश्वर । <br>
  आठव वेडया ! विसरुं नको <strong>॥३४॥</strong> <br><br>

  ऐसें तयासी बोलून । <br>
  प्रसाद म्हणून थोडकें धन । <br>
  दिलें हरी जाखडयाकारण । <br>
  लग्न स्वतःचें करावया <strong>॥३५॥</strong> <br><br>

  हरी जाखडया संगमनेरीं । <br>
  सुखी जहाला संसारीं । <br>
  महाराजाची वाणी खरी । <br>
  ती कोठून खोटी होईल <strong>॥३६॥</strong> <br><br>

  ऐसाच एक निमोणकर । <br>
  गोविंदाचा कुमार । <br>
  रामचंद्र नामें साचार । <br>
  ओव्हरसियरच्या हुद्यावरी <strong>॥३७॥</strong> <br><br>

  बेंद्रे वासुदेव सर्व्हेअर । <br>
  होता त्याच्या बरोबर । <br>
  तो आणि निमोणकर । <br>
  आले मुकना नदीवरी <strong>॥३८॥</strong> <br><br>

  हा मुकना नाला डोंगरांत । <br>
  आहे सह्याद्री पर्वतांत । <br>
  इगतपुरी तालुक्यांत । <br>
  बुध हो ! नासिक जिल्ह्याच्या <strong>॥३९॥</strong> <br><br>

  वनश्री ती रमणीय अती । <br>
  तिचें वर्णन करुं किती । <br>
  हरीण बालकें बागडती । <br>
  निर्भयपणें काननांत <strong>॥२४०॥</strong> <br><br>

  फलभारें तरुवर । <br>
  वांकले असती अपार । <br>
  वन्य पशु फिरती स्वैर । <br>
  बिब्बट लांडगे ते ठायां <strong>॥४१॥</strong> <br><br>

  असो या मुकन्या नाल्यापासीं । <br>
  जवळ एका खोर्‍यासी । <br>
  एका जलाच्या प्रवाहासी । <br>
  कपीलधारा नाम असे <strong>॥४२॥</strong> <br><br>

  तेथें प्रत्येक पर्वणीस । <br>
  भाविक येती स्नानास । <br>
  लौकिक याचा आसपास । <br>
  तीर्थ म्हणून पसरलासे <strong>॥४३॥</strong> <br><br>

  असो एक्या पर्वणीसी । <br>
  निमोणकर गेले स्नानासी । <br>
  योगाभ्यास थोडा यासी । <br>
  येत होता विबुध हो <strong>॥४४॥</strong> <br><br>

  तो पूर्ण व्हावा म्हणून । <br>
  इच्छित होतें त्याचें मन । <br>
  गोसावी बैराग्यालागून । <br>
  पुसूं लागला तेथल्या <strong>॥४५॥</strong> <br><br>

  नाहीं नाहीं माहीत मात । <br>
  ऐकूं येई सर्वत्र । <br>
  तेणें निमोणकर चित्तांत । <br>
  हताश पूर्ण जहाला <strong>॥४६॥</strong> <br><br>

  काय करुं देवा आतां । <br>
  मला योगाभ्यास शिकवितां । <br>
  कोठें भेटेल तत्त्वतां । <br>
  ती कृपा करुन सांगणें <strong>॥४७॥</strong> <br><br>

  तो कपीलधारेवरी । <br>
  एक पुरुष देखिला अधिकारी । <br>
  ज्याचे हात गुडघ्यावरी । <br>
  येऊन सहज लागले <strong>॥४८॥</strong> <br><br>

  उंच बांधा मुद्रा शांत । <br>
  बैसला होता ध्यानस्त । <br>
  त्यास घातले दंडवत । <br>
  निमोणकरानें अष्टांगेंसी <strong>॥४९॥</strong> <br><br>

  बराच वेळ झाला जरी । <br>
  योगी न कांहीं बोले परी । <br>
  अस्तमानाची वेळ खरी । <br>
  समीप येऊं लागली हो <strong>॥२५०॥</strong> <br><br>

  पोटीं ना अन्न तिळभर । <br>
  बिर्‍हाड राहिलें बहु दूर । <br>
  कपीलधारेचें धरुन नीर । <br>
  तुंब्यांत गोसावी निघाले <strong>॥५१॥</strong> <br><br>

  तैं निमोणकर म्हणे समर्था ! । <br>
  अंत माझा किती पहातां । <br>
  ठाऊक असल्या योगगाथा । <br>
  मशीं कांहीं शिकवा हो <strong>॥५२॥</strong> <br><br>

  तो अखेर अस्तमानीं । <br>
  बोलते झाले कैवल्यदानी । <br>
  हा चित्रपट घेऊनी । <br>
  जा आपुलें काम करी <strong>॥५३॥</strong> <br><br>

  षोडाक्षरी त्यावर । <br>
  मंत्र लिहिला आहे थोर । <br>
  त्याचा वाणीनें निरंतर । <br>
  जप आपुला करावा <strong>॥५४॥</strong> <br><br>

  मंत्रप्रभावें थोडा बहुत । <br>
  योग येईल तुजप्रत । <br>
  योगमार्ग हा अत्यंत । <br>
  कठीण सर्व योगामध्यें <strong>॥५५॥</strong> <br><br>

  गोगलगाय शेप किडा । <br>
  हिमालया न देईल वेढा ! । <br>
  सागरीचा सिंप किडा । <br>
  मेरु पर्वता न जाय कधीं <strong>॥५६॥</strong> <br><br>

  नेटाचा केला यत्‍न । <br>
  ब्रह्मचर्य संभाळून । <br>
  येतील दहापांच आसन । <br>
  धौती नौती केल्यावरी <strong>॥५७॥</strong> <br><br>

  जा पुढें न विचारी मला । <br>
  हा घे देतों प्रसाद तुला । <br>
  ऐसें बोलून उचलिला । <br>
  एक तांबडा खडा करें <strong>॥५८॥</strong> <br><br>

  तो देऊनियां मजसी । <br>
  गुप्त झालें पुण्यरासी । <br>
  तेंच पुढें नाशिकासी । <br>
  गंगेवरी भेटले त्या <strong>॥५९॥</strong> <br><br>

  त्या पाहून निमोणक्र । <br>
  गेले धांवत साचार । <br>
  शिर ठेवून पायांवर । <br>
  प्रश्न त्यांसी ऐसा केला <strong>॥२६०॥</strong> <br><br>

  महाराज माझा कंटाळा । <br>
  कांहो ! आपणच कां केला । <br>
  आपुल्या नांव गांवाला । <br>
  न सांगतां गेलाच कीं <strong>॥६१॥</strong> <br><br>

  महाराज डोळे वटारुन । <br>
  बोलते झाले त्याकारण । <br>
  तांबडा खडा देऊन । <br>
  नांव माझें कथिलें म्या <strong>॥६२॥</strong> <br><br>

  नर्मदेचा गणपती । <br>
  तांबडा असतो निश्चिती । <br>
  तूं मूळचाच मूढ मती । <br>
  रहस्य त्याचें न जाणिलें <strong>॥६३॥</strong> <br><br>

  म्हणून त्याचें गूढ तुला । <br>
  पडतें झालें जाण मुला ! । <br>
  मी रहातों शेगांवाला । <br>
  गजानन हें नांव माझें <strong>॥६४॥</strong> <br><br>

  धुमाळ सदनापर्यंत । <br>
  चाल माझ्या समवेत । <br>
  पुन्हां भेटी तुजप्रत । <br>
  होईल माझी ते ठायां <strong>॥६५॥</strong> <br><br>

  ऐसें बोलूनी निघाले । <br>
  महाराज रस्त्यांत गुप्त झाले । <br>
  भिरभिरीं पाहूं लागले । <br>
  चहूंकडे निमोणकर <strong>॥६६॥</strong> <br><br>

  कंटाळून अखेरी । <br>
  धुमाळाच्या आले घरीं । <br>
  तों गजानन महाराज ओसरीवरी । <br>
  बसले ऐसें पाहिले <strong>॥६७॥</strong> <br><br>

  मौनेंच करुन वंदन । <br>
  कथिलें धुमाळाकारण । <br>
  कपीलधारेपासून । <br>
  जें कां झालें इथवरी <strong>॥६८॥</strong> <br><br>

  तें ऐकून धुमाळाला । <br>
  अतिशय आनंद जहाला । <br>
  तो म्हणे योगीराजाला । <br>
  वाण कशा ऐसाच एक निमोणकर । <br>
  गोविंदाचा कुमार । <br>
  रामचंद्र
  नामें साचार । <br>
  ओव्हरसियरच्या हुद्यावरी <strong>॥३७॥</strong> <br><br>

  बेंद्रे वासुदेव सर्व्हेअर । <br>
  होता त्याच्या बरोबर । <br>
  तो आणि निमोणकर । <br>
  आले मुकना नदीवरी <strong>॥३८॥</strong> <br><br>

  हा मुकना नाला डोंगरांत । <br>
  आहे सह्याद्री पर्वतांत । <br>
  इगतपुरी तालुक्यांत । <br>
  बुध हो ! नासिक जिल्ह्याच्या <strong>॥३९॥</strong> <br><br>

  वनश्री ती रमणीय अती । <br>
  तिचें वर्णन करुं किती । <br>
  हरीण बालकें बागडती । <br>
  निर्भयपणें काननांत <strong>॥२४०॥</strong> <br><br>

  फलभारें तरुवर । <br>
  वांकले असती अपार । <br>
  वन्य पशु फिरती स्वैर । <br>
  बिब्बट लांडगे ते ठायां <strong>॥४१॥</strong> <br><br>

  असो या मुकन्या नाल्यापासीं । <br>
  जवळ एका खोर्‍यासी । <br>
  एका जलाच्या प्रवाहासी । <br>
  कपीलधारा नाम असे <strong>॥४२॥</strong> <br><br>

  तेथें प्रत्येक पर्वणीस । <br>
  भाविक येती स्नानास । <br>
  लौकिक याचा आसपास । <br>
  तीर्थ म्हणून पसरलासे <strong>॥४३॥</strong> <br><br>

  असो एक्या पर्वणीसी । <br>
  निमोणकर गेले स्नानासी । <br>
  योगाभ्यास थोडा यासी । <br>
  येत होता विबुध हो <strong>॥४४॥</strong> <br><br>

  तो पूर्ण व्हावा म्हणून । <br>
  इच्छित होतें त्याचें मन । <br>
  गोसावी बैराग्यालागून । <br>
  पुसूं लागला तेथल्या <strong>॥४५॥</strong> <br><br>

  नाहीं नाहीं माहीत मात । <br>
  ऐकूं येई सर्वत्र । <br>
  तेणें निमोणकर चित्तांत । <br>
  हताश पूर्ण जहाला <strong>॥४६॥</strong> <br><br>

  काय करुं देवा आतां । <br>
  मला योगाभ्यास शिकवितां । <br>
  कोठें भेटेल तत्त्वतां । <br>
  ती कृपा करुन सांगणें <strong>॥४७॥</strong> <br><br>

  तो कपीलधारेवरी । <br>
  एक पुरुष देखिला अधिकारी । <br>
  ज्याचे हात गुडघ्यावरी । <br>
  येऊन सहज लागले <strong>॥४८॥</strong> <br><br>

  उंच बांधा मुद्रा शांत । <br>
  बैसला होता ध्यानस्त । <br>
  त्यास घातले दंडवत । <br>
  निमोणकरानें अष्टांगेंसी <strong>॥४९॥</strong> <br><br>

  बराच वेळ झाला जरी । <br>
  योगी न कांहीं बोले परी । <br>
  अस्तमानाची वेळ खरी । <br>
  समीप येऊं लागली हो <strong>॥२५०॥</strong> <br><br>

  पोटीं ना अन्न तिळभर । <br>
  बिर्‍हाड राहिलें बहु दूर । <br>
  कपीलधारेचें धरुन नीर । <br>
  तुंब्यांत गोसावी निघाले <strong>॥५१॥</strong> <br><br>

  तैं निमोणकर म्हणे समर्था ! । <br>
  अंत माझा किती पहातां । <br>
  ठाऊक असल्या योगगाथा । <br>
  मशीं कांहीं शिकवा हो <strong>॥५२॥</strong> <br><br>

  तो अखेर अस्तमानीं । <br>
  बोलते झाले कैवल्यदानी । <br>
  हा चित्रपट घेऊनी । <br>
  जा आपुलें काम करी <strong>॥५३॥</strong> <br><br>

  षोडाक्षरी त्यावर । <br>
  मंत्र लिहिला आहे थोर । <br>
  त्याचा वाणीनें निरंतर । <br>
  जप आपुला करावा <strong>॥५४॥</strong> <br><br>

  मंत्रप्रभावें थोडा बहुत । <br>
  योग येईल तुजप्रत । <br>
  योगमार्ग हा अत्यंत । <br>
  कठीण सर्व योगामध्यें <strong>॥५५॥</strong> <br><br>

  गोगलगाय शेप किडा । <br>
  हिमालया न देईल वेढा ! । <br>
  सागरीचा सिंप किडा । <br>
  मेरु पर्वता न जाय कधीं <strong>॥५६॥</strong> <br><br>

  नेटाचा केला यत्‍न । <br>
  ब्रह्मचर्य संभाळून । <br>
  येतील दहापांच आसन । <br>
  धौती नौती केल्यावरी <strong>॥५७॥</strong> <br><br>

  जा पुढें न विचारी मला । <br>
  हा घे देतों प्रसाद तुला । <br>
  ऐसें बोलून उचलिला । <br>
  एक तांबडा खडा करें <strong>॥५८॥</strong> <br><br>

  तो देऊनियां मजसी । <br>
  गुप्त झालें पुण्यरासी । <br>
  तेंच पुढें नाशिकासी । <br>
  गंगेवरी भेटले त्या <strong>॥५९॥</strong> <br><br>

  त्या पाहून निमोणक्र । <br>
  गेले धांवत साचार । <br>
  शिर ठेवून पायांवर । <br>
  प्रश्न त्यांसी ऐसा केला <strong>॥२६०॥</strong> <br><br>

  महाराज माझा कंटाळा । <br>
  कांहो ! आपणच कां केला । <br>
  आपुल्या नांव गांवाला । <br>
  न सांगतां गेलाच कीं <strong>॥६१॥</strong> <br><br>

  महाराज डोळे वटारुन । <br>
  बोलते झाले त्याकारण । <br>
  तांबडा खडा देऊन । <br>
  नांव माझें कथिलें म्या <strong>॥६२॥</strong> <br><br>

  नर्मदेचा गणपती । <br>
  तांबडा असतो निश्चिती । <br>
  तूं मूळचाच मूढ मती । <br>
  रहस्य त्याचें न जाणिलें <strong>॥६३॥</strong> <br><br>

  म्हणून त्याचें गूढ तुला । <br>
  पडतें झालें जाण मुला ! । <br>
  मी रहातों शेगांवाला । <br>
  गजानन हें नांव माझें <strong>॥६४॥</strong> <br><br>

  धुमाळ सदनापर्यंत । <br>
  चाल माझ्या समवेत । <br>
  पुन्हां भेटी तुजप्रत । <br>
  होईल माझी ते ठायां <strong>॥६५॥</strong> <br><br>

  ऐसें बोलूनी निघाले । <br>
  महाराज रस्त्यांत गुप्त झाले । <br>
  भिरभिरीं पाहूं लागले । <br>
  चहूंकडे निमोणकर <strong>॥६६॥</strong> <br><br>

  कंटाळून अखेरी । <br>
  धुमाळाच्या आले घरीं । <br>
  तों गजानन महाराज ओसरीवरी । <br>
  बसले ऐसें पाहिले <strong>॥६७॥</strong> <br><br>

  मौनेंच करुन वंदन । <br>
  कथिलें धुमाळाकारण । <br>
  कपीलधारेपासून । <br>
  जें कां झालें इथवरी <strong>॥६८॥</strong> <br><br>

  तें ऐकून धुमाळाला । <br>
  अतिशय आनंद जहाला । <br>
  तो म्हणे योगीराजाला । <br>
  वाण कशाची सांग मज <strong>॥६९॥</strong> <br><br>

  हे अवघ्या सामर्थ्याची । <br>
  खाण निःसंशय आहेत साची । <br>
  सार्वभौमपदाची । <br>
  त्याच्या पुढें न किंमत <strong>॥२७०॥</strong> <br><br>

  जो तांबडा खडा तुसी । <br>
  दिला तो ठेवून पाटासी । <br>
  करणें पूजा-अर्चेसी । <br>
  सद्भावें निरंतर <strong>॥७१॥</strong> <br><br>

  योगाभ्यास ही समोरी । <br>
  त्या खेडयाच्या आदरें करी । <br>
  त्याच्या कृपेनें कांहीं तरी । <br>
  योगाभ्यास येईल <strong>॥७२॥</strong> <br><br>

  तेंच पुढें झालें सत्य । <br>
  योगाभ्यास थोडा बहुत । <br>
  आला निमोणकराप्रत । <br>
  श्रीगजाननकृपेनें <strong>॥७३॥</strong> <br><br>

  एक शेगांवचा रहिवासी । <br>
  तुकाराम कोकाटे परियेसीं । <br>
  त्याची संतति यमसदनासी । <br>
  जाऊं लागली उपजतांच <strong>॥७४॥</strong> <br><br>

  म्हणून त्यानें समर्थाला । <br>
  एकदां नवस ऐसा केला । <br>
  जरी देशील संततीला । <br>
  दीर्घायुषी गुरुराया <strong>॥७५॥</strong> <br><br>

  तरी एक मुलगा त्यांतून । <br>
  तुसी करान अर्पण । <br>
  मनोरथ त्याचे पूर्ण । <br>
  केले गजाननस्वामीनें <strong>॥७६॥</strong> <br><br>

  दोन तीन मुलें झालीं । <br>
  परी नवसाची न राहिली । <br>
  आठवण तुकारामा भली । <br>
  संततीच्या मोहानें <strong>॥७७॥</strong> <br><br>

  तो थोरला मुलगा नारायण । <br>
  रोग झाला त्याकारण । <br>
  औषधोपचार केले जाण । <br>
  परी न आला गुण कांहीं <strong>॥७८॥</strong> <br><br>

  नाडी बंद होऊं लागली । <br>
  नेत्रांची ती दृष्टि थिजली । <br>
  धुगधुगी मात्र उरली । <br>
  होती त्याच्या छातीला <strong>॥७९॥</strong> <br><br>

  ती स्थिति पाहून । <br>
  तुकारामा झाली आठवण । <br>
  नवस केल्याची ती जाण । <br>
  एकदम त्या समयाला <strong>॥२८०॥</strong> <br><br>

  तुकाराम म्हणे गुरुराया । <br>
  हा पुत्र माझा वांचलिया । <br>
  अर्पण करीन सदया । <br>
  सेवा तुमची करण्यास <strong>॥८१॥</strong> <br><br>

  ऐसा वचनबद्ध होतांक्षणीं । <br>
  नाडी आली ठिकाणीं । <br>
  हळूहळू नेत्र उघडोनी । <br>
  पाहूं लागला बाल तो <strong>॥८२॥</strong> <br><br>

  व्याधि बरी झाल्यावर । <br>
  तो नारायण-कुमार । <br>
  आणून सोडला मठावर । <br>
  नवस आपला फेडावया <strong>॥८३॥</strong> <br><br>

  तो नारायण अझूनी । <br>
  आहे तया ठिकाणीं । <br>
  बोलिलेला नवस कोणी । <br>
  महाराजांचा चुकवूं नये <strong>॥८४॥</strong> <br><br>

  हेंच सांगण्या लोकांप्रत । <br>
  नारायण आहे जिवंत । <br>
  शेगांवीं त्या मठांत । <br>
  संत-चरित्र ना कादंबरी <strong>॥८५॥</strong> <br><br>

  असो पुढें आषाढमासीं । <br>
  महाराज गेले पंढरीसी । <br>
  घेऊन हरीपाटलासी । <br>
  विठ्ठलासी भेटावया <strong>॥८६॥</strong> <br><br>

  जो सर्व संतांचा । <br>
  ध्येयविषय साचा । <br>
  जो कल्पतरु भक्तांचा । <br>
  कमलनाभ सर्वेश्वर <strong>॥८७॥</strong> <br><br>

  जो जगदाधार जगत्पति । <br>
  वेद ज्याचे गुण गाती । <br>
  जो संतांच्या वसे चित्तीं । <br>
  रुक्मिणीपती दयाघन <strong>॥८८॥</strong> <br><br>

  पंढरीस आले गजानन । <br>
  चंद्रभागेचें केलें स्नान । <br>
  गेलें घ्याया दर्शन । <br>
  पांडुरंगाचें राउळीं <strong>॥८९॥</strong> <br><br>

  हे देवा पंढरीनाथा । <br>
  हे अचिंत्या अद्वया समर्था । <br>
  हे भक्तपरेशा रुक्मिणीकांता । <br>
  ऐक माझी विनवणी <strong>॥२९०॥</strong> <br><br>

  तुझ्या आज्ञेनें आजवर । <br>
  भ्रमण केलें भूमिवर । <br>
  जे जे भाविक होते नर । <br>
  त्यांचे मनोरथ पूर्ण केले <strong>॥९१॥</strong> <br><br>

  आतां अवतार-कार्य संपलें । <br>
  हें तूं जाणसी वहिलें । <br>
  पुंडलीक वरदा विठठले । <br>
  जाया आज्ञा असावी <strong>॥९२॥</strong> <br><br>

  देवा, मी भाद्रपद मासीं । <br>
  जावया इच्छितों वैकुंठासी । <br>
  अक्षय्यीचे रहावयासी । <br>
  तुझ्या चरणांसन्निध <strong>॥९३॥</strong> <br><br>

  ऐसी करुन विनवणी । <br>
  समर्थांनीं जोडिले पाणी । <br>
  अश्रु आले लोचनीं । <br>
  विरह हरीचा साहवेना <strong>॥९४॥</strong> <br><br>

  हरी पाटील जोडून हातां । <br>
  पुसूं लागला पुण्यवंता । <br>
  अश्रु कां हो सद्‌गुरुनाथा । <br>
  आणिले लोचनीं ये वेळां ? <strong>॥९५॥</strong> <br><br>

  किंवा मी कांहीं सेवेला । <br>
  चुकलों आहे दयाळा । <br>
  म्हणून आपणां खेद झाला । <br>
  तें सांगा लवलाही <strong>॥९६॥</strong> <br><br>

  महाराज म्हणाले त्यावर । <br>
  हरी पाटलाचा धरुन कर । <br>
  सांगितलें तरी न कळणार । <br>
  त्याचें वर्म बापा तुला <strong>॥९७॥</strong> <br><br>

  तो विषय खोल भारी । <br>
  तूं न पडावें त्याभीतरीं । <br>
  इतकेंच सांगतों श्रवण करी । <br>
  संगत माझी थोडी असे <strong>॥९८॥</strong> <br><br>

  चाल आतां शेगांवाला । <br>
  तूं आपल्या ठिकाणाला । <br>
  तुमच्या पाटील वंशाला । <br>
  कांहीं न कमी पडेल <strong>॥९९॥</strong> <br><br>

  पंढरीचें मावंदें केलें । <br>
  शेगांवामाजीं भलें । <br>
  चित्त चिंतेनें व्याप्त झालें । <br>
  मात्र हरीपाटलाचें <strong>॥३००॥</strong> <br><br>

  तो म्हणे मंडळीस । <br>
  महाराज वदले पंढरीस । <br>
  संगत राहिली थोडे दिवस । <br>
  माझी विठूच्या राउळीं <strong>॥१॥</strong> <br><br>

  पुढें श्रावणमास गेला । <br>
  क्षीणता आली तनूला । <br>
  पुढें भाद्रपदमास आला । <br>
  काय झालें तें ऐका <strong>॥२॥</strong> <br><br>

  गणेश चतुर्थीचे दिवशीं । <br>
  महाराज म्हणाले अवघ्यांसी । <br>
  आतां गणपती बोळवण्यासी । <br>
  यावें तुम्हीं मठांत <strong>॥३॥</strong> <br><br>

  कथा गणेशपुराणांत । <br>
  ऐशापरी आहे ग्रथित । <br>
  चतुर्थीच्या निमित्त । <br>
  पार्थिव गणपती करावा <strong>॥४॥</strong> <br><br>

  त्याची पूजा-अर्चा करुन । <br>
  नैवेद्य करावा समर्पण । <br>
  दुसरे दिवशीं विसर्जून । <br>
  बोळवावा जलामध्यें <strong>॥५॥</strong> <br><br>

  तो दिवस आज आला । <br>
  तो साजरा पाहिजे केला । <br>
  या पार्थिव देहाला । <br>
  तुम्ही बोळवा आनंदें <strong>॥६॥</strong> <br><br>

  दुःख न करावें यत्किंचित । <br>
  आम्हीं आहों येथें स्थित । <br>
  तुम्हां सांभाळण्याप्रती सत्य । <br>
  तुमचा विसर पडणें नसे <strong>॥७॥</strong> <br><br>

  हें शरीर वस्त्रापरी । <br>
  बदलणें आहे निर्धारी। <br>
  ऐसें गीताशास्त्रांतरीं । <br>
  भगवान् वदला अर्जुना <strong>॥८॥</strong> <br><br>

  जे जे ब्रह्मवेत्ते झाले । <br>
  त्यांनीं त्यांनीं ऐसेंच केले । <br>
  शरीरवस्त्रासी बदलिलें । <br>
  हें कांहीं विसरुं नका <strong>॥९॥</strong> <br><br>

  चतुर्थीचा अवघा दिवस । <br>
  आनंदामाजीं काढिला खास । <br>
  बाळाभाऊच्या धरिलें करास । <br>
  आसनीं आपल्या बसविलें <strong>॥३१०॥</strong> <br><br>

  मी गेलों ऐसें मानूं नका । <br>
  भक्तींत अंतर करुं नका । <br>
  कदा मजलागीं विसरुं नका । <br>
  मी आहे येथेंच <strong>॥११॥</strong> <br><br>

  ऐसें भाषण करुन । <br>
  योगें रोधिला असे प्राण । <br>
  दिला मस्तकीं ठेवून । <br>
  त्या महात्म्या पुरुषानें <strong>॥१२॥</strong> <br><br>

  शके अठराशें बत्तीस । <br>
  साधारण नाम संवत्सरास । <br>
  भाद्रपद शुद्ध पंचमीस । <br>
  गुरुवारीं प्रहर दिवसाला <strong>॥१३॥</strong> <br><br>

  प्राण रोधिता शब्द केला । <br>
  ’जय गजानन’ ऐसा भला । <br>
  सच्चिदानंदीं लीन झाला । <br>
  शेगांवामाझारीं <strong>॥१४॥</strong> <br><br>

  देहाचें तें चलनवलन । <br>
  पार गेलें मावळोन । <br>
  स्वामी समाधिस्त पाहून । <br>
  लोक हळूहळूं लागले <strong>॥१५॥</strong> <br><br>

  पुकार झाली गांवांत । <br>
  स्वामी झाले समाधिस्थ । <br>
  ऐसी ऐकतां मात । <br>
  हृदय पिटती नारीनर <strong>॥१६॥</strong> <br><br>

  गेला गेला साक्षात्कारी । <br>
  चालता बोलता श्रीहरी । <br>
  गेला गेला कैवारी । <br>
  आज दीनजनांचा <strong>॥१७॥</strong> <br><br>

  गेला आमुचा विसांवा । <br>
  गेला आमुचा सौख्यठेवा । <br>
  विझाला हा ज्ञानदिवा । <br>
  कालरुपी वार्‍यानें <strong>॥१८॥</strong> <br><br>

  अहो गजाननस्वामी समर्था ! । <br>
  आतां आम्हांस कोण त्राता ? । <br>
  कां रे इतक्यांत पुण्यवंता । <br>
  गेलास आम्हां सोडून ? <strong>॥१९॥</strong> <br><br>

  मार्तंड पाटील, हरी पाटील । <br>
  विष्णुसा बंकटलाल । <br>
  ताराचंद प्रेमळ । <br>
  भक्त स्वामीचा जो असे <strong>॥३२०॥</strong> <br><br>

  श्रीपतराव कुळकर्णी । <br>
  मठामाजीं जमले जाणी । <br>
  विचार केला अवघ्यांनीं । <br>
  ऐशा रीतीं श्रोते हो <strong>॥२१॥</strong> <br><br>

  आज आहे पंचमीचा दिवस । <br>
  समाधि न द्या स्वामीस । <br>
  हाळोपाळीच्या लोकांस । <br>
  येऊं द्या हो दर्शना <strong>॥२२॥</strong> <br><br>

  आतां पुढें ही मूर्ति । <br>
  लोपणार आहे निश्चिती । <br>
  अस्तमानापर्यंत ती । <br>
  लोकांची ती वाट पहा <strong>॥२३॥</strong> <br><br>

  ज्यांच्या नशिबीं असेल । <br>
  तयांना दर्शन घडेल । <br>
  नका करुं आतां वेळ । <br>
  जासूद धाडा चोहींकडे <strong>॥२४॥</strong> <br><br>

  गोविंदशास्त्री डोणगांवचे। <br>
  एक विद्वान् होते साचे। <br>
  ते बोलिले आपुल्या वाचें । <br>
  सर्व लोकांस येणें रीतीं <strong>॥२५॥</strong> <br><br>

  त्यांच्या आवडत्या भक्तांसी । <br>
  ते दर्शन देतील निश्चयेंसी । <br>
  तोंपर्यंत प्राणासी । <br>
  मस्तकीं धारण करतील <strong>॥२६॥</strong> <br><br>

  त्याची प्रचीति पहावया । <br>
  नको कोठें लांब जाया । <br>
  पहा लोणी ठेवोनियां। <br>
  येधवां मस्तकीं स्वामीच्या <strong>॥२७॥</strong> <br><br>

  लोणी ठेवितां शिरावरी । <br>
  तें पघळूं लागलें निर्धारीं । <br>
  जो तो त्याचें कौतुक करी । <br>
  बल हें योगशास्त्राचें <strong>॥२८॥</strong> <br><br>

  तो प्रकार पहातां । <br>
  गोविंदशास्त्री झाला बोलता । <br>
  एक दिवसाची काय कथा । <br>
  हे राहतील वर्षभर <strong>॥२९॥</strong> <br><br>

  निःसंशय ऐशा स्थितींत । <br>
  परी हें करणें अनुचित । <br>
  आवडते अवघे आलिया भक्त । <br>
  समाधि द्या स्वामीला <strong>॥३३०॥</strong> <br><br>

  तें अवघ्यांस मानवलें । <br>
  स्वामीपुढें आदरें भलें । <br>
  भजन त्यांनीं मांडिलें । <br>
  हजार टाळ जमला हो <strong>॥३१॥</strong> <br><br>

  दुरदूरच्या भक्तांप्रत । <br>
  स्वामी जाऊन स्वप्नांत । <br>
  आपुल्या समाधीची मात । <br>
  कळविते झाले विबुध हो <strong>॥३२॥</strong> <br><br>

  तया ऋषिपंचमीला । <br>
  अपार मेळा मिळाला । <br>
  लोकांचा तो शेगांवाला । <br>
  घ्याया दर्शन स्वामीचें <strong>॥३३॥</strong> <br><br>

  रथ केला तयार । <br>
  दिंड्या आल्या अपार । <br>
  सडे घातले रस्त्यावर । <br>
  गोमयाचे बायांनी <strong>॥३४॥</strong> <br><br>

  रंगवल्या नानापरी । <br>
  काढू लागल्या चतुर नारी । <br>
  दीपोत्सव झाला भारी । <br>
  त्या शेगावग्रामाला <strong>॥३५॥</strong> <br><br>

  मूर्ति ठेविली रथात । <br>
  मिरवणूक निघाली आनंदात । <br>
  रात्रभरी शेगावात । <br>
  तो ना थाट वर्णाचे <strong>॥३६॥</strong> <br><br>

  वाद्यांचे नाना प्रकार । <br>
  दिंड्या मिळाल्या अपार । <br>
  होऊं लागला भगनगजर । <br>
  विठ्ठलाच्या नावाचा <strong>॥३७॥</strong> <br><br>

  तुळशी बुक्का गुलाल फुले । <br>
  भक्त उधळू लागले । <br>
  फूलांखाली झाकून गेले । <br>
  श्री गजानन महाराज <strong>॥३८॥</strong> <br><br>

  बर्फीपेढ्यांस नाही मिती । <br>
  लोक वाटती खिरापती । <br>
  कित्येकांनी रथावरती । <br>
  रूपये पैसे उधळीले <strong>॥३९॥</strong> <br><br>

  ऐशी मिरवणूक रात्रभर । <br>
  शेगावी निघून अखेर । <br>
  उदयास येता दिनकर । <br>
  परत आली मठात <strong>॥४०॥</strong> <br><br>

  समाधीच्या जागेवरी । <br>
  मूर्ती नेऊनी ठेविली खरी । <br>
  रूद्राभिषेक केला वरी । <br>
  अखेरचा देहाला <strong>॥४१॥</strong> <br><br>

  पूजा केली पंचोपचार । <br>
  आरती उजळली अखेर । <br>
  भक्तांनी केला नामगजर । <br>
  गजाननाचे नावाचा <strong>॥४२॥</strong> <br><br>

  जय जय अवलीया गजानना! । <br>
  हे नरदेहधारी नारायणा । <br>
  अविनाशरूपा आनंदघना । <br>
  परात्परा जगत्पते <strong>॥४३॥</strong> <br><br>

  ऐशा भजनाभीतरी । <br>
  मूर्ति ठेविली आसनावरी । <br>
  उत्तराभिमुख साजिरी । <br>
  शास्त्रमार्गाप्रमाणे <strong>॥४४॥</strong> <br><br>

  अखेरचे दर्शन । <br>
  अवघ्यांनी घेतले जाण । <br>
  ’जय स्वामी गजानन’ । <br>
  औइसे मुखे बोलोनी <strong>॥४५॥</strong> <br><br>

  मीठ अर्गजा अबीर । <br>
  यांनी ती भरली गार । <br>
  शिळा लावूनी केले द्वार । <br>
  बंद भक्तांनी शेवटी <strong>॥४६॥</strong> <br><br>

  दहा दिवसपर्यंत । <br>
  समाराधना चालली तेथ । <br>
  घेऊनी गेले असंख्यात । <br>
  लोक स्वामींच्या प्रसादा <strong>॥४७॥</strong> <br><br>

  खरोखरीच संतांचा । <br>
  अधिकार तो थोर साचा । <br>
  सार्वभौम राजाचा । <br>
  पाड नाही त्यांच्या पुढे <strong>॥४८॥</strong> <br><br>

  स्वस्ती श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामे ग्रंथ । <br>
  भाविका दावो सत्पथ । <br>
  भक्ती हरीची करावया <strong>॥३४९॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति एकोनविंशोऽध्यायः समाप्तः ॥</strong>
</div>