<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या २०१ ते २०५</strong>
  <br> <br>कदा ओळखीमाजि दूजे दिसेना।
  <br> मनी मानसी द्वैत काही वसेना॥
  <br> बहूता दिसा आपली भेट जाली।
  <br> विदेहीपणे सर्व काया निवाली॥२०१॥
  <br>
  <br> मना गुज रे तूज हे प्राप्त झाले।
  <br> परी अंतरी पाहिजे यत्न केले॥
  <br> सदा श्रवणे पाविजे निश्चयासी।
  <br> धरी सज्जनसंगती धन्य होसी॥२०२॥
  <br>
  <br> मना सर्वही संग सोडूनि द्यावा।
  <br> अती आदरे सज्जनाचा धरावा॥
  <br> जयाचेनि संगे महादुःख भंगे।
  <br> जनी साधनेवीण सन्मार्ग लागे॥२०३॥
  <br>
  <br> मना संग हा सर्वसंगास तोडी।
  <br> मना संग हा मोक्ष तात्काळ जोडी॥
  <br> मना संग हा साधना शीघ्र सोडी।
  <br> मना संग हा द्वैत निःशेष मोडी॥२०४॥
  <br>
  <br> मनाची शते ऐकता दोष जाती।
  <br> मतीमंद ते साधना योग्य होती॥
  <br> चढे ज्ञान वैराग्य सामर्थ्य अंगी।
  <br> म्हणे दास विश्वासत मुक्ति भोगी॥२०५॥
  <br>
  <br> ॥ जय जय रघुवीर समर्थ ॥
  <br>
</div>