<div class="adhyaatma-page">
  <h1>गणपती अथर्वशीर्ष</h1> <br>

  <strong>ॐ नमस्ते गणपतये ॥</strong>
  <br>त्वमेव प्रत्यक्षं तत्त्वमसि ॥
  <br>त्वमेव केवलं कर्तासि ॥ 
  <br>त्वमेव केवलं धर्तासि ॥ 
  <br>त्वमेव केवलं हर्तासि ॥
  <br>त्वमेव सर्वं खल्विदं ब्रम्हासि ॥
  <br>त्वं साक्षादात्मासि नित्यम् <strong>॥ १ ॥</strong>
  <br>
  <br>ऋतं वच्मि ॥ सत्यं वच्मि <strong>॥ २ ॥</strong>
  <br>
  <br>अव त्वं माम् ॥
  <br>अव वक्तारम् ॥
  <br>अव श्रोतारम् ॥
  <br>अव दातारम् ॥
  <br>अव धातारम् ॥
  <br>अवानूचानमव शिष्यम् ॥
  <br>अव पश्चात्तात् ॥
  <br>अव पुरस्तात् ॥
  <br>अवोत्तरात्तात् ॥
  <br>अव दक्षिणात्तात् ॥
  <br>अव चोर्ध्वात्तात् ॥
  <br>अवाधरात्तात् ॥
  <br>सर्वतो मां पाहि पाहि समंतात् <strong>॥ ३ ॥</strong>
  <br>
  <br>त्वं वाग्ड़मयस्त्वं चिन्मयः ॥
  <br>त्वं आनंदमयस्त्वं ब्रम्हमयः ॥
  <br>त्वं सच्चिदानंदाद्वितीयोसि ॥
  <br>त्वं प्रत्यक्षं ब्रम्हासि ॥
  <br>त्वं ज्ञानमयो विज्ञानमयोसि <strong>॥ ४ ॥</strong>
  <br>
  <br>सर्वं जगदिदं त्वत्तो जायते ॥
  <br>सर्वं जगदिदं त्वत्तस्तिष्ठति ॥
  <br>सर्वं जगदिदं त्वयि लयमेष्यति ॥
  <br>सर्वं जगदिदं त्वयि प्रत्येति ॥
  <br>त्वं भूमिरापो नलो निलो नभः ॥
  <br>त्वं चत्वारि वाक्पदानि <strong>॥ ५ ॥</strong>
  <br>
  <br>त्वं गुणत्रयातीतः ॥
  <br>त्वं देहत्रयातीतः ॥
  <br>वं कालत्रयातीतः ॥
  <br>त्वं मूलाधार: स्थितोसि नित्यम ॥
  <br>त्वं शक्ति त्रयात्मकः ॥
  <br>त्वां योगिनो ध्यायन्ती नित्यम ॥
  <br>
  <br>त्वं ब्रम्हास्त्वंविष्णुस्त्वंरुद्रस्त्वंइंद्रस्त्वंअग्निस्त्वंवायुस्त्वंसूर्यस्त्वंचंद्रमास्त्वं
  ब्रम्हभूर्भुवस्वरोम् <br><strong>॥ ६ ॥</strong>
  <br>
  <br>गणादिं पूर्वमुच्चार्यं वर्णादिं तदनंतरम् ॥
  <br>अनुस्वारः परतरः ॥
  <br>अर्धेंदुलसितम् ॥
  <br>तारेण ऋध्दम् ॥
  <br>एतत्तव मनुस्वरुपम् ॥
  <br>गकारः
  <br>पूर्वरुपम् ॥
  <br>अकारो मध्यमरुपम् ॥
  <br>अनुस्वारश्चान्त्यरुपम् ॥
  <br>बिन्दुरुत्तररुपम् ॥
  <br>नादःसंधानम् ॥
  <br>संहितासंधी: ॥
  <br>सैषा गणेश
  <br>विद्या ॥
  <br>गणकऋषि: निछॄद् गायत्री छंदः ॥
  <br>गणपतीर्देवता ॥
  <br>ॐ गं गणपतये नमः <strong>॥ ७ ॥</strong>
  <br>
  <br>एकदंताय विद्महे वक्रतुंडाय धीमहि ॥
  <br>तन्नो दंति: प्रचोदयात् <strong>॥ ८ ॥</strong>
  <br>
  <br>एकदंतं चतुर्हस्तं पाशमंकुशधारिणम् ॥
  <br>रदं च वरदं हस्तै बिभ्राणं मूषकध्वजम् ॥
  <br>रक्तं लंबोदरं शूर्पकर्णकं रक्तवाससम् ॥
  <br>रक्तगंधानुलिप्तांगं रक्तपुष्पै: सुपूजितम् ॥
  <br>भक्तानुकंपिन देवं जगत्कारणमच्युतम् ॥
  <br>
  <br>आविर्भूतं च सृष्ट्यादो प्रकॄते: पुरुषात्परम् ॥
  <br>एवं ध्यायति यो नित्यम् स योगी योगिनां वरः <strong>॥ ९ ॥</strong>
  <br>
  <br>नमो व्रातपतये ।
  <br>नमो गणपतये नमः ।
  <br>प्रमथपतये ।
  <br>नमस्ते अस्तु लंबोदराय एकदंताय ॥
  <br>विघ्ननाशिने शिवसुताय ॥
  <br>श्री वरदमूर्तये नमः <br><strong>॥ १० ॥</strong>
</div>