<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ</h1>
  <h2>अध्याय १४</h2> <br>

  <strong>॥ श्रीगणेशाय नमः ॥</strong> <br><br>

  हे कौसल्यात्मज रामराया । <br>
  हे रघुकुलभूषणा करुणालया । <br>
  सीतापते करा दया । <br>
  आतां या लेंकरासी <strong>॥१॥</strong> <br><br>

  ताटिका त्वां उध्दरली । <br>
  अहिल्या शिळा सजीव केली । <br>
  शबरीची पुरवली । <br>
  इच्छा तूं दशरथे <strong>॥२॥</strong> <br><br>

  भक्तरक्षणा कारण । <br>
  सोडिलें नृपसिंहासन । <br>
  वानर केलेसे बलवान् । <br>
  केवळ आपल्या कृपेनें <strong>॥३॥</strong> <br><br>

  शिळा तरल्या सागरीम । <br>
  तुझ्या नामें रावणारी । <br>
  बसविलास गादीवरी । <br>
  भक्त आपला बिभीषण <strong>॥४॥</strong> <br><br>

  जो जो आला शरण पदा । <br>
  तुझ्या कीं हे आनंदकंदा । <br>
  दैन्य, दुःख, आपदा । <br>
  त्याच्या त्वां वारिल्यास <strong>॥५॥</strong> <br><br>

  हें मनीं आणावें । <br>
  दासगणूस सांभाळावें । <br>
  बालकानें धांवावें । <br>
  जननिविण कोणाकडे ? <strong>॥६॥</strong> <br><br>

  तूं जननी जनिता सद्गुरु । <br>
  तूं भक्तांना कल्पतरु । <br>
  भवनदीचें भव्य तारूं । <br>
  तूंच कीं रे रामराया ! <strong>॥७॥</strong> <br><br>

  एक खेडेगांवचा । <br>
  रहिवासी मेहकर तालुक्याचा । <br>
  बंडूतात्या नांवाचा । <br>
  ब्राह्मण होता विबुध हो <strong>॥८॥</strong> <br><br>

  हा बंडूतात्या ब्राह्मण । <br>
  सदाचारसंपन्न उदार होतें ज्याचें मन । <br>
  गृहस्थाश्रम चालवी <strong>॥९॥</strong> <br><br>

  श्रोते या प्रपंचांत । <br>
  संकटें येती अतोनात । <br>
  परी नाहीं पहा सुटत । <br>
  लोभ त्याचा मानवा <strong>॥१०॥</strong> <br><br>

  या बंडूतात्या घरीं । <br>
  पाहुणे येती वरच्यावरी । <br>
  तो अवघ्यांची साच करी । <br>
  सरबराई निजांगें <strong>॥११॥</strong> <br><br>

  ऐसा क्रम चालला । <br>
  संचय अवघा संपला । <br>
  आली पाळी बिचार्‍याला । <br>
  कर्ज काढणें साहूचें <strong>॥१२॥</strong> <br><br>

  घरदार पडलें गहाण । <br>
  अगणित झालें तया ऋण । <br>
  लोकांप्रती दावण्या वदन । <br>
  लाज वाटूं लागली <strong>॥१३॥</strong> <br><br>

  विकावया न कांहीं उरलें । <br>
  सदन अवघें साफ झालें । <br>
  भांडेंकुंडें तेंही गेलें । <br>
  काय विपत्ती वर्णावी ? <strong>॥१४॥</strong> <br><br>

  तगादे करिती सावकार । <br>
  शिपाई धाडून वरच्यावर । <br>
  भागवण्यासी दोन प्रहर । <br>
  अडचण पडूं लागली <strong>॥१५॥</strong> <br><br>

  कांता बोले टाकून । <br>
  मुलें करिती अपमान । <br>
  पत गेली उडून । <br>
  उसनें न कोणी देती हो <strong>॥१६॥</strong> <br><br>

  ऐशा तापें तापला । <br>
  जीव द्याया तयार झाला । <br>
  पैसा संपतां प्रपंचाला । <br>
  कांहीं नसे किंमत <strong>॥१७॥</strong> <br><br>

  जें सुखाचें वाटे स्थान । <br>
  तेंच दुःखाचें निकेतन । <br>
  संपून गेल्यावरी धन । <br>
  सहज होतें न्याय हा <strong>॥१८॥</strong> <br><br>

  बंडूतात्या विचार करी । <br>
  जीव कोठें देऊं तरी । <br>
  अफू खाऊन मरूं जरी । <br>
  तरी ती घ्याया पैसा नसे <strong>॥१९॥</strong> <br><br>

  जरी जाऊन विहिरीवरी । <br>
  जीव हा मी देऊं तरी । <br>
  तितुक्यांत कोणी येऊन वरी । <br>
  जरी मला काढल्यास <strong>॥२०॥</strong> <br><br>

  जीवही ना जाईल । <br>
  उलटी फजीती होईल । <br>
  सरकार शिक्षा देईल । <br>
  आत्महत्यारा म्हणून मला <strong>॥२१॥</strong> <br><br>

  यापेक्षां हिमालया । <br>
  जावे वाटे जीव द्याया । <br>
  आत्महत्येचा ते ठायां । <br>
  दोषही ना लागेल <strong>॥२२॥</strong> <br><br>

  ऐसा करूनि विचार । <br>
  पडला घराच्या बाहेर । <br>
  अखेरचा तो नमस्कार । <br>
  केला त्यानें प्रपंचाला <strong>॥२३॥</strong> <br><br>

  एक लंगोटी घातली । <br>
  राख अंगा लाविली । <br>
  तयानें ही युक्ति केली । <br>
  ओळख आपुली बुजवावया <strong>॥२४॥</strong> <br><br>

  श्रोते अब्रुदारासी । <br>
  जननिंदेचें मानसीं । <br>
  भय वाटे अहर्निशीं । <br>
  हें सकळांसी ठाऊक <strong>॥२५॥</strong> <br><br>

  बंडूतात्या म्हणे मनीं । <br>
  हे दीनदयाळा चक्रपाणी । <br>
  अवकृपा मजलागोनी । <br>
  कां रे ऐसी केलीस ? <strong>॥२६॥</strong> <br><br>

  तुझ्यावरी विश्वास माझा । <br>
  पूर्ण होता अधोक्षजा । <br>
  तूं रंकाचा करिसी राजा । <br>
  ऐसें ऐकिलें पुराणीं <strong>॥२७॥</strong> <br><br>

  तें सर्व खोटें झालें । <br>
  प्रत्ययासी माझ्या आलें । <br>
  व्यर्थ कवींनी रंगविलें । <br>
  चरित्र तुझें नारायणा <strong>॥२८॥</strong> <br><br>

  आतां जीव देतों परी । <br>
  तुझ्यावरी मी श्रीहरी । <br>
  याचा विचार कांहीं करी । <br>
  हत्या नको घेऊं मम <strong>॥२९॥</strong> <br><br>

  ऐसें मनीं बोलला । <br>
  तिकिट घ्याया लागला । <br>
  तों एक भेटला । <br>
  विप्र त्यासी स्टेशनांत <strong>॥३०॥</strong> <br><br>

  आतांच हरिद्वाराचें । <br>
  तिकीट नको घेऊं साचें । <br>
  घेऊन दर्शन संतांचें । <br>
  मग जावें हरिद्वारा <strong>॥३१॥</strong> <br><br>

  आपल्या वर्‍हाड प्रातांत । <br>
  श्रीगजानन महासंत । <br>
  आहेत अवतरले सांप्रत । <br>
  त्यांच्या दर्शना जाय तूं <strong>॥३२॥</strong> <br><br>

  संतदर्शन आजवरी । <br>
  वायां न गेलें भूमीवरी । <br>
  उगीच त्रासून अंतरीं । <br>
  भलतें कांहीं करूं नको <strong>॥३३॥</strong> <br><br>

  ऐसें बोलतां ब्राह्मण । <br>
  तात्या गेला गोंधळून । <br>
  म्हणे हा मनुष्य कोण ? । <br>
  अवचित मसी भेटला <strong>॥३४॥</strong> <br><br>

  किंवा यानें ओळखिलें । <br>
  मी बंडूतात्या म्हणून भलें । <br>
  कांहीं न माझा तर्क चाले । <br>
  पुसुं तरी याते कसा ? <strong>॥३५॥</strong> <br><br>

  कांहीं असो शेगांवासी । <br>
  जाऊन वंदूं समर्थांसी । <br>
  ऐसें बोलून मानसीं । <br>
  शेगांवासी पातला <strong>॥३६॥</strong> <br><br>

  दर्शना गेला ब्राह्मण । <br>
  तों महाराज वदले हांसून । <br>
  कां रे देशी जाऊन प्राण । <br>
  हिमालयासी बंडूतात्या <strong>॥३७॥</strong> <br><br>

  अरे आत्महत्या करूं नये । <br>
  हताश कदापि होऊं नये । <br>
  प्रयत्न करण्या चुकूं नये । <br>
  साध्य वस्तु साधण्यास <strong>॥३८॥</strong> <br><br>

  आतां जरी दिलास प्राण । <br>
  प्रपंचाशीं त्रासून । <br>
  तरी येशील घेऊन । <br>
  जन्म पुन्हां ते भोगावया <strong>॥३९॥</strong> <br><br>

  नको जाऊं हिमालया । <br>
  गंगेमाजी प्राण द्याया । <br>
  परत आपुल्या घरीं जाया । <br>
  वेळ वेड्या करूं नको <strong>॥४०॥</strong> <br><br>

  तिकीट घेतां जो भेटला । <br>
  स्टेशनावरी ब्राह्मण तुला । <br>
  ओळखिलें का सांग त्याला ? । <br>
  तो कोण होता हें कांहीं <strong>॥४१॥</strong> <br><br>

  जा आतां घरीं परत । <br>
  राहूं नको लवही येथ । <br>
  बापा तुझ्या मळ्यांत । <br>
  आहे एक म्हसोबा <strong>॥४२॥</strong> <br><br>

  त्या म्हसोबाच्या पूर्वेसी । <br>
  बाभुळीच्या झाडापासी । <br>
  खोदून पहा मेदिनीसी । <br>
  दोन प्रहर रात्रीला <strong>॥४३॥</strong> <br><br>

  काम जमीन खोदण्याचें । <br>
  तूंच एकटा करी साचें । <br>
  खालीं तीन फुटांचें । <br>
  द्रव्य तुजला सांपडेल <strong>॥४४॥</strong> <br><br>

  त्यांतून थोडें कर्जदारां । <br>
  देऊनी ऋणमुक्त होई खरा । <br>
  नको सोडूंस बायकापोरां । <br>
  उसनें वैराग्य वाहूं नको <strong>॥४५॥</strong> <br><br>

  ऐसे बोलतां गजानन । <br>
  आनंदला तो ब्राह्मण । <br>
  आला खर्ड्यास परतून । <br>
  राख पुसून अंगाची <strong>॥४६॥</strong> <br><br>

  रात्रीचिया वेळेला । <br>
  मळ्यांत म्हसोबापासी आला । <br>
  बाभूळीखालीं लागला । <br>
  जमीन खोदाया कारण <strong>॥४७॥</strong> <br><br>

  तों तीन फुटांवर । <br>
  लागली श्रोते घागर । <br>
  एक तांब्याची साचार । <br>
  वेळणी होती जिच्या मुखा <strong>॥४८॥</strong> <br><br>

  त्या तांब्याच्या घागरींत । <br>
  मोहरा सोन्याच्या चार शत । <br>
  पडल्या त्याच्या दृष्टीप्रत । <br>
  मग काय विचारितां ? <strong>॥४९॥</strong> <br><br>

  करीं घागर घेऊनिया । <br>
  लागला तेथेंच नाचावया । <br>
  जय जय गजानन गुरुराया । <br>
  ऐसें मुखें बोलून <strong>॥५०॥</strong> <br><br>

  त्याच द्रव्यें करून । <br>
  फेडिलें त्यानें अवघें ऋण । <br>
  मळा होता पडला गहाण । <br>
  तोही आणिला सोडवोनी <strong>॥५१॥</strong> <br><br>

  घडी बसली प्रपंचाची । <br>
  ही गजाननकृपेनें साची । <br>
  वृत्ति बंडूतात्याची । <br>
  गेली अती आनंदून <strong>॥५२॥</strong> <br><br>

  जेवीं मृत्यूची घटकां भरतां । <br>
  अमृतकलश यावा हातां । <br>
  वा सागरामाजीं बुडतां । <br>
  तारूं दृष्टीस पडावें <strong>॥५३॥</strong> <br><br>

  बंडूतात्यास तैसें झालें । <br>
  दुःखाचे ते दिवस सरले । <br>
  मग त्यानें पुढें केलें । <br>
  येणें पहा शेगांवा <strong>॥५४॥</strong> <br><br>

  दानधर्म तेथें केला । <br>
  मोठ्या प्रमाणामाजीं भला । <br>
  गजाननाच्या पदीं झाला । <br>
  लीन अनन्यभावानें <strong>॥५५॥</strong> <br><br>

  तई महाराज वदले त्यासी । <br>
  आम्हांस कां रे वंदिसी ? । <br>
  ज्यानें दिला आहे तुसी । <br>
  द्रव्यघट तो वंदी तया <strong>॥५६॥</strong> <br><br>

  आतां तरी येथून । <br>
  खर्च करावा सांभाळून । <br>
  उगे न करी उधळेंपण । <br>
  त्यांत नसे सार कांहीं <strong>॥५७॥</strong> <br><br>

  जन सुखाचे सोबती । <br>
  निर्वाणीचा श्रीपती । <br>
  त्याची सदैव करी भक्ती । <br>
  तो न उपेक्षी कदा तुला <strong>॥५८॥</strong> <br><br>

  ऐसा उपदेश ऐकिला । <br>
  समर्थांसी वंदून भला । <br>
  बंडूतात्या गांवास गेला । <br>
  आपुल्या अती आनंदें <strong>॥५९॥</strong> <br><br>

  एकेकालीं सोमवती । <br>
  पर्व आले निश्चिती । <br>
  जी कां अमावस्या येती । <br>
  सोमवारीं ती सोमवती हो <strong>॥६०॥</strong> <br><br>

  या सोमवतीचें महिमान । <br>
  पुराणांत केलें कथन । <br>
  या दिवशीं नर्मदास्नान । <br>
  अवश्य म्हणती करावें <strong>॥६१॥</strong> <br><br>

  म्हणून शेगांवची मंडळी । <br>
  नर्मदेस जाया तयार झाली । <br>
  तयारी त्यांनीं अवघी केली । <br>
  पडशा वगैरे भरून <strong>॥६२॥</strong> <br><br>

  मार्तंड पाटील बंकटलाल । <br>
  मारुती चंद्रभान बजरंगलाल । <br>
  यांनीं केला एक मेळ । <br>
  ओंकारेश्वरीं जाण्याचा <strong>॥६३॥</strong> <br><br>

  बंकटलाल म्हणे अवघ्यांसी । <br>
  आपण जातों नर्मदेसी । <br>
  घेऊं सांगातें महाराजांसी । <br>
  स्नान कराया नर्मदेचें <strong>॥६४॥</strong> <br><br>

  चौघे मठामाजीं आले । <br>
  समर्थां विनवूं लागले । <br>
  ओंकारेश्वरीं गुरुमाऊले । <br>
  चला आमुच्या समवेत <strong>॥६५॥</strong> <br><br>

  तुम्ही असल्याबरोबर । <br>
  काळाचाही नाहीं दर । <br>
  घाला आम्हांस पायांवर । <br>
  त्या ओंकारेश्वराच्या <strong>॥६६॥</strong> <br><br>

  हा अधिकार मातेविना । <br>
  नाहीं पाहा इतरांना । <br>
  आमुची विनंती हीच चरणा । <br>
  न्यावें आम्हा नर्मदेसी <strong>॥६७॥</strong> <br><br>

  तुम्ही आल्यांवांचून । <br>
  आम्ही न हालूं येथून । <br>
  बालहट्टालागून । <br>
  जननी तीच पुरवीतसे <strong>॥६८॥</strong> <br><br>

  महाराज म्हणाले तयासी । <br>
  आहे नर्मदा माझ्यापाशीं । <br>
  उगीच त्रास द्यायासी । <br>
  जाऊं कशाला तिला मग ? <strong>॥६९॥</strong> <br><br>

  मी या मठांत बैसुन । <br>
  करीन नर्मदेचें स्नान । <br>
  तुम्ही या सारे जाऊन । <br>
  श्रीओंकारेश्वराला <strong>॥७०॥</strong> <br><br>

  तेथें राजा पूर्वकालीं । <br>
  मान्धाता भाग्यशाली । <br>
  होऊन गेला महाबली । <br>
  दिगंत ज्याची कीर्ति असे <strong>॥७१॥</strong> <br><br>

  श्रीशंकराचार्य गुरुवर । <br>
  यांनीं कराया जगदोध्दार । <br>
  तेथेंच दीक्षा साचार । <br>
  परमहंसाची घेतली <strong>॥७२॥</strong> <br><br>

  जा जा तुम्ही तया स्थला । <br>
  भेटा माझ्या नर्मदेला । <br>
  मात्र नेऊं नका मला । <br>
  उगाच आग्रह करून <strong>॥७३॥</strong> <br><br>

  आतां पर्वाचें प्रयोजन । <br>
  नाहीं राहिलें मजलागून । <br>
  ऐसें ऐकतां चवघेजण । <br>
  घट्ट धरिती पायांला <strong>॥७४॥</strong> <br><br>

  कांही असो तेथवरी । <br>
  चला आमुच्या बरोबरी । <br>
  लगेच येऊं माघारी । <br>
  स्नान करूनी नर्मदेचें <strong>॥७५॥</strong> <br><br>

  महाराज म्हणाले ठिक ठिक । <br>
  तुम्हीं दिसतां दांभिक । <br>
  नर्मदेचें आहे उदक । <br>
  या आपुल्या विहिरीमध्यें <strong>॥७६॥</strong> <br><br>

  तिला टाकून आपण । <br>
  तेथें कराया गेलों स्नान । <br>
  तरी राग येईल दारुण । <br>
  माझ्या त्या नर्मदेला <strong>॥७७॥</strong> <br><br>

  म्हणून सांगतों तुम्हींच जावें । <br>
  मला न आग्रहा करावें । <br>
  माझें वचन मानावें । <br>
  यांत तुमचें कल्याण <strong>॥७८॥</strong> <br><br>

  मग मारुती चंद्रभान । <br>
  करूं लागला भाषण । <br>
  आम्ही घेतल्यावांचुन । <br>
  आपणां न जाऊं कीं <strong>॥७९॥</strong> <br><br>

  समर्थ म्हणाले मी तेथ । <br>
  आल्य होईल विपरीत । <br>
  मग तुम्ही दोष मात्र । <br>
  देऊं नये आम्हांला <strong>॥८०॥</strong> <br><br>

  ऐसें मठांत बोलणें झालें । <br>
  अवघें ओंकारेश्वरा आले । <br>
  पर्वासाठीं मिळाले । <br>
  लोक तेथें अपार <strong>॥८१॥</strong> <br><br>

  नर्मदेचे अवघे घाट । <br>
  स्त्रीपुरुषांनी भरले दाट । <br>
  मुंगीलाही नसे वाट । <br>
  जाया हराच्या मंदिरीं <strong>॥८२॥</strong> <br><br>

  कोणी स्नानास उतरले । <br>
  कोणी संकल्प ऐकूं लागले । <br>
  कोणी घेऊन बेलफुलें । <br>
  जाऊं लागले मंदिरांत <strong>॥८३॥</strong> <br><br>

  कोणी बर्फी पेढे खवा । <br>
  बसून खाऊं लागले मेवा । <br>
  थव्यामागें लागला थवा । <br>
  तेथें भजनकर्‍यांचा <strong>॥८४॥</strong> <br><br>

  पर्व संपेपर्यंत । <br>
  अभिषेकाची मंदिरांत । <br>
  गर्दी झाली अत्यंत । <br>
  शब्द कोणाचा कोणा न कळे <strong>॥८५॥</strong> <br><br>

  रम्यशा त्या ओंकारीं । <br>
  समर्थाची बैसली स्वारी । <br>
  पद्मासन घालूनी कांठावरी । <br>
  त्या महानदीच्या नर्मदेच्या <strong>॥८६॥</strong> <br><br>

  चौघे दर्शन घेऊन आले । <br>
  समर्था विनवूं लागले । <br>
  आतां पाहिजे सोडिलें । <br>
  जाणें सडकेनें आपणा <strong>॥८७॥</strong> <br><br>

  कां कीं भीड झाली फार । <br>
  गाड्या मोडती वरचेवर । <br>
  बैल गाडीचे बुजार । <br>
  आहेत आपुल्या त्यांतूनी <strong>॥८८॥</strong> <br><br>

  खेडीघाट स्टेशनाला । <br>
  जाण्यायेण्याचा करार केला । <br>
  गाडीवाल्यानें तो भला । <br>
  न सांगतां गुण बैलांचे <strong>॥८९॥</strong> <br><br>

  ते बसतां आले कळून । <br>
  आपण होतां म्हणून । <br>
  पोंचलों येथे येऊन । <br>
  बैल द्वाड गाडीचे <strong>॥९०॥</strong> <br><br>

  परत बसून गाडींत । <br>
  जाणें न निर्भय वाटत । <br>
  म्हणून या नावेंत । <br>
  बसून जाऊं स्टेशनाला <strong>॥९१॥</strong> <br><br>

  गर्दी झाली रस्त्यांनी । <br>
  नदींतून जाऊ शांतपणीं । <br>
  ऐसेंच केलें कित्येंकांनीं । <br>
  त्या पाहा नावा चालल्यात <strong>॥९२॥</strong> <br><br>

  तुम्हांस वाटेल तेंच करा । <br>
  आम्हां न कांहीं विचारा । <br>
  मी वचनांत गुंतलों खरा । <br>
  तुम्ही बसाल तेथें येऊं <strong>॥९३॥</strong> <br><br>

  ऐसें समर्थ बोलले । <br>
  त्यांच्यासवें नावेंत बैसलें । <br>
  गर्दीतून जाऊं लागले । <br>
  खेडीघाट स्टेशनाला <strong>॥९४॥</strong> <br><br>

  तों नदींत मध्यंतरीं । <br>
  नाव आदळली खडकावरी । <br>
  फळी फुटून गेली सारी । <br>
  तिच्या बुडाची एक हो <strong>॥९५॥</strong> <br><br>

  छिद्र पडलें आरपार । <br>
  येऊं लागलें आंत नीर । <br>
  नावाड्यानें सत्वर । <br>
  नदींत उड्या टाकिल्या <strong>॥९६॥</strong> <br><br>

  परी महाराज निर्धास्त होते । <br>
  ' गिनगिन गणांत बोते ' । <br>
  ऐसें भजन मुखातें । <br>
  चाललें होतें अखंड <strong>॥९७॥</strong> <br><br>

  मार्तंड बजरंग मारुती । <br>
  घाबरून गेले अती । <br>
  उडूं लागली धडधडा छाती । <br>
  बंकटलालाची विबुध हो <strong>॥९८॥</strong> <br><br>

  चवघे समर्थां बोलले । <br>
  आम्ही अपराधी आहों भले । <br>
  आम्हीं न तुमचें ऐकिलें । <br>
  शेगांवांत दयाळा <strong>॥९९॥</strong> <br><br>

  त्याचें दिलें आम्हां फळ । <br>
  तुम्ही आज तात्काळ । <br>
  नर्मदाच झाली काळ । <br>
  आम्हांलागीं बुडवावया <strong>॥१००॥</strong> <br><br>

  गुरुराया आपुली वाणी । <br>
  वेदतुल्य मानूं येथूनी । <br>
  वांचवा या संकटातूनीं । <br>
  शेगांव दृष्टी पडूं द्या <strong>॥१॥</strong> <br><br>

  ऐसें जों ते बोलतात । <br>
  तों निंम्यावरी पाण्यांत । <br>
  नाव बुडाली लोटत लोटत । <br>
  एक फर्लांग गेली हो <strong>॥२॥</strong> <br><br>

  कांहीं लोक बोलती ऐसें । <br>
  मेली हीं पांच माणसें । <br>
  आतां यांचा भरवंसा नसे । <br>
  अथांग पाणी नर्मदेला <strong>॥३॥</strong> <br><br>

  तई म्हणाले गजानन । <br>
  नका होऊं हैराण । <br>
  तुमच्या जीवालागून । <br>
  धक्का न लावी नर्मदा <strong>॥४॥</strong> <br><br>

  ऐसें म्हणून स्तवन केलें । <br>
  नर्मदेचें त्यांनी भलें । <br>
  हे चवघे बैसले । <br>
  हात जोडून नावेंत <strong>॥५॥</strong> <br><br>

  श्लोक ( अनुष्टुप छंद ) नर्मदे मंगले देवी । <br>
  रेवे अशुभनाशिनी । <br>
  मंतु क्षमा करी यांचा । <br>
  दयाळू होऊनी मनीं <strong>॥</strong> <br><br>

  ऐसें स्तवन चाललें । <br>
  तों आंतील पाणी निघून गेलें । <br>
  नर्मदेनें लाविलें । <br>
  आपुल्या करास त्या छिद्रा <strong>॥६॥</strong> <br><br>

  नाव श्रोते पहिल्यापरी । <br>
  आली जलाचिया वरी । <br>
  नावेच्या बरोबरी । <br>
  होती प्रत्यक्ष नर्मदा <strong>॥७॥</strong> <br><br>

  ळणीचा धरला वेष । <br>
  मस्तकावरी कुरळ केश । <br>
  भिजविलें जियेच्या वस्त्रास । <br>
  कंबरेपर्यंत जलानें <strong>॥८॥</strong> <br><br>

  नौका कांठास लागली । <br>
  अवघ्यांनी ती पाहिली । <br>
  आश्चर्यचकित मुद्रा केली । <br>
  पाहून तळीच्या छिद्राला <strong>॥९॥</strong> <br><br>

  ही बाई होती म्हणून । <br>
  आमुचे हे वांचले प्राण । <br>
  बाई आपण कोठील कोण ? । <br>
  हें कांहीं सांगा हो <strong>॥११०॥</strong> <br><br>

  सोडा वस्त्र बिजलेलें । <br>
  आम्ही नवें देतों भलें । <br>
  तईं नर्मदेनें पहा केलें । <br>
  ऐशा रीतीनें भाषण <strong>॥११॥</strong> <br><br>

  मी ओंकार कोळ्याची कन्यका । <br>
  माझें नांव नर्मदा ऐका । <br>
  आम्हां परिपाठ आहे देखा । <br>
  ओलें वस्त्र नेसण्याचा <strong>॥१२॥</strong> <br><br>

  मी ओलीच राहतें निरंतर । <br>
  माझेंच रूप आहे नीर । <br>
  ऐसें बोलून नमस्कार । <br>
  करून गेली गजानना <strong>॥१३॥</strong> <br><br>

  क्षणामाजीं नाहींसी । <br>
  झाली ती नर्मदेसी । <br>
  वीज चमकून आकाशीं । <br>
  घनीं जैसी लीन होते <strong>॥१४॥</strong> <br><br>

  तों पहातां प्रकार । <br>
  चवघे आनंदले फार । <br>
  कळला स्वामींचा अधिकार । <br>
  नर्मदा आली दर्शना <strong>॥१५॥</strong> <br><br>

  बंकट विचारी खोदून । <br>
  समर्था ही स्त्री कोण ? । <br>
  तें सांगावें फोडून । <br>
  गुप्त कांहीं ठेवूं नका <strong>॥१६॥</strong> <br><br>

  तईं महाराज वदले तत्त्वतां । <br>
  तुम्हीं जे कां विचारितां । <br>
  तो कथिला आहे गाथा । <br>
  नर्मदेनें तुम्हांस <strong>॥१७॥</strong> <br><br>

  कोळी जो का ओंकार । <br>
  तोच हा ओंकारेश्वर । <br>
  माझेंच रूप आहे नीर । <br>
  ऐसें नर्मदा वदलीना ? <strong>॥१८॥</strong> <br><br>

  अरे ती प्रत्यक्ष नर्मदा । <br>
  संशय तेथें न घ्यावा कदा । <br>
  संकटामाजीं देतें सदा । <br>
  हात ती आपुल्या भक्तातें <strong>॥१९॥</strong> <br><br>

  म्हणून तिचा जयजयकार । <br>
  करा मोठ्यानें एक वार । <br>
  जय जय नर्मदे निरंतर । <br>
  ऐसेंच रक्षण अंबे करी <strong>॥१२०॥</strong> <br><br>

  ऐसें ऐकतां वचन । <br>
  बंकटलालादि चवघे जण । <br>
  समर्थांचे दिव्य चरण । <br>
  वंदूं लागलें क्षणक्षणां <strong>॥२१॥</strong> <br><br>

  परत आले शेगांवांत । <br>
  ज्यांना त्यांना हीच मात । <br>
  होऊनिया हर्षभरित । <br>
  सांगूं लागले विबुध हो <strong>॥२२॥</strong> <br><br>

  सदाशिव रंगनाथ वानवळे । <br>
  एक्या गृहस्थासमवेत भले । <br>
  शेगांवांत येते झाले । <br>
  महाराजांच्या दर्शना <strong>॥२३॥</strong> <br><br>

  या सदाशिवाकारण । <br>
  टोपण नांव तात्या जाण । <br>
  हे माधवनाथाचे छात्रगण । <br>
  चित्रकूटच्या होते हो <strong>॥२४॥</strong> <br><br>

  या माधवनाथाप्रत । <br>
  योगांगे होतीं अवगत । <br>
  ज्यांचा शिष्यगण माळव्यांत । <br>
  आहे मोठ्या प्रमाणीं <strong>॥२५॥</strong> <br><br>

  सदाशिव आले शेगांवाला । <br>
  जेव्हां श्रीच्या दर्शनाला । <br>
  तेव्हां महाराज भोजनाला । <br>
  बसले होते मठांत <strong>॥२६॥</strong> <br><br>

  सदाशिवासी पाहून । <br>
  माधवाची झाली आठवण । <br>
  गजाननाकारण । <br>
  संत संता जाणती <strong>॥२७॥</strong> <br><br>

  वानवळे येतांक्षणीं । <br>
  महाराज बोलले मोठ्यांनीं । <br>
  अरे नाथाच्या शिष्यालागुनी । <br>
  बसवा आणून माझ्यापुढें <strong>॥२८॥</strong> <br><br>

  त्यांचे गुरु माधवनाथ । <br>
  गेले जेवून इतक्यांत । <br>
  मठीं माझ्या समवेत । <br>
  तों हे दोघे पातले <strong>॥२९॥</strong> <br><br>

  थोडा वेळ आधीं जरी । <br>
  हे आले असते तरी । <br>
  भेट त्यांच्या गुरूची खरी । <br>
  यांना येथें मठांत <strong>॥१३०॥</strong> <br><br>

  आतां हे मागून आले । <br>
  गुरु त्यांचे निघून गेले । <br>
  विडा न घेतां भले । <br>
  त्याची करूं पुर्तता <strong>॥३१॥</strong> <br><br>

  वानवळ्यासी आलिंगन । <br>
  देते झाले दयाघन । <br>
  पोरें बंधूंचीं म्हणून । <br>
  ऐसा तो संतप्रेमा <strong>॥३२॥</strong> <br><br>

  रीतिप्रमाणें सत्कार केला । <br>
  वानवळ्याचा शेगांवाला । <br>
  जातांना त्या निरोप दिला । <br>
  समर्थांनीं येणे रीतिं <strong>॥३३॥</strong> <br><br>

  तुम्ही माधवनाथाला । <br>
  असेच जा भेटण्याला । <br>
  त्यांचा येथें राहिला । <br>
  विडा तो त्या द्यायास <strong>॥३४॥</strong> <br><br>

  मी म्हणतों तेंच सांगा । <br>
  पदरचें न घाला बघा । <br>
  आमच्या वाक्यामाजीं उगा । <br>
  फरक तुम्ही करूं नये <strong>॥३५॥</strong> <br><br>

  म्हणा " साथे भोजन हुवा । <br>
  विडा तुम्हारा याही रहा । <br>
  तो आम्ही आणिला पाहा । <br>
  नाथां तुम्हां द्यावयास " <strong>॥३६॥</strong> <br><br>

  हें सारें बोलणें । <br>
  ऐकलें त्या वानवळ्यानें । <br>
  घेऊन विड्याचीं दोन पानें । <br>
  गमन करितां जाहला <strong>॥३७॥</strong> <br><br>

  माधवनाथा हकीकत । <br>
  त्यानें कथिली इत्थंभूत । <br>
  महाराज आपण शेगांवांत । <br>
  आला होता कां ते दिनीं ? <strong>॥३८॥</strong> <br><br>

  गजानन जें बोललें । <br>
  तैसेंच आहे जाहलें । <br>
  भोजनसमयीं त्यांनीं केलें । <br>
  स्मरण माझें तीच भेट <strong>॥३९॥</strong> <br><br>

  ऐशा रीतिं एकमेकां । <br>
  आम्हीं भेटतों सदैव देखा । <br>
  येथें शंका घेऊं नका । <br>
  स्मरण तीच भेट होय <strong>॥१४०॥</strong> <br><br>

  त्यांचा माझा एक प्राण । <br>
  शरीरे हीं मात्र भिन्न भिन्न । <br>
  हें आहे खोल ज्ञान । <br>
  तें न इतक्यांत कळे तुम्हां <strong>॥४१॥</strong> <br><br>

  बरें झालें आणिला । <br>
  आमुचा विडा तुम्हीं भला । <br>
  जो होता राहिला । <br>
  शेगांवीं शिष्य हो <strong>॥४२॥</strong> <br><br>

  पानें देतां वानवळ्यांनीं । <br>
  तीं भक्षिलीं नाथांनीं । <br>
  खलबत्त्यांत कुटुनीं । <br>
  थोडा प्रसाद दिला त्याला <strong>॥४३॥</strong> <br><br>

  संतभेटी होती कैसी । <br>
  हें चांगदेवपासष्टीसी । <br>
  सांगते झाले ज्ञानराशीं । <br>
  श्रीज्ञानेश्वर महाराज <strong>॥४४॥</strong> <br><br>

  ती पासष्टी मनीं आणा । <br>
  म्हणजे ह्या कळतील खुणा । <br>
  स्वानुभवाच्या ठायीं जाणा । <br>
  वाव न तर्काकारणें <strong>॥४५॥</strong> <br><br>

  योगी वाटेल तेथोनी । <br>
  भेटे एकमेकांलागूनी । <br>
  भेट ठायीच बैसोनी । <br>
  होतें त्याचें कौतुक हें <strong>॥४६॥</strong> <br><br>

  शेख महंमद श्रीगोंद्यांत । <br>
  तुकाराम होते देहूंत । <br>
  आग लागतां मंडपाप्रत । <br>
  देहूमाजीं कीर्तनाच्या <strong>॥४७॥</strong> <br><br>

  ती श्रीशेख महंमदांनीं । <br>
  विझविली श्रीगोंद्यांत बैसुनी । <br>
  हें महिपतीनें लिहूनी । <br>
  ठेविलें भक्तिविजयांत <strong>॥४८॥</strong> <br><br>

  जाऊन हळी खेड्यांत । <br>
  विहिरींत बुडतां पाटीलसुत । <br>
  वांचविलें देऊन हात । <br>
  महाराज माणिकप्रभूंनीं <strong>॥४९॥</strong> <br><br>

  खरा योगी असल्याविना । <br>
  ऐसें कौतुक होईना । <br>
  हें न साधे दांभिकांना । <br>
  त्यांनीं गप्पाच माराव्या <strong>॥१५०॥</strong> <br><br>

  योग अवघ्यांत बलवत्तर । <br>
  त्याची न ये कोणां सर । <br>
  करणें असल्या राष्ट्रोध्दार । <br>
  त्याचा अवलंब करा हो <strong>॥५१॥</strong> <br><br>

  श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  ऐकोत सदा प्रेमळ भक्त । <br>
  निष्ठा ठेवून ग्रंथावरी <strong>॥१५२॥</strong> <br><br>

  <strong>॥ शुभं भवतु ॥</strong> <br>
  <strong>॥ श्रीहरिहरार्पणमस्तु ॥</strong> <br>
  <strong>॥ इति चतुर्दशोध्यायः समाप्तः ॥</strong>
</div>