<div class="adhyaatma-page">
  <h1 alt="manache shlok">मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १७१ ते १८०</strong>
  <br>
  <br>असे सार साचार तें चोरलेसे।
  <br>इहीं लोचनी पाहता दृश्य भासे॥
  <br>निराभास निर्गुण तें आकळेना।
  <br>अहंतागुणे कल्पिताही कळेना<strong>॥१७१॥</strong>
  <br>
  <br>स्फुरे वीषयी कल्पना ते अविद्या।
  <br>स्फुरे ब्रह्म रे जाण माया सुविद्या॥
  <br>मुळीं कल्पना दो रुपें तेचि जाली।
  <br>विवेके तरी स्वस्वरुपी मिळाली<strong>॥१७२॥</strong>
  <br>
  <br>स्वरुपी उदेला अहंकार राहो।
  <br>तेणे सर्व आच्छादिले व्योम पाहो॥
  <br>दिशा पाहतां ते निशा वाढताहे।
  <br>विवेके विचारे विवंचुनि पाहे<strong>॥१७३॥</strong>
  <br>
  <br>जया चक्षुने लक्षिता लक्षवेना।
  <br>भवा भक्षिता रक्षिता रक्षवेना॥
  <br>क्षयातीत तो अक्षयी मोक्ष देतो।
  <br>दयादक्ष तो साक्षिने पक्ष घेतो<strong>॥१७४॥</strong>
  <br>
  <br>विधी निर्मिती लीहितो सर्व भाळी।
  <br>परी लीहिता कोण त्याचे कपाळी॥
  <br>हरू जाळितो लोक संहारकाळी।
  <br>परी शेवटी शंकरा कोण जाळी<strong>॥१७५॥</strong>
  <br>
  <br>जगी द्वादशादित्य हे रुद्र अक्रा।
  <br>असंख्यात संख्या करी कोण शक्रा॥
  <br>जगी देव धुंडाळिता आढळेना।
  <br>जगी मुख्य तो कोण कैसा कळेना<strong>॥१७६॥</strong>
  <br>
  <br>तुटेना फुटेना कदा देवराणा।
  <br>चळेना ढळेना कदा दैन्यवाणा॥
  <br>कळेना कळेना कदा लोचनासी।
  <br>वसेना दिसेना जगी मीपणासी<strong>॥१७७॥</strong>
  <br>
  <br>जया मानला देव तो पुजिताहे।
  <br>परी देव शोधुनि कोणी न पाहे॥
  <br>जगी पाहता देव कोट्यानुकोटी।
  <br>जया मानली भक्ति जे तेचि मोठी<strong>॥१७८॥</strong>
  <br>
  <br>तिन्ही लोक जेथूनि निर्माण झाले।
  <br>तया देवरायासि कोणी न बोले॥
  <br>जगीं थोरला देव तो चोरलासे।
  <br>गुरूवीण तो सर्वथाही न दीसे<strong>॥१७९॥</strong>
  <br>
  <br>गुरु पाहता पाहता लक्ष कोटी।
  <br>बहूसाल मंत्रावळी शक्ति मोठी॥
  <br>मनी कामना चेटके धातमाता।
  <br>जनी व्यर्थ रे तो नव्हे मुक्तिदाता<strong>॥१८०॥</strong>
</div>