<div class="adhyaatma-page">
  <h1 alt="manache shlok">मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १४१ ते १५०</strong>
  <br>
  <br>म्हणे दास सायास त्याचे करावे।
  <br>जनीं जाणता पाय त्याचे धरावे॥
  <br>गुरू अंजनेवीण तें आकळेना।
  <br>जुने ठेवणे मीपणे ते कळेना॥१४१॥
  <br>
  <br>कळेना कळेना कळेना कळेना।
  <br>ढळे नाढळे संशयोही ढळेना॥
  <br>गळेना गळेना अहंता गळेना।
  <br>बळें आकळेना मिळेना मिळेना॥१४२॥
  <br>
  <br>अविद्यागुणे मानवा उमजेना।
  <br>भ्रमे चुकले हीत ते आकळेना॥
  <br>परीक्षेविणे बांधले दृढ नाणें।
  <br>परी सत्य मिथ्या असें कोण जाणें॥१४३॥
  <br>
  <br>जगी पाहतां साच ते काय आहे।
  <br>अती आदरे सत्य शोधुन पाहे॥
  <br>पुढे पाहतां पाहतां देव जोडे।
  <br>भ्रम भ्रांति अज्ञान हें सर्व मोडे॥१४४॥
  <br>
  <br>सदा वीषयो चिंतितां जीव जाला।
  <br>अहंभाव अज्ञान जन्मास आला॥
  <br>विवेके सदा स्वस्वरुपी भरावे।
  <br>जिवा ऊगमी जन्म नाही स्वभावें॥१४५॥
  <br>
  <br>दिसे लोचनी ते नसे कल्पकोडी।
  <br>अकस्मात आकारले काळ मोडी॥
  <br>पुढे सर्व जाईल कांही न राहे।
  <br>मना संत आनंत शोधुनि पाहे॥१४६॥
  <br>
  <br>फुटेना तुटेना चळेना ढळेना।
  <br>सदा संचले मीपणे ते कळेना॥
  <br>तया एकरूपासि दूजे न साहे।
  <br>मना संत आनंत शोधुनि पाहें॥१४७॥
  <br>
  <br>निराकार आधार ब्रह्मादिकांचा।
  <br>जया सांगतां शीणली वेदवाचा॥
  <br>विवेके तदाकार होऊनि राहें।
  <br>मना संत आनंत शोधुनि पाहे॥१४८॥
  <br>
  <br>जगी पाहतां चर्मलक्षी न लक्षे।
  <br>जगी पाहता ज्ञानचक्षी निरक्षे॥
  <br>जनीं पाहता पाहणे जात आहे।
  <br>मना संत आनंत शोधुनि पाहे॥१४९॥
  <br>
  <br>नसे पीत ना श्वेत ना श्याम कांही।
  <br>नसे व्यक्त अव्यक्त ना नीळ नाहीं॥
  <br>म्हणे दास विश्वासतां मुक्ति लाहे।
  <br>मना संत आनंत शोधुनि पाहे॥१५०॥
</div>