<div class="adhyaatma-page">
<h1>रेणुका देवीचे अष्टक १</h1>

<br>लक्षकोटी चंडकीर्ण सुप्रचंड विलपती ।
<br>अंब चंद्रवदनबिंब दिप्तमाझी लोपती ।
<br>सिंह शिखर अचळवासी मूळपीठनायका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ १ ॥</strong>
<br>
<br>आकर्ण अरुणवर्ण नेत्र, श्रवणि दिव्य कुंडले ।
<br>डोलताति पुष्पहार भार फार दाटले ।
<br>अष्टदंडि, बाजुबंदि, कंकणादि, मुद्रिका, ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ २ ॥</strong>
<br>
<br>इंद्रनीळ,पद्मराज, पाचू हार वेगळा ।
<br>पायघोळ बोरमाळ, चंद्रहार वेगळ।
<br>पैंजणादि भूषणेंचि लोपल्याति पादुका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ ३ ॥</strong>
<br>
<br>इंद्र, चंद्र, विष्णु, ब्रह्म, नारदादि वंदिती ।
<br>आदि अंत-ठावहीन आदि शक्ति भगवती ।
<br>प्रचंड चंड मुंड खंड विखंडकारि अंबिका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ ४ ॥</strong>
<br>
<br>पर्वताग्रहवासि पक्षी 'अंब अंब ' बोलती ।
<br>विशाल शालवृक्ष रानिं भवानि ध्यानि डोलती ।
<br>अवतार-कृत्यसार जड-मुढादि तारका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ ५ ॥</strong>
<br>
<br>अनंत ब्रह्मांड कोटिं, पूर्वमुखा बैसली ।
<br>अनंत गुण, अनंत शक्ति, विश्वजननी भासली ।
<br>सव्यभागी दत्त, अत्रि, वामभागिं कालिका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ ६ ॥</strong>
<br>
<br>पवित्र मातृ-क्षेत्र-धन्य वासपुण्य आश्रमी ।
<br>अंब दर्शनासि भक्त-अभक्त येतीं आश्रमी ।
<br>म्हणुनि विष्णुदास नीज लाभ पावला फुका ।
<br>धर्म-अर्थ-काम-मोक्ष कल्पवृक्ष-रेणुका <strong>॥ ७ ॥</strong>
<br>
<br><strong>॥ इति श्री रेणुका अष्टक संपूर्ण ॥</strong>

</div>
