<div class="adhyaatma-page">
  <h1>गजानन महाराज आरती १</h1>
  
  <br>जय जय सत्चितस्वरूपा स्वामी गणराया ।
  <br>अवतरलासी भूवर जड़ मूढ ताराया ।
  <br>जयदेव जयदेव ॥धृ॥
  <br>
  <br>निर्गुण ब्रह्म सनातन अव्यय अविनाशी ।
  <br>स्थिरचर व्यापुन उरले जे या जगतासी ।
  <br>तें तू तत्त्व खरोखर नि:संशय अससी ।
  <br>लीलामात्रे धरिले मानवदेहासी ॥१॥
  <br>
  <br>होऊ न देशी त्याची जाणिव तू कवणा ।
  <br>करूनि ‘गणि गण गणात बोते’ या भजना ।
  <br>धाता हरिहर गुरूवर तूची सुखसदना ।
  <br>जिकडे पाहावे तिकडे तू दिससी नयना ॥२॥
  <br>
  <br>लीला अनंत केल्या बंकटसदनास ।
  <br>पेटविले त्या अग्नीवाचुनि चिलमेस ।
  <br>क्षणात आणिले जीवन निर्जल वापीस ।
  <br>केला ब्रह्मगिरीच्या गर्वाचा नाश ॥३॥
  <br>
  <br>व्याधी वारून केले कैकां संपन्न ।
  <br>करविले भक्तालागी विट्ठलदर्शन ।
  <br>भवसिंधु हा तरण्या नौका तव चरण ।
  <br>स्वामी दासगणूचे मान्य करा कवन ॥४॥
  
  </div>
