<div class="adhyaatma-page">
  <h1>श्री गजानन विजय ग्रंथ - अध्याय ११</h1> <br>

  ॥ श्रीगणेशाय नमः ॥ <br><br>

  हे ओंकाररुपा पशुपती । <br>
  हे भवानीवरा दक्षिणामूर्ति । <br>
  ब्रह्मांडांत जितुक्या विभूति । <br>
  तितकीं रुपें तुझीं देखा ॥१॥ <br><br>
  तुझें रुप जें निराकार । <br>
  जेणें हें व्यापक चराचर । <br>
  जें सर्वस्वीं आधार । <br>
  अविद्या माया प्रकृतीला ॥२॥ <br><br>
  तें स्वरुप जाणावया । <br>
  अशक्य आहे देवराया । <br>
  म्हणून तूं करण्या दया । <br>
  सगुण रुपें धरलींस ॥३॥ <br><br>
  जैसें ज्याला वाटत । <br>
  तैसें तो तुला भाग देत । <br>
  नामामुळें तुजप्रत । <br>
  भिन्नत्व ये ना कधींही ॥४॥ <br><br>
  शैव तुला शिव म्हणती । <br>
  ब्रह्म बोलती वेदान्ती । <br>
  रामानुजांचा सीतापती । <br>
  वैष्णवांचा विष्णू तूं ॥५॥ <br><br>
  उपासनेप्रमाणें । <br>
  नांवें मिळालीं तुजकारणें । <br>
  परी तूं अभिन्नपणें । <br>
  सर्वांठायींच गवससी ॥६॥ <br><br>
  तूं सोमनाथ विश्वेश्वर । <br>
  हीम केदार ओंकार । <br>
  क्षिप्रातटाकीं साचार । <br>
  महांकाल तूंच कीं ॥७॥ <br><br>
  नागनाथ वैजनाथ । <br>
  घृष्णेश्वर वेरुळांत । <br>
  त्र्यंबक तुला म्हणतात । <br>
  गोदावरीच्या तटाकीं ॥८॥ <br><br>
  तूं भीमाशंकर । <br>
  मल्लिकार्जुन रामेश्वर । <br>
  तूं गोकर्णरुपी शंकर । <br>
  तूं महादेव शिंगणापुरीं ॥९॥ <br><br>
  त्या अवघ्यांकारण । <br>
  असो माझें साष्टांग नमन । <br>
  माझ्या त्रितापांचें हरण । <br>
  शीघ्र करी दीनबंधो ॥१०॥ <br><br>
  देवा तुम्ही कुबेराला । <br>
  क्षणांत धनपती केला । <br>
  मग माझ्याविषयीं कां हो पडला । <br>
  प्रश्न तुम्हांसी गिरिजापते ? ॥११॥ <br><br>
  बाळकृष्णाच्या सदनासी । <br>
  समर्थ आले दुसरे वर्षी । <br>
  त्या बाळापुरासी । <br>
  दासनवमीकारणें ॥१२॥ <br><br>
  सुकलाल बाळकृष्ण । <br>
  या बाळापुरालागून । <br>
  निःसीम भक्त होते दोन । <br>
  त्यांची सरी न ये कोणा ॥१३॥ <br><br>
  या वेळीं बरोबर । <br>
  होते पाटील भास्कर । <br>
  बाळाभाऊ, पितांबर । <br>
  गणू, जगदेव, दिंडोकार ॥१४॥ <br><br>
  उत्सव दासनवमीचा । <br>
  सांग झाला तेथ साचा । <br>
  दैवयोग भास्कराचा । <br>
  तेथेंच आला ओढवून ॥१५॥ <br><br>
  एक कुत्रें पिसाळलेलें । <br>
  भास्करा येऊन चावलें । <br>
  तेणें लोक इतर भ्याले । <br>
  म्हणती आतां हा पिसाळलेला ॥१६॥ <br><br>
  उपाय अवघे व्यावहारिक । <br>
  भास्करासी केले देख कोणी म्हणती निःशंक । <br>
  डाँक्‍टरा धाडा बोलवणें ॥१७॥ <br><br>
  भास्कर म्हणे ते अवसरीं । <br>
  वैद्याची ना जरुर खरी । <br>
  माझा डाँक्टर आसनावरी । <br>
  बैसला आहे गजानन ॥१८॥ <br><br>
  त्याचकडे मजला न्यावें । <br>
  वृत्त अवघें कळवावें । <br>
  ते सांगतील तें ऐकावें । <br>
  आपला हेका करुं नका ॥१९॥ <br><br>
  गजाननाचे समोर । <br>
  आणिला पाटील भास्कर । <br>
  बाळाभाऊनें समाचार । <br>
  अवघा समर्थांस श्रुत केला ॥२०॥ <br><br>
  तो अवघा ऐकून । <br>
  महाराज वदले हांसून । <br>
  हत्या, वैर आणि ऋण । <br>
  हें कोणासी चुकेना ॥२१॥ <br><br>
  सुकलालच्या गाईठायीं । <br>
  द्वाडपणा जो होता पाही । <br>
  तो या भास्करें लवलाही । <br>
  शेगांवीं दवडिला ॥२२॥ <br><br>
  तें तिचें द्वाडपण । <br>
  कुत्रें येथें झालें जाण । <br>
  तेंच चावलें येऊन । <br>
  या पाटील भास्कराला ॥२३॥ <br><br>
  तिचा हरण्या द्वाडपणा । <br>
  मशीं यानें केली प्रार्थना । <br>
  इचें प्यावया दूध जाणा । <br>
  ऐसा भास्कर मतलबी ॥२४॥ <br><br>
  दूध पितां वाटलें गोड । <br>
  आतां कां रे चाललें जड । <br>
  नको पडदा ठेवूंस आड । <br>
  वांचवूं कां मी सांग तुला ? ॥२५॥ <br><br>
  हें कुत्रें निमित्त झालें । <br>
  तुझें आयुष्य मुळींच सरलें । <br>
  आतां पाहिजे प्रयाण केलें । <br>
  तूं या सोडून मृत्युलोकां ॥२६॥
  <br><br>
  जरी इच्छा असेल मनीं । <br>
  वांचण्याची तुजलागुनी । <br>
  तरी तुझें मी यापासुनी । <br>
  रक्षण वेडया करीन ॥२७॥ <br><br>
  परी ती होईल उसनवारी । <br>
  जन्ममृत्यूची बाळा खरी या अशाश्वताच्या बाजारीं । <br>
  देणें घेणें चालत ॥२८॥ <br><br>
  बोल आतां झडकर । <br>
  काय तुझा विचार । <br>
  ऐसी कधीं ना येणार । <br>
  पर्वणी ती जाण तुला ॥२९॥ <br><br>
  भास्कर बोले त्यावरी । <br>
  मी अजाण सर्वतोपरी । <br>
  जें असेल अंतरीं । <br>
  आपुल्या तेंच करावें ॥३०॥ <br><br>
  लेंकुराचें अवघें हित । <br>
  माता एक तें जाणत । <br>
  ऐसें एक्या अभंगांत । <br>
  श्रीतुकोबा बोलले ॥३१॥ <br><br>
  मी आपलें लेंकरुं । <br>
  म्हणून विनंती कशास करुं ? । <br>
  तूं अवघ्या ज्ञानाचा सागरु । <br>
  अवघें कांहीं कळतें तुला ॥३२॥ <br><br>
  ऐसें ऐकतां भाषण । <br>
  संतोषले गजानन । <br>
  खर्‍याप्रती समाधान । <br>
  खरें बोलतां होतसे ॥३३॥ <br><br>
  कोणी म्हणाले गुरुराया । <br>
  भास्करासी वांचवा सदया । <br>
  या कुत्र्यापासूनिया । <br>
  तो आपुला भक्त असे ॥३४॥ <br><br>
  महाराज म्हणती त्याकारण । <br>
  हेंच तुझें अज्ञान । <br>
  अरे वेडया जन्ममरण । <br>
  हीच मुळीं भ्रांति असे ॥३५॥ <br><br>
  जन्मे न कोणी, मरे न कोणी । <br>
  हें जाणावयालागुनी । <br>
  परमार्थाचा उपाय जाणी । <br>
  शास्त्रकारें कथन केला ॥३६॥ <br><br>
  त्याचा उपयोग करावा । <br>
  मोह समूळ सोडावा । <br>
  प्रारब्धभोग भोगावा । <br>
  निमुटपणें हेंच बरें ॥३७॥ <br><br>
  संचित-प्रारब्ध-क्रियमाण । <br>
  हें भोगल्यावांचून । <br>
  या बद्ध जीवालागून । <br>
  सुटका होणें मुळींच नसे ॥३८॥ <br><br>
  पूर्वजन्मीं जें करावें । <br>
  तें या जन्मीं भोगावें । <br>
  आणि तें भोगण्यासाठीं यावें । <br>
  जन्मा हा सिद्धान्त असे ॥३९॥ <br><br>
  या जन्मीं जें करावें । <br>
  तें पुढच्या जन्मास उरवावें । <br>
  असे किती सांग घ्यावे । <br>
  फेरे जन्ममृत्यूचे ? ॥४०॥ <br><br>
  पूर्वजन्मीचें उर्वरित । <br>
  भास्कराचें न उरलें सत्य । <br>
  तो अवघ्यापून झाला मुक्त । <br>
  मोक्षास जायाकारणें ॥४१॥ <br><br>
  म्हणून आग्रह करुं नका । <br>
  मार्ग त्याचा आडवूं नका । <br>
  काय भास्करासारखा । <br>
  भक्तराणा जन्मे पुन्हां ॥४२॥ <br><br>
  पूर्वजन्मीचें याचें वैरी । <br>
  कुत्रें होतें निर्धारीं । <br>
  म्हणून तें या बाळापुरीं । <br>
  चावतें झालें भास्करास ॥४३॥ <br><br>
  त्यानें अवघा आपुला । <br>
  डाव येथें साधिला । <br>
  तैसा जरी शेष उरला । <br>
  द्वेष मनीं भास्कराच्या ॥४४॥ <br><br>
  तरी तो त्याचा द्वेष । <br>
  कारण पुढील जन्मास । <br>
  कारण होईल भास्करास । <br>
  दावा आपुला उगवावया ॥४५॥ <br><br>
  म्हणून पूर्वजन्मींचें वैर सरलें । <br>
  आतां न कांहीं शेष उरलें । <br>
  या भासकराकारण भलें । <br>
  अवघ्या उपाधि निरसल्या ॥४६॥ <br><br>
  आतां मी इतकेंच करितों । <br>
  दोन महिने वांचवितों । <br>
  याला न पिसाळूं देतों । <br>
  श्वानविषापासून ॥४७॥ <br><br>
  तें न मीं केलें जरी । <br>
  हा जन्मास येईल पुन्हां परी । <br>
  दोन महिने भूमिवरी । <br>
  उरलें आयुष्य भोगावया ॥४८॥ <br><br>
  ऐसें ज्ञान ऐकिलें । <br>
  तें कित्येकांस नाहीं पटलें । <br>
  मात्र बाळाभाऊ आनंदले । <br>
  त्या बोधातें ऐकुनी ॥४९॥ <br><br>
  भास्करा, तूं धन्य धन्य । <br>
  संतसेवा केलीस पूर्ण । <br>
  चुकलें तुझें जन्ममरण । <br>
  काय योग्यता वानूं तुझी ? ॥५०॥ <br><br>
  ऐसा प्रकार झाल्यावरी । <br>
  मंडळी आली शेगांवनगरीं । <br>
  भास्कर बोले मधुरोत्तरीं । <br>
  महाराजांच्या भक्तगणां ॥५१॥ <br><br>
  बाळापूरची हकीकत । <br>
  सांगे प्रत्येका इत्यंभूत । <br>
  माझी विनंती जोडून हात । <br>
  हीच तुम्हां भास्कर म्हणे ॥५२॥ <br><br>
  महाराज लाधले शेगांवा । <br>
  याचा विचार करावा । <br>
  या कीर्तीचा अमोल्य ठेवा । <br>
  सांभाळा स्मारक करुन ॥५३॥ <br><br>
  त्यांना स्मारकाची जरुर नाहीं । <br>
  ते पुढीलांसाठीं पाही । <br>
  तें स्मारक साक्षी देई । <br>
  त्यांच्या अमोल साधुत्वाची ॥५४॥ <br><br>
  पाहा आळंदीस ज्ञानेश्वर । <br>
  समर्थ सज्जनगडावर । <br>
  पवित्र केलें देहूनगर । <br>
  त्या तुकोबारायानें ॥५५॥ <br><br>
  त्यांचीं स्मारकें त्या त्या ठायां । <br>
  ठेविलीं भव्य करुनिया । <br>
  तोच पथ अनुसराया । <br>
  तुम्हीं झटावें मनापून ॥५६॥ <br><br>
  ऐसें प्रत्येका सांगत । <br>
  भास्कर राहिला निवांत । <br>
  परी त्याच्या मनांत । <br>
  ऐसें आलें एकदां ॥५७॥ <br><br>
  हे मला हो हो म्हणती । <br>
  माझी ऐकून विनंती । <br>
  परी शंका येत चित्तीं । <br>
  हो म्हणण्याची यांची मला ॥५८॥ <br><br>
  त्यानें एकदां ऐसें केलें । <br>
  अवघ्या लोकांस मिळविलें एक्या ठायीं मठांत भले । <br>
  महाराजांच्या अपरोक्ष ॥५९॥ <br><br>
  बंकटलाल पाटील हरी । <br>
  मारुती चंद्रभान कारभारी । <br>
  जो खंडुजीच्या दुकानावरी । <br>
  होता कारभार करीत ॥६०॥ <br><br>
  श्रीपतराव वावीकर । <br>
  ताराचंद साहुकार । <br>
  आणिक मंडळी होती इतर । <br>
  नांवें कुठवर सांगावीं ? ॥६१॥आ मिळवूनिया त्या लोकांला ।
  भास्करें पदर पसरीला । <br>
  माझा आतां संबंध उरला । <br>
  दोन महिनेच तुमच्याशीं ॥६२॥ <br><br>
  माझ्या मनीं ऐशी आस । <br>
  समर्थांचें स्मारक खास । <br>
  भव्य व्हावें वर्‍हाडास । <br>
  या शेगांवामाझारी ॥६३॥ <br><br>
  तुम्ही हें करितों म्हणा । <br>
  तेणें आनंद माझ्या मना । <br>
  होऊन सुखें करीन गमना । <br>
  मी वैकुंठाकारणें ॥६४॥ <br><br>
  संतसेवा कधींही । <br>
  अनाठाईं जाणार नाहीं इच्छा जयाची ज्या ज्या होई । <br>
  त्या, त्या संत पुरविती ॥६५॥ <br><br>
  स्मारक ऐसें करावें । <br>
  अवघ्यांनींच वाखाणावें । <br>
  पाहून त्या डोलावें । <br>
  प्रत्येकानें आपुल्या मनीं ॥६६॥ <br><br>
  ऐसेंच स्मारक करण्याची । <br>
  शपथ वाहा समर्थांची । <br>
  ही विनंति अखेरची । <br>
  माझी ती मान्य करा ॥६७॥ <br><br>
  तें अवघ्यांनीं कबूल केलें । <br>
  भास्कराचें स्थीरावलें । <br>
  यायोगें तें चित्त भलें । <br>
  रुखरुख मनाची संपली ॥६८॥ <br><br>
  उत्तरोत्तर आनंदवृत्ती । <br>
  भास्कराची वाढत होती । <br>
  जैसीं लेंकुरें आनंदती । <br>
  पुढील सणाच्या आशेनें ॥६९॥ <br><br>
  माघ वद्य त्रयोदशीस । <br>
  महाराज वदले भास्करास । <br>
  चाल त्र्यंबकेश्वरास । <br>
  जाऊं आपण शिवरात्रीला ॥७०॥ <br><br>
  तो त्र्यंबकराजा कर्पूरगौर । <br>
  भवभवांतक भवानीवर । <br>
  जो आहे झाला स्थीर । <br>
  श्रीगोदावरीच्या तटातें ॥७१॥ <br><br>
  तें ज्योतिर्लिंग मनोहर । <br>
  करी पातकाचा संहार । <br>
  नको करुंस आतां उशीर । <br>
  जाऊं गंगास्नानाला ॥७२॥ <br><br>
  भास्करा, त्या त्र्यंबकेश्वरीं । <br>
  पहाड एक ब्रह्मगिरी । <br>
  जेथें औषधी नानापरी । <br>
  बहुसाल असती उगवलेल्या ॥७३॥ <br><br>
  त्या ब्रह्मगिरीवर स्थित । <br>
  आहेत पहा गहनीनाथ । <br>
  ज्यांना आहेत अवगत । <br>
  गुणधर्म औषधीचे ॥७४॥ <br><br>
  वेडया कुत्र्याच्या विषावरी । <br>
  तेथें औषधी आहे खरी । <br>
  तिचा उपयोग सत्वरीं । <br>
  करुन पाहूं येधवां ॥७५॥ <br><br>
  भास्कर म्हणे गुरुनाथा । <br>
  आतां औषधी कशाकरतां ? । <br>
  तुमची आहे अगाध सत्ता । <br>
  औषधीहून आगळी ॥७६॥ <br><br>
  आपुल्या कृपेनें भलें । <br>
  विष बाळापुरींच निमालें । <br>
  आयुष्याचे आहेत उरले । <br>
  दोन महिने आतां कीं ॥७७॥ <br><br>
  म्हणून वाटे मजप्रती । <br>
  शेगांवींच राहूं गुरुमूर्ती । <br>
  त्र्यंबकेश्वरा आम्हांप्रती । <br>
  तुहीच आहांत साक्षात्‌ ॥७८॥ <br><br>
  गोदावरी तुमचे चरण । <br>
  तेथेंच मी करी स्नान । <br>
  अन्य तीर्थाचें प्रयोजन । <br>
  मला न आतां राहिलें ॥७९॥ <br><br>
  ऐसी ऐकतां त्याची वाणी । <br>
  समर्थ वदले हांसोनी । <br>
  हें जरी खरें जाणी । <br>
  तरी तीर्थमहिमा मानावा ॥८०॥ <br><br>
  चाल नको करुं उशीर । <br>
  पाहूं तो त्र्यंबकेश्वर बाळाभाऊ पीतांबर । <br>
  यांसही घे बरोबरी ॥८१॥ <br><br>
  मग ती मंडळी निघाली । <br>
  शेगांवाहून भली । <br>
  शिवरात्रीस येती झाली । <br>
  त्र्यंबकेश्वराकारणें ॥८२॥ <br><br>
  कुशावर्ती केलें स्नान । <br>
  घेतलें हराचें दर्शन । <br>
  गंगाद्वारां जाऊन । <br>
  पूजन केलें गौतमीचें ॥८३॥ <br><br>
  वंदिली माय निलांबिका । <br>
  तेवीं गहनी निवृत्तिनाथ देखा । <br>
  तेथून आले नाशिका । <br>
  गोपाळदासास भेटावया ॥८४॥ <br><br>
  हा गोपाळदास महंत । <br>
  काळ्या रामाच्या मंदिरांत । <br>
  धुनी लावूनी द्वारांत । <br>
  पंचवटीच्या बसलासे ॥८५॥ <br><br>
  राममंदिरासमोर । <br>
  एक पिंपळाचा होता पार । <br>
  शिष्यांसहित साधुवर । <br>
  तेथें जाऊन बैसले ॥८६॥ <br><br>
  गोपाळदासास आनंद झाला । <br>
  बोलले जवळच्या मंडळीला । <br>
  आज माझा बंधु आला । <br>
  वर्‍हाडांतून गजानन ॥८७॥ <br><br>
  जा घ्या त्यांचें दर्शन । <br>
  अनन्यभावें करुन । <br>
  माझी ही भेट म्हणून । <br>
  नारळसाखर त्यांसी द्या ॥८८॥ <br><br>
  हा हार घाला कंठांत । <br>
  तो मी एक साक्षात् । <br>
  देह भिन्न म्हणून द्वैत । <br>
  आम्हां उभयतीं मानूं नका ॥८९॥ <br><br>
  शिष्यांनीं तैसेंच केलें । <br>
  दर्शन घ्याया अवघे आले । <br>
  कंठामाजीं घातिले । <br>
  दिलेल्या पुष्पहाराला ॥९०॥ <br><br>
  नारळ आणि खडीसाखर । <br>
  ठेविली स्वामीसमोर ती पाहून गुरुवर । <br>
  ऐसें बोलले भास्कराला ॥९१॥ <br><br>
  हा प्रसाद अवघ्यांस वाटी । <br>
  परी न होऊं देई दाटी । <br>
  माझ्या बंधूची झाली भेटी । <br>
  आज या पंचवटींत ॥९२॥ <br><br>
  माझें येथील काम झालें । <br>
  आतां नाशकाचें राहिलें । <br>
  म्हणून पाहिजे तेथें गेले । <br>
  धुमाळ वकीलाच्या घरा ॥९३॥ <br><br>
  महाराज आले नाशकांत । <br>
  लोक दर्शना जमले बहुत । <br>
  बारीक सारीक गोष्टी अमित । <br>
  तेथें असतां जहाल्या ॥९४॥ <br><br>
  त्या अवघ्या सांगतां । <br>
  विस्तार होईल उगीच ग्रंथा । <br>
  म्हणून देतों संक्षेप आतां । <br>
  त्याची क्षमा करा हो ॥९५॥ <br><br>
  तेथें राहून कांहीं दिवस । <br>
  महाराज आले शेगांवास । <br>
  तो अडगांवीं नेण्यास । <br>
  श्यामसिंग पातला ॥९६॥ <br><br>
  त्यानें आग्रह केला फार । <br>
  समर्थें दिलें उत्तर । <br>
  रामनवमी झाल्यावर । <br>
  येऊं आम्ही अडगांवा ॥९७॥ <br><br>
  आतां तूं जावें परत । <br>
  उगा न पडे आग्रहांत । <br>
  श्यामसिंग मुळींच भक्त । <br>
  निःसीम होता समर्थांचा ॥९८॥ <br><br>
  तो आला तैसा परत गेला । <br>
  आपुल्या त्या अडगांवाला । <br>
  पुन्हां श्रोते येतां झाला । <br>
  रामनवमीस शेगांवीं ॥९९॥ <br><br>
  उत्सव करुन शेगांवांत । <br>
  समर्थांना शिष्यांसहित । <br>
  आला घेऊन अडगांवांत । <br>
  हनुमानजयंतीकारणें ॥१००॥ <br><br>
  अडगांवीं असतां समर्थस्वारी । <br>
  चमत्कार झाले नानापरी । <br>
  एके दिवशीं दोन प्रहरीं । <br>
  भास्कर लोळविला फुपाट्यांत ॥१॥ <br><br>
  छातीवरी बैसून । <br>
  भास्करा केलें ताडन । <br>
  लोक पहाती दुरुन । <br>
  परी जवळी कोणी जाईना ॥२॥ <br><br>
  बाळाभाऊ जवळ होता । <br>
  तो म्हणाला सद्‌गुरुनाथा । <br>
  भास्करासी सोडा आतां । <br>
  बेजार झाला उन्हानें ॥३॥ <br><br>
  तैं म्हणाला भास्कर । <br>
  बाळाभाऊ न जोडा कर । <br>
  माझा हा साक्षात् ईश्वर । <br>
  काय करील तें करुं दे ॥४॥ <br><br>
  लोकांसी वाटती चापटया दिल्या । <br>
  मला होतात गुदगुल्या । <br>
  अनुभवाच्या गोष्टी भल्या । <br>
  अनुभवीच जाणती ॥५॥ <br><br>
  पुढें घेऊन भास्करासी । <br>
  महाराज आले बिर्‍हाडासी । <br>
  त्या अडगांव ग्रामासी । <br>
  उतरलेल्या ठिकाणास ॥६॥ <br><br>
  बाळाभाऊस बोलले । <br>
  अवघे आतां दोन उरले । <br>
  भास्कराचे दिवस भले । <br>
  पंचमीला जाईल तो ॥७॥ <br><br>
  आज मीं जें केलें कृत्य । <br>
  ताडनाचें रानांत । <br>
  तें कां हें तुजप्रत । <br>
  आलें असेल कळोनी ॥८॥ <br><br>
  तुजला या भास्करानीं । <br>
  मारविलें होतें छत्रीनीं । <br>
  शेगांवीं माझ्या करांनीं । <br>
  तें आहे कां ध्यानांत ? ॥९॥ <br><br>
  तें क्रियमाण नासावया । <br>
  त्यास मीं मारिलें ये ठायां । <br>
  ह्या एकाच गोष्टीवांचूनिया । <br>
  अन्य नव्हता हेत कांहीं ॥११०॥ <br><br>
  उत्सव पूर्ण झाल्यावर । <br>
  त्या अडगांवींचा साचार । <br>
  काय घडला प्रकार । <br>
  तो आतां परियेसा ॥११॥ <br><br>
  उत्सवाचा काला झाला । <br>
  वद्य पंचमी दिवस आला । <br>
  एक प्रहर दिवसाला । <br>
  समर्थ म्हणती भास्करासी ॥१२॥ <br><br>
  भास्करा तुझें प्रयाण । <br>
  आज दिवशीं आहे जाण । <br>
  पद्मासन घालून । <br>
  पूर्वाभिमुख बैसावें ॥१३॥ <br><br>
  चित्त अवघें स्थिर करी । <br>
  चित्तीं सांठवावा हरी । <br>
  वेळ आली जवळ खरी । <br>
  आतां सावध असावें ॥१४॥ <br><br>
  इतर जनांकारण । <br>
  म्हणूं लागले करा भजन । <br>
  "विठ्ठल विठ्ठल नारायण" । <br>
  ऐसें उच्च स्वरानें ॥१५॥ <br><br>
  हा तुमचा बंधु भला । <br>
  जातो आज वैकुंठाला । <br>
  त्याच्या करा पूजनाला । <br>
  माळ बुक्का वाहून ॥१६॥ <br><br>
  भास्करें घातलें पद्मासन । <br>
  नासाग्रीं दृष्टि ठेवून । <br>
  वृत्ति अवघ्या केल्या लीन । <br>
  अंतर्मुख होऊनियां ॥१७॥ <br><br>
  भक्त भास्करा पूजिती । <br>
  माळा बुक्का वाहती । <br>
  तें कौतुक पाहाती । <br>
  समर्थ दूर बैसून ॥१८॥ <br><br>
  भजन झालें एक प्रहर । <br>
  माध्यान्हीस आला दिनकर । <br>
  महाराजांनीं ’हरहर’ । <br>
  शब्द केला मोठयानें ॥१९॥ <br><br>
  त्यासरसा प्राण गेला । <br>
  भास्कराचा वैकुंठाला । <br>
  संतांनीं हातीं धरिलें ज्याला । <br>
  तो पाहुणा हरीचा ॥१२०॥ <br><br>
  लोक पुसती महाराजास । <br>
  कोठें करणें समाधीस । <br>
  या भास्कराच्या शरीरास । <br>
  कोठें न्यावें ठेवावया ? ॥२१॥ <br><br>
  समर्थ अवघ्यांस सांगती । <br>
  द्वारकेश्वर जो पशुपती । <br>
  ज्याच्या सन्निध आहे सती । <br>
  तेथें ठेवा भास्कराला ॥२२॥ <br><br>
  ऐसी आज्ञा होतां क्षणीं । <br>
  विमान बांधिलें लोकांनीं । <br>
  केळीचे खांब लावुनी । <br>
  चहुं बाजूंस विबुध हो ॥२३॥ <br><br>
  आंत ठेविलें कलेवर । <br>
  पुढें भजनाचा होय गजर । <br>
  मिरवीत आणिला भास्कर । <br>
  द्वारकेश्वराचीयापासी ॥२४॥ <br><br>
  सांगविधि समाधीचा । <br>
  ते ठायीं झाला साचा । <br>
  लोक म्हणती महाराजांचा । <br>
  परम भक्त गेला हो ॥२५॥ <br><br>
  दुसरे दिवसापासून । <br>
  समाधीच्या सन्निध जाण । <br>
  होऊं लागलें अन्नदान । <br>
  गोरगरीबांकारणें ॥२६॥ <br><br>
  स्थान द्वारकेश्वराचें । <br>
  अडगांवाच्या सन्निध साचें । <br>
  अंतर एक मैलाचें । <br>
  गांवापासून उत्तरेस ॥२७॥ <br><br>
  जागा द्वारकेश्वराची । <br>
  परमरमणीय होती साची । <br>
  झाडी चिंचवृक्षांची । <br>
  होती विशेष ते ठायां ॥२८॥ <br><br>
  निंब अश्वत्थ मांदार । <br>
  आम्र वट औदुंबर । <br>
  ऐसे वृक्ष होते इतर । <br>
  शिवाय कांहीं फुलझाडें ॥२९॥ <br><br>
  अडगांव अकोलीच्या मध्यंतरीं । <br>
  हें ठिकाण निर्धारी । <br>
  तेथें समाधि दिधली खरी । <br>
  समर्थांनीं भास्कराला ॥१३०॥ <br><br>
  दहा दिवस अन्नदान । <br>
  झालें याचें वर्णन । <br>
  तुम्ही नुकतेंच केलें श्रवण । <br>
  संतभंडारा नांव ज्याचें ॥३१॥ <br><br>
  चिंचवृक्षांच्या सावलींत । <br>
  जेवाया बसे पंगत । <br>
  तयीं कावळे अतोनात । <br>
  त्रास देऊं लागले ॥३२॥ <br><br>
  काव काव ऐसें करिती । <br>
  द्रोण पात्रीचे उचलून नेती । <br>
  मलोत्सर्ग तोही करिती । <br>
  जेवणारांच्या अंगावर ॥३३॥ <br><br>
  योगें लोक त्रासले । <br>
  कावळ्यांस हाकूं लागले । <br>
  भिल्लांनीं ते तयार केले । <br>
  तीरकमटे त्या मारावया ॥३४॥ <br><br>
  तईं बोलले गजानन । <br>
  अवघ्या लोकांलागून । <br>
  नका मारुं त्याकारण । <br>
  अपराध त्यांचा कांहीं नसे ॥३५॥ <br><br>
  या भंडार्‍यांत येण्याचा । <br>
  हेतु इतकाच आहे त्यांचा । <br>
  प्रसाद आपणा भास्कराचा । <br>
  इतरांपरी मिळावा ॥३६॥ <br><br>
  कां कीं हा भास्कर । <br>
  वैकुंठीं गेला साचार । <br>
  हा पितृलोकावर । <br>
  नाहीं मुळींच राहिला ॥३७॥ <br><br>
  दहा दिवसपर्यंत । <br>
  प्राण अंतरिक्षांत । <br>
  राहे परिभ्रमण करित । <br>
  सपिंडी होता जाय पुढें ॥३८॥ <br><br>
  त्या अकराविया दिवशीं । <br>
  बली देती कावळ्याशीं । <br>
  काक जेव्हां स्पर्शेल त्यासी । <br>
  तेव्हांच प्राण जातो पुढें ॥३९॥ <br><br>
  त्या बलीदानाचें । <br>
  कारण भास्करा नुरलें साचें । <br>
  म्हणून या कावळ्यांचें । <br>
  पित्त गेलें खवळून ॥१४०॥ <br><br>
  आत्मा या भास्कराचा । <br>
  मुळींच मुक्त झाला साचा । <br>
  तो पाहुणा वैकुंठीचा । <br>
  झाला आहे येधवां ॥४१॥ <br><br>
  या सोमसूर्य लोकाचें । <br>
  कारण त्यासी नुरलें साचें । <br>
  म्हणून पिंडदानाचें । <br>
  नुरलें पाहा प्रयोजन ॥४२॥ <br><br>
  जयाला न ऐसीं गती । <br>
  त्याच्यासाठीं पिंड देती । <br>
  कावळ्यांची वाट पाहाती । <br>
  पिंड ठेवून कलशावर ॥४३॥ <br><br>
  म्हणून कावळे रागावले । <br>
  त्यांनीं हें जाणीतलें । <br>
  भास्करानें गमन केलें । <br>
  एकदम वैकुंठ लोकाला ॥४४॥ <br><br>
  म्हणून आम्हां प्रसाद त्याचा । <br>
  मिळूं द्या या भंडार्‍याचा । <br>
  ऐसा विचार कावळ्यांचा । <br>
  दिसतो या कृतीनें ॥४५॥ <br><br>
  तुम्ही त्यांस मारुं नका । <br>
  मीच तया सांगतों देखा । <br>
  अहो जिवांनो ! माझें ऐका । <br>
  गोष्ट आतां सांगतों जी ॥४६॥ <br><br>
  तुम्ही उद्यांपासोन । <br>
  वर्ज्य करा हें ठिकाण । <br>
  ना तरी भास्करालागून । <br>
  येईल माझ्या कमीपणा ॥४७॥ <br><br>
  आज प्रसाद घेऊन । <br>
  तुम्ही तृप्त व्हा अवघेजण । <br>
  मात्र उद्यांपासून । <br>
  या स्थळासी येऊं नका ॥४८॥ <br><br>
  ऐसें महाराज बोलले । <br>
  तें भाविकांसी अवघें पटलें । <br>
  परि कुत्सित जे कां बसले । <br>
  होते त्या मंडळींत ॥४९॥ <br><br>
  ते एकमेकांलागुनी । <br>
  म्हणते झाले हांसोनी । <br>
  ही गजाननानें केली वाणी । <br>
  अस्थानीं कीं निरर्थक ॥१५०॥ <br><br>
  पक्षी कुठें कां वागतात । <br>
  मानवाच्या आज्ञेंत ? । <br>
  पाहूं याची प्रचीत । <br>
  उद्यां मुद्दाम येऊनी ॥५१॥ <br><br>
  हे वेडे कांहीं बोलती । <br>
  भाविका नादीं लाविती । <br>
  आपलें स्तोम माजविती । <br>
  संतत्वाचें निरर्धक ॥५२॥ <br><br>
  अहो साजेल तें बोलावें । <br>
  जें कां पचेल तेंच खावें । <br>
  उसनें न कधीं आणावें । <br>
  अवसान तें अंगांत ॥५३॥ <br><br>
  दुसरे दिवशीं ते कुत्सित । <br>
  मुद्दाम पाहाया आले तेथ । <br>
  तों एकही ना दृष्टीप्रत । <br>
  पडला त्यांच्या कावळा ॥५४॥ <br><br>
  मग मात्र चकित झाले । <br>
  समर्थांसी शरण आले । <br>
  बारा वर्षें तेथ भले । <br>
  कावळे न आले श्रोते हो ॥५५॥ <br><br>
  चौदा दिवस झाल्यावरी । <br>
  गजानन फिरले माघारीं । <br>
  येते झाले शेगांव नगरीं । <br>
  आपल्या उर्वरित शिष्यांसह ॥५६॥ <br><br>
  श्रोते त्या शेगांवांत । <br>
  एक गोष्ट घडली अघटित । <br>
  ती ऐका सावचित्त । <br>
  सांगतों मी येधवां ॥५७॥ <br><br>
  होतें साल दुष्काळाचें । <br>
  म्हणून एका विहिरीचें । <br>
  काम चाललें खोदण्याचें । <br>
  सुरुंगातें लावून ॥५८॥ <br><br>
  विहीर दोन पुरुषावर । <br>
  गेली खोल साचार । <br>
  खडक काळा लागला थोर । <br>
  गती खुंटली पहारीची ॥५९॥ <br><br>
  म्हणून भोकें करुन । <br>
  आंत दारु ठासून । <br>
  सुरुंगांच्या साह्यें करुन । <br>
  काम फोडण्याचें सुरुं झालें ॥१६०॥ <br><br>
  चारी बाजूंस भोकें चार । <br>
  केलीं पहारीनें तयार । <br>
  दारु ठासिली अखेर । <br>
  आंत दोर्‍या घालुनी ॥६१॥ <br><br>
  एरंड पुंगळ्या पेटवून । <br>
  सोडल्या चारी दोर्‍यांतून । <br>
  तों मध्येंच बसल्या अडकून । <br>
  दोर्‍याचीया गांठीवरी ॥६२॥ <br><br>
  पुंगळी खालीं जाईना । <br>
  दारुस विस्तव लागेना । <br>
  पाणी दम धरीना । <br>
  आलें जवळी सुरुंगाच्या ॥६३॥ <br><br>
  तैं कामावरचा मिस्तरी । <br>
  विचार करी अंतरीं । <br>
  सुरुंगास लागल्या वारी । <br>
  सुरुंग वायां जाईल कीं ॥६४॥ <br><br>
  म्हणून गणू जवर्‍याला । <br>
  मिस्तरी तो बोलला । <br>
  तूं उतरुन विहिरीला । <br>
  पुंगळ्या थोडया सरकीव ॥६५॥ <br><br>
  आणि तूं येईं लौकर वरी । <br>
  पुंगळ्या जातील तोंवरी । <br>
  बाराचिया शेजारी । <br>
  म्हणजे काम होईल ॥६६॥ <br><br>
  त्या पुंगळ्या सरकावण्यासी । <br>
  कोणी न धजे जावयासी । <br>
  म्हणून या गणू जवर्‍यासी । <br>
  मिस्तरीनें दटाविलें ॥६७॥ <br><br>
  काय करितो बिचारा । <br>
  दारिद्रय होतें ज्याच्या पदरां । <br>
  त्याच्यावरी चाले जोरा । <br>
  यज्ञास बळी बोकडाचा ॥६८॥ <br><br>
  या गणू जवर्‍याची । <br>
  निष्ठा समर्थावरी साची । <br>
  आज्ञा होतां मिस्तरीची । <br>
  गणू आंत उतरला ॥६९॥ <br><br>
  एक पुंगळी सरकविली । <br>
  ती तात्काळ तळा गेली । <br>
  दारुप्रती जाऊन भिडली । <br>
  गणू आंत सांपडला ॥१७०॥ <br><br>
  दुसरीस जों घाली हात । <br>
  पुंगळी सरकवण्याप्रत । <br>
  तों पहिला सुरंग उडाला सत्य । <br>
  मग काय विचारतां ? ॥७१॥ <br><br>
  गणू म्हणे विहिरींतून । <br>
  समर्था ये धांवून । <br>
  माझें आतां रक्षण । <br>
  तुझ्यावीण कोण करी ? ॥७२॥ <br><br>
  विहिरीमाजीं धुराचा । <br>
  डोंब झाला होता साचा । <br>
  दुसरा सुरुंग पेटण्याचा । <br>
  अवधि उरला थोडका ॥७३॥ <br><br>
  तों गणू जवर्‍या भली । <br>
  कपार हातां लागली । <br>
  त्या कपारींत बैसली । <br>
  स्वारी गणू जवर्‍याची ॥७४॥ <br><br>
  एकामागून एकांनीं । <br>
  पेट घेतला सुरुंगांनीं । <br>
  उडाले सुरुंग ऐसे तिन्ही । <br>
  दगड अपार निघाले ॥७५॥ <br><br>
  छिन्न भिन्न शरीर । <br>
  झालें असेल साचार । <br>
  डोकावून पाहाती नारीनर । <br>
  आंत गणू जवर्‍याला ॥७६॥ <br><br>
  तो कोठें दिसेना । <br>
  जनाच्या नाना कल्पना । <br>
  दगडाप्रमाणें गणू जाणा । <br>
  उडाला असेल बाहेर ॥७७॥ <br><br>
  त्याचें आसमंत भागांत । <br>
  कोठें तरी असेल प्रेत । <br>
  पडलेलें त्या शोधण्याप्रत । <br>
  माणूस कोणी पाठवा ॥७८॥ <br><br>
  मिस्तरीचा शब्द ऐकिला । <br>
  आंतून गणू बोलला । <br>
  अहो मिस्त्री नाहीं मेला । <br>
  गणू आहे विहिरींत ॥७९॥ <br><br>
  गजाननाच्या कृपेनीं । <br>
  मी वांचलों या ठिकाणीं । <br>
  बसलों आहे दडोनी । <br>
  या पहा कपारींत ॥१८०॥ <br><br>
  परी कपारीच्या तोंडाला । <br>
  धोंडा एक मोठा पडला । <br>
  त्यामुळें बाहेर मला । <br>
  येतां येत नाहीं कीं ॥८१॥ <br><br>
  गणूचे शब्द ऐकिले । <br>
  लोक अवघे आनंदले । <br>
  लोक खालीं उतरले । <br>
  तो धोंडा काढावया ॥८२॥ <br><br>
  दहापांच जणांनीं । <br>
  धोंडा सरकविला पहारींनीं । <br>
  गणूस बाहेर काढूनी । <br>
  घेऊन आले वरते त्या ॥८३॥ <br><br>
  वरतीं येतांच गांवांत । <br>
  गणू गेला पळत पळत । <br>
  समर्थांच्या मठांत । <br>
  दर्शन त्यांचें घ्यावया ॥८४॥ <br><br>
  गणू दर्शना येतांक्षणीं । <br>
  बोलले त्या कैवल्यदानी । <br>
  गण्या कपारींत बैसोनी । <br>
  किती धोंडे उडविलेस ? ॥८५॥ <br><br>
  त्यांत मोठा धोंडा तुला । <br>
  रक्षण्यास येऊनी बैसला । <br>
  कपारीच्या तोंडाला । <br>
  म्हणून तूं वांचलास ॥८६॥ <br><br>
  पुन्हां ना ऐसें साहस करी । <br>
  पुंगलीवरुन सुटल्यापरी । <br>
  मधेंच तिला जाऊन करीं । <br>
  कशाही प्रसंगीं धरुं नये ॥८७॥ <br><br>
  जा तुझें गंडांतर । <br>
  आज निमालें साचार । <br>
  गणूप्रती पाहाया इतर । <br>
  लोक आले गांवींचे ॥८८॥ <br><br>
  गणू म्हणे सद्‌गुरुनाथा । <br>
  सुरुंग चारी पेटतां । <br>
  तूंच मला देऊन हातां । <br>
  कपारींत बैसविलें ॥८९॥ <br><br>
  म्हणून मी वांचलों । <br>
  तुझे पाय पाहाया आलों । <br>
  ना तरी असतों मेलों । <br>
  विहिरीमाजीं गुरुराया ! ॥१९०॥ <br><br>
  ऐसें गजाननकृपेचें । <br>
  महिमान आहे थोर साचें । <br>
  तें साकल्य वर्णण्याचें । <br>
  मसीं नाहीं सामर्थ्य ॥९१॥ <br><br>
  श्रीदासगणूविरचित । <br>
  हा गजाननविजय नामें ग्रंथ । <br>
  आल्हादवो भाविकांप्रत । <br>
  हेंच इच्छी दासगणू ॥१९२॥

  ॥ शुभं भवतु ॥ <br>
  ॥ श्रीहरिहरार्पणमस्तु ॥ <br>
  ॥ इति एकादशोऽध्यायः समाप्तः ॥
</div>