<div class="adhyaatma-page">
  <ion-item><h1 alt="gajanan vijay grantha">अध्याय निवडा</h1></ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-1">अध्याय १ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-2">अध्याय २ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-3">अध्याय ३ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-4">अध्याय ४ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-5">अध्याय ५ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-6">अध्याय ६ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-7">अध्याय ७ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-8">अध्याय ८ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-9">अध्याय ९ </ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-10">अध्याय १०</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-11">अध्याय ११</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-12">अध्याय १२</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-13">अध्याय १३</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-14">अध्याय १४</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-15">अध्याय १५</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-16">अध्याय १६</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-17">अध्याय १७</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-18">अध्याय १८</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-19">अध्याय १९</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-20">अध्याय २०</ion-item>
  <ion-item routerLink="/gajanan-vijay-grantha-adhyaay-21">अध्याय २१</ion-item>
</div>