<div class="adhyaatma-page">
  <h1 alt="vishnu aarti arti om jay jagdeesh hare">विष्णूची आरती</h1>
  <br>
  <strong>ॐ जय जगदीश हरे</strong>
  <strong>स्वामी जय जगदीश हरे</strong>
  <strong>भक्त जनों के संकट दास जनों के संकट</strong>
  <strong>क्षण में दूर करे</strong>
  <strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>जो ध्यावे फल पावे दुःख बिन से मन का
  <br>स्वामी दुख बिन से मन का
  <br>सुख सम्पति घर आवे
  <br>सुख सम्पति घर आवे
  <br>कष्ट मिटे तन का
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>मात पिता तुम मेरे
  <br>शरण गहूं किसकी
  <br>स्वामी शरण गहूं किसकी
  <br>तुम बिन और ना दूजा
  <br>तुम बिन और ना दूजा
  <br>आस करूँ जिसकी
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>तुम पूरण परमात्मा
  <br>तुम अंतरियामी
  <br>स्वामी तुम अंतरियामी
  <br>पार ब्रह्म परमेश्वर
  <br>पार ब्रह्म परमेश्वर
  <br>तुम सबके स्वामी
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>तुम करुणा के सागर
  <br>तुम पालन करता
  <br>स्वामी तुम पालन करता
  <br>मैं मूरख खलकामी
  <br>मैं सेवक तुम स्वामी
  <br>कृपा करो भर्ता
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>तुम हो एक अगोचर
  <br>सबके प्राण पति
  <br>स्वामी सबके प्राण पति
  <br>किस विध मिलु दयामय
  <br>किस विध मिलु दयामय
  <br>तुम को मैं कुमति
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>दीन बन्धु दुःख हर्ता
  <br>ठाकुर तुम मेरे
  <br>स्वामी रक्षक तुम मेरे
  <br>अपने हाथ उठाओ
  <br>अपनी शरण लगाओ
  <br>द्वार पड़ा तेरे
  <br>
  <br><strong>ॐ जय जगदीश हरे</strong>
  <br>
  <br>विषय-विकार मिटाओ पाप हरो देवा
  <br>स्वामी पाप हरो देवा
  <br>श्रद्धा भक्ति बढ़ाओ
  <br>श्रद्धा भक्ति बढ़ाओ
  <br>सन्तन की सेवा
  <br>
  <strong>
    <br>ॐ जय जगदीश हरे
    <br>ओम जय जगदीश हरे
    <br>स्वामी जय जगदीश हरे
    <br>भक्त ज़नो के संकट
    <br>दास ज़नो के संकट
    <br>क्षण में दूर करे
    <br>ॐ जय जगदीश हरे
  </strong>
</div>