<div class="adhyaatma-page">
  <h1>मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १०१ ते ११०</strong>
  <br>जया नावडे नाम त्या यम जाची।
  विकल्पे उठे तर्क त्या नर्क ची ची॥
  म्हणोनि अती आदरे नाम घ्यावे।
  मुखे बोलतां दोष जाती स्वभावें॥१०१॥

  अती लीनता सर्वभावे स्वभावें।
  जना सज्जनालागिं संतोषवावे॥
  देहे कारणीं सर्व लावीत जावें।
  सगूणीं अती आदरेसी भजावें॥१०२॥

  हरीकीर्तनीं प्रीति रामीं धरावी।
  देहेबुद्धि नीरूपणीं वीसरावी॥
  परद्रव्य आणीक कांता परावी।
  यदर्थीं मना सांडि जीवीं करावी॥१०३॥

  क्रियेवीण नानापरी बोलिजेंते।
  परी चित्त दुश्चीत तें लाजवीतें॥
  मना कल्पना धीट सैराट धांवे।
  तया मानवा देव कैसेनि पावे॥१०४॥

  विवेके क्रिया आपुली पालटावी।
  अती आदरे शुद्ध क्रीया धरावी॥
  जनीं बोलण्यासारिखे चाल बापा।
  मना कल्पना सोडिं संसारतापा॥१०५॥

  बरी स्नानसंध्या करी एकनिष्ठा।
  विवेके मना आवरी स्थानभ्रष्टा॥
  दया सर्वभुतीं जया मानवाला।
  सदा प्रेमळू भक्तिभावे निवाला॥१०६॥

  मना कोपआरोपणा ते नसावी।
  मना बुद्धि हे साधुसंगी वसावी॥
  मना नष्ट चांडाळ तो संग त्यागीं।
  मना होइ रे मोक्षभागी विभागी॥१०७॥

  मना सर्वदा सज्जनाचेनि योगें।
  क्रिया पालटे भक्तिभावार्थ लागे॥
  क्रियेवीण वाचाळता ते निवारी।
  तुटे वाद संवाद तो हीतकारी॥१०८॥

  जनीं वादवेवाद सोडूनि द्यावा।
  जनीं वादसंवाद सूखे करावा॥
  जगीं तोचि तो शोकसंतापहारी।
  तुटे वाद संवाद तो हीतकारी॥१०९॥

  तुटे वाद संवाद त्याते म्हणावें।
  विवेके अहंभाव यातें जिणावें॥
  अहंतागुणे वाद नाना विकारी।
  तुटे वाद संवाद तो हीतकारी॥११०॥

</div>