<div class="adhyaatma-page">
  <h1 alt="manache shlok">मनाचे श्लोक</h1>

  <br><strong>श्रीसमर्थ रामदासकृत मनाचे श्लोक</strong>
  <br><strong>॥ जय जय रघुवीर समर्थ ॥</strong>
  <br>
  <br><strong>श्लोक संख्या १०१ ते ११०</strong>
  <br>
  <br>जया नावडे नाम त्या यम जाची।
  <br>विकल्पे उठे तर्क त्या नर्क ची ची॥
  <br>म्हणोनि अती आदरे नाम घ्यावे।
  <br>मुखे बोलतां दोष जाती स्वभावें॥१०१॥
  <br>
  <br>अती लीनता सर्वभावे स्वभावें।
  <br>जना सज्जनालागिं संतोषवावे॥
  <br>देहे कारणीं सर्व लावीत जावें।
  <br>सगूणीं अती आदरेसी भजावें॥१०२॥
  <br>
  <br>हरीकीर्तनीं प्रीति रामीं धरावी।
  <br>देहेबुद्धि नीरूपणीं वीसरावी॥
  <br>परद्रव्य आणीक कांता परावी।
  <br>यदर्थीं मना सांडि जीवीं करावी॥१०३॥
  <br>
  <br>क्रियेवीण नानापरी बोलिजेंते।
  <br>परी चित्त दुश्चीत तें लाजवीतें॥
  <br>मना कल्पना धीट सैराट धांवे।
  <br>तया मानवा देव कैसेनि पावे॥१०४॥
  <br>
  <br>विवेके क्रिया आपुली पालटावी।
  <br>अती आदरे शुद्ध क्रीया धरावी॥
  <br>जनीं बोलण्यासारिखे चाल बापा।
  <br>मना कल्पना सोडिं संसारतापा॥१०५॥
  <br>
  <br>बरी स्नानसंध्या करी एकनिष्ठा।
  <br>विवेके मना आवरी स्थानभ्रष्टा॥
  <br>दया सर्वभुतीं जया मानवाला।
  <br>सदा प्रेमळू भक्तिभावे निवाला॥१०६॥
  <br>
  <br>मना कोपआरोपणा ते नसावी।
  <br>मना बुद्धि हे साधुसंगी वसावी॥
  <br>मना नष्ट चांडाळ तो संग त्यागीं।
  <br>मना होइ रे मोक्षभागी विभागी॥१०७॥
  <br>
  <br>मना सर्वदा सज्जनाचेनि योगें।
  <br>क्रिया पालटे भक्तिभावार्थ लागे॥
  <br>क्रियेवीण वाचाळता ते निवारी।
  <br>तुटे वाद संवाद तो हीतकारी॥१०८॥
  <br>
  <br>जनीं वादवेवाद सोडूनि द्यावा।
  <br>जनीं वादसंवाद सूखे करावा॥
  <br>जगीं तोचि तो शोकसंतापहारी।
  <br>तुटे वाद संवाद तो हीतकारी॥१०९॥
  <br>
  <br>तुटे वाद संवाद त्याते म्हणावें।
  <br>विवेके अहंभाव यातें जिणावें॥
  <br>अहंतागुणे वाद नाना विकारी।
  <br>तुटे वाद संवाद तो हीतकारी॥११०॥
</div>